.ui-datepicker select.ui-datepicker-month, .ui-datepicker select.ui-datepicker-year {
	vertical-align: top;
    width: 38%;
	height: 21px;
}

.ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-close {
    display: none;
}
.ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current {
    width: 97.5%;
}