{% extends 'common/main_base.html' %}
{% block content %}
<!--########################################################################-->
<!--# contents style start                                                 #-->
<!--########################################################################-->
<style type="text/css">
tbody .btnUpdate, tbody .btnPrint{
    line-height: 0.3!important;
    padding: 3px 7px!important;
}
    tbody{
        font-size:12px!important;
    }
</style>

<style>
    #summery{
        top:63px;
        left:720px;
        width:600px;
    }
    #temp{
        display:none;
    }
@media (min-width: 100px) and (max-width: 1024px) {

    #summery{
        top:150px;
        left:13px;
        width:600px;
    }
    #temp{
        display:block;
    }
}
</style>
<style>
	.approval-list-container{
		display:grid;
		grid-template-columns: 1fr 3fr;
		height: 100%;
	}
	.approval-se-list{
		border-top:2px solid #aaa;
		border-right: 1px solid #eee;
		background-color: #eee;
	}
	.approval-se-list > div{
		padding: 10px;
		height: 40px;
		font-weight: bold;
		cursor:pointer;

	}
	.approval-ty-list{
		overflow-y: auto;
		max-height: 575px;
	}
	.approval-se-list > div.active{
		background-color:#0070C0;
		color:white;
	}
	.approval-ty-list > div.selectable{
		height: 40px!important;
		cursor:pointer;
		display:grid;
		grid-template-columns: 1fr 6fr 4fr;
		border-bottom:1px solid #eee;
	}
	.selectable.active{
		background-color:#0070C0;
		color:white;
	}
	.selectable > div{
		display:flex;
		align-items: center;
		justify-content: center;
	}
	.approval-ty-list-header{
		display:flex;
		justify-content: center;
		align-items: center;
		border-top:2px solid #aaa;
		border-bottom:2px solid #aaa;
		background-color: #eee;
		padding:10px;
	}
	.member-search{
		display:grid;
		grid-template-rows: 32px 1fr;
		height:620px;
	}
	.member-list{
		display:grid;
		grid-template-columns: 1fr 1fr;
		height:100%;
	}
	.member-header{
		display:grid;
		grid-template-columns: 8.375fr 7.625fr 0.75fr;
	}
	.approval-left{
		border-right:1px solid #ccc;
	}
	.approval-right{
		border-left:1px solid #ccc;
	}
	.approval-left, .approval-right{
		height:100%;
	}
	.approval-left > div, .approval-right > div{
		margin:5px;
		height: 32px;
		display: grid;
		grid-template-columns: 40px 1fr 60px 40px;
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
	}
	.approval-left > div.badge{
		cursor:pointer;
		border: 2px solid rgba(12, 124, 213, 0.5);
		border-radius:8px;
		background-color: rgba(12, 124, 213, 0.5);
	}
	.approval-right > div.badge{
		cursor:pointer;
		border-radius:8px;
	}
	.approval-left > div > div, .approval-right > div > div{
		padding:5px;
	}
	.title{
		margin:0px!important;
	}
	.title > div{
		grid-column: 1 / span 4;background-color: #eee;display:flex;justify-content: center;align-items: center;font-weight:bold;
	}
	.close {position:relative;float:left;display:inline-block;text-align:center;padding:0px!important;}
	.close:after {content: "\00d7";}
</style>
<!--########################################################################-->
<!--# contents style end                                                   #-->
<!--########################################################################-->


<!--########################################################################-->
<!--# RIBBON area start                                                    #-->
<!--########################################################################-->
<div id="ribbon" style="background:#B3E5FC!important;">
	<span class="ribbon-button-alignment">
		<span id="refresh" class="btn btn-ribbon" data-action="resetWidgets" data-title="refresh"  rel="tooltip" data-placement="bottom" data-original-title="<i class='text-warning fa fa-warning'></i> Warning! This will reset all your widget settings." data-html="true">
			<i class="fa fa-refresh"></i>
		</span>
	</span>
    <ol class="breadcrumb">
        <li style="">전자결재</li>
	</ol>
</div>
<!--########################################################################-->
<!--# RIBBON area end                                                      #-->
<!--########################################################################-->


<!--########################################################################-->
<!--# contents area start                                                  #-->
<!--########################################################################-->
<div id="content">

	<!-- 화면 제목 -->
	<div class="row">
		<div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
<!--
			<h1 class="page-title txt-color-blueDark">
				<i class="fa-fw fa fa-list-alt"></i>
					계약 및 프로젝트 등록 <span>> 계약 및 프로젝트</span>
			</h1>
-->
		</div>
		<!-- right side of the page with the sparkline graphs -->
		<div class="col-xs-12 col-sm-5 col-md-5 col-lg-8">
		</div>
	</div>



	<!-- 화면 내용 -->
	<section id="widget-grid">

		<div class="row">
			<article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

				<!-- Widget ID (each widget will need unique ID)-->
				<div class="jarviswidget jarviswidget-color-darken">
					<header>
						<span class="widget-icon"> <i class="fa fa-list"></i> </span>
						<h2>결재 목록</h2>
						<div class="widget-toolbar">
<!--                            <button class="btn btn-info" data-toggle="modal" href="#popReport7"><i class="fa fa-print"> 업무일지</i></button>-->
							<button class="btn btn-success" id="btnExcel"><i class="fa fa-file-excel-o"> 엑셀 다운로드</i></button>
						</div>
					</header>
					<!-- widget body div-->
					<div>
						<!-- widget edit box -->
						<div class="jarviswidget-editbox">
						</div>
						<!-- end widget edit box -->

						<!-- widget content -->
						<div class="widget-body no-padding">
							<!-- <table class="table table-bordered" style="">
								<colgroup>
									<col width="667">
									<col width="60">
									<col width="60">
									<col width="60">
									<col width="60">
									<col width="120">
									<col width="*">
								</colgroup>
								<thead>
									<tr>
										<th class="text-center"></th>
										<th class="text-center" style="background:#ccc;">집계표</th>
										<th class="text-center">건수</td>
										<td class="text-center" style="background:#fff;">0</td>
										<th class="text-center">합계</td>
										<td class="text-number" style="background:#fff;">0</td>
										<th class="text-center"></th>
									</tr>
								</thead>
							</table> -->
							<table class="datatable table table-bordered table-hover" id="dtList1">
								<colgroup>
									<col width="50">
									<col width="110">
									<col width="170">
									<col width="*">
									<col width="110">
									<col width="220">
									<col width="110">
									<col width="110">
									<col width="1">
								</colgroup>
								<thead>
									<tr>
										<th class="search">검색</th>
										<th class="hasinput">
											<select class="form-control select2 w100p" id="s_approval_se_code" name="s_approval_se_code">
												<option value="">[전체]</option>
												{% for code in approval_se_code_list %}
												<option value="{{code.value}}">{{code.value}}.{{code.label}}</option>
												{% endfor %}
											</select>
										</th>
										<th class="hasinput">
											<select class="form-control select2 w100p" id="s_approval_ty_code" name="s_approval_ty_code">
												<option value="">[전체]</option>
												{% for code in approval_ty_code_list %}
												<option value="{{code.value}}" data-parent="{{code.etc1}}">{{code.value}}.{{code.label}}</option>
												{% endfor %}
											</select>
										</th>
										<th class="hasinput">
											<input type="text" class="form-control" placeholder="[전체]" id="s_cntrct_nm" name="s_cntrct_nm">
										</th>
										<th class="hasinput">
											<select class="form-control select2 w100p" id="s_approval_status" name="s_approval_status">
												<option value="">[전체]</option>
<!--												{% for code in bcnc_list %}-->
<!--												<option value="{{code.value}}">{{code.value}}.{{code.label}}</option>-->
<!--												{% endfor %}-->
											</select>
										</th>
										<th class="hasinput">
											<input type="text" class="form-control datepicker-s" style="display:inline-block;width:89px!important;" readonly data-dateformat="yy-mm-dd" data-mask="9999-99-99" data-mask-placeholder="_" id="s_start_de_start" name="s_start_de_start" placeholder="[시작일자]">
											<span class="input-group-addon" style="display:inline-block;width:10px!important;padding:0;border:0;">~</span>
											<input type="text" class="form-control datepicker-e" style="display:inline-block;width:89px!important;" readonly data-dateformat="yy-mm-dd" data-mask="9999-99-99" data-mask-placeholder="_" id="s_start_de_end" name="s_start_de_end" placeholder="[종료일자]">
										</th>
                                        <th class="hasinput">
<!--											<input type="text" class="form-control datepicker-s" style="display:inline-block;width:89px!important;" readonly data-dateformat="yy-mm-dd" data-mask="9999-99-99" data-mask-placeholder="_" id="s_end_de_start" name="s_end_de_start" placeholder="[시작일자]">-->
<!--											<span class="input-group-addon" style="display:inline-block;width:10px!important;padding:0;border:0;">~</span>-->
<!--											<input type="text" class="form-control datepicker-e" style="display:inline-block;width:89px!important;" readonly data-dateformat="yy-mm-dd" data-mask="9999-99-99" data-mask-placeholder="_" id="s_end_de_end" name="s_end_de_end" placeholder="[종료일자]">-->
										</th>
										<th class="hasinput">
											<select class="form-control select2 w100p" id="s_final_mber_sn" name="s_final_mber_sn">
												<option value="">[전체]</option>
											</select>
										</th>
										<th class="hasinput text-right">
											<div class="btn-group">
												<button type="button" class="btn btn-table btn-primary" title="검색" id="btnSearch"><i class="fa fa-search"></i></button>
											</div>
										</th>
									</tr>
									<!-- 헤더 -->
									<tr>
										<th>No.</th>
										<th>문서구분</th>
										<th>문서명</th>
										<th>현장명</th>
										<th>상태</th>
										<th>기안일</th>
										<th>종결일</th>
										<th>최종결재자</th>
										<th class="text-right">
											<div class="btn-group">
												<button type="button" class="btn btn-table btn-warning" title="등록" data-toggle="modal" href="#popBox1" data-action="init" data-actioncontract="insert"><i class="fa fa-plus"></i></button>
											</div>
										</th>
									</tr>
								</thead>
							</table>
						</div>
						<!-- end widget content -->
					</div>
					<!-- end widget body div -->
				</div>
				<!-- end widget -->

			</article>
		</div>

	</section>

</div>
<!--########################################################################-->
<!--# contents area end                                                    #-->
<!--########################################################################-->


<!--########################################################################-->
<!--# commom script start                                                  #-->
<!--########################################################################-->
<!--########################################################################-->
<!--# common script end                                                    #-->
<!--########################################################################-->


<!--########################################################################-->
<!--# page script start                                                    #-->
<!--########################################################################-->
<script type="text/javascript">
/******************************************************************************
 * 계약 목록을 조회한다.
 */
getApprovalList = function()
{
    $.datatable1 = $('#dtList1').DataTable({
		serverSide: true,
		pageLength: 15,
		buttons: ['excelHtml5'],
        ajax: {
            url: '/api/approval/ajax_get_approval_datatable',
            type: 'POST',
            data: function(params) {
				return $.extend({}, params, {
					's_approval_se_code': $('#dtList1').find('#s_approval_se_code').val(),
					's_approval_ty_code': $('#dtList1').find('#s_approval_ty_code').val(),
					's_cntrct_nm': $('#dtList1').find('#s_cntrct_nm').val(),
					's_approval_status': $('#dtList1').find('#s_approval_status').val(),
                    's_start_de_start': $('#dtList1').find('#s_start_de_start').val(),
					's_start_de_end': $('#dtList1').find('#s_start_de_end').val(),
					// 's_end_de_start': $('#dtList1').find('#s_end_de_start').val(),
					// 's_end_de_end': $('#dtList1').find('#s_end_de_end').val(),
					's_final_mber_sn': $('#dtList1').find('#s_final_mber_sn').val(),
				});
            },
            error: function(pJqXHR, pTextStatus, pErrorThrown) {
                toastrError(pJqXHR);
            }
        },
		order: [1, 'asc'],
		// columnDefs: [
        //     { targets: 4, visible: false }
        // ],
        columns: [
            { data: 'ctmmny_sn', className: 'text-center', orderable: false,
                render: function(data, type, row, meta) {
                    return meta.settings._iDisplayStart + meta.row + 1;
                }
            },
            { data: 'approval_se_nm' },
            { data: 'approval_ty_nm' },
            { data: 'cntrct_nm' },
            { data: 'approval_status' },
            { data: 'start_de' },
            { data: 'end_de' },
            { data: 'final_mber_nm' },
            { data: 'ctmmny_sn', className: 'hasinput text-right', orderable: false,
			    render: function(data, type, row, meta) {
					var html = '';

					html += '<div class="btn-group">';
					html += '	<button class="btn btn-table btn-info btnUpdate" title="수정">';
					html += '		<i class="fa fa-edit"></i>';
					html += '	</button>';
					html += '</div>';


					return html;
				}
			},
		],
		drawCallback: function(pSettings) { console.log('drawCallback', pSettings.json);
			// var contract = pSettings.json.contract;
			// var count = pSettings.json.count;
            // $('#summery').find('tbody td').eq(0).html(count.total_count.toString().toFormat('NUMBER'));
			// $('#summery').find('tbody td').eq(2).html(contract.total_amount.toFormat('NUMBER'));
            // $('#summery').find('tbody td').eq(1).html(contract.amount.toFormat('NUMBER'));
        },
		initComplete: function(pSettings, pJson) { //console.log('initComplete', pJson);
			var myList = this;

			$(myList).on('click', 'tbody tr', function(pEvent) {
				if ($(this).parent().find('td.dataTables_empty').length > 0) {
					return;
				} else {
					$(this).parent().find('tr.selected').removeClass('selected');
					$(this).addClass('selected');
				}
			});

			$(myList).on('click', '#btnSearch', function(pEvent) {
				$.datatable1.ajax.reload();
			});

			$(myList).on('click', '.btnUpdate', function(pEvent) {

			});

			$(myList).on('change', 'thead input.form-control', function(pEvent){
				if ($(this).data('before')) {
					if ($(this).data('before') != $(this).val()) {
						$.datatable1.ajax.reload();
					}
				} else {
					$.datatable1.ajax.reload();
				}
			});

			$(myList).on('change', 'thead select', function(pEvent){
				if($(this).attr("id") == "s_approval_se_code"){
					let html = `<option value="">[전체]</option>`;
					{% for code in approval_ty_code_list %}
					html += `<option value="{{code.value}}" data-parent="{{code.etc1}}">{{code.value}}.{{code.label}}</option>`;
					{% endfor %}
					$("#s_approval_ty_code").html(html);

					let se_code = $(this).val();
					if(se_code != ''){
						let options = $("#s_approval_ty_code").find("option");
						$.each(options, function(pIndex, pValue){
							let parent_se_code = $(pValue).data("parent");
							console.log(parent_se_code);
							if(parent_se_code != undefined && parseInt(parent_se_code)!== parseInt(se_code)){
								$(pValue).remove();
							}
						});
					}
					else{
						$("#s_approval_ty_code").find("option").show();
					}
					$("#s_approval_ty_code").select2("destroy");
					$("#s_approval_ty_code").select2();
				}
				$.datatable1.ajax.reload();
			});

			$('#btnExcel').on('click', function(pEvent) {
				$('.dt-button.buttons-excel.buttons-html5').trigger('click');
			});
		},
    });
}
</script>
<script type="text/javascript">
$(function(){

	/**************************************************************************
	* 계약일자 캘린더 셋팅
	*/
	var maxYears = 5;
	$('.datepicker-e').datepicker({
		beforeShow: function(dateText) {
			$(this).data('before', $(this).val());
		},
		onSelect: function(dateText) {
			$(this).change();
		},
		onClose: function(dateText) {
			var minDate = new Date($(this).val());
			minDate.setDate(minDate.getDate() - (365*maxYears));
			$(".datepicker-s").datepicker( "option", "minDate", minDate );
		},
	});

	var end = $('.datepicker-e').val();
	if (end == '') {
		$('.datepicker-e').datepicker('setDate', 'today');
	}

	$('.datepicker-s').datepicker({
		beforeShow: function(dateText) {
			$(this).data('before', $(this).val());

			var minDate = new Date($('.datepicker-e').val());
			minDate.setDate(minDate.getDate() - (365*maxYears));
			$(".datepicker-s").datepicker( "option", "minDate", minDate );
		},
		onSelect: function(dateText) {
			$(this).change();
		},
		onClose: function(dateText) {
		},
	});

	var start = $('.datepicker-s').val();
	if (start == '') {
		var end = $('.datepicker-e').val();
		var endDate = new Date(end);
        endDate.setFullYear(endDate.getFullYear()-1);
        endDate.setMonth(0);
        endDate.setDate(1);

//		endDate.setDate(endDate.getDate() - (365*maxYears));
		$('.datepicker-s').datepicker('setDate', endDate);
	}

	/******************************************************************************
	*
	*/
	// var selected_count = 0;
	// $('.select2-multiple').select2({
    // 	// templateSelection: function(selected, total) {
	// 	templateResult: function(state) {
	// 		return '';
	// 	},
    // 	// templateSelection: function(state) {
	// 	// 	var selected = $('#s_progrs_sttus_code option:selected').length;
	// 	// 	console.log($(this).parent());
    //   	// 	return selected+'개 선택';
    // 	// }
  	// });
	/**************************************************************************
     *
     */
	getApprovalList();
});

</script>
<!--########################################################################-->
<!--# page script end                                                      #-->
<!--########################################################################-->

<div class="modal fade" data-backdrop="static" id="popBox1">
    <style type="text/css">
#popBox1 tbody .btnUpdate, #popBox1 tbody .btnPrint{
    line-height: 1.42857143 !important;
    padding: 5px 7px!important;
    margin:  0px !important;
}
#popBox1 tbody{
    font-size:12px!important;
}

    </style>
    <div class="modal-dialog modal-w900" style="width:800px!important" id="approval-tab-container">
        <div class="modal-content">
			<div class="jarviswidget jarviswidget-color-greenDark">
				<header>
					<ul class="nav nav-tabs" id="popEditTabs">
						<li class="active" data-action="1">
							<a data-toggle="tab" href="#tabBox1" data-action="tab1"><i class="fa fa-lg fa-edit"></i>&nbsp;<span>품의서 양식</span></a>
						</li>
						<li data-action="2">
							<a data-toggle="tab" href="#tabBox2" data-action="tab2"><i class="fa fa-lg fa-edit"></i>&nbsp;<span>결재라인</span></a>
						</li>
						<li data-action="3" style="display:none;">
							<a data-toggle="tab" href="#tabBox3" data-action="tab3"><i class="fa fa-lg fa-edit"></i>&nbsp;<span>품의서</span></a>
						</li>
					</ul>
					<div class="jarviswidget-ctrls" role="menu">
						<a class="button-icon jarviswidget-delete-btn" aria-hidden="true" data-dismiss="modal"><i class="fa fa-times"></i></a>
					</div>

				</header>
				<div role="content" style="min-height:620px;height:620px;">
					<div class="widget-body no-padding" style="height:100%;">
						<div class="tab-content" style="height:100%;">

							<!-- 프로젝트 -->
							<div class="tab-pane fade active in" id="tabBox1" style="height:100%;">
							<form id="frmBox1" style="height:100%;">

								<div class="approval-list-container">
									<div class="approval-se-list">
										{% for code in approval_se_code_list %}
										<div class="" data-code="{{code.value}}">{{code.label}}</div>
										{% endfor %}

									</div>
									<div class="approval-ty-list-container">
										<div class="approval-ty-list-header">양식</div>
										<div class="approval-ty-list">

										</div>
									</div>
								</div>
							</form>
							</div><!--tab-pane-->
							<div class="tab-pane fade" id="tabBox2">

								<div class="member-search">
									<div class="member-header">
										<div class="hasinput">
											<select class="form-control select2 w100p" id="member-search-select" name="member-search-select">
												<option value=""></option>
												{% for code in member_list %}
												<option value="{{code.value}}">{{code.label}}</option>
												{% endfor %}
											</select>
										</div>
										<div class="hasinput">
											<select class="form-control select2 w100p" id="member-approval-select" name="member-approval-select">
												<option value=""></option>
												<option value="0">협조</option>
												<option value="1">결재</option>
												<option value="2">수신</option>
											</select>
										</div>
										<div class="hasinput">
											<div class="btn-group">
												<button class="btn btn-table btn-info" title="등록" id="regist-member">
													<i class="fa fa-edit"></i>
												</button>
											</div>
										</div>

									</div>

									<div class="member-list">
										<div class="approval-left">
											<div class="title">
												<div>결재/협조</div>
											</div>
										</div>
										<div class="approval-right">
											<div class="title">
												<div>수신</div>
											</div>

										</div>
									</div>
								</div>
								

							</div><!--tab-pane-->
							<div class="tab-pane fade" id="tabBox3">
							<form id="frmBox3">
								<span class="widget-toolbar" id="popEditToolbar" style="width:100%;padding:0px!important;">
									<div style="display:inline-block;width: calc(100% - 56px);">
										<input type="text" name="approval_title" id="approval_title" class="form-control" placeholder="제목"/>
									</div>
									<button type="button" class="btn btn-primary" id="btnSave" title="저장 후 입력값을 유지합니다."><i class="fa fa-save"> 저장</i></button>
								</span>
								<div id="formContent">

								</div>
							</form>
							</div><!--tab-pane-->
						</div><!--tab-content-->
					</div><!--widget-body-->
				</div><!--content-->
			</div><!--jarviswidget-->
        </div><!--modal-content-->
    </div><!--modal-dialog-->
</div><!--modal-->
<script>
	$(document).on('click', '#btnSave', function(){
		var data = $("#frmBox3").formSerialize();
		console.log(data);
	});
	init = function(){
		$('#popEditTabs').find("a[data-action='tab1']").trigger('click');
		$(document).find(".approval-se-list .active").removeClass("active");
		$(document).find(".approval-ty-list").html("");
		$("#formContent").html("");
		$("#popEditTabs").find("li[data-action='3']").hide();
		$('#popBox1').find('#member-search-select').val('').trigger('change');
		$('#popBox1').find('#member-approval-select').val('').trigger('change');
		$('#popBox1').find("#approval_title").val('');
		$('#popBox1').find('.member-list .badge').remove();
	}
	$('#popBox1').on('hidden.bs.modal', function(pEvent)
	{
		init();
	});
	$('#popBox1').on('show.bs.modal', function(pEvent)
	{

	});
	$(document).ready(function(){
		$.ajax({
			url : '/api/approval/ajax_get_approval_ty_list',
			methods: 'GET',
			success: function(pResult){
				window.approval_ty_list = pResult;
			},
			error: function(pResult){
				alert("에러가 발생했습니다.");
				location.reload();
			}
		})
	});
	$(document).on("shown.bs.tab", "a[data-toggle='tab']",function(e){
		let tab = $(e.target).data("action");
		console.log(tab);
		if(tab == "tab1"){
			$("#approval-tab-container").attr("style", "width:800px!important");
		}
		else if(tab == "tab2"){
			$("#approval-tab-container").attr("style", "width:800px!important");
		}
		else{
			$("#approval-tab-container").attr("style", "width:100vw!important");
		}
	});

	$(document).on("click", ".approval-se-list > div", function(){
		$(document).find(".approval-se-list > div.active").removeClass("active");
		$(this).addClass("active");
		let code = $(this).data("code");
		let approval_ty_list = window.approval_ty_list[parseInt(code)];
		let html = '';
		$.each(approval_ty_list, function(pIndex, pRow){
			html += `<div class="selectable" data-code="${pRow.code}" data-url="${pRow.template_url}">
						<div>${pIndex+1}</div>
						<div>${pRow.code_nm}</div>
						<div>${pRow.code_dc}</div>
					 </div>`;
		});
		$(".approval-ty-list").html(html);
		//ty code들 반복문돌리면서 etc1이 code와 같은 애들만 아래 table에 띄우기
		//어차피 desc랑 etc2, 3도 가져와야해서 따로 ajax 만들기
	});
	$(document).on("click", ".selectable", function(){
		$(document).find(".selectable.active").removeClass("active");
		$(this).addClass("active");
		if($(this).data("url") == ""){
			alert("아직 준비되지 않은 품의서입니다.");
			$(this).removeClass("active");
		}
		else{
			var url = $(this).data("url");
			$.ajax({
				url : '/api/approval/ajax_get_approval_template',
				method : 'GET',
				data : {"url" : url},
				success: function(pResult){
					$("#formContent").html(pResult.html);
					$("#popEditTabs").find("li[data-action='3']").show();
				},
				error: function(){
					alert("에러가 발생했습니다.");
					location.reload();
				}
			})

		}
	});


	$(document).on("click", "#regist-member", function(){
		let mber_sn = $("#member-search-select").find(":selected").val();
		let mber_nm = $("#member-search-select").find(":selected").text();
		let apvl_type = $("#member-approval-select").find(":selected").val();
		let apvl_nm = $("#member-approval-select").find(":selected").text();
		if(mber_sn != "" && apvl_type != ""){
			var target = ".approval-left";
			if(apvl_type == "2"){
				target = ".approval-right";
			}
			let idx = $(target).find("div.badge").length+1;
			let html = `<div data-sn="${mber_sn}" class="badge badge-pill badge-dark">
							<div>${idx}</div>
							<div>${mber_nm}</div>
							<div>${apvl_nm}</div>
							<div class="close badge-close"></div>
						</div>`;
			$(target).append(html);
		}

	});
	$(document).on("click", ".badge-close", function(){
		let container = $(this).parent().parent();
		$(this).parent().remove();
		let badges = $(container).find("div.badge");
		console.log(badges);
		$.each(badges, function(pIndex, pValue){
			$(pValue).find("div").eq(0).text(pIndex+1);
		});
	});
</script>

{% endblock %}