{% extends 'common/report_base.html' %}
{% block content %}
<link rel="stylesheet" type="text/css" href="/static/nexell/css/smartadmin-nexell-report.css">
<script src="/static/summernote/summernote-lite.js"></script>
<script src="/static/summernote/summernote-ko-KR.js"></script>
<link href="/static/summernote/summernote-lite.css" rel="stylesheet"/>

<!--########################################################################-->
<!--# page layer start                                                     #-->
<!--########################################################################-->
<!-- 레포트1 레이어 팝업 시작 -->
<div id="popReport">
    <div>
        <div class="modal-content">
			<div class="modal-header">
				<div class="pull-right" style="margin-right:10px;">
					{% if _type == "new" %}
					<button type="button" class="btn btn-primary" id="btnSaveBbs"><i class="fa fa-save">&nbsp;저장</i></button>
					{% else %}
					{% if session['member']['auth_cd'] == 1 %}
					<button type="button" class="btn btn-secondary" id="btnEditBbs"><i class="fa fa-edit">&nbsp;편집</i></button>
					<button type="button" class="btn btn-primary" id="btnSaveBbs" style="display:none!important;"><i class="fa fa-save">&nbsp;저장</i></button>
					{% endif %}
					{% endif %}
					<button class="btn btn-default" id="btnClose" aria-hidden="true" data-dismiss="modal"><i class="fa fa-times">&nbsp;취소</i></button>
				</div>
			</div>
			<div class="modal-body report">

<style>
@media (min-width: 100px) and (max-width: 1024px) {

    #popReport div.report table th,
    #popReport div.report table td {
        font-size: 8px!important;
        padding: 7px 5px!important;
        line-height: 1.0!important;
    }
}
</style>
				<div id="rpt">

				<!-- 기성 현황 시작 -->
				<table id="bbs" class="table table-bordered w100p">
					<colgroup>
						<col width="20%"/>
						<col width="80%"/>
					</colgroup>
					<thead>
						<tr>
							<th class="colorN" colspan="2">공지사항 작성</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<th class="color-contract middle">분류</th>
							<td class="hasinput">
								<select class="form-control select2" id="bbs_type" name="bbs_type" style="width:100%;">
									<option value=""></option>
									<option value="1">공지사항</option>
									<option value="2">경조사</option>
									<option value="3">뉴스레터</option>
								</select>
							</td>
						</tr>
						<tr>
							<th class="color-contract middle">제목</th>
							<td class="hasinput">
								<input type="text" class="form-control" id="bbs_title" name="bbs_title">
							</td>
						</tr>
						<tr>
							<th class="color-contract middle">내용</th>
							<td class="hasinput">
								<textarea name="bbs_content" id="bbs_content"></textarea>
							</td>
						</tr>
					</tbody>

				</table>
				</div><!-- 기성 현황 끝 -->


			</div><!--modal-body-->
        </div><!--modal-content-->

    </div><!--modal-dialog-->
</div>
<!-- 레포트1 레이어 팝업 끝 -->

<script>

var BBS_TYPE = {1 : "공지사항", 2: "경조사", 3:"뉴스레터"}	;
$(document).ready(function() {
	//여기 아래 부분
	$('#bbs_content').summernote({
		  height: 600,                 // 에디터 높이
	  lang: "ko-KR",
	  // 에디터에 커서 이동 (input창의 autofocus라고 생각하시면 됩니다.)
	  focus : true,
	  toolbar: [
		    // 글꼴 설정
		    ['fontname', ['fontname']],
		    // 글자 크기 설정
		    ['fontsize', ['fontsize']],
		    // 굵기, 기울임꼴, 밑줄,취소 선, 서식지우기
		    ['style', ['bold', 'italic', 'underline','strikethrough', 'clear']],
		    // 글자색
		    ['color', ['forecolor','color']],
		    // 표만들기
		    ['table', ['table']],
		    // 글머리 기호, 번호매기기, 문단정렬
		    ['para', ['ul', 'ol', 'paragraph']],
		    // 줄간격
		    ['height', ['height']],
		    // 코드보기, 확대해서보기, 도움말
		    ['view', ['codeview','fullscreen', 'help']]
		  ],
		  // 추가한 글꼴
		fontNames: ['Arial', 'Arial Black', 'Comic Sans MS', 'Courier New','맑은 고딕','궁서','굴림체','굴림','돋음체','바탕체'],
		 // 추가한 폰트사이즈
		fontSizes: ['8','9','10','11','12','14','16','18','20','22','24','28','30','36','50','72']	});
});


    getBBSReport = function(sn){
        var params = '';
        params += '&bbs_sn='+sn;
		$.ajax({
			url : '/api/common/get_bbs',
			method : 'GET',
			data : {"bbs_sn" : sn},
			success : function(pResult){
				$("#popReport").find("#btnDeleteBbs").data("sn", sn);
				$("#popReport").find("#bbs_type").yVal(pResult.bbs_type);
				$("#popReport").find("#bbs_title").val(pResult.bbs_title);
				$("#popReport").find("#bbs_content").summernote('code', pResult.bbs_content);

				$("#popReport").find("#bbs_type").attr("readonly", true);
				$("#popReport").find("#bbs_title").attr("readonly", true);
				$("#popReport").find("#bbs_content").summernote('disable');


			},
			error: function(pResult){
				alert("에러가 발생했습니다.");
			}
		})
    }

	$(function() {
		/**************************************************************************
		 * 인쇄 버튼 클릭 처리
		 */
		{% if _type == "show" %}
		getBBSReport("{{bbs_sn}}");
		{% endif %}
		$('#btnPrint2').on('click', function(pEvent) {
			var html = $('#popReport').find('.modal-body').html();
			$('#_print').contents().find('body>div.report').html('');
			$('#_print').contents().find('body>div.report').html(html);
			parent.frames['_print'].focus();
			parent.frames['_print'].print();
		});
	});
{% if _type == "new" %}
	$('#btnSaveBbs').on('click', function(pEvent) {
		var params = {"bbs_type" : $("#popReport").find("#bbs_type").val(), "bbs_title" : $("#popReport").find("#bbs_title").val().trim(), "bbs_content" : $("#popReport").find("#bbs_content").val().trim()};
		if(params["bbs_type"] == ''){
			alert("분류를 선택해주세요.");
			return false;
		}
		if(params["bbs_title"] == ''){
			alert("제목을 입력해주세요.");
			return false;
		}
		if(params["bbs_content"].trim() == ''){
			alert("내용을 입력해주세요.");
			return false;
		}
		$.ajax({
			url : '/api/common/insert_bbs',
			method : 'POST',
			data : params,
			success: function(pResult){
				window.close();
			},
			error:function(pResult){
				alert("심각한 오류가 발생했습니다.");
			}
		})
	});
{% else %}
	$('#btnSaveBbs').on('click', function(pEvent) {
		var params = {"bbs_type" : $("#popReport").find("#bbs_type").val(), "bbs_title" : $("#popReport").find("#bbs_title").val().trim(), "bbs_content" : $("#popReport").find("#bbs_content").val().trim(), "bbs_sn" : "{{bbs_sn}}"};
		if(params["bbs_type"] == ''){
			alert("분류를 선택해주세요.");
			return false;
		}
		if(params["bbs_title"] == ''){
			alert("제목을 입력해주세요.");
			return false;
		}
		if(params["bbs_content"].trim() == ''){
			alert("내용을 입력해주세요.");
			return false;
		}
		$.ajax({
			url : '/api/common/update_bbs',
			method : 'POST',
			data : params,
			success: function(pResult){
				window.close();
			},
			error:function(pResult){
				alert("심각한 오류가 발생했습니다.");
			}
		})
	});
{% endif %}
	$('#btnEditBbs').on('click', function(pEvent){
		$("#btnEditBbs").hide();
		$("#popReport").find("#bbs_type").attr("readonly", false);
		$("#popReport").find("#bbs_title").attr("readonly", false);
		$("#popReport").find("#bbs_content").summernote('enable');
		$("#btnSaveBbs").show();
	});
</script>
{% endblock %}