{% extends 'common/main_base.html' %}
{% block content %}

<link rel="stylesheet" type="text/css" href="/static/nexell/css/smartadmin-nexell-report.css">

<!--########################################################################-->
<!--# page layer start                                                     #-->
<!--########################################################################-->
<!-- 레포트1 레이어 팝업 시작 -->
<div id="popReport">
    <div>
        <div class="modal-content">
			<div class="modal-header report">
				<div class="title"><h2 class="colorLS" id="title"><span id="rpt9_date" style="font-size:28px!important;"></span> 설계진행현황</h2></div>
			</div>
			<div class="modal-header">
				<div class="pull-right" style="margin-right:10px;">
					<button class="btn btn-primary" id="btnPrint2"><i class="fa fa-print">&nbsp;출력</i></button>
				</div>
                <div class="pull-right" style="margin-right:10px;">
                    <button type="button" id="buttonAddGoal" class="btn btn-table btn-warning" title="목표등록" data-toggle="modal" href="#popBox2" data-action="init" data-actioncontract="insert">목표등록</button>
                    <button type="button" id="buttonAdd" class="btn btn-table btn-warning" title="등록" data-toggle="modal" href="#popBox1" data-action="init" data-actioncontract="insert"><i class="fa fa-plus"></i></button>
                </div>
				<div class="pull-right" style="margin-right:10px;width:150px;">
					<div class="input-group">
						<input class="form-control datepicker" type="text" style="z-index:900!important;" data-dateformat="yy-mm-dd" data-mask="9999-99-99" data-mask-placeholder="_" id="r3_s_ddt_man" name="r3_s_ddt_man">
						<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
					</div>
				</div>

			</div>
			<div class="modal-body report">

                <style>
					div.report table th.bottom_border, div.report table td.bottom_border{
						border-bottom: 1px solid #eee!important;
					}
					div.report table th.right_border, div.report table td.right_border{
						border-right: 1px solid #eee!important;
					}
					.colorGray{
						background-color: gray!important;
					}
                    div.report.report-completed1 table th,
                    div.report.report-completed1 table td {
                        font-size: 12px!important;
                    }

                    div.report.report-completed1 #rptCompletedArea table th,
                    div.report.report-completed1 #rptCompletedArea table td {
                        font-size: 12px!important;
                        padding: 7px 5px!important;
                    }
                    div.report table tbody[role=header] tr:last-child th {
                        border-bottom: black 1px solid !important;
                    }

                    div.report *{
                        font-size:12px !important;
                    }
                    #popReport{
                        font-size: 9px !important;
                        line-height: 1.0 !important;
                    }
                    tr.etc{
                        display:none;
                    }
                    tr.myETC, #eETC{
                        cursor:pointer;
                    }
                    #rptParnterStatus1 .btn.btn-table>i.fa {
                        height:12px!important;
                    }
                    #rptParnterStatus1 .btn {
                        line-height:1.0!important;
                    }
					.colorN, div.report table th.colorN{
						background-color: skyblue!important;
					    color: black!important;
					}
                </style>
			    <h3 style="float:right;margin-bottom:1px!important;margin-top:2px!important;">(단위 : 천원)</h3>
                <table id="rptParnterStatus1" class="floating-thead">
                    <colgroup>
                        <col width="80">
                        <col width="60">
                        <col width="50">
                        <col width="200">

                        <col width="100">
                        <col width="100">
                        <col width="80">
                        <col width="100">
                        <col width="50">
                        <col width="50">
                        <col width="50">
                        <col width="50">
                        <col width="50">
                        <col width="50">
                        <col width="50">
                        <col width="50">
                        <col width="50">
                        <col width="100">
                        <col width="50">
                        <col width="80">
                        <col width="80">
                        <col width="50">
                        <col width="80">
                        <col width="50">

                    </colgroup>
                    <thead>
                        <tr>
                            <th class="colorN text-center middle" rowspan="2">설계담당자</th>
                            <th class="colorN text-center middle" rowspan="2">구분</th>
                            <th class="colorN text-center middle" rowspan="2">순서</th>
                            <th class="colorN text-center middle" rowspan="2">현장명</th>
                            <th class="colorN text-center middle" rowspan="2">발주처</th>
                            <th class="colorN text-center middle" rowspan="2">담당부서</th>
                            <th class="colorN text-center middle" rowspan="2">프로젝트<br>담당자</th>
                            <th class="colorN text-center middle" colspan="4">설계현황</th>
                            <th class="colorN text-center middle" colspan="5">수주현황</th>
                            <th class="colorN text-center middle" colspan="3">설계사무소현황</th>
                            <th class="colorN text-center middle" colspan="3">스펙인현황</th>
                            <th class="colorN text-center middle" rowspan="2" colspan="2">비고(수주금액)</th>
                        </tr>
                        <tr>
                            <th class="colorN text-center middle right_border">설계기간</th>
                            <th class="colorN text-center middle right_border">최초설계</th>
                            <th class="colorN text-center middle right_border">도면수정</th>
                            <th class="colorN text-center middle">설계견적</th>
                            <th class="colorN text-center middle right_border">수주</th>
                            <th class="colorN text-center middle right_border">MH</th>
                            <th class="colorN text-center middle right_border">진행</th>
                            <th class="colorN text-center middle right_border">낙주</th>
                            <th class="colorN text-center middle">수주<br>달성율</th>
                            <th class="colorN text-center middle right_border">BO</th>
                            <th class="colorN text-center middle right_border">설계사무소</th>
                            <th class="colorN text-center middle">연목표달성율</th>
                            <th class="colorN text-center middle right_border">No</th>
                            <th class="colorN text-center middle right_border">HP</th>
                            <th class="colorN text-center middle">연목표달성율</th>
                        </tr>
                    </thead>
                    <tbody role="body">
                    </tbody>
                </table>
                <!------------------------------------------------------------------------------------------->


			</div><!--modal-body-->
        </div><!--modal-content-->
    </div><!--modal-dialog-->
</div>
<script type="text/javascript">
$(function () {
  $('table.floating-thead').each(function() {
    if( $(this).css('border-collapse') == 'collapse') {
      $(this).css('border-collapse','separate').css('border-spacing',0);
    }
    $(this).prepend( $(this).find('thead:first').clone().hide().css('top',115).css('position','fixed') );
  });

  $(window).scroll(function() {
    var scrollTop = $(window).scrollTop(),
      scrollLeft = $(window).scrollLeft();
    $('table.floating-thead').each(function(i,v) {
      var thead = $(this).find('thead:last'),
        clone = $(this).find('thead:first'),
        top = $(this).offset().top,
        bottom = top + $(this).height() - thead.height();

      if( scrollTop < top-115 || scrollTop > bottom ) {
        clone.hide();
        return true;
      }
      if( clone.is('visible') ) return true;
      var fixP = 0;
      clone.find('th').each(function(i) {
		  if(i == clone.find('th').length){
			  fixP = 15;
		  }
		  else{
			  fixP = 0;
		  }
        $(this).width( thead.find('th').eq(i).width() +fixP);
      });
      clone.css("margin-left", -scrollLeft-3 ).css("z-index", "50").width( thead.width()+5 ).show();
    });
  });
});

$(function() {
	/**************************************************************************
     *
     */
    //$('#dtList1 tbody').yRowspan(0);
	$('.datepicker-s').datepicker({
		onSelect: function(dateText) {
			$(this).change();
		},
	});
	var date = $('.datepicker-s').val();
	if (date == '') {
		$('.datepicker-s').datepicker('setDate', 'today');
		var date = $('.datepicker-s').val();
	}
	$(document).on('change', '.datepicker-s', function(pEvent){
		var date = $(this).val();
		if ($(this).data('before')) {
			if ($(this).data('before') != $(this).val()) {
				getBlueprint();
			}
		} else {
			getBlueprint();
		}
	});

	getBlueprint();
});
</script>

<script>
    getBlueprint = function(){
        var params = '';
        params += "&stdyy="+$(document).find('#r3_s_ddt_man').val().split("-")[0]+"-"+$(document).find('#r3_s_ddt_man').val().split("-")[1];
		$("#rpt9_date").html(parseInt($(document).find('#r3_s_ddt_man').val().split("-")[1])+"월");
        $.ajax({
            url: '/api/common/ajax_get_blueprint',
            type: 'GET',
            data: params,
            dataType: 'json',
            contentType: false,
            processData: false,
            success: function (pData) {
				console.log(pData);
				var pGoal = pData.goal;
				var pResult = pData.data;
                var html = '';
                if(pResult.length == 0){
                    html += '<tr><td class="text-center" colspan="24">데이터를 등록해주세요.</td></tr>';
					$("#rptParnterStatus1").find("tbody").html(html);
                }
                else{
                    var mber_sn = null;
                    var mber_nm = null;
                    var b_type_nm = null;
                    var b_type = null;
                    var order = 1;
                    var sum_data = [];
					var SUM_COLUMNS = [2, 3, 4, 5, 6, 7, 8, 10, 14, 16];
					var sum_idx = 0;
                    sum_data.push({0 : new Array(10).fill(0), 1 : new Array(10).fill(0)});
                    $.each(pResult, function(pIndex, pValue){
						if(mber_sn == null && b_type == null){
                            order = 1;
                        }
                        else if(mber_sn == pValue.mber_sn && b_type == pValue.b_type){
                            order++;
                        }
						else if(mber_sn == pValue.mber_sn && b_type != pValue.b_type){
							var D = sum_data[sum_idx][b_type]
							html += `<tr>
										<td class="text-center middle">${mber_nm}</td>계
										<td class="text-center middle colorLG">소계</td>
										<td class="text-center middle colorLG" colspan="5"></td>
										<td class=" colorLG right_border"></td>
										<td class=" colorLG right_border">${D[0]}</td>
										<td class=" colorLG right_border">${D[1]}</td>
										<td class=" colorLG">${D[2]}</td>
										<td class=" colorLG right_border">${D[3]}</td>
										<td class=" colorLG right_border">${D[4]}</td>
										<td class=" colorLG right_border">${D[5]}</td>
										<td class=" colorLG right_border">${D[6]}</td>
										<td class=" colorLG"></td>
										<td class=" colorLG right_border">${D[7]}</td>
										<td class=" colorLG right_border"></td>
										<td class=" colorLG"></td>
										<td class=" colorLG right_border"></td>
										<td class=" colorLG right_border text-right">${D[8]}</td>
										<td class=" colorLG"></td>
										<td class=" colorLG text-right" colspan="2">${D[9].toFormat('NUMBER')}</td>
									 </tr>`;
							order = 1;
						}
						else{
							//소계
							var D = sum_data[sum_idx][b_type]
							html += `<tr>
										<td class="text-center middle">${mber_nm}</td>
										<td class="text-center middle colorLG">소계</td>
										<td class="text-center middle colorLG" colspan="5"></td>
										<td class=" colorLG right_border"></td>
										<td class=" colorLG right_border">${D[0]}</td>
										<td class=" colorLG right_border">${D[1]}</td>
										<td class=" colorLG">${D[2]}</td>
										<td class=" colorLG right_border">${D[3]}</td>
										<td class=" colorLG right_border">${D[4]}</td>
										<td class=" colorLG right_border">${D[5]}</td>
										<td class=" colorLG right_border">${D[6]}</td>
										<td class=" colorLG"></td>
										<td class=" colorLG right_border">${D[7]}</td>
										<td class=" colorLG right_border"></td>
										<td class=" colorLG"></td>
										<td class=" colorLG right_border"></td>
										<td class=" colorLG right_border text-right">${D[8]}</td>
										<td class=" colorLG"></td>
										<td class=" colorLG text-right" colspan="2">${D[9].toFormat('NUMBER')}</td>
									 </tr>`;
							sum_data.push({0 : new Array(10).fill(0), 1 : new Array(10).fill(0)});
							sum_idx++;
							order = 1;
						}
                        html += `<tr>
                                    <td class="text-center middle">${pValue.mber_nm}</td>
                                    <td class="text-center middle bottom_border">${pValue.b_type_nm}</td>
                                    <td class="text-center middle bottom_border">${order}</td>
                                    <td class="text-center middle bottom_border">${pValue.spt_nm}</td>
                                    <td class="text-center middle bottom_border">${pValue.bcnc_nm}</td>
                                    <td class="text-center middle bottom_border">${pValue.dept_nm}</td>
                                    <td class="text-center middle bottom_border">${pValue.bsn_mber_nm}</td>`;
                        for(let i=1;i<=16;i++) {
							if(SUM_COLUMNS.includes(i)){
								if(i != 14 && i != 16){
									if(pValue['b_' + i] != ''){
										sum_data[sum_idx][pValue.b_type][SUM_COLUMNS.indexOf(i)]++;
									}

								}
								else{
									var v = parseInt(pValue['b_' + i]); if(isNaN(v)) v = 0;
									sum_data[sum_idx][pValue.b_type][SUM_COLUMNS.indexOf(i)] += v;
								}

							}
							var _border_class = ([1,2,3,5,6,7,8,,10,11,13,14].includes(i)) ? "right_border" : "";
							var _class = (i==16 || i == 14) ? "text-right" : "text-center";
							html += `   <td class="${_class} middle input-available bottom_border ${_border_class}" data-column="b_${i}" data-row="${pValue.b_sn}">${(i != 16)?pValue['b_' + i]:pValue['b_' + i].toFormat('NUMBER')}</td>`
						}

                        html += `   <td class="text-center middle bottom_border" style="padding:0px!important;">
                                        <div class="btn-group">
                                            <button class="btn btn-table btn-danger btnFinish" title="삭제" data-sn="${pValue.b_sn}">
                                            <i class="fa fa-trash"></i>
                                            </button>
                                        </div>
                                    </td>
								</tr>`;
                        mber_sn = pValue.mber_sn;
                        mber_nm = pValue.mber_nm;
                        b_type = pValue.b_type;
                        b_type_nm = pValue.b_type_nm;
                    });

					var D = sum_data[sum_idx][b_type]
					html += `<tr>
								<td class="text-center middle">${mber_nm}</td>
								<td class="text-center middle colorLG">소계</td>
								<td class="text-center middle colorLG" colspan="5"></td>
								<td class=" colorLG right_border"></td>
								<td class=" colorLG right_border">${D[0]}</td>
								<td class=" colorLG right_border">${D[1]}</td>
								<td class=" colorLG">${D[2]}</td>
								<td class=" colorLG right_border">${D[3]}</td>
								<td class=" colorLG right_border">${D[4]}</td>
								<td class=" colorLG right_border">${D[5]}</td>
								<td class=" colorLG right_border">${D[6]}</td>
								<td class=" colorLG"></td>
								<td class=" colorLG right_border">${D[7]}</td>
								<td class=" colorLG right_border"></td>
								<td class=" colorLG"></td>
								<td class=" colorLG right_border"></td>
								<td class=" colorLG right_border text-right">${D[8]}</td>
								<td class=" colorLG"></td>
								<td class=" colorLG text-right" colspan="2">${D[9].toFormat('NUMBER')}</td>
							 </tr>`;
					var D = new Array(10).fill(0);
					$.each(sum_data, function(pIndex, pRow){ $.each(pRow, function(_, data){ $.each(data, function(i, d){ D[i] += d; }) }) });
					html += `<tr>
								<td class="text-center middle colorGray"></td>
								<td class="text-center middle colorGray"></td>
								<td class="text-center middle colorGray" colspan="5">합계</td>
								<td class=" colorGray right_border"></td>
								<td class=" colorGray right_border">${D[0]}</td>
								<td class=" colorGray right_border">${D[1]}</td>
								<td class=" colorGray">${D[2]}</td>
								<td class=" colorGray right_border">${D[3]}</td>
								<td class=" colorGray right_border">${D[4]}</td>
								<td class=" colorGray right_border">${D[5]}</td>
								<td class=" colorGray right_border">${D[6]}</td>
								<td class=" colorGray">${(D[3] +D[4] +D[5]) != 0 ? ((D[3]+D[4])*100.0/(D[3] +D[4] +D[5])).toFixed(1)+"%" : "-"}</td>
								<td class=" colorGray right_border">${D[7]}</td>
								<td class=" colorGray right_border"></td>
								<td class=" colorGray">${pGoal != null ? (((D[7])*100.0/pGoal.amount).toFixed(1)+"%") : "-"}</td>
								<td class=" colorGray right_border"></td>
								<td class=" colorGray right_border text-right">${D[8]}</td>
								<td class=" colorGray">${pGoal != null ? (((D[8])*100.0/pGoal.hp).toFixed(1)+"%") : "-"}</td>
								<td class=" colorGray text-right">${D[9].toFormat('NUMBER')}</td>
								<td class=" colorGray">${pGoal != null ? (((D[9])*100.0/pGoal.total).toFixed(1)+"%") : "-"}</td>
							 </tr>`;
					//수주달성율/연목표달성율만 계산하면 끝!
					var D = new Array(10).fill(0);
					$.each(pData.total, function(pIndex, pValue){
                        for(let i=1;i<=16;i++) {
							if(SUM_COLUMNS.includes(i)){
								if(i != 14 && i != 16){
									if(pValue['b_' + i] != ''){
										D[SUM_COLUMNS.indexOf(i)]++;
									}

								}
								else{
									var v = parseInt(pValue['b_' + i]); if(isNaN(v)) v = 0;
									D[SUM_COLUMNS.indexOf(i)] += v;
								}

							}
						}
					})
					html += `<tr>
								<td class="text-center middle colorB"><span></span></td>
								<td class="text-center middle colorB"><span></span></td>
								<td class="text-center middle colorB" colspan="5">연계</td>
								<td class=" colorB right_border"></td>
								<td class=" colorB right_border">${D[0]}</td>
								<td class=" colorB right_border">${D[1]}</td>
								<td class=" colorB">${D[2]}</td>
								<td class=" colorB right_border">${D[3]}</td>
								<td class=" colorB right_border">${D[4]}</td>
								<td class=" colorB right_border">${D[5]}</td>
								<td class=" colorB right_border">${D[6]}</td>
								<td class=" colorB">${(D[3] +D[4] +D[5]) != 0 ? ((D[3]+D[4])*100.0/(D[3] +D[4] +D[5])).toFixed(1)+"%" : "-"}</td>
								<td class=" colorB right_border">${D[7]}</td>
								<td class=" colorB right_border"></td>
								<td class=" colorB">${pGoal != null ? (((D[7])*100.0/pGoal.amount).toFixed(1)+"%") : "-"}</td>
								<td class=" colorB right_border"></td>
								<td class=" colorB right_border text-right">${D[8]}</td>
								<td class=" colorB">${pGoal != null ? (((D[8])*100.0/pGoal.hp).toFixed(1)+"%") : "-"}</td>
								<td class=" colorB text-right">${D[9].toFormat('NUMBER')}</td>
								<td class=" colorB">${pGoal != null ? (((D[9])*100.0/pGoal.total).toFixed(1)+"%") : "-"}</td>
							 </tr>`;
					$("#rptParnterStatus1").find("tbody").html(html);
					$("#rptParnterStatus1").find("tbody").yRowspan(0);
					$("#rptParnterStatus1").find("tbody").yRowspan(1);
                }


            }
        });
    }


	$(function() {
		/**************************************************************************
		 * 인쇄 버튼 클릭 처리
		 */
		$('#btnPrint2').on('click', function(pEvent) {
			var html = $('#popReport').find('.modal-body').html();
			$('#_print').contents().find('body>div.report').html('');
			$('#_print').contents().find('body>div.report').html(html);
			parent.frames['_print'].focus();
			parent.frames['_print'].print();
		});
        $(document).on("click", ".btnFinish", function(){
            var authors = ["*"];
            var loginId = $("#loginID").val();
            if(!authors.includes("*") && !authors.includes(loginId)){
                alert("권한이 없습니다.");
                return false;
            }
            if(confirm("삭제하시겠습니까?")){
                var b_sn = $(this).data("sn");
                var params = '';
                params += '&b_sn='+b_sn;
                $.ajax({
                    url: '/api/common/delete_blueprint',
                    type: 'GET',
                    data: params,
                    dataType: 'json',
                    contentType: false,
                    processData: false,
                    success: function (pResult) {
                        getBlueprint();
                    }
                });

            }


        });
	});
$(document).on("dblclick", ".input-available", function(){

	var authors = ["*"];
	var loginId = $("#loginID").val();
	if(!authors.includes("*") && !authors.includes(loginId)){
		alert("권한이 없습니다.");
		return false;
	}

	var data = prompt("값을 입력하세요.");
	if(data == null){
		return false;
	}
	var td = $(this);
	var rowId = $(this).data("row");
	var column = $(this).data("column");
	var params = '';
	params += '&b_sn='+rowId;
	params += '&column='+column;
	params += '&data='+data;
    params += "&stdyy="+$(document).find('#r3_s_ddt_man').val().split("-")[0]+"-"+$(document).find('#r3_s_ddt_man').val().split("-")[1];
	$.ajax({
		url: '/api/common/update_blueprint',
		type: 'GET',
		data: params,
		dataType: 'json',
		contentType: false,
		processData: false,
		success: function (pResult) {
            getBlueprint();
		}
	});

});
</script>

<div class="modal fade" data-backdrop="static" id="popBox1">
    <style type="text/css">
#popBox1 tbody .btnUpdate, #popBox1 tbody .btnPrint{
    line-height: 1.42857143 !important;
    padding: 5px 7px!important;
    margin:  0px !important;
}
#popBox1 tbody{
    font-size:12px!important;
}

    </style>
    <div class="modal-dialog modal-w900" style="width:800px!important" id="approval-tab-container">
        <div class="modal-content">
			<div class="jarviswidget jarviswidget-color-greenDark">
				<header>
					<ul class="nav nav-tabs" id="popEditTabs2">
						<li class="active" data-action="1">
							<a data-toggle="tab" href="#tabBox1" data-action="tab1"><i class="fa fa-lg fa-edit"></i>&nbsp;<span>설계현황 등록</span></a>
						</li>
					</ul>
					<div class="jarviswidget-ctrls" role="menu">
						<a class="button-icon jarviswidget-delete-btn" aria-hidden="true" data-dismiss="modal"><i class="fa fa-times"></i></a>
					</div>

				</header>
				<div role="content" style="min-height:110px;height:auto;">
					<div class="widget-body no-padding" style="height:100%;">
						<div class="tab-content" style="height:100%;">

							<!-- 프로젝트 -->
							<div class="tab-pane fade active in" id="tabBox1" style="height:100%;">
							<form id="frmBox1" style="height:100%;">
								<table class="table table-bordered table-form">
									<colgroup>
										<col width="175">
										<col width="390">
										<col width="60">
									</colgroup>
									<tbody>
										<tr>
											<th class="" style="background:#0070C0;border-color:#0070C0;color:white;border-left:none;padding:0;" colspan="3">
											<span class="widget-toolbar" id="popEditToolbarContract">
												<button type="button" class="btn btn-primary" id="btnSave" title="저장합니다."><i class="fa fa-save"> 저장</i></button>

											</span>
											</th>
										</tr>

										<tr class="required">
											<th class="color-contract">설계담당자</th>
											<td class="hasinput" colspan="2">
												<select class="form-control select2" id="s_mber_sn" name="s_mber_sn" >
													<option value="">[설계담당자를 선택해주세요.]</option>
													{% for code in member_list %}
													<option value="{{code.value}}">{{code.label}} {{code.etc1}}</option>
													{% endfor %}
												</select>
											</td>
										</tr>
										<tr class="required">
											<th class="color-contract">구분</th>
											<td class="hasinput" colspan="2">
												<select class="form-control select2" id="s_b_type" name="s_b_type" >
													<option value="">[구분을 선택해주세요.]</option>
													<option value="0">신규현장</option>
													<option value="1">변경현장</option>
												</select>
											</td>
										</tr>
										<tr class="required">
											<th class="color-contract">현장명</th>
											<td class="hasinput" colspan="2">
												<input type="text" class="form-control" id="s_spt_nm" name="s_spt_nm"/>
											</td>
										</tr>
										<tr class="required">
											<th class="color-contract">발주처</th>
											<td class="hasinput" colspan="2">
												<input type="text" class="form-control" id="s_bcnc_nm" name="s_bcnc_nm"/>
											</td>
										</tr>
										<tr class="required">
											<th class="color-contract">프로젝트 담당자</th>
											<td class="hasinput" colspan="2">
												<select class="form-control select2" id="s_bsn_mber_sn" name="s_bsn_mber_sn" >
													<option value="">[프로젝트 담당자를 선택해주세요.]</option>
													{% for code in member_list %}
													<option value="{{code.value}}">{{code.label}} {{code.etc1}}</option>
													{% endfor %}
												</select>
											</td>
										</tr>
									</tbody>
								</table>

							</form>
							</div><!--tab-pane-->
						</div><!--tab-content-->
					</div><!--widget-body-->
				</div><!--content-->
			</div><!--jarviswidget-->
        </div><!--modal-content-->
    </div><!--modal-dialog-->
</div><!--modal-->

<script>
    var isDataChange = false;
    $(document).ready(function(){
		if ($(document).find('#r3_s_ddt_man').val() == '') {
			$(document).find('#r3_s_ddt_man').datepicker('setDate', 'today');
		}
		getBlueprint();


    });
	$(document).on("change", "#r3_s_ddt_man", function(){
		getBlueprint();
	});
	init = function(){
		$("#popBox1").find("#s_mber_sn").yVal('');
		$("#popBox1").find("#s_b_type").yVal('');
		// $(modal).find("#cntrct_sn").select2('destroy');
		$("#popBox1").find("#s_spt_nm").val('');
		$("#popBox1").find("#s_bcnc_nm").val('');
		$("#popBox1").find("#s_bsn_mber_sn").yVal('');

	}
	$(document).on('click', '#btnSave', function(){
		var params = $("#frmBox1").formSerialize();
        params += "&stdyy="+$(document).find('#r3_s_ddt_man').val().split("-")[0]+"-"+$(document).find('#r3_s_ddt_man').val().split("-")[1];
		if($('#popBox1').find("#s_spt_nm").val() == ''){
			alert("계약을 선택해주세요.");
			return false;
		}
		$.ajax({
			url: '/api/common/insert_blueprint',
			type: 'GET',
			data: params,
			dataType: 'json',
			contentType: false,
			processData: false,
			success: function (pResult) {
				console.log(pResult);
				isDataChange = true;
				init();
			}

		});
	});

	$('#popBox1').on('shown.bs.modal', function(pEvent)
	{
		init();
	});

	$('#popBox1').on('hidden.bs.modal', function(pEvent)
	{
		if (isDataChange) {
			getBlueprint();
			isDataChange = false;
		}
	});

</script>

<div class="modal fade" data-backdrop="static" id="popBox2">
    <style type="text/css">
#popBox1 tbody .btnUpdate, #popBox1 tbody .btnPrint{
    line-height: 1.42857143 !important;
    padding: 5px 7px!important;
    margin:  0px !important;
}
#popBox1 tbody{
    font-size:12px!important;
}

    </style>
    <div class="modal-dialog modal-w900" style="width:800px!important" id="container">
        <div class="modal-content">
			<div class="jarviswidget jarviswidget-color-greenDark">
				<header>
					<ul class="nav nav-tabs" id="popEditTabs3">
						<li class="active" data-action="1">
							<a data-toggle="tab" href="#tabBox2" data-action="tab1"><i class="fa fa-lg fa-edit"></i>&nbsp;<span>설계현황 목표 등록</span></a>
						</li>
					</ul>
					<div class="jarviswidget-ctrls" role="menu">
						<a class="button-icon jarviswidget-delete-btn" aria-hidden="true" data-dismiss="modal"><i class="fa fa-times"></i></a>
					</div>

				</header>
				<div role="content" style="min-height:110px;height:auto;">
					<div class="widget-body no-padding" style="height:100%;">
						<div class="tab-content" style="height:100%;">

							<!-- 프로젝트 -->
							<div class="tab-pane fade active in" id="tabBox2" style="height:100%;">
							<form id="frmBox2" style="height:100%;">
								<table class="table table-bordered table-form">
									<colgroup>
										<col width="175">
										<col width="390">
										<col width="60">
									</colgroup>
									<tbody>
										<tr>
											<th class="" style="background:#0070C0;border-color:#0070C0;color:white;border-left:none;padding:0;" colspan="3">
											<span class="widget-toolbar" id="popEditToolbar">
												<button type="button" class="btn btn-primary" id="btnSaveGoal" title="저장합니다."><i class="fa fa-save"> 저장</i></button>

											</span>
											</th>
										</tr>

										<tr class="required">
											<th class="color-contract">연목표 건수</th>
											<td class="hasinput" colspan="2">
                                                <input type="number" class="form-control text-right" name="amount" id="amount" step="1"/>
											</td>
										</tr>
										<tr class="required">
											<th class="color-contract">연목표 HP</th>
											<td class="hasinput" colspan="2">
                                                <input type="number" class="form-control text-right" name="hp" id="hp" step="0.1"/>
											</td>
										</tr>
										<tr class="required">
											<th class="color-contract">연목표액</th>
											<td class="hasinput" colspan="2">
                                                <input type="number" class="form-control text-right" name="total" id="total" step="0.1"/>
											</td>
										</tr>

									</tbody>
								</table>

							</form>
							</div><!--tab-pane-->
						</div><!--tab-content-->
					</div><!--widget-body-->
				</div><!--content-->
			</div><!--jarviswidget-->
        </div><!--modal-content-->
    </div><!--modal-dialog-->
</div><!--modal-->
<script>
	initModal = function(){
		$('#popBox2').find("#hp").val('');
		$('#popBox2').find("#amount").val('');

	}
	$(document).on('click', '#btnSaveGoal', function(){
		var params = $("#frmBox2").formSerialize();
        params += "&stdyy="+$(document).find('#r3_s_ddt_man').val().split("-")[0];
		if($('#popBox2').find("#hp").val() == ''){
			alert("연목표 HP를 입력해주세요.");
			return false;
		}
		if($('#popBox2').find("#amount").val() == ''){
			alert("연목표 건수를 입력해주세요.");
			return false;
		}
		if($('#popBox2').find("#total").val() == ''){
			alert("연목표액을 입력해주세요.");
			return false;
		}
		$.ajax({
			url: '/api/common/insert_blueprint_goal',
			type: 'GET',
			data: params,
			dataType: 'json',
			contentType: false,
			processData: false,
			success: function (pResult) {
				console.log(pResult);
				isDataChange = true;
			}

		});
	});
	$('#popBox2').on('shown.bs.modal', function(pEvent)
	{
		initModal();
	});

	$('#popBox2').on('hidden.bs.modal', function(pEvent)
	{
		getBlueprint();
	});

</script>
{% endblock %}
