{% extends 'common/main_base.html' %}
{% block content %}

<!--########################################################################-->
<!--# contents style end                                                   #-->
<!--########################################################################-->
<script type="text/javascript" src="https://unpkg.com/xlsx@0.15.1/dist/xlsx.full.min.js"></script>
<style type="text/css">
tbody .btnUpdate, tbody .btn{
    line-height: 0.3!important;
}
    tbody{
        font-size:12px!important;
    }
    .table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
        line-height: 1.0!important;
    }
</style>
<!--########################################################################-->
<!--# RIBBON area start                                                    #-->
<!--########################################################################-->
<div id="ribbon" style="background:#B3E5FC!important;">
	<span class="ribbon-button-alignment">
		<span class="btn btn-ribbon"><i class="fa fa-refresh"></i></span>
	</span>
    <ol class="breadcrumb" style="font-size:14px !important;">
<!--		<li>홈</li><li>계약 및 프로젝트</li><li>계약 및 프로젝트 등록</li>-->
        <style>
            .breadcrumb>li+li:before {
                content: ">";
                color : #374850!important;
            }
        </style>
        <li style="font-size:17px !important;color:#1565C0!important;">빌트인 현장현황</li><li><span> 계약 / 프로젝트</span></li>
	</ol>



</div>
<!--########################################################################-->
<!--# RIBBON area end                                                      #-->
<!--########################################################################-->


<!--########################################################################-->
<!--# contents area start                                                  #-->
<!--########################################################################-->
<div id="content">

	<!-- 화면 제목 -->
	<div class="row">
		<div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
<!--
			<h1 class="page-title txt-color-blueDark">
				<i class="fa-fw fa fa-list-alt"></i>
					목표 관리 <span>> 기성</span>
			</h1>
-->
		</div>

		<!-- right side of the page with the sparkline graphs -->
		<div class="col-xs-12 col-sm-5 col-md-5 col-lg-8">
		</div>
	</div>

	<!-- 화면 설명 -->
<!--
	<div class="alert alert-block alert-info" style="background:#e6faff!important;">
		<p><i class="fa-fw fa fa-info"></i>
			월별 수주 계획을 관리합니다.
		</p>
	</div>
-->

	<!-- 화면 내용 -->
	<section id="widget-grid">

		<div class="row">
			<article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

				<!-- Widget ID (each widget will need unique ID)-->
				<div class="jarviswidget jarviswidget-color-darken">
                    <script>


                    </script>
					<header>
						<span class="widget-icon"> <i class="fa fa-list"></i> </span>
                        <h2>빌트인 현장현황</h2>
						<div class="widget-toolbar">
                            <h2>VAT 포함 (단위 : 천원)</h2>&nbsp;&nbsp;&nbsp;
							<button type="button" class="btn btn-info" data-toggle="modal" href="#popReport1"><i class="fa fa-print"> 빌트인 종합관리</i></button>
                            <input type="text" id="s_year" name="s_year" style="color:#333;"/><button type="button" class="btn btn-info" id="s_submit">검색</button>
<!--                            <button type="button" class="btn btn-info" id="s_submit">검색</button>-->
							<!-- <button type="button" class="btn btn-warning" data-toggle="modal" href="#popBox1" data-action="insert"><i class="fa fa-plus"> 등록</i></button> -->
							<button type="button" class="btn btn-success" id="btnExcel" onclick="htmlTableToExcel('xlsx')"><i class="fa fa-file-excel-o"> 엑셀 다운로드</i></button>
						</div>
						<div class="widget-toolbar">
						</div>


					</header>
					<!-- widget body div-->
					<div>
						<!-- widget edit box -->
						<div class="jarviswidget-editbox">
						</div>
						<!-- end widget edit box -->
						<style>
                            .bottom_border{

                                border-bottom: 2px solid #666!important;
                            }

                            .top_border{

                                border-top: 2px solid #666!important;
                            }
                            .top_b_border{

                                border-top: 3px solid #666!important;
                            }
                            .right_border{
                                border-right: 2px solid #666!important;
                            }
                            #dtList1{
								border: 2px solid #666!important;
							}

                            #dtList1 tbody, #dtList1 thead tr{
                                font-size: 11px!important;
                            }
                            .colorEG{
                                background:rgb(255,204,153)!important;
                                font-weight: bold;
                            }
                            .colorJ{
                                background:#3d8b40!important;
                                font-weight: bold;
                                color:white;
                            }
                            .colorSkyB{
                                background:rgb(146, 205, 220);
                                font-weight: bold;
                            }
                            .tot{
                                background:rgb(255,153,204);
                                font-weight: bold;
                            }
                            .sub_tot{
                                background:#e6faff!important;
                                font-size:8px!important;
                                font-weight: 600!important;
                            }
                            .bold{
                                font-size:11px!important;
                                font-weight: 600!important;
								text-overflow: ellipsis!important;
								overflow: hidden;
								white-space: nowrap;
                            }
                            .colorG {
                                background: rgb(204,255,204)!important;
                            }
/*
                            .{
                                background: #FDFD96!important;
                            }
*/
                            .table>tbody+tbody {
                                border-top: 2px solid #666;
                            }
                            .table>thead+tbody {
                                border-top: 2px solid #666;
                            }
                            .middle{
                                vertical-align: middle!important;
                            }
                            @media (min-width: 100px) and (max-width: 1024px) {


                                body.smart-style-6 #content{
                                        margin-left: 0px;
                                        padding:30px 0px;
                                }
                            }
                            .jarviswidget>div{
                                font-size:12px!important;
                            }
                            .colored{
                                background: #FFFF00!important   ;
                            }
                            .coloredRed{
                                background: rgb(255,153,204)!important;
                            }
                            .redColored{
                                background: rgba(255,204,153, 0.8)!important   ;
                            }
                            .no-padding>table tr th:last-child {
                                border-right: 2px solid #666!important;
                            }
                            .no-padding>.table-bordered thead tr th:last-child{
                                border-right: 2px solid #666!important;
                            }
                            .bold{
                                font-size: 10px!important;
                            }
                            #dtList1 tbody, #dtList1 thead tr {
                                font-size: 10px!important;
                            }
                            .select2-selection__rendered, .select2-results__option{
                                font-size: 10px!important;
                            }
							tbody span[role=combobox]{
								z-index:0!important;
							}
                            [data-tooltip-text]:hover{
                                position:relative;
                            }
                            [data-tooltip-text]:after {
                                -webkit-transition: bottom .3s ease-in-out, opacity .3s ease-in-out;
                                -moz-transition: bottom .3s ease-in-out, opacity .3s ease-in-out;
                                transition: bottom .3s ease-in-out, opacity .3s ease-in-out;

                                background-color: rgba(0, 0, 0, 0.8);

                              -webkit-box-shadow: 0px 0px 3px 1px rgba(50, 50, 50, 0.4);
                                -moz-box-shadow: 0px 0px 3px 1px rgba(50, 50, 50, 0.4);
                                box-shadow: 0px 0px 3px 1px rgba(50, 50, 50, 0.4);

                              -webkit-border-radius: 5px;
                                -moz-border-radius: 5px;
                                border-radius: 5px;

                              color: #FFFFFF;
                                font-size: 12px;
                                margin-bottom: 10px;
                                padding: 7px 12px;
                                position: absolute;
                                width: auto;
                                min-width: 200px;
                                max-width: 300px;
                                word-wrap: break-word;

                                z-index: 9999;

                                opacity: 0;
                                right: -9999px;
                              top: 90%;

                                content: attr(data-tooltip-text);
                            }

                            [data-tooltip-text]:hover:after {
                                top: 130%;
                                right: 0;
                                opacity: 1;
                            }

                            .jarviswidget>div {
                                border-right-color: transparent!important;
                            }

                        </style>
						<!-- widget content -->
                        <input type="hidden" id="s_resrv_bcnc" value="-1"/>
                        <input type="hidden" id="s_resrv_type" value="-1"/>
                        <input type="hidden" id="s_resrv_chrg" value="-1"/>
                        <input type="hidden" id="s_resrv_c_chrg" value="-1"/>
						<div class="widget-body no-padding">
							<table class="table table-bordered w120p" id="dtList1">
								<colgroup>
									<col width="65">
									<col width="80">
									<col width="110">
									<col width="250">
									<col width="80">
									<col width="80">
									<col width="80">
									<col width="120">

                                    <col width="50">
									<col width="50">
									<col width="100">
									<col width="100">

                                    <col width="70">

                                    <col width="50">
									<col width="50">
									<col width="100">
									<col width="100">

									<col width="70">

									<col width="50">
									<col width="100">
									<col width="100">

									<col width="70">
									<col width="50">
									<col width="50">
<!--									<col width="80">-->



								</colgroup>
								<thead>
									<!-- 헤더 -->
									<tr>
										<th class="colorG middle bottom_border" style="text-align:center;" rowspan="4">분류</th>
										<th class="colorG middle bottom_border" style="text-align:center;min-width:65px;" rowspan="4">계약일</th>
                                        <th class="hasinput button" style="padding:0px!important;">
											<select class="form-control select2 w100p s_resrv_bcnc" name="s_resrv_bcnc">
												<option value="-1">[전체]</option>
											</select>
										</th>
										<th class="hasinput button" style="padding:0px!important;">
											<input type="text" class="form-control" name="s_spt_nm" id="s_spt_nm"/>
										</th>
                                        <th class="hasinput button" style="padding:0px!important;">
											<select class="form-control select2 w100p s_resrv_type" name="s_resrv_type">
												<option value="-1">[전체]</option>
                                                <option value="BD">직계약</option>
                                                <option value="BF">수수료</option>

											</select>
										</th>
                                        <th class="hasinput button" style="padding:0px!important;">
											<select class="form-control select2 w100p s_resrv_chrg" name="s_resrv_chrg">
												<option value="-1">[전체]</option>

											</select>
										</th>
                                        <th class="hasinput button" style="padding:0px!important;">
											<select class="form-control select2 w100p s_resrv_c_chrg" name="s_resrv_c_chrg">
												<option value="-1">[전체]</option>

											</select>
										</th>
										<th class="bold colorG right_border middle bottom_border" style="text-align:center;min-width:45px;" rowspan="4">수주금액</th>
										<th class="bold colorSkyB right_border middle bottom_border" style="text-align:center!important;" colspan="10">전시내역</th>
										<th class="bold colorSkyB right_border middle bottom_border" style="text-align:center!important;" colspan="3" rowspan="2">판매/수수료</th>
										<th class="bold colorEG right_border middle bottom_border" style="text-align:center;" rowspan="4">준공예정일</th>
										<th class="bold colorEG right_border middle bottom_border" style="text-align:center;min-width:80px;" rowspan="4">공정률</th>
										<th class="bold colorEG right_border middle bottom_border" style="text-align:center;min-width:110px;" rowspan="4">비고</th>
									</tr>
									<tr>
										<th class="bold colorG middle bottom_border" style="text-align:center;min-width:90px;" rowspan="3">건설사</th>
										<th class="bold colorG middle bottom_border" style="text-align:center;min-width:160px;" rowspan="3">현장명</th>
										<th class="bold colorG middle bottom_border" style="text-align:center;min-width:60px;" rowspan="3">계약분류</th>
                                        <th class="bold colorG middle bottom_border" style="text-align:center;min-width:55px;" rowspan="3">담당</th>
                                        <th class="bold colorG middle bottom_border" style="text-align:center;min-width:55px;" rowspan="3">본사</th>

										<th class="bold colorSkyB bottom_border right_border" style="text-align:center!important;" colspan="5">M/H</th>
										<th class="bold colorSkyB bottom_border right_border" style="text-align:center!important;" colspan="5">S/H</th>
<!--										<th class="colorSkyB bottom_border right_border middle" style="text-align:center!important;min-width:50px;" rowspan="2">분류</th>-->
                                    </tr>
									<tr>
										<th class="hasinput" style="padding:0px!important;">
											<input type="text" class="form-control datepicker_form" style="display:inline-block;width:50px!important;font-size:8px!important;line-height:20px!important;height:20px!important;" data-dateformat="yy-mm" data-mask="99-99" data-mask-placeholder="_" id="m_dlivy_de_start" name="m_dlivy_de_start">
											<span class="input-group-addon" style="display:inline-block;width:10px!important;padding:0;border:0;">~</span>
											<input type="text" class="form-control datepicker_form" style="display:inline-block;width:50px!important;font-size:8px!important;line-height:20px!important;height:20px!important;" data-dateformat="yy-mm" data-mask="99-99" data-mask-placeholder="_" id="m_dlivy_de_end" name="m_dlivy_de_end">
										</th>
										<th class="hasinput" style="padding:0px!important;">
											<input type="text" class="form-control datepicker_form" style="display:inline-block;width:50px!important;font-size:8px!important;line-height:20px!important;height:20px!important;" data-dateformat="yy-mm" data-mask="99-99" data-mask-placeholder="_" id="m_pblict_de_start" name="m_pblict_de_start">
											<span class="input-group-addon" style="display:inline-block;width:10px!important;padding:0;border:0;">~</span>
											<input type="text" class="form-control datepicker_form" style="display:inline-block;width:50px!important;font-size:8px!important;line-height:20px!important;height:20px!important;" data-dateformat="yy-mm" data-mask="99-99" data-mask-placeholder="_" id="m_pblict_de_end" name="m_pblict_de_end">
										</th>
										<th class="bold colorSkyB middle bottom_border" style="text-align:center!important;min-width:80px;" rowspan="2">추가DC</th>
										<th class="bold colorSkyB middle bottom_border right_border" style="text-align:center!important;min-width:80px;" rowspan="2">잔액</th>
										<th class="bold colorEG middle bottom_border right_border" style="text-align:center!important;min-width:80px;" rowspan="2">회수예정일</th>
										<th class="hasinput" style="padding:0px!important;">
											<input type="text" class="form-control datepicker_form" style="display:inline-block;width:50px!important;font-size:8px!important;line-height:20px!important;height:20px!important;" data-dateformat="yy-mm" data-mask="99-99" data-mask-placeholder="_" id="s_dlivy_de_start" name="s_dlivy_de_start">
											<span class="input-group-addon" style="display:inline-block;width:10px!important;padding:0;border:0;">~</span>
											<input type="text" class="form-control datepicker_form" style="display:inline-block;width:50px!important;font-size:8px!important;line-height:20px!important;height:20px!important;" data-dateformat="yy-mm" data-mask="99-99" data-mask-placeholder="_" id="s_dlivy_de_end" name="s_dlivy_de_end">
										</th>
										<th class="hasinput" style="padding:0px!important;">
											<input type="text" class="form-control datepicker_form" style="display:inline-block;width:50px!important;font-size:8px!important;line-height:20px!important;height:20px!important;" data-dateformat="yy-mm" data-mask="99-99" data-mask-placeholder="_" id="s_pblict_de_start" name="s_pblict_de_start">
											<span class="input-group-addon" style="display:inline-block;width:10px!important;padding:0;border:0;">~</span>
											<input type="text" class="form-control datepicker_form" style="display:inline-block;width:50px!important;font-size:8px!important;line-height:20px!important;height:20px!important;" data-dateformat="yy-mm" data-mask="99-99" data-mask-placeholder="_" id="s_pblict_de_end" name="s_pblict_de_end">
										</th>
										<th class="bold colorSkyB middle bottom_border" style="text-align:center!important;min-width:80px;" rowspan="2">추가DC</th>
										<th class="bold colorSkyB middle bottom_border right_border" style="text-align:center!important;min-width:80px;" rowspan="2">잔액</th>
										<th class="bold colorEG middle bottom_border right_border" style="text-align:center!important;min-width:80px;" rowspan="2">회수예정일</th>
										<th class="hasinput right_border" style="padding:0px!important;">
											<input type="text" class="form-control datepicker_form" style="display:inline-block;width:50px!important;font-size:8px!important;line-height:20px!important;height:20px!important;" data-dateformat="yy-mm" data-mask="99-99" data-mask-placeholder="_" id="t_pblict_de_start" name="t_pblict_de_start">
											<span class="input-group-addon" style="display:inline-block;width:10px!important;padding:0;border:0;">~</span>
											<input type="text" class="form-control datepicker_form" style="display:inline-block;width:50px!important;font-size:8px!important;line-height:20px!important;height:20px!important;" data-dateformat="yy-mm" data-mask="99-99" data-mask-placeholder="_" id="t_pblict_de_end" name="t_pblict_de_end">
										</th>
										<th class="bold colorSkyB middle bottom_border" style="text-align:center!important;min-width:80px;" rowspan="2">금액</th>
										<th class="bold colorSkyB middle bottom_border right_border" style="text-align:center!important;min-width:80px;" rowspan="2">잔액</th>
									</tr>
                                    <tr>
										<th class="bold colorSkyB bottom_border" style="text-align:center!important;min-width:65px;">출고월</th>
										<th class="bold colorSkyB bottom_border" style="text-align:center!important;min-width:65px;">발행일자</th>

                                        <th class="bold colorSkyB bottom_border" style="text-align:center!important;min-width:65px;">출고월</th>
										<th class="bold colorSkyB bottom_border" style="text-align:center!important;min-width:65px;">발행일자</th>

										<th class="bold colorSkyB bottom_border" style="text-align:center!important;min-width:65px;">발행일자</th>
									</tr>
								</thead>
                                <tbody role='exec'>
                                </tbody>
                                <tbody role='total'>

                                </tbody>
                            </table>
						</div>
						<!-- end widget content -->
					</div>
					<!-- end widget body div -->
				</div>
				<!-- end widget -->

			</article>
		</div>

	</section>

</div>
<!--########################################################################-->
<!--# contents area end                                                    #-->
<!--########################################################################-->


<!--########################################################################-->
<!--# commom script start                                                  #-->
<!--########################################################################-->

<script type="text/javascript">
  var progrs = {1 : '진행', 2 : '사전<br>입찰', 3 : '유보'}
  getReserveType = function(s_resrv_bcnc, s_resrv_type, s_resrv_chrg, s_resrv_c_chrg)
  {
      var params = '';
      var resrv_bcnc = s_resrv_bcnc;
      var resrv_type = s_resrv_type;
      var resrv_chrg = s_resrv_chrg;
      var resrv_c_chrg = s_resrv_c_chrg;
      $.ajax({
          url: '/api/bnd/ajax_get_bcnc_list',
          type: 'GET',
          data: params,
          dataType: 'json',
          contentType: false,
          processData: false,
          success: function(pResult) {

              var html = '<option value="-1">[전체]</option>';
              $.each(pResult.bData, function(pIndex, pValue){
                  html += '<option value="'+pValue.num+'">';
                  html += pValue.name;
                  html += '</option>';
              });
              $('.s_resrv_bcnc').html(html);
              $('.s_resrv_bcnc').val(resrv_bcnc);
              $('#s_resrv_bcnc').val(resrv_bcnc);


              $('.s_resrv_type').val(resrv_type);
              $('#s_resrv_type').val(resrv_type);


              var html = '<option value="-1">[전체]</option>';
              $.each(pResult.cData, function(pIndex, pValue){
                  html += '<option value="'+pValue.num+'">';
                  html += pValue.name;
                  html += '</option>';
              });
              $('.s_resrv_chrg').html(html);
              $('.s_resrv_chrg').val(resrv_chrg);
              $('#s_resrv_chrg').val(resrv_chrg);


              var html = '<option value="-1">[전체]</option>';
              $.each(pResult.dData, function(pIndex, pValue){
                  html += '<option value="'+pValue.num+'">';
                  html += pValue.name;
                  html += '</option>';
              });
              $('.s_resrv_c_chrg').html(html);
              $('.s_resrv_c_chrg').val(resrv_c_chrg);
              $('#s_resrv_c_chrg').val(resrv_c_chrg);

          }
      });
  }
  getBndList = function(bnd_year)
  {
	var s_resrv_bcnc = $('#s_resrv_bcnc').val();
	var s_resrv_type = $('#s_resrv_type').val();
	var s_resrv_chrg = $('#s_resrv_chrg').val();
	var s_resrv_c_chrg = $('#s_resrv_c_chrg').val();
	var s_spt_nm = $('#s_spt_nm').val();

	var params = '';
    if(s_resrv_bcnc != '' && s_resrv_bcnc != '-1'){
        params += '&s_resrv_bcnc='+s_resrv_bcnc;
    }
    if(s_resrv_type != '' && s_resrv_type != '-1'){
        params += '&s_resrv_type='+s_resrv_type;
    }
    if(s_resrv_chrg != '' && s_resrv_chrg != '-1'){
        params += '&s_resrv_chrg='+s_resrv_chrg;
    }
    if(s_resrv_c_chrg != '' && s_resrv_c_chrg != '-1'){
        params += '&s_resrv_c_chrg='+s_resrv_c_chrg;
    }
    if(s_spt_nm != ''){
        params += '&s_spt_nm='+s_spt_nm;
    }
	params += '&bnd_year='+bnd_year;
	console.log(params);
	//직계약 현장 - 판매/수수료 값 : 입금현황에 있는 모든 세금계산서 날짜 및 금액 나열
	  // 수주 총액과 비교한게 잔액..인데 입금현황에 있는 세금계산서 모두 + 세금계산서 없이 입금된 값들 모두
	  //How ? 입금은 금액을 어떻게 표시할것인가?
	  //+재고 (62, 65)만 쓰인 경우에는 세금계산서 발행될 일이 없으니까 잔액0 (노란색)
	  //전시차감 없는경우에도 노란색
		// 비고 값 없이도 입력
	  // 공정률 대시보드 쪽에도 가도록


	$.ajax({
		url: '/api/bnd/ajax_get_bnd',
		type: 'GET',
		data: params,
		dataType: 'json',
		contentType: false,
		processData: false,
		success: function(pResult) {
			console.log(pResult);
			var before = -1;
            var html = '';
            var _class = '';
            var count = 1;
            var total = {"cntrct_amount" : 0};
            $.each(pResult.data, function(pIndex, pValue){
              if(before != pValue.progrs_order && before != -1){
                html += `<tr class="total">
                            <td class="colorG bold top_border middle ${_class}" style="text-align:left!important;" colspan="7">소계</td>
                            <td class="colorG bold top_border right_border middle ${_class}" style="text-align:right!important;">${Math.round(total.cntrct_amount/1000).toString().toFormat('NUMBER')}</td>
                            <td class="colorG bold top_border middle ${_class}" style="text-align:right!important;"></td>
                            <td class="colorG bold top_border middle ${_class}" style="text-align:right!important;"></td>
                            <td class="colorG bold top_border middle ${_class}" style="text-align:right!important;"></td>
                            <td class="colorG bold top_border right_border middle ${_class}" style="text-align:right!important;"></td>
                            <td class="colorG bold top_border right_border middle ${_class}" style="text-align:right!important;"></td>
                            <td class="colorG bold top_border middle ${_class}" style="text-align:right!important;"></td>
                            <td class="colorG bold top_border middle ${_class}" style="text-align:right!important;"></td>
                            <td class="colorG bold top_border middle ${_class}" style="text-align:right!important;"></td>
                            <td class="colorG bold top_border right_border middle ${_class}" style="text-align:right!important;"></td>
                            <td class="colorG bold top_border right_border middle ${_class}" style="text-align:right!important;"></td>
                            <td class="colorG bold top_border middle ${_class}" style="text-align:right!important;"></td>
                            <td class="colorG bold top_border middle ${_class}" style="text-align:right!important;"></td>
                            <td class="colorG bold top_border right_border middle ${_class}" style="text-align:right!important;"></td>
                            <td class="colorG bold top_border right_border middle ${_class}" style="text-align:right!important;"></td>
                            <td class="colorG bold top_border right_border middle ${_class}" style="text-align:right!important;"></td>
                            <td class="colorG bold top_border right_border middle ${_class}" style="text-align:right!important;"></td>
                         </tr>
                        `;
              }
              if(before != pValue.progrs_order){
                before = pValue.progrs_order;
                count = 0;
                _class = "";
                total.cntrct_amount = 0;
              }
              else{
                _class = "";
              }

              html += `<tr class="row${pValue.cntrct_sn}" id="${pValue.cntrct_sn}" data-count="${Math.floor(count/15)}" data-nm="${_class}" data-label="${progrs[pValue.progrs_order]}">
                            <td class="bold colorBtn top_border text-center middle ${_class}"><span class="${Math.floor(count/15)}"></span>${progrs[pValue.progrs_order]}</td>
                            <td class="bold colorBtn top_border middle ${_class}" style="text-align:left;">${pValue.cntrct_de}</td>
                            <td class="bold colorBtn top_border middle ${_class}" style="text-align:left;">${pValue.bcnc_nm}</td>
                            <td class="bold colorBtn top_border middle ${_class}" style="text-align:left;">${pValue.spt_nm}</td>
                            <td class="bold colorBtn top_border middle text-center ${_class}">${pValue.prjct_ty_nm}</td>
                            <td class="bold colorBtn top_border middle text-center ${_class}">${pValue.bsn_chrg_nm}</td>
                            <td class="bold colorBtn top_border middle text-center ${_class}">${pValue.chrg_nm}</td>
                            <td class="bold colorBtn top_border middle right_border ${_class}" style="text-align:right;">${Math.round(pValue.cntrct_amount/1000).toString().toFormat('NUMBER')}</td>
                            <td class="bold colorBtn top_border text-center ${_class} m-date" style="text-align:left;" data-column="1"></td>
                            <td class="bold colorBtn top_border text-center ${_class} m-t-date" style="text-align:left;" data-column="2"></td>
                            <td class="bold colorBtn top_border text-right ${_class} m-t-date" style="text-align:left;" data-column="3"></td>
                            <td class="bold colorBtn top_border text-right middle right_border ${_class} m-remain" style="text-align:left;" data-column="4"></td>
                            <td class="bold colorBtn top_border text-center middle right_border ${_class} m-next-date" style="text-align:left;" data-column="5"></td>
                            <td class="bold colorBtn top_border text-center ${_class} s-date" style="text-align:left;" data-column="6"></td>
                            <td class="bold colorBtn top_border text-center ${_class} s-t-date" style="text-align:left;" data-column="7"></td>
                            <td class="bold colorBtn top_border text-right ${_class} s-t-date" style="text-align:left;" data-column="8"></td>
                            <td class="bold colorBtn top_border text-right middle right_border ${_class} s-remain" style="text-align:left;" data-column="9"></td>
                            <td class="bold colorBtn top_border text-center middle right_border ${_class} s-next-date" style="text-align:left;" data-column="10"></td>
                            <td class="bold colorBtn top_border text-center ${_class} t-t-date" style="text-align:left;" data-column="11"></td>
                            <td class="bold colorBtn top_border text-right ${_class} t-t-date" style="text-align:left;" data-column="12"></td>
                            <td class="bold colorBtn top_border text-right middle right_border ${_class} t-remain" style="text-align:left;" data-column="13"></td>
                            <td class="bold colorBtn top_border text-center middle right_border ${_class} input-available" style="text-align:left;" data-column="expect_de">${pValue.expect_de}</td>`;
              if(pValue.prjct_ty_code == 'BF'){
				  var rate = parseInt(pValue.rate);
				  console.log(pValue.rate);
              	html += `   <td class="bold colorBtn top_border text-left middle right_border ${_class} input-available-select" style="text-align:left;padding:0px!important" data-column="rate">
								<select class="select2" name="s_rate" style="width:100%;">
									<option value="0" ${rate == 0 ? "selected" : ""}>0%</option>
									<option value="90" ${rate == 90 ? "selected" : ""}>90%</option>
									<option value="100" ${rate == 100 ? "selected" : ""}>100%</option>
								</select>
							</td>`;
			  }
              else{
				  if(pValue.cnt_qy == 0 || pValue.cnt_amt == 0){
					  var rate = 0.0;
				  }
				  else{
					  var rate = (pValue.out_qy * 80.0/pValue.cnt_qy) + (pValue.out_amt * 20.0 / pValue.cnt_amt);
				  }

              	html += `   <td class="bold colorBtn top_border text-left middle right_border ${_class}" style="text-align:left;" data-column="rate-text">${rate.toFixed(1)+"%"}</td>`;
			  }
              html += `     <td class="bold colorBtn top_border text-left middle right_border ${_class} input-available" style="text-align:left;" data-column="rm"></td>
                       </tr>
                      `;
              count++;
              total.cntrct_amount += parseInt(pValue.cntrct_amount);
              if(pIndex == pResult.data.length - 1){
                html += `<tr class="total">
                            <td class="colorG bold top_border middle ${_class}" style="text-align:left!important;" colspan="7">소계</td>
                            <td class="colorG bold top_border right_border middle ${_class}" style="text-align:right!important;">${Math.round(total.cntrct_amount/1000).toString().toFormat('NUMBER')}</td>
                            <td class="colorG bold top_border middle ${_class}" style="text-align:right!important;"></td>
                            <td class="colorG bold top_border middle ${_class}" style="text-align:right!important;"></td>
                            <td class="colorG bold top_border middle ${_class}" style="text-align:right!important;"></td>
                            <td class="colorG bold top_border right_border middle ${_class}" style="text-align:right!important;"></td>
                            <td class="colorG bold top_border right_border middle ${_class}" style="text-align:right!important;"></td>
                            <td class="colorG bold top_border middle ${_class}" style="text-align:right!important;"></td>
                            <td class="colorG bold top_border middle ${_class}" style="text-align:right!important;"></td>
                            <td class="colorG bold top_border middle ${_class}" style="text-align:right!important;"></td>
                            <td class="colorG bold top_border right_border middle ${_class}" style="text-align:right!important;"></td>
                            <td class="colorG bold top_border right_border middle ${_class}" style="text-align:right!important;"></td>
                            <td class="colorG bold top_border middle ${_class}" style="text-align:right!important;"></td>
                            <td class="colorG bold top_border middle ${_class}" style="text-align:right!important;"></td>
                            <td class="colorG bold top_border right_border middle ${_class}" style="text-align:right!important;"></td>
                            <td class="colorG bold top_border right_border middle ${_class}" style="text-align:right!important;"></td>
                            <td class="colorG bold top_border right_border middle ${_class}" style="text-align:right!important;"></td>
                            <td class="colorG bold top_border right_border middle ${_class}" style="text-align:right!important;"></td>
                         </tr>
                        `;
              }
            });
            $("#dtList1").find("tbody[role=exec]").html(html);

            $.each(pResult.account, function(cntrct_sn, pRow){
            	var row = $(document).find(`#${cntrct_sn}`);
            	var count = $(row).data("count");
            	var _class = $(row).data("nm");
            	var label = $(row).data("label");
            	for(let i=1;i<8;i++){
					$(row).find("td").eq(i).attr("rowspan", pRow.max_row.toString());
				}
				$(row).find("td").eq(11).attr("rowspan", pRow.max_row.toString());
				$(row).find("td").eq(12).attr("rowspan", pRow.max_row.toString());
				$(row).find("td").eq(16).attr("rowspan", pRow.max_row.toString());
				$(row).find("td").eq(17).attr("rowspan", pRow.max_row.toString());
				$(row).find("td").eq(20).attr("rowspan", pRow.max_row.toString());
				$(row).find("td").eq(21).attr("rowspan", pRow.max_row.toString());
				$(row).find("td").eq(22).attr("rowspan", pRow.max_row.toString());
				$(row).find("td").eq(23).attr("rowspan", pRow.max_row.toString());
            	var html = `<tr class="row${cntrct_sn}">
	                            <td class="bold colorBtn top_border text-center middle ${_class}"><span class="${count}"></span>${label}</td>
								<td class="bold colorBtn ${_class} text-center m-date" style="text-align:left;" data-column="1"></td>
								<td class="bold colorBtn ${_class} text-center m-t-date" style="text-align:left;" data-column="2"></td>
								<td class="bold colorBtn ${_class} text-right m-t-date" style="text-align:left;" data-column="3"></td>
								<td class="bold colorBtn ${_class} text-center s-date" style="text-align:left;" data-column="6"></td>
								<td class="bold colorBtn ${_class} text-center s-t-date" style="text-align:left;" data-column="7"></td>
								<td class="bold colorBtn ${_class} text-right s-t-date" style="text-align:left;" data-column="8"></td>
								<td class="bold colorBtn ${_class} text-center t-t-date" style="text-align:left;" data-column="11"></td>
								<td class="bold colorBtn ${_class} text-right t-t-date" style="text-align:left;border-right:1px solid #ddd!important;" data-column="12"></td>
							</tr>`;
            	for(let i=0;i<pRow.max_row-1;i++){
	            	$(html).insertAfter(`#${cntrct_sn}`);
				}


            	let offset = (new Date()).getTimezoneOffset() * 60000;
            	$.each(pRow.M, function(pIndex, pValue){
	            	$(document).find(`.row${cntrct_sn}`).eq(pIndex).find(".m-date").eq(0).text(pValue);
				});
            	if(pRow.M.length > 0){
					var pDate = pRow.M[pRow.M.length-1];
					var nextDate = new Date(parseInt(`20${pDate.split("/")[0]}`), parseInt(`${pDate.split("/")[1]}`)+12, 0);
					var nextDateStr = (new Date(nextDate.getTime()-offset)).toISOString().split("T")[0];
					$(document).find(`.row${cntrct_sn}`).eq(0).find(".m-next-date").eq(0).text(`${nextDateStr.split("-")[0].substr(2)}/${parseInt(nextDateStr.split("-")[1])}/${parseInt(nextDateStr.split("-")[2])}`);
				}



				$.each(pRow.S, function(pIndex, pValue){
	            	$(document).find(`.row${cntrct_sn}`).eq(pIndex).find(".s-date").eq(0).text(pValue);
				});
            	if(pRow.S.length > 0) {
					var pDate = pRow.S[pRow.S.length - 1];
					var nextDate = new Date(parseInt(`20${pDate.split("/")[0]}`), parseInt(`${pDate.split("/")[1]}`) + 6, 0);
					var nextDateStr = (new Date(nextDate.getTime() - offset)).toISOString().split("T")[0];
					$(document).find(`.row${cntrct_sn}`).eq(0).find(".s-next-date").eq(0).text(`${nextDateStr.split("-")[0].substr(2)}/${parseInt(nextDateStr.split("-")[1])}/${parseInt(nextDateStr.split("-")[2])}`);
				}
			});

			var rcppay = pResult.rcppay;
            $.each(pResult.taxbill, function(cntrct_sn, pRow){
            	var mTotal = 0, sTotal = 0, tTotal=0;

            	$.each(pRow.M, function(pIndex, pValue){
	            	$(document).find(`.row${cntrct_sn}`).eq(pIndex).find(".m-t-date").eq(0).text(pValue[0]);
	            	$(document).find(`.row${cntrct_sn}`).eq(pIndex).find(".m-t-date").eq(1).text(Math.round(pValue[1]/1000));
	            	mTotal += pValue[1];
				});
            	$.each(pRow.S, function(pIndex, pValue){
	            	$(document).find(`.row${cntrct_sn}`).eq(pIndex).find(".s-t-date").eq(0).text(pValue[0]);
	            	$(document).find(`.row${cntrct_sn}`).eq(pIndex).find(".s-t-date").eq(1).text(Math.round(pValue[1]/1000));
	            	sTotal += pValue[1];
				});
            	$.each(pRow.T, function(pIndex, pValue){
	            	$(document).find(`.row${cntrct_sn}`).eq(pIndex).find(".t-t-date").eq(0).text(pValue[0]);
	            	$(document).find(`.row${cntrct_sn}`).eq(pIndex).find(".t-t-date").eq(1).text(Math.round(pValue[1]/1000));
	            	tTotal += pValue[1];
				});
            	if(rcppay.hasOwnProperty(cntrct_sn)){
					var remain = Math.round((rcppay[cntrct_sn].M - mTotal)/1000);
            		if(mTotal > 0) {
						$(document).find(`.row${cntrct_sn}`).eq(0).find(".m-remain").eq(0).text(remain);
					}
            		if(remain == 0){
            			// $(document).find(`.row${cntrct_sn}`).find(".m-date").addClass("colorY");
            			// $(document).find(`.row${cntrct_sn}`).find(".m-t-date").addClass("colorY");
            			// $(document).find(`.row${cntrct_sn}`).find(".m-remain").addClass("colorY");
            			// $(document).find(`.row${cntrct_sn}`).find(".m-next-date").addClass("colorY");
					}
					var remain = Math.round((rcppay[cntrct_sn].S - sTotal)/1000);
            		if(sTotal > 0) {
						$(document).find(`.row${cntrct_sn}`).eq(0).find(".s-remain").eq(0).text(remain);
					}
            		if(remain == 0){
            			// $(document).find(`.row${cntrct_sn}`).find(".s-date").addClass("colorY");
            			// $(document).find(`.row${cntrct_sn}`).find(".s-t-date").addClass("colorY");
            			// $(document).find(`.row${cntrct_sn}`).find(".s-remain").addClass("colorY");
            			// $(document).find(`.row${cntrct_sn}`).find(".s-next-date").addClass("colorY");
					}
					var remain = Math.round((rcppay[cntrct_sn].T - tTotal)/1000);
            		if(tTotal > 0) {
						$(document).find(`.row${cntrct_sn}`).eq(0).find(".t-remain").eq(0).text(remain);
					}
            		if(remain == 0){
            			// $(document).find(`.row${cntrct_sn}`).find(".t-date").addClass("colorY");
            			// $(document).find(`.row${cntrct_sn}`).find(".t-t-date").addClass("colorY");
            			// $(document).find(`.row${cntrct_sn}`).find(".t-remain").addClass("colorY");
					}
				}

			});


            $("#dtList1").find("tbody[role=exec]").yRowspan(0);
            $("#dtList1").find("tbody .select2").select2();
            $.each(pResult.bnd, function(pIndex, pValue){
            	if(pValue.bnd_month == 'rate'){
					// $(`tr.${pValue.bnd_row}`).find(`td[data-column="${pValue.bnd_month}"] select`).val(pValue.bnd_data).trigger('change');
					return true;
				}
            	else{
	            	$(`tr.${pValue.bnd_row}`).find(`td[data-column="${pValue.bnd_month}"]`).text(pValue.bnd_data);
				}
			});
            getReserveType(s_resrv_bcnc, s_resrv_type, s_resrv_chrg);
   			$("#dtList1").find(".colorY").removeClass("colorY");
            $.each(pResult.color, function(pIndex, pValue){

	            var target = $("#dtList1").find(`tr.row${pValue.bnd_cntrct_sn} td[data-column="${pValue.bnd_column}"]`).eq(parseInt(pValue.bnd_row));
	            if(target){
	            	if(pValue.bnd_class == 1){
	            		$(target).addClass("colorY");
					}
	            	else{
	            		$(target).removeClass("colorY");

					}
				}
			})
        }
	});
  }
$(document).on("change", ".input-available-select", function(){
	var authors = ["*"];
	var loginId = $("#loginID").val();
	if(!authors.includes("*") && !authors.includes(loginId)){
		alert("권한이 없습니다.");
		return false;
	}
	var data = $(this).find("option:selected").val();
	var rowId = $(this).closest("tr").attr("class").replaceAll("row", "");
	var params = '';
	params += '&cntrct_sn='+rowId;
	params += '&rate='+data;
	$.ajax({
		url: '/api/bnd/ajax_update_contract_rate',
		type: 'GET',
		data: params,
		dataType: 'json',
		contentType: false,
		processData: false,
		success: function (pResult) {
			if(pResult.status){
			}
		}
	});

});
set_color = function(td){
	var authors = ["*"];
	var loginId = $("#loginID").val();
	if(!authors.includes("*") && !authors.includes(loginId)){
		alert("권한이 없습니다.");
		return false;
	}

	var bnd_year = $("#s_year").val();
	var cntrct_sn = $(td).parent().attr("class").replaceAll("row", "");
	var column = $(td).data("column");
	var row = $(document).find(`tr.row${cntrct_sn} td[data-column="${column}"]`).index($(td));
	var bnd_class = (!$(td).hasClass("colorY")) ? 1 : 0;
	$.ajax({
		url : '/api/common/bnd_set_color',
		method: 'GET',
		data : {"bnd_year":bnd_year, "bnd_cntrct_sn": cntrct_sn, "bnd_row" : row, "bnd_column" : column, "bnd_class" : bnd_class},
		success: function(pResult){
			if(bnd_class == 1){
				$(td).addClass("colorY");
			}
			else{
				$(td).removeClass("colorY");
			}
		},
		error:function(pResult){
			alert("심각한 에러가 발생했습니다.");
		}
	})
}
var timer;
$(document).on("click", "td[data-column]", function(){
	var td = $(this);
	if(timer){
		clearTimeout(timer);
		timer = null;
	}
	else{
		timer = setTimeout(function(){

			set_color(td);
            clearTimeout(timer);
            timer = null;
		}, 250);
	}
});
$(document).on("dblclick", ".input-available", function(){
	var column = $(this).data("column");
	var authors = ["*"];
	var loginId = $("#loginID").val();
	if(!authors.includes("*") && !authors.includes(loginId)){
		alert("권한이 없습니다.");
		return false;
	}
	if(column == "expect_de"){
		var data = prompt("값을 입력하세요. (yy/m/dd)");
	}
	else{
		var data = prompt("값을 입력하세요.");
	}
	try{
		if(data.trim().length == 0){
			throw new Error(`Parameter is not a number : ${data}`);
		}
	}catch(e){
		alert("올바른 형식으로 입력해주세요.");
		return false;
	}
	var td = $(this);
	var rowId = $(this).parent().attr("class");
	var s_year = $("#s_year").val();
	var params = '';
	params += '&bnd_year='+s_year;
	params += '&bnd_row='+rowId;
	params += '&bnd_month='+column;
	params += '&bnd_data='+data;
	params += '&bnd_class=0';
	$.ajax({
		url: '/api/bnd/ajax_set_bnd_data',
		type: 'GET',
		data: params,
		dataType: 'json',
		contentType: false,
		processData: false,
		success: function (pResult) {
			if(pResult.status){
				$(td).text(data);
			}
		}
	});

});
window.spt_nm = "";
$(document).on("keyup", "#s_spt_nm", function(e){
	var spt_nm = $(this).val();
	if(e.keyCode == 13){
		if(spt_nm != window.spt_nm){
			    var year = $("#s_year").val();
				var now_year = (new Date()).toISOString().split("T")[0].split("-")[0];
				if((parseInt(now_year)-5) >= parseInt(year)){
					alert("검색 기간은 최대 5년입니다.");
					return false;
				}
				//resetTable();
				getBndList(year);
				window.spt_nm = spt_nm;

		}
	}
});
</script>
<script type="text/javascript">
function htmlTableToExcel(type){
	$("#dtList1").find("tbody tr").each(function(pIndex, pTag){
		$(pTag).find("td").eq(0).attr("rowspan", "1");
	});
 var data = document.getElementById('dtList1').getElementsByTagName("tbody")[0];
 var excelFile = XLSX.utils.table_to_book(data, {sheet: "sheet1"});
 XLSX.write(excelFile, { bookType: type, bookSST: true, type: 'base64' });
 XLSX.writeFile(excelFile, 'ExportedFile:HTMLTableToExcel.' + type);
}
$(function () {
  $('table.floating-thead').each(function() {
    if( $(this).css('border-collapse') == 'collapse') {
      $(this).css('border-collapse','separate').css('border-spacing',0);
    }
    $(this).prepend( $(this).find('thead:first').clone().hide().css('top',160).css('position','fixed') );
  });

  $(window).scroll(function() {
    var scrollTop = $(window).scrollTop(),
      scrollLeft = $(window).scrollLeft();
    $('table.floating-thead').each(function(i,v) {
      var thead = $(this).find('thead:last'),
        clone = $(this).find('thead:first'),
        top = $(this).offset().top,
        bottom = top + $(this).height() - thead.height();

      if( scrollTop < top-180 || scrollTop > bottom ) {
        clone.hide();
        return true;
      }
      if( clone.is('visible') ) return true;
      var fixP = 0;
      clone.find('th').each(function(i) {
        if(thead.find('th').eq(i).html() == '계'){
            fixP = -1;
        }
        $(this).width( thead.find('th').eq(i).width() +fixP);
      });
      clone.css("z-index", "20").css("margin-left", -scrollLeft ).width( thead.width() ).show();
    });
  });
});
$(document).on('click', "#s_submit", function(pEvent){

    var year = $("#s_year").val();
	var now_year = (new Date()).toISOString().split("T")[0].split("-")[0];
	if((parseInt(now_year)-5) >= parseInt(year)){
		alert("검색 기간은 최대 5년입니다.");
		return false;
	}
    //resetTable();
	getBndList(year);

});
$(document).on('change', 'thead select', function(pEvent){
    $("#"+$(this).attr("name")).val($(this).val());
    let year = $("#s_year").val();
    getBndList(year);
});

$(function() {
    var year = new Date().getFullYear();
	getReserveType("-1", "-1", "-1", "-1");
    $("#s_year").val(year);
    getBndList(year);
	$(document).find(".datepicker_form").datepicker({
		onSelect: function(dateText) {
			$(this).val($(this).val().split("-")[0].substr(2,2)+"-"+$(this).val().split("-")[1]);
			$(this).change();
		},
	});
});
</script>
<link rel="stylesheet" type="text/css" href="/static/nexell/css/smartadmin-nexell-report.css">
<div class="modal fade" data-backdrop="static" id="popReport1">
    <div class="modal-dialog modal-w1200" style="width:82%!important;">
        <div class="modal-content">
			<div class="modal-header">
				<div class="pull-right" style="margin-right:10px;">
					<button type="button" class="btn btn-primary" id="btnPrint1"><i class="fa fa-print">&nbsp;출력</i></button>
					<button type="button" class="btn btn-default" aria-hidden="true" data-dismiss="modal"><i class="fa fa-times">&nbsp;취소</i></button>
				</div>
				<div class="pull-right" style="margin-right:10px;width:150px;">
					<div class="input-group">
						<input class="form-control datepicker" type="text" style="z-index:1050!important;" data-dateformat="yy-mm-dd" data-mask="9999-99-99" data-mask-placeholder="_" id="r1_s_ddt_man" name="r1_s_ddt_man">
						<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
					</div>
				</div>
			</div>
			<div class="modal-body report">
<style>
@media only screen and (min-width:320px) and (max-width:800px)  {
    #popReport1{
        font-size: 9px !important;
        line-height: 1.0 !important;
    }
    #temp.table>tbody>tr>td, #temp.table>tbody>tr>th, #temp.table>tfoot>tr>td, #temp.table>tfoot>tr>th, #temp.table>thead>tr>td, #temp.table>thead>tr>th {
        font-size: 9px !important;
        line-height: 1.0 !important;
    }

}

@media (min-width:1281px) { /* hi-res laptops and desktops */

    #popReport1{
        font-size: 11px !important;
        line-height: 0.5 !important;
    }
    #temp.table>tbody>tr>td, #temp.table>tbody>tr>th, #temp.table>tfoot>tr>td, #temp.table>tfoot>tr>th, #temp.table>thead>tr>td, #temp.table>thead>tr>th {
        font-size: 13px !important;
        line-height: 0.5 !important;
    }

}


</style>


<div class="title"><h2 class="colorLS">빌트인 종합관리</h2></div>

<br>
<h3 style="float:right;margin-bottom:1px!important;margin-top:2px!important;">(단위 : 건)</h3>
<table id="rptTable1">
	<colgroup>
		<col width="100">
		<col width="50">
		<col width="100">
		<col width="250">
		<col width="100">
		<col width="100">
		<col width="150">
		<col width="100">
		<col width="100">
		<col width="150">
	</colgroup>
	<thead>
		<tr>
			<th class="colorG" rowspan="2">년</th>
			<th class="colorG" rowspan="2" style="border-right:2px solid #555!important;">월</th>
			<th class="colorG" colspan="2" style="border-right:2px solid #555!important;">전시내역</th>
			<th class="colorG" colspan="3" style="border-right:2px solid #555!important;">전시차감</th>
			<th class="colorG" colspan="3">판매/수수료</th>
		</tr>
		<tr>
			<th class="colorG">전시건수</th>
			<th class="colorG" style="border-right:2px solid #555!important;">총 전시현장수(M/H + S/H)</th>
			<th class="colorG">차감건수</th>
			<th class="colorG">미차감건수</th>
			<th class="colorG" style="border-right:2px solid #555!important;">잔액(단위:천원)</th>
			<th class="colorG">발행건수</th>
			<th class="colorG">미발행건수</th>
			<th class="colorG">잔액(단위:천원)</th>
		</tr>
	</thead>
	<tbody role="body">
	</tbody>
</table>
<!------------------------------------------------------------------------------------------->


			</div><!--modal-body-->
        </div><!--modal-content-->
    </div><!--modal-dialog-->
</div><!--modal-->

<script>
getBuiltInMonth = function(s_ddt_man)
{
	var params = '';
	params += '&s_ddt_man=' + s_ddt_man;

	$.ajax({
		url: '/api/stock/ajax_get_built_month',
		type: 'GET',
		data: params,
		dataType: 'json',
		contentType: false,
		processData: false,
		success: function(pResult) {
			console.log('getBuiltInMonth', pResult);
			if (pResult.status) {
				var html = `<tr>
								<td class="text-center colorG">${s_ddt_man.split("-")[0]}</td>
								<td class="text-center colorG" style="border-right:2px solid #555!important;">전월</td>
								<td class="text-center"></td>
								<td class="text-center" style="border-right:2px solid #555!important;"></td>
								<td class="text-center"></td>
								<td class="text-center"></td>
								<td class="text-center" style="border-right:2px solid #555!important;"></td>
								<td class="text-center"></td>
								<td class="text-center"></td>
								<td class="text-center"></td>
							</tr>`;
				$.each(pResult.data, function(pIndex, pValue){
					html += `<tr>
								<td class="text-center colorG">${pValue.stdyy}</td>
								<td class="text-center colorG" style="border-right:2px solid #555!important;">${pValue.stdmm}</td>
								<td class="text-center">${pValue.cnt_new.toFormat('NUMBER')}</td>
								<td class="text-center" style="border-right:2px solid #555!important;">${pValue.cnt_out_all.toFormat('NUMBER')}</td>
								<td class="text-center">${pValue.cnt_in_1.toFormat('NUMBER')}</td>
								<td class="text-center">${pValue.cnt_not_in_1.toFormat('NUMBER')}</td>
								<td class="text-right" style="border-right:2px solid #555!important;">${pValue.cnt_remain_1.toFormat('NUMBER')}</td>
								<td class="text-center">${pValue.cnt_in_2.toFormat('NUMBER')}</td>
								<td class="text-center">${pValue.cnt_not_in_2.toFormat('NUMBER')}</td>
								<td class="text-right">${pValue.cnt_remain_2.toFormat('NUMBER')}</td>
							</tr>`;
				});
				$("#rptTable1").find("tbody").html(html);
				$("#rptTable1").find("tbody[role='body']").yRowspan(0);

			}
		}
	});
}
$(function() {
    /**************************************************************************
     *
     */
	$('#popReport1').on('show.bs.modal', function(pEvent) {
		var modal = $(this);
		if (modal.find('#r1_s_ddt_man').val() == '') {
			modal.find('#r1_s_ddt_man').datepicker('setDate', 'today');
		}
		getBuiltInMonth(modal.find('#r1_s_ddt_man').val());
	});

    /**************************************************************************
     *
     */
	$('#popReport1').on('change', '#r1_s_ddt_man', function(pEvent) {
		getBuiltInMonth($(this).val());
	});

    /**************************************************************************
     *
     */
	$('#btnPrint1').on('click', function(pEvent) {
		var html = $('#popReport1').find('.modal-body').html();
		$('#_print').contents().find('body>div.report').html('');
		$('#_print').contents().find('body>div.report').html(html);
		parent.frames['_print'].focus();
    	parent.frames['_print'].print();
	});
});

</script>
{% endblock %}
