{% extends 'common/main_base.html' %}
{% block content %}
<div id="ribbon" style="background:#B3E5FC!important;">
	<span class="ribbon-button-alignment">
		<span id="refresh" class="btn btn-ribbon" data-action="resetWidgets" data-title="refresh"  rel="tooltip" data-placement="bottom" data-original-title="<i class='text-warning fa fa-warning'></i> Warning! This will reset all your widget settings." data-html="true">
			<i class="fa fa-refresh"></i>
		</span>
	</span>
    <ol class="breadcrumb">
        <li style="">대쉬보드</li><li><span> 홈</span></li>
	</ol>
</div>
{% endblock %}