{% extends 'common/main_base.html' %}
{% block content %}
<style>
	.red{
		color: red!important;
	}
	.middle{
		vertical-align: middle!important;
		text-overflow: ellipsis!important;
		overflow: hidden;
		white-space: nowrap;
	}
	.color-red{
		color:red!important;
	}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    line-height: 0.5 !important;
}
table th, table td {
    border: 1px solid #555!important;
    padding: 7px!important;
    text-align: center!important;
}
</style>
<link rel="stylesheet" type="text/css" href="/static/nexell/css/smartadmin-nexell-report.css">

<!--########################################################################-->
<!--# page layer start                                                     #-->
<!--########################################################################-->
<!-- 레포트1 레이어 팝업 시작 -->
<div id="popReport">
    <div>
        <div class="modal-content">
			<div class="modal-header">
				<div class="pull-right" style="margin-right:10px;">
					<button class="btn btn-primary" id="btnPrint2"><i class="fa fa-print">&nbsp;출력</i></button>
				</div>
				<div class="pull-right" style="margin-right:10px;width:150px;">
					<div class="input-group">
						<input class="form-control datepicker" type="text" style="" data-dateformat="yy-mm-dd" data-mask="9999-99-99" data-mask-placeholder="_" id="s_pxcond_mt" name="s_pxcond_mt">
						<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
					</div>
				</div>
			</div>
			<div class="modal-body report">

                <style>
                @media (min-width: 100px) and (max-width: 1024px) {

                    #popReport1 div.report table th,
                    #popReport1 div.report table td {
                        font-size: 8px!important;
                        padding: 7px 5px!important;
                        line-height: 1.0!important;
                    }
                }
                </style>
                <div class="title"><h2 class="colorLS">5년간 종합현황</h2></div>
                <!------------------------------------------------------------------------------------------->
				<table id="amountTable" class="table table-bordered w100p">
					<colgroup>
						<col width="50">
						<col width="50">
						<col width="75">
						<col width="150">
						<col width="150">
						<col width="150">
						<col width="150">
						<col width="150">
						<col width="150">
					</colgroup>
					<tbody role="header">
						<tr>
							<th class="colorB" colspan="3">구분</th>
							<th class="colorB" colspan="1" data-column="0"></th>
							<th class="colorB" colspan="1" data-column="1"></th>
							<th class="colorB" colspan="1" data-column="2"></th>
							<th class="colorB" colspan="1" data-column="3"></th>
							<th class="colorB" colspan="1" data-column="4"></th>
							<th class="colorB" colspan="1" style="border-left:2px solid #333!important;">비고</th>
						</tr>
					</tbody>
					<tbody role="body">
					</tbody>
					<tbody role="va">
					</tbody>
				</table>

			</div><!--modal-body-->
        </div><!--modal-content-->
    </div><!--modal-dialog-->
</div>
<!-- 레포트1 레이어 팝업 끝 -->
<script type="text/javascript">
/**************************************************************************
 *
 */
getReport = function(s_pxcond_mt)
{
	var params = '';
    params += '&s_pxcond_mt='+s_pxcond_mt;

	$.ajax({
		url: '/api/five/ajax_get_five',
		type: 'GET',
		data: params,
		dataType: 'json',
		contentType: false,
		processData: false,
		success: function(pResult) {
            var html = '';
            $.each(pResult.amt_ty_code_order, function(pIndex, amt_ty_code_int){
   			  var amt_ty_code = amt_ty_code_int+"";
              var total_goals = [0, 0, 0, 0, 0];
			  var total_done = [0, 0, 0, 0, 0];

			 $.each(pResult.dept_code_order, function(pI, dept_code){
				if(amt_ty_code != '2' && dept_code == 'ST'){
					return true;
				}
			    html += '<tr>';
				html += `	<td class="colorSky text-center middle">${pResult.amt_ty_nm[amt_ty_code]}</td>`;
				html += `	<td class="colorSky text-center middle">${pResult.dept_nm[dept_code]}</td>`;
				html += `	<th class="colorW text-center middle">목표</th>`;
				var goals = [];
				for(let i=0;i<5;i++){
					var row = pResult.contractStatusList[i][amt_ty_code][dept_code];
					var total=0;
					for(let _=1;_<=12;_++) {
						try{
							total += isNaN(parseInt(row['m'+_]))?0:parseInt(row['m'+_]);
						}
						catch(e){
							total += 0;
						}
					}
					if(amt_ty_code_int != 2){
						try{
							total += isNaN(parseInt(row.ty8_goal_amount_total))?0:parseInt(row.ty8_goal_amount_total);
						}
						catch(e){

						}

					}
					html += `<th class="colorW text-right middle">${total.toFormat('NUMBER')}</th>`;
					goals.push(total);
					total_goals[i] += total;
				}
				html += `	<th class="colorW"></th>`;
				html += '</tr>';
				html += '<tr>';
				html += `	<td class="colorSky text-center middle">${pResult.amt_ty_nm[amt_ty_code]}</td>`;
				html += `	<td class="colorSky text-center middle">${pResult.dept_nm[dept_code]}</td>`;
				html += `	<th class="colorW text-center middle">실적</th>`;
				var done = [];
				for(let i=0;i<5;i++){
					var row = pResult.contractStatusList[i][amt_ty_code][dept_code];
					try{
						var amount = isNaN(parseInt(row.y_contract_amount))?0:parseInt(row.y_contract_amount);
					}
					catch(e){
						var amount=0;
					}
					if(amt_ty_code_int != 2){
						try{
							amount += isNaN(parseInt(row.ty9_goal_amount_sum))?0:parseInt(row.ty9_goal_amount_sum);
						}catch(e){
							amount += 0;
						}
					}
					html += `<th class="colorW text-right middle">${amount.toFormat('NUMBER')}</th>`;
					done.push(amount);
					total_done[i] += amount;
				}
				html += `	<th class="colorW"></th>`;
				html += '</tr>';
				html += '<tr>';
				html += `	<td class="colorSky text-center middle">${pResult.amt_ty_nm[amt_ty_code]}</td>`;
				html += `	<td class="colorSky text-center middle">${pResult.dept_nm[dept_code]}</td>`;
				html += `	<th class="text-center middle">달성률</th>`;
				for(let i=0;i<5;i++){
					html += `<th class="text-right middle">${(goals[i] != 0 && done[i]*goals[i] >= 0) ? (done[i] * 100.0 / goals[i]).toFixed(2)+"%" : '-'}</th>`;
				}
				html += `	<th class="colorW"></th>`;
				html += '</tr>';
              });
				html += `<tr>
							<td class="colorG text-center middle" colspan="2">계</td>
							<td class="colorG text-center">목표</td>
							<td class="colorG text-right">${total_goals[0].toFormat('NUMBER')}</td>
							<td class="colorG text-right">${total_goals[1].toFormat('NUMBER')}</td>
							<td class="colorG text-right">${total_goals[2].toFormat('NUMBER')}</td>
							<td class="colorG text-right">${total_goals[3].toFormat('NUMBER')}</td>
							<td class="colorG text-right">${total_goals[4].toFormat('NUMBER')}</td>
							<td class="colorG text-right"></td>
						</tr>`;
				html += `<tr>
							<td class="colorG text-center middle" colspan="2">계</td>
							<td class="colorG text-center">실적</td>
							<td class="colorG text-right">${total_done[0].toFormat('NUMBER')}</td>
							<td class="colorG text-right">${total_done[1].toFormat('NUMBER')}</td>
							<td class="colorG text-right">${total_done[2].toFormat('NUMBER')}</td>
							<td class="colorG text-right">${total_done[3].toFormat('NUMBER')}</td>
							<td class="colorG text-right">${total_done[4].toFormat('NUMBER')}</td>
							<td class="colorG text-right"></td>
						</tr>`;
				html += `<tr>
							<td class="colorG text-center middle" colspan="2">계</td>
							<td class="colorG text-center">달성률</td>
							<td class="colorG text-right">${(total_goals[0] != 0 && total_done[0]*total_goals[0] >= 0)?(total_done[0] * 100.0 / total_goals[0]).toFixed(2) + "%" : "-"}</td>
							<td class="colorG text-right">${(total_goals[1] != 0 && total_done[1]*total_goals[1] >= 0)?(total_done[1] * 100.0 / total_goals[1]).toFixed(2) + "%" : "-"}</td>
							<td class="colorG text-right">${(total_goals[2] != 0 && total_done[2]*total_goals[2] >= 0)?(total_done[2] * 100.0 / total_goals[2]).toFixed(2) + "%" : "-"}</td>
							<td class="colorG text-right">${(total_goals[3] != 0 && total_done[3]*total_goals[3] >= 0)?(total_done[3] * 100.0 / total_goals[3]).toFixed(2) + "%" : "-"}</td>
							<td class="colorG text-right">${(total_goals[4] != 0 && total_done[4]*total_goals[4] >= 0)?(total_done[4] * 100.0 / total_goals[4]).toFixed(2) + "%" : "-"}</td>
							<td class="colorG text-right"></td>
						</tr>`;
            });
			$.each(pResult.years, function(pIndex, pValue){
				$(document).find(`[data-column="${pIndex}"]`).html(pValue);
			});
			$(document).find("#amountTable tbody[role='body']").html(html);
			$(document).find("#amountTable tbody[role='body']").yRowspan(0);
			$(document).find("#amountTable tbody[role='body']").yRowspan(1);
			var cells = $(document).find("#amountTable tbody[role='body'] td, #amountTable tbody[role='body'] th");
			$.each(cells, function(pIndex, pValue){
				let value = $(pValue).html();
				if(!isNaN(parseInt(value.replaceAll(",", "")))){
					if(parseInt(value.replaceAll(",", "")) < 0){
						$(pValue).addClass("color-red")
					}

				}
			});
		}


	});
}

</script>

<script>

	$('#popReport').find('#s_pxcond_mt').on('change', function(pEvent) {
		getReport($(this).val());
	});
    $(document).ready(function(){
		if ($(document).find('#s_pxcond_mt').val() == '') {
			$(document).find('#s_pxcond_mt').datepicker('setDate', 'today');
		}
        getReport($(document).find('#s_pxcond_mt').val());

    });


	$(function() {
		/**************************************************************************
		 * 인쇄 버튼 클릭 처리
		 */
		$('#btnPrint2').on('click', function(pEvent) {
			var html = $('#popReport').find('.modal-body').html();
			$('#_print').contents().find('body>div.report').html('');
			$('#_print').contents().find('body>div.report').html(html);
			parent.frames['_print'].focus();
			parent.frames['_print'].print();
		});
	});

</script>
{% endblock %}
