{% extends 'common/main_base.html' %}
{% block content %}

<style type="text/css">
    tbody .btnUpdate, tbody .btn{
        line-height: 0.3!important;
    }
    tbody{
        font-size:12px!important;
    }
    .table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
        line-height: 0.95!important;
    }
</style>

<div id="ribbon" style="background:#B3E5FC!important;">
	<span class="ribbon-button-alignment">
		<span class="btn btn-ribbon"><i class="fa fa-refresh"></i></span>
	</span>
    <ol class="breadcrumb" style="font-size:14px !important;">
        <style>
            .breadcrumb>li+li:before {
                content: ">";
                color : #374850!important;
            }
        </style>
        <li style="font-size:17px !important;color:#1565C0!important;">자금 계획서 </li><li><span> 종합관리</span></li>
	</ol>
</div>

<div id="content">

	<!-- 화면 제목 -->
	<div class="row">
		<div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">

		</div>

		<!-- right side of the page with the sparkline graphs -->
		<div class="col-xs-12 col-sm-5 col-md-5 col-lg-8">
		</div>
	</div>

	<section id="widget-grid">

		<div class="row">
			<article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

				<!-- Widget ID (each widget will need unique ID)-->
				<div class="jarviswidget jarviswidget-color-darken">
                    <script>


                    </script>
					<header>
						<span class="widget-icon"> <i class="fa fa-list"></i> </span>
                        <h2><span id="year">-</span>년 <span id="month">-</span>월 자금 계획서</h2>
						<div class="widget-toolbar">
                            <h2>VAT 포함 (단위 : 천원)</h2>&nbsp;&nbsp;&nbsp;
                            <input type="text" style="color:#333!important" class="datepicker" data-dateformat="yy-mm-dd" data-mask="9999-99-99" data-mask-placeholder="_" id="s_year" name="s_year"><button type="button" class="btn btn-info" id="s_submit">검색</button>
							<button type="button" class="btn btn-success" id="btnExcel"><i class="fa fa-file-excel-o"> 엑셀 다운로드</i></button>
						</div>
						<div class="widget-toolbar">
						</div>


					</header>
					<!-- widget body div-->
					<div>
						<!-- widget edit box -->
						<div class="jarviswidget-editbox">
						</div>
						<!-- end widget edit box -->
						<style>
                            .bottom_border{

                                border-bottom: 2px solid #666!important;
                            }
                            .right_border{
                                border-right: 2px solid #666!important;
                            }
                            .no-padding>table tr th:last-child {
                                border-right: 2px solid #666!important;
                            }
                            .no-padding>.table-bordered thead tr th:last-child{
                                border-right-width: 2px!important;
                            }
                            #dtList1{
								border: 2px solid #666!important;
							}

                            #dtList1 tbody, #dtList1 thead tr{
                                font-size: 11px!important;
                            }
                            .colorEG{
                                background:rgb(255,204,153)!important;
                                font-weight: bold;
                            }
                            .colorJ{
                                background:#3d8b40!important;
                                font-weight: bold;
                                color:white;
                            }
                            .colorB{
                                background:rgb(146, 205, 220);
                                font-weight: bold;
                            }
                            .tot{
                                background:rgb(255,153,204);
                                font-weight: bold;
                            }
                            .sub_tot{
                                background:#e6faff!important;
                                font-size:8px!important;
                                font-weight: 600!important;
                            }
                            .bold{
                                font-size:11px!important;
                                font-weight: 600!important;
                            }
                            .colorG {
                                background: rgb(204,255,204)!important;
                            }
/*
                            .colorY {
                                background: #FDFD96!important;
                            }
*/
                            .table>tbody+tbody {
                                border-top: 2px solid #666;
                            }
                            .table>thead+tbody {
                                border-top: 2px solid #666;
                            }
                            .middle{
                                vertical-align: middle!important;
                            }
                            @media (min-width: 100px) and (max-width: 1024px) {


                                body.smart-style-6 #content{
                                        margin-left: 0px;
                                        padding:30px 0px;
                                }
                            }
                            .jarviswidget>div{
                                font-size:12px!important;
                            }
                            .jarviswidget>div {
                                border-right-color: transparent!important;
                            }

                            .colored, .custom-colored{
                                background: rgb(146, 205, 220)!important   ;
                            }
                        </style>
						<!-- widget content -->
						<div class="widget-body no-padding">
							<table class="table table-bordered w100p floating-thead" id="dtList1">
								<colgroup>
									<col width="120">
									<col width="220">
									<col width="80">
									<col width="70">
									<col width="70">
									<col width="80">
									<col width="70">
									<col width="80">
									<col width="80">
									<col width="140">

									<col width="180">
									<col width="80">
									<col width="50">
									<col width="80">
									<col width="50">
									<col width="80">
									<col width="80">
									<col width="140">
<!--									<col width="130">-->

								</colgroup>
								<thead>
									<!-- 헤더 -->

                                    <tr>
                                        <th class="colorG middle right_border bottom_border" style="text-align:center!important;" colspan="10">입금</th>
                                        <th class="color-contract bottom_border middle" style="text-align:center!important;" colspan="7">지급 (관리-수기입력)</th>
                                    </tr>
									<tr>
										<th class="colorG middle bottom_border" style="text-align:center;min-width:110px;" rowspan="2">거래처</th>
										<th class="colorG middle bottom_border" style="text-align:center;min-width:140px;" rowspan="2">현장명</th>
										<th class="colorG middle bottom_border" style="text-align:center;" rowspan="2">부서</th>
										<th class="colorG right_border middle bottom_border" style="text-align:center!important;" rowspan="2">거래구분</th>
										<th class="colorG right_border middle" style="text-align:center;" colspan="2">계획</th>
										<th class="colorG right_border middle" style="text-align:center;" colspan="3">입금</th>
										<th class="colorG right_border middle bottom_border" style="text-align:center!important;" rowspan="2">비고</th>

                                        <th class="color-contract right_border middle bottom_border" style="text-align:center;min-width:140px;" rowspan="2">현장명</th>
                                        <th class="color-contract right_border middle bottom_border" style="text-align:center;min-width:140px;" rowspan="2">거래처</th>
										<th class="color-contract right_border middle" style="text-align:center;" colspan="2">계획</th>
										<th class="color-contract right_border middle" style="text-align:center;" colspan="3">지급</th>
										<th class="color-contract right_border middle bottom_border" style="text-align:center!important;" rowspan="2">비고</th>
<!--										<th style="text-align:center!important;">합계</th>-->
									</tr>
                                    <tr>
                                        <th class="colorG bottom_border" style="text-align:center;">일자</th>
                                        <th class="colorG right_border bottom_border" style="text-align:center;">계산서 금액</th>
                                        <th class="colorG bottom_border" style="text-align:center;">일자</th>
                                        <th class="colorG bottom_border" style="text-align:center;">현금</th>
                                        <th class="colorG right_border bottom_border" style="text-align:center;">채권</th>

                                        <th class="color-contract bottom_border" style="text-align:center;">일자</th>
                                        <th class="color-contract right_border bottom_border" style="text-align:center;">계산서 금액</th>
                                        <th class="color-contract bottom_border" style="text-align:center;">일자</th>
                                        <th class="color-contract bottom_border" style="text-align:center;">현금</th>
                                        <th class="color-contract right_border bottom_border" style="text-align:center;">채권</th>

                                    </tr>

								</thead>
                                <tbody role='exec'>


                                </tbody>
                                <tfoot>
                                    <tr id="total">
                                        <th class="tot right_border" style="text-align:center;" colspan="4">합계</th>
                                        <td class="text-number tot"></td>
                                        <td class="text-number tot right_border" id="tot5"></td>
                                        <td class="text-number tot"></td>
                                        <td class="text-number tot" id="tot7"></td>
                                        <td class="text-number tot right_border" id="tot8"></td>
                                        <td class="text-number tot right_border"></td>
                                        <th class="tot right_border" style="text-align:center;" colspan="2">합계</th>
                                        <td class="text-number tot"></td>
                                        <td class="text-number tot right_border" id="tot12"></td>
                                        <td class="text-number tot"></td>
                                        <td class="text-number tot" id="tot14"></td>
                                        <td class="text-number tot right_border" id="tot15"></td>
                                        <td class="text-number tot right_border"></td>
                                    </tr>

                                </tfoot>
                            </table>

							<table class="table table-bordered w100p floating-thead" id="dtList2">
								<colgroup>
									<col width="320">
									<col width="630">
									<col width="320">
									<col width="480">
								</colgroup>
								<tbody>
                                    <tr>
                                        <th class="colorG">①현재자금흐름(입금-지급)</th>
                                        <td class="" id="final1"></td>
                                        <th class="color-contract">②예정자금흐름(입금계획-지급계획)</th>
                                        <td class="" id="final2"></td>
                                    </tr>
                                    <tr>
                                        <th class="tot">③총자금흐름(①+②)</th>
                                        <td class="" id="final3"></td>
                                        <td class=""></td>
                                        <td class=""></td>
                                    </tr>
                                </tbody>
                            </table>
						</div>
						<!-- end widget content -->
					</div>
					<!-- end widget body div -->
				</div>
				<!-- end widget -->

			</article>
		</div>

	</section>

</div>

<script>
calcTotal = function(){
	var tot5 = $(document).find("#dtList1 tbody").find("tr").calculation(5,5);
	var tot78 = $(document).find("#dtList1 tbody").find("tr").calculation(7,8);
	var tot12 = $(document).find("#dtList1 tbody").find("tr").calculation(13,13);
	var tot1415 = $(document).find("#dtList1 tbody").find("tr").calculation(15,16);
	$(document).find("#dtList1 tfoot").find("#tot5").html(tot5[0].toFormat('NUMBER'));
	$(document).find("#dtList1 tfoot").find("#tot7").html(tot78[0].toFormat('NUMBER'));
	$(document).find("#dtList1 tfoot").find("#tot8").html(tot78[1].toFormat('NUMBER'));
	$(document).find("#dtList1 tfoot").find("#tot12").html(tot12[0].toFormat('NUMBER'));
	$(document).find("#dtList1 tfoot").find("#tot14").html(tot1415[0].toFormat('NUMBER'));
	$(document).find("#dtList1 tfoot").find("#tot15").html(tot1415[1].toFormat('NUMBER'));
	var final1 = tot78[0] - tot1415[0];
	var final2 = tot5[0] - tot12[0];
	var final3 = final1+final2;
	$(document).find("#dtList2 tbody").find("#final1").html(final1.toFormat('NUMBER'));
	$(document).find("#dtList2 tbody").find("#final2").html(final2.toFormat('NUMBER'));
	$(document).find("#dtList2 tbody").find("#final3").html(final3.toFormat('NUMBER'));

	$(document).find("#dtList1 tbody .custom-colored").removeClass("custom-colored");
	$(document).find("#dtList1 tbody tr").each(function(pIndex, pRow){
		if($(pRow).find(`td[data-column="date1"]`).html() != '' && $(pRow).find(`td[data-column="amt1"]`).html() == ''){
			$(pRow).find(`td[data-column="spt2"]`).addClass("custom-colored");
			$(pRow).find(`td[data-column="date1"]`).addClass("custom-colored");
			$(pRow).find(`td[data-column="amt1"]`).addClass("custom-colored");
			$(pRow).find(`td[data-column="date2"]`).addClass("custom-colored");
			$(pRow).find(`td[data-column="amt2"]`).addClass("custom-colored");
			$(pRow).find(`td[data-column="amt3"]`).addClass("custom-colored");
			$(pRow).find(`td[data-column="rm2"]`).addClass("custom-colored");
		}
	});



}
$(document).on("dblclick", ".input-available", function(){
	var side = $(this).data("side");
	var column = $(this).data("column");
	var data_type = $(this).data("type");
	var authors = ["*"];
	var loginId = $("#loginID").val();
	if(!authors.includes("*") && !authors.includes(loginId)){
		alert("권한이 없습니다.");
		return false;
	}
	var data = prompt("값을 입력하세요.");
	if(data_type == "number"){
		try{
			if(/^-?\d+$/.test(data)){
				data = parseInt(data);
			}
			else{
				throw new Error(`Parameter is not a number : ${data}`);
			}
		}catch(e){
			alert("숫자 형식이 아닙니다. 올바른 형식으로 입력해주세요.");
			return false;
		}
	}
	else{
		try{
			if(data.trim().length == 0){
				throw new Error(`Parameter is not a number : ${data}`);
			}
		}catch(e){
			alert("올바른 형식으로 입력해주세요.");
			return false;
		}

	}

	var td = $(this);
	if(side == 'S'){
		var rowId = $(this).parent().data("raw");

	}
	else{
		var rowId = $(this).parent().data("row");

	}
	var s_year = $("#s_year").val();
	s_year = s_year.split("-")[0]+"-"+s_year.split("-")[1];
	var params = '';
	params += '&money_year='+s_year;
	params += '&money_row='+rowId;
	params += '&money_month='+column;
	params += '&money_data='+data;
	params += '&money_class=0';
	$.ajax({
		url: '/api/money/ajax_set_money_data',
		type: 'GET',
		data: params,
		dataType: 'json',
		contentType: false,
		processData: false,
		success: function (pResult) {
			if(pResult.status){
				if(data_type == "number"){
					if(parseInt(data) != 0){
						$(td).text(data.toFormat('NUMBER'));
					}
					else{
						$(td).text('');
					}

				}
				else{
					$(td).text(data);

				}
				calcTotal();
			}
		}
	});

});

getMoneyData = function(s_mt){
	var params = "";
	params += "&s_mt="+s_mt;
	$(document).find("#year").html(s_mt.split("-")[0]);
	$(document).find("#month").html(parseInt(s_mt.split("-")[1])+"");
	var DELIMITER = 1000;
	$.ajax({
		url : '/api/money/ajax_get_money_data',
		type : 'GET',
		data: params,
		dataType: 'json',
		contentType: false,
		processData: false,
		validate: function() {
			return true;
		},
		success: function(pResult) {
			console.log(pResult);
			var html = '';
			var NAME = {"S" : "매출", "S1" : "수수료", "S2" : "M/H", "S3" : "재고판매", "S4" : "S/H"}
			html += `<tr data-row="row0" data-raw="raw0">
						<td data-side="S" class="input-available" data-column="bcnc1"></td>
						<td data-side="S" class="input-available" data-column="spt1"></td>
						<td data-side="S" class="text-center input-available" data-column="dept1"></td>
						<td data-side="S" class="text-center right_border input-available" data-column="type1"></td>
						<td data-side="S" class="text-center input-available" data-column="de1"></td>
						<td data-side="S" class="right_border text-right input-available" data-column="damt1" data-type="number"></td>
						<td data-side="S" class="text-center input-available" data-column="de2"></td>
						<td data-side="S" class=" text-right input-available" data-column="damt2" data-type="number"></td>
						<td data-side="S" class="right_border text-right input-available" data-column="damt3" data-type="number"></td>
						<td data-side="S" class="right_border input-available" data-column="rm1"></td>
						<td data-side="T" class="right_border input-available" data-column="spt2"></td>
						<td data-side="T" class="right_border input-available" data-column="bcnc2"></td>
						<td data-side="T" class="text-center input-available" data-column="date1"></td>
						<td data-side="T" class="text-right right_border input-available" data-column="amt1" data-type="number"></td>
						<td data-side="T" class="text-center input-available" data-column="date2"></td>
						<td data-side="T" class="text-right input-available" data-column="amt2" data-type="number"></td>
						<td data-side="T" class="right_border text-right input-available" data-column="amt3" data-type="number"></td>
						<td data-side="T" class="input-available" data-column="rm2"></td>
					 </tr>`;

            $.each(pResult.contract, function(pIndex, pValue){

				var tax_amount = pValue.amount - (pValue.price_1 + pValue.price_2);
				var colored = tax_amount == 0 ? " colored" : "";
				var year = $("#s_year").val().split("-")[0];
				var rcppay_de = pValue.rcppay_de == '9999-99-99' ? '' : pValue.rcppay_de.split("-")[1]+"-"+pValue.rcppay_de.split("-")[2];
				colored = (colored != "" && $.dateDiff(`${year}-${rcppay_de}`) < 4) ? " colorY" : colored;
				html += `<tr data-cntrct="${pValue.cntrct_sn}" data-bcnc="${pValue.bcnc_sn}" data-row="row${pIndex+1}" data-raw="raw${pValue.cntrct_sn}">
							<td data-side="S" class="${colored}">${pValue.bcnc_nm}</td>
							<td data-side="S" class="${colored}">${pValue.cntrct_nm}</td>
							<td data-side="S" class="${colored} text-center">${pValue.dept_nm}</td>
							<td data-side="S" class="${colored} text-center right_border">${(NAME.hasOwnProperty(pValue.delng_se_code) ? NAME[pValue.delng_se_code] : "")}</td>
							<td data-side="S" class="${colored} text-center">${pValue.collct_de.split("-")[1]+"-"+pValue.collct_de.split("-")[2]}</td>
							<td data-side="S" class="${colored} right_border text-right">${tax_amount == 0 ? '' : Math.round(tax_amount/DELIMITER).toFormat('NUMBER')}</td>
							<td data-side="S" class="${colored} text-center">${rcppay_de}</td>
							<td data-side="S" class="${colored} text-right">${pValue.price_1 == 0 ? '' : Math.round(pValue.price_1/DELIMITER).toFormat('NUMBER')}</td>
							<td data-side="S" class="${colored} right_border text-right">${pValue.price_2 == 0 ? '' : Math.round(pValue.price_2/DELIMITER).toFormat('NUMBER')}</td>
							<td data-side="S" class="${colored} right_border input-available" data-column="rm1"></td>
							<td data-side="T" class="right_border input-available" data-column="spt2"></td>
							<td data-side="T" class="right_border input-available" data-column="bcnc2"></td>
							<td data-side="T" class="text-center input-available" data-column="date1"></td>
							<td data-side="T" class="text-right right_border input-available" data-column="amt1" data-type="number"></td>
							<td data-side="T" class="text-center input-available" data-column="date2"></td>
							<td data-side="T" class="text-right input-available" data-column="amt2" data-type="number"></td>
							<td data-side="T" class="right_border text-right input-available" data-column="amt3" data-type="number"></td>
							<td data-side="T" class="input-available" data-column="rm2"></td>
						 </tr>`;
			});
			$(document).find("#dtList1 tbody").html(html);
            $.each(pResult.pay, function(pIndex, pValue){

				var tax_amount = pValue.amount - (pValue.price_1 + pValue.price_2);
				var colored = tax_amount == 0 ? " colored" : "";
				var year = $("#s_year").val().split("-")[0];
				var rcppay_de = pValue.rcppay_de == '9999-99-99' ? '' : pValue.rcppay_de.split("-")[1]+"-"+pValue.rcppay_de.split("-")[2];
				colored = (colored != "" && $.dateDiff(`${year}-${rcppay_de}`) < 4) ? " colorY" : colored;
				var tr = $(document).find("#dtList1 tbody").find('tr').eq(pIndex+1);
				if(tr == undefined){
					return false;
				}
				$(tr).find(`[data-column="spt2"]`).html(pValue.cntrct_nm);
				$(tr).find(`[data-column="bcnc2"]`).html(pValue.bcnc_nm);
				// $(tr).find(`[data-column="date1"]`).html();
				$(tr).find(`[data-column="amt1"]`).html(tax_amount == 0 ? '' : Math.round(tax_amount/DELIMITER).toFormat('NUMBER'));
				$(tr).find(`[data-column="date2"]`).html(rcppay_de);
				$(tr).find(`[data-column="amt2"]`).html(pValue.price_1 == 0 ? '' : Math.round(pValue.price_1/DELIMITER).toFormat('NUMBER'));
				$(tr).find(`[data-column="amt3"]`).html(pValue.price_2 == 0 ? '' : Math.round(pValue.price_2/DELIMITER).toFormat('NUMBER'));

			});

			html = `<tr data-row="row99999" data-raw="raw99999">
						<td data-side="S" class="input-available" data-column="bcnc1"></td>
						<td data-side="S" class="input-available" data-column="spt1"></td>
						<td data-side="S" class="text-center input-available" data-column="dept1"></td>
						<td data-side="S" class="text-center right_border input-available" data-column="type1"></td>
						<td data-side="S" class="text-center input-available" data-column="de1"></td>
						<td data-side="S" class="right_border text-right input-available" data-column="damt1" data-type="number"></td>
						<td data-side="S" class="text-center input-available" data-column="de2"></td>
						<td data-side="S" class=" text-right input-available" data-column="damt2" data-type="number"></td>
						<td data-side="S" class="right_border text-right input-available" data-column="damt3" data-type="number"></td>
						<td data-side="S" class="right_border input-available" data-column="rm1"></td>
						<td data-side="T" class="right_border input-available" data-column="spt2"></td>
						<td data-side="T" class="right_border input-available" data-column="bcnc2"></td>
						<td data-side="T" class="text-center input-available" data-column="date1"></td>
						<td data-side="T" class="text-right right_border input-available" data-column="amt1" data-type="number"></td>
						<td data-side="T" class="text-center input-available" data-column="date2"></td>
						<td data-side="T" class="text-right input-available" data-column="amt2" data-type="number"></td>
						<td data-side="T" class="right_border text-right input-available" data-column="amt3" data-type="number"></td>
						<td data-side="T" class="input-available" data-column="rm2"></td>
					 </tr>`;

			$(document).find("#dtList1 tbody").append(html);
			// $.each(pResult.money, function(pIndex, pValue){
			// 	var R = "row";
			// 	if(pValue.money_row.startsWith("raw")){
			// 		R = "raw";
			// 	}
			// 	var pTag = $(`tr[data-${R}="${pValue.money_row}"]`).find(`td[data-column="${pValue.money_month}"]`);
			// 	if($(pTag).data("type") == "number"){
			// 		if(parseInt(pValue.money_data) != 0)
			// 			$(pTag).text(pValue.money_data.toFormat('NUMBER'));
			// 		else
			// 			$(pTag).text('');
			// 	}
			// 	else{
			// 		$(pTag).text(pValue.money_data);
			// 	}
			// });
			calcTotal();
		}
	});
	$("#s_year").data("before", s_mt);
}

$(document).on('click', "#s_submit", function(pEvent){

    var year = $("#s_year").val();
    year = year.substring(0, 7);
	if($("#s_year").data("before") != year){
		getMoneyData(year);
	}
});

</script>
<script type="text/javascript">
$(function () {
  $('table.floating-thead').each(function() {
    if( $(this).css('border-collapse') == 'collapse') {
      $(this).css('border-collapse','separate').css('border-spacing',0);
    }
    $(this).prepend( $(this).find('thead:first').clone().hide().css('top',160).css('position','fixed') );
  });

  $(window).scroll(function() {
    var scrollTop = $(window).scrollTop(),
      scrollLeft = $(window).scrollLeft();
    $('table.floating-thead').each(function(i,v) {
      var thead = $(this).find('thead:last'),
        clone = $(this).find('thead:first'),
        top = $(this).offset().top,
        bottom = top + $(this).height() - thead.height();

      if( scrollTop < top-180 || scrollTop > bottom ) {
        clone.hide();
        return true;
      }
      if( clone.is('visible') ) return true;
      var fixP = 0;
      clone.find('th').each(function(i) {
        if(thead.find('th').eq(i).html() == '계'){
            fixP = -1;
        }
        $(this).width( thead.find('th').eq(i).width() +fixP);
      });
      clone.css("margin-left", -scrollLeft ).width( thead.width() ).show();
    });
  });
});
$(function(){

	/**************************************************************************
	* 계약일자 캘린더 셋팅
	*/
	var minYears = 1;
	var maxYears = 3;
	$('.datepicker').datepicker({
		beforeShow: function(dateText) {
			$(this).data('before', $(this).val());
		},
		onSelect: function(dateText) {
			$(this).change();
		},
		onClose: function(dateText) {
			var minDate = new Date($(this).val());
			minDate.setDate(minDate.getDate() - ((365*maxYears)-1));
		},
	});

	var end = $('.datepicker').val();
	if (end == '') {
		$('.datepicker').datepicker('setDate', 'today');
	}

    var year = $("#s_year").val();
    year = year.substring(0, 7);

	if($("#s_year").data("before") != year){
		getMoneyData(year);
	}
});
</script>
{% endblock %}
