{% extends 'common/main_base.html' %}
{% block content %}

<!--########################################################################-->
<!--# contents style end                                                   #-->
<!--########################################################################-->

<style type="text/css">
tbody .btnUpdate, tbody .btn{
    line-height: 0.3!important;
}
    tbody{
        font-size:12px!important;
    }
    .table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
        line-height: 0.95!important;
    }
	.colorSkyO{
		background:rgb(146, 205, 220)!important;
	}
	.colorBO{
		background: rgb(0,112,192)!important;
		color: #fff!important;
	}
</style>
<!--########################################################################-->
<!--# RIBBON area start                                                    #-->
<!--########################################################################-->
<div id="ribbon" style="background:#B3E5FC!important;">
	<span class="ribbon-button-alignment">
		<span class="btn btn-ribbon"><i class="fa fa-refresh"></i></span>
	</span>
    <ol class="breadcrumb" style="font-size:14px !important;">
<!--		<li>홈</li><li>계약 및 프로젝트</li><li>계약 및 프로젝트 등록</li>-->
        <style>
            .breadcrumb>li+li:before {
                content: ">";
                color : #374850!important;
            }

        </style>
        <li style="font-size:17px !important;color:#1565C0!important;">월별 수주 현황</li><li><span> 영업부</span></li>
	</ol>



</div>
<!--########################################################################-->
<!--# RIBBON area end                                                      #-->
<!--########################################################################-->


<!--########################################################################-->
<!--# contents area start                                                  #-->
<!--########################################################################-->
<div id="content">

	<!-- 화면 제목 -->
	<div class="row">
		<div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
<!--
			<h1 class="page-title txt-color-blueDark">
				<i class="fa-fw fa fa-list-alt"></i>
					목표 관리 <span>> 기성</span>
			</h1>
-->
		</div>

		<!-- right side of the page with the sparkline graphs -->
		<div class="col-xs-12 col-sm-5 col-md-5 col-lg-8">
		</div>
	</div>

	<!-- 화면 설명 -->
<!--
	<div class="alert alert-block alert-info" style="background:#e6faff!important;">
		<p><i class="fa-fw fa fa-info"></i>
			월별 수주 계획을 관리합니다.
		</p>
	</div>
-->

	<!-- 화면 내용 -->
	<section id="widget-grid">

		<div class="row">
			<article class="">

				<!-- Widget ID (each widget will need unique ID)-->
				<div class="jarviswidget jarviswidget-color-darken">
                    <script>


                    </script>
					<header>
						<span class="widget-icon"> <i class="fa fa-list"></i> </span>
                        <h2><span id="year">-</span>년 월별 수주 현황</h2>
						<div class="widget-toolbar">
                            <h2>VAT 포함 (단위 : 천원)</h2>&nbsp;&nbsp;&nbsp;
                            <input type="text" id="s_year" name="s_year" style="color:#333;"/><button type="button" class="btn btn-info" id="s_submit">검색</button>
							<button class="btn btn-warning" id="s_edit" data-toggle="modal" href="#popBoxBiss">수정</i></button>
						</div>
						<div class="widget-toolbar">
						</div>


					</header>
					<!-- widget body div-->
					<div>
						<!-- widget edit box -->
						<div class="jarviswidget-editbox">
						</div>
						<!-- end widget edit box -->
						<style>
                            .bottom_border{

                                border-bottom: 2px solid #666!important;
                            }
                            .top_border{

                                border-top: 2px solid #666!important;
                            }
                            .right_border{
                                border-right: 2px solid #666!important;
                            }

                            .left_border{
                                border-left: 2px solid #666!important;
                            }
                            #dtList1{
								border: 2px solid #666!important;
							}

                            #dtList1 tbody, #dtList1 thead tr{
                                font-size: 11px!important;
                            }
                            .colorEG{
                                background:rgb(255,204,153)!important;
                                font-weight: bold;
                            }
                            .colorJ{
                                background: rgba(204,255,204, 0.5)!important;
                                font-weight: bold;
                            }
                            .colorSky{
                                background:rgb(146, 205, 220);
                                font-weight: bold;
                            }
                            .tot{
                                background:rgb(255,153,204);
                                font-weight: bold;
                            }
                            .sub_tot{
                                background:#e6faff!important;
                                font-size:8px!important;
                                font-weight: 600!important;
                            }
                            .bold{
                                font-size:11px!important;
                                font-weight: 600!important;
								text-overflow: ellipsis!important;
								overflow: hidden;
								white-space: nowrap;
                            }
                            .colorG {
                                background: rgb(204,255,204)!important;
                            }
/*
                            .colorY {
                                background: #FDFD96!important;
                            }
*/
                            .table>tbody+tbody {
                                border-top: 2px solid #666;
                            }
                            .table>thead+tbody {
                                border-top: 2px solid #666;
                            }
                            .middle{
                                vertical-align: middle!important;
                            }
                            @media (min-width: 100px) and (max-width: 1024px) {


                                body.smart-style-6 #content{
                                        margin-left: 0px;
                                        padding:30px 0px;
                                }
                            }
                            .jarviswidget>div{
                                font-size:12px!important;
                            }
                            .colored{
                                background: #FFFF00!important   ;
                            }
                            .coloredRed{
                                background: rgb(255,153,204)!important;
                            }
                            .jarviswidget>div {
                                border-right-color: transparent!important;
                            }
							.no-padding-3{
								padding-right:3px!important;
								padding-left:3px!important;
							}
                        </style>
						<!-- widget content -->
						<div class="widget-body no-padding">
							<table class="table table-bordered w100p floating-thead" id="dtList1">
								<colgroup>

								</colgroup>
								<thead>
									<!-- 헤더 -->
									<tr>
										<th class="colorG right_border middle bottom_border" style="text-align:center;min-width:28px;" rowspan="2">부서</th>
										<th class="colorG right_border middle bottom_border" style="text-align:center;min-width:75px;" rowspan="2">영업담당</th>
										<th class="colorG right_border middle bottom_border" style="text-align:center;min-width:75px;" rowspan="2">건설사</th>
										<th class="colorG right_border middle bottom_border" style="text-align:center;min-width:122px;" rowspan="2">현장명</th>
										<th class="colorG right_border middle bottom_border" style="text-align:center;min-width:70px;" rowspan="2">구분</th>
										<th class="colorSky right_border bottom_border" style="text-align:center!important;" colspan="13">월</th>
										<th class="tot bold right_border middle bottom_border" style="text-align:center;min-width:70px;" rowspan="2">진척률</th>
									</tr>
									<tr>
										<th class="colorSky text-center bold right_border bottom_border">1월</th>
										<th class="colorSky text-center bold right_border bottom_border">2월</th>
										<th class="colorSky text-center bold right_border bottom_border">3월</th>
										<th class="colorSky text-center bold right_border bottom_border">4월</th>
										<th class="colorSky text-center bold right_border bottom_border">5월</th>
										<th class="colorSky text-center bold right_border bottom_border">6월</th>
										<th class="colorSky text-center bold right_border bottom_border">7월</th>
										<th class="colorSky text-center bold right_border bottom_border">8월</th>
										<th class="colorSky text-center bold right_border bottom_border">9월</th>
										<th class="colorSky text-center bold right_border bottom_border">10월</th>
										<th class="colorSky text-center bold right_border bottom_border">11월</th>
										<th class="colorSky text-center bold right_border bottom_border">12월</th>
										<th class="colorSky text-center bold right_border bottom_border" style="border-right:2px solid #666!important;">계</th>
									</tr>
								</thead>
                                <tbody role='body'>


                                </tbody>
                            </table>
						</div>
						<!-- end widget content -->
					</div>
					<!-- end widget body div -->
				</div>
				<!-- end widget -->

			</article>
		</div>

	</section>

</div>
<!--########################################################################-->
<!--# contents area end                                                    #-->
<!--########################################################################-->


<!--########################################################################-->
<!--# commom script start                                                  #-->
<!--########################################################################-->
<script>
	getMonthPlan = function(s_year)
	{
		var params = '';
		params += '&s_year='+s_year;
		$.ajax({
			url: '/api/month/ajax_get_month_plan',
			type: 'GET',
			data: params,
			dataType: 'json',
			contentType: false,
			processData: false,
			success: function(pResult) {
				$("#year").html(s_year);
				var DELIMITER = 1000;
				var html = '';
				if(pResult.contract.length == 0){
					html += `<tr>
								<td class="text-center middle bold" style="height:100px;" colspan="19">목표 금액이 입력된 현장이 없습니다.<br><button class="btn btnUpdate" style="margin-top:10px;" onclick="javascript:location.href='/goal';">목표 금액 입력</button></td>
							 </tr>`
				}
				var option_html = '<option value="">[계약을 선택해주세요.]</option>';
				var ALREADY = {};
				$.each(pResult.contract, function(pIndex, pValue){
					if(!ALREADY.hasOwnProperty(pValue.cntrct_sn)) {
						// if(pValue.dept_code == 'ST') option_html += '<option value="'+pValue.cntrct_sn+'">'+pValue.spt_nm+'</option>';
						option_html += '<option value="' + pValue.cntrct_sn + '">' + pValue.spt_nm + '</option>';
						ALREADY[pValue.cntrct_sn] = 1;
					}

				});
				$("#popBoxBiss").find("#cntrct_sn").html(option_html);
				var ALREADY = {};
				if(pResult.contract.length > 0){
					var mber_nm = pResult.contract[0].mber_nm;
					var mber = pResult.contract[0].mber_sn;
					var dept_nm = pResult.contract[0].dept_nm;
					var dept = pResult.contract[0].dept_code;
					var dept_total = {"goal" : {}, "real" : {}};
					var member_total = {"goal" : {}, "real" : {}};
					$.each(pResult.contract, function(pIndex, pValue) {
						var mber_sn = pValue.mber_sn;
						var dept_code = pValue.dept_code;

						var pData = {"tot" : 0};
						for(let i=1;i<=12;i++) pData[`${i}m`] = 0;
						if(pValue.cntrct_de !== ""){
							let year = pValue.cntrct_de.split("-")[0];
							let month = pValue.cntrct_de.split("-")[1];
							if(year == s_year){
								pData[`${parseInt(month)}m`] = (pValue.cntrct_amount)/DELIMITER;
							}
						}
						if(!ALREADY.hasOwnProperty(pValue.cntrct_sn)){
							ALREADY[pValue.cntrct_sn] = 0;
						}
						else{
							ALREADY[pValue.cntrct_sn] += 2;
						}
						for(let i=1;i<=12;i++) pData["tot"] += pData[`${i}m`];

						if(mber != mber_sn){
							member_total['goal']['tot'] = 0;
							for(let i=1;i<=12;i++) member_total['goal']['tot'] += member_total['goal'][`${i}`];
							member_total['real']['tot'] = 0;
							for(let i=1;i<=12;i++) member_total['real']['tot'] += member_total['real'][`${i}`];
							html += `<tr role="goal">
									<td class="colorG right_border middle text-center bold">${dept_nm}</td>
									<td class="right_border middle text-center bold">${mber_nm}</td>
									<td class="colorSky right_border middle text-center bold">소계</td>
									<td class="colorSky right_border middle text-left bold" rowspan="2"></td>
									<td class="colorSkyO right_border middle text-center bold">계획</td>
									<td class="colorSkyO right_border middle text-right bold" data-column="1m">${member_total['goal']['1'].toString().toFormat('NUMBER')}</td>
									<td class="colorSkyO right_border middle text-right bold" data-column="2m">${member_total['goal']['2'].toString().toFormat('NUMBER')}</td>
									<td class="colorSkyO right_border middle text-right bold" data-column="3m">${member_total['goal']['3'].toString().toFormat('NUMBER')}</td>
									<td class="colorSkyO right_border middle text-right bold" data-column="4m">${member_total['goal']['4'].toString().toFormat('NUMBER')}</td>
									<td class="colorSkyO right_border middle text-right bold" data-column="5m">${member_total['goal']['5'].toString().toFormat('NUMBER')}</td>
									<td class="colorSkyO right_border middle text-right bold" data-column="6m">${member_total['goal']['6'].toString().toFormat('NUMBER')}</td>
									<td class="colorSkyO right_border middle text-right bold" data-column="7m">${member_total['goal']['7'].toString().toFormat('NUMBER')}</td>
									<td class="colorSkyO right_border middle text-right bold" data-column="8m">${member_total['goal']['8'].toString().toFormat('NUMBER')}</td>
									<td class="colorSkyO right_border middle text-right bold" data-column="9m">${member_total['goal']['9'].toString().toFormat('NUMBER')}</td>
									<td class="colorSkyO right_border middle text-right bold" data-column="10m">${member_total['goal']['10'].toString().toFormat('NUMBER')}</td>
									<td class="colorSkyO right_border middle text-right bold" data-column="11m">${member_total['goal']['11'].toString().toFormat('NUMBER')}</td>
									<td class="colorSkyO right_border middle text-right bold" data-column="12m">${member_total['goal']['12'].toString().toFormat('NUMBER')}</td>
									<td class="colorSkyO right_border middle text-right bold" data-column="tot">${member_total['goal']['tot'].toString().toFormat('NUMBER')}</td>
									<td class="colorSky right_border middle text-center bold" data-column="rt" rowspan="2">${(member_total['real']['tot']*100.0/member_total['goal']['tot']).toFixed(2)+"%"}</td>
								 </tr>
								 <tr>
									<td class="colorG right_border middle text-center bold">${dept_nm}</td>
									<td class="right_border middle text-center bold">${mber_nm}</td>
									<td class="colorSky right_border middle text-center bold">소계</td>
									<td class="colorSky right_border middle text-center bold">달성</td>
									<td class="colorSky right_border middle text-right bold" data-column="1m">${member_total['real']['1'].toString().toFormat('NUMBER')}</td>
									<td class="colorSky right_border middle text-right bold" data-column="2m">${member_total['real']['2'].toString().toFormat('NUMBER')}</td>
									<td class="colorSky right_border middle text-right bold" data-column="3m">${member_total['real']['3'].toString().toFormat('NUMBER')}</td>
									<td class="colorSky right_border middle text-right bold" data-column="4m">${member_total['real']['4'].toString().toFormat('NUMBER')}</td>
									<td class="colorSky right_border middle text-right bold" data-column="5m">${member_total['real']['5'].toString().toFormat('NUMBER')}</td>
									<td class="colorSky right_border middle text-right bold" data-column="6m">${member_total['real']['6'].toString().toFormat('NUMBER')}</td>
									<td class="colorSky right_border middle text-right bold" data-column="7m">${member_total['real']['7'].toString().toFormat('NUMBER')}</td>
									<td class="colorSky right_border middle text-right bold" data-column="8m">${member_total['real']['8'].toString().toFormat('NUMBER')}</td>
									<td class="colorSky right_border middle text-right bold" data-column="9m">${member_total['real']['9'].toString().toFormat('NUMBER')}</td>
									<td class="colorSky right_border middle text-right bold" data-column="10m">${member_total['real']['10'].toString().toFormat('NUMBER')}</td>
									<td class="colorSky right_border middle text-right bold" data-column="11m">${member_total['real']['11'].toString().toFormat('NUMBER')}</td>
									<td class="colorSky right_border middle text-right bold" data-column="12m">${member_total['real']['12'].toString().toFormat('NUMBER')}</td>
									<td class="colorSky right_border middle text-right bold" data-column="tot" style="border-right:2px solid #666!important;">${member_total['real']['tot'].toString().toFormat('NUMBER')}</td>
								 </tr>`;
							$.each(["goal", "real"], function(pI, pP){
								for(let i=1;i<=12;i++){
									if(!dept_total[pP].hasOwnProperty(i)){
										dept_total[pP][i] = 0;
									}
									dept_total[pP][i] += member_total[pP][i];
								}
							});
							member_total = {"goal" : {}, "real" : {}};
							mber = mber_sn;
							mber_nm = pValue.mber_nm;
						}


						for(let i=1;i<=12;i++){
							var value = Math.round(pValue[`${i}m`]/DELIMITER);
							if(!member_total["goal"].hasOwnProperty(i)){
								member_total["goal"][i] = 0;
							}
							member_total["goal"][i] += value;
							var value = Math.round(pData[`${i}m`]);
							if(!member_total["real"].hasOwnProperty(i)){
								member_total["real"][i] = 0;
							}
							member_total["real"][i] += value;
						}
						if(dept != dept_code){
							dept_total['goal']['tot'] = 0;
							for(let i=1;i<=12;i++) dept_total['goal']['tot'] += dept_total['goal'][`${i}`];
							dept_total['real']['tot'] = 0;
							for(let i=1;i<=12;i++) dept_total['real']['tot'] += dept_total['real'][`${i}`];
							html += `<tr role="goal">
									<td class="colorG right_border middle text-center bold">${dept_nm}</td>
									<td class="colorB right_border middle text-center bold">팀계</td>
									<td class="colorB right_border middle text-center bold"></td>
									<td class="colorB right_border middle text-left bold" rowspan="2"></td>
									<td class="colorBO right_border middle text-center bold">계획</td>
									<td class="colorBO right_border middle text-right bold" data-column="1m">${dept_total['goal']['1'].toString().toFormat('NUMBER')}</td>
									<td class="colorBO right_border middle text-right bold" data-column="2m">${dept_total['goal']['2'].toString().toFormat('NUMBER')}</td>
									<td class="colorBO right_border middle text-right bold" data-column="3m">${dept_total['goal']['3'].toString().toFormat('NUMBER')}</td>
									<td class="colorBO right_border middle text-right bold" data-column="4m">${dept_total['goal']['4'].toString().toFormat('NUMBER')}</td>
									<td class="colorBO right_border middle text-right bold" data-column="5m">${dept_total['goal']['5'].toString().toFormat('NUMBER')}</td>
									<td class="colorBO right_border middle text-right bold" data-column="6m">${dept_total['goal']['6'].toString().toFormat('NUMBER')}</td>
									<td class="colorBO right_border middle text-right bold" data-column="7m">${dept_total['goal']['7'].toString().toFormat('NUMBER')}</td>
									<td class="colorBO right_border middle text-right bold" data-column="8m">${dept_total['goal']['8'].toString().toFormat('NUMBER')}</td>
									<td class="colorBO right_border middle text-right bold" data-column="9m">${dept_total['goal']['9'].toString().toFormat('NUMBER')}</td>
									<td class="colorBO right_border middle text-right bold" data-column="10m">${dept_total['goal']['10'].toString().toFormat('NUMBER')}</td>
									<td class="colorBO right_border middle text-right bold" data-column="11m">${dept_total['goal']['11'].toString().toFormat('NUMBER')}</td>
									<td class="colorBO right_border middle text-right bold" data-column="12m">${dept_total['goal']['12'].toString().toFormat('NUMBER')}</td>
									<td class="colorBO right_border middle text-right bold" data-column="tot">${dept_total['goal']['tot'].toString().toFormat('NUMBER')}</td>
									<td class="colorB right_border middle text-center bold" data-column="rt" rowspan="2">${(dept_total['real']['tot']*100.0/dept_total['goal']['tot']).toFixed(2)+"%"}</td>
								 </tr>
								 <tr>
									<td class="colorG right_border middle text-center bold">${dept_nm}</td>
									<td class="colorB right_border middle text-center bold">팀계</td>
									<td class="colorB right_border middle text-center bold"></td>
									<td class="colorB right_border middle text-center bold">달성</td>
									<td class="colorB right_border middle text-right bold" data-column="1m">${dept_total['real']['1'].toString().toFormat('NUMBER')}</td>
									<td class="colorB right_border middle text-right bold" data-column="2m">${dept_total['real']['2'].toString().toFormat('NUMBER')}</td>
									<td class="colorB right_border middle text-right bold" data-column="3m">${dept_total['real']['3'].toString().toFormat('NUMBER')}</td>
									<td class="colorB right_border middle text-right bold" data-column="4m">${dept_total['real']['4'].toString().toFormat('NUMBER')}</td>
									<td class="colorB right_border middle text-right bold" data-column="5m">${dept_total['real']['5'].toString().toFormat('NUMBER')}</td>
									<td class="colorB right_border middle text-right bold" data-column="6m">${dept_total['real']['6'].toString().toFormat('NUMBER')}</td>
									<td class="colorB right_border middle text-right bold" data-column="7m">${dept_total['real']['7'].toString().toFormat('NUMBER')}</td>
									<td class="colorB right_border middle text-right bold" data-column="8m">${dept_total['real']['8'].toString().toFormat('NUMBER')}</td>
									<td class="colorB right_border middle text-right bold" data-column="9m">${dept_total['real']['9'].toString().toFormat('NUMBER')}</td>
									<td class="colorB right_border middle text-right bold" data-column="10m">${dept_total['real']['10'].toString().toFormat('NUMBER')}</td>
									<td class="colorB right_border middle text-right bold" data-column="11m">${dept_total['real']['11'].toString().toFormat('NUMBER')}</td>
									<td class="colorB right_border middle text-right bold" data-column="12m">${dept_total['real']['12'].toString().toFormat('NUMBER')}</td>
									<td class="colorB right_border middle text-right bold" data-column="tot" style="border-right:2px solid #666!important;">${dept_total['real']['tot'].toString().toFormat('NUMBER')}</td>
								 </tr>`;
							dept_total = {"goal" : {}, "real" : {}};
							dept = dept_code;
							dept_nm = pValue.dept_nm;

						}


						html += `<tr id="row${pValue.cntrct_sn}-${ALREADY[pValue.cntrct_sn]+1}" data-year="${s_year}" data-row="goal" data-mber="${pValue.mber_sn}" data-dept="${pValue.dept_code}">
									<td class="colorG right_border middle text-center bold">${pValue.dept_nm}</td>
									<td class="right_border middle text-center bold">${pValue.mber_nm}</td>
									<td class="right_border middle text-center bold">${pValue.bcnc_nm}</td>
									<td class="right_border middle text-left bold" rowspan="2">${pValue.spt_nm}</td>
									<td class="right_border middle text-center bold">계획</td>
									<td class="colorBtn right_border middle text-right bold" data-column="1m">${Math.round(pValue["1m"]/DELIMITER).toString().toFormat('NUMBER')}</td>
									<td class="colorBtn right_border middle text-right bold" data-column="2m">${Math.round(pValue["2m"]/DELIMITER).toString().toFormat('NUMBER')}</td>
									<td class="colorBtn right_border middle text-right bold" data-column="3m">${Math.round(pValue["3m"]/DELIMITER).toString().toFormat('NUMBER')}</td>
									<td class="colorBtn right_border middle text-right bold" data-column="4m">${Math.round(pValue["4m"]/DELIMITER).toString().toFormat('NUMBER')}</td>
									<td class="colorBtn right_border middle text-right bold" data-column="5m">${Math.round(pValue["5m"]/DELIMITER).toString().toFormat('NUMBER')}</td>
									<td class="colorBtn right_border middle text-right bold" data-column="6m">${Math.round(pValue["6m"]/DELIMITER).toString().toFormat('NUMBER')}</td>
									<td class="colorBtn right_border middle text-right bold" data-column="7m">${Math.round(pValue["7m"]/DELIMITER).toString().toFormat('NUMBER')}</td>
									<td class="colorBtn right_border middle text-right bold" data-column="8m">${Math.round(pValue["8m"]/DELIMITER).toString().toFormat('NUMBER')}</td>
									<td class="colorBtn right_border middle text-right bold" data-column="9m">${Math.round(pValue["9m"]/DELIMITER).toString().toFormat('NUMBER')}</td>
									<td class="colorBtn right_border middle text-right bold" data-column="10m">${Math.round(pValue["10m"]/DELIMITER).toString().toFormat('NUMBER')}</td>
									<td class="colorBtn right_border middle text-right bold" data-column="11m">${Math.round(pValue["11m"]/DELIMITER).toString().toFormat('NUMBER')}</td>
									<td class="colorBtn right_border middle text-right bold" data-column="12m">${Math.round(pValue["12m"]/DELIMITER).toString().toFormat('NUMBER')}</td>
									<td class="colorBtn right_border middle text-right bold" data-column="tot">${Math.round(pValue["tot"]/DELIMITER).toString().toFormat('NUMBER')}</td>
									<td class="colorBtn right_border middle text-center bold" data-column="rt" rowspan="2">${(pData.tot*100.0*DELIMITER/pValue.tot).toFixed(2)+"%"}</td>
								 </tr>
								 <tr id="row${pValue.cntrct_sn}-${ALREADY[pValue.cntrct_sn]+2}" data-year="${s_year}" data-row="real" data-mber="${pValue.mber_sn}" data-dept="${pValue.dept_code}">
									<td class="colorG right_border middle text-center bold">${pValue.dept_nm}</td>
									<td class="right_border middle text-center bold">${pValue.mber_nm}</td>
									<td class="right_border middle text-center bold">${pValue.bcnc_nm}</td>
									<td class="colorJ right_border middle text-center bold">달성</td>
									<td class="colorBtn colorJ right_border middle text-right bold bottom_border" data-column="1m">${pData["1m"].toString().toFormat('NUMBER')}</td>
									<td class="colorBtn colorJ right_border middle text-right bold bottom_border" data-column="2m">${pData["2m"].toString().toFormat('NUMBER')}</td>
									<td class="colorBtn colorJ right_border middle text-right bold bottom_border" data-column="3m">${pData["3m"].toString().toFormat('NUMBER')}</td>
									<td class="colorBtn colorJ right_border middle text-right bold bottom_border" data-column="4m">${pData["4m"].toString().toFormat('NUMBER')}</td>
									<td class="colorBtn colorJ right_border middle text-right bold bottom_border" data-column="5m">${pData["5m"].toString().toFormat('NUMBER')}</td>
									<td class="colorBtn colorJ right_border middle text-right bold bottom_border" data-column="6m">${pData["6m"].toString().toFormat('NUMBER')}</td>
									<td class="colorBtn colorJ right_border middle text-right bold bottom_border" data-column="7m">${pData["7m"].toString().toFormat('NUMBER')}</td>
									<td class="colorBtn colorJ right_border middle text-right bold bottom_border" data-column="8m">${pData["8m"].toString().toFormat('NUMBER')}</td>
									<td class="colorBtn colorJ right_border middle text-right bold bottom_border" data-column="9m">${pData["9m"].toString().toFormat('NUMBER')}</td>
									<td class="colorBtn colorJ right_border middle text-right bold bottom_border" data-column="10m">${pData["10m"].toString().toFormat('NUMBER')}</td>
									<td class="colorBtn colorJ right_border middle text-right bold bottom_border" data-column="11m">${pData["11m"].toString().toFormat('NUMBER')}</td>
									<td class="colorBtn colorJ right_border middle text-right bold bottom_border" data-column="12m">${pData["12m"].toString().toFormat('NUMBER')}</td>
									<td class="colorBtn colorJ right_border middle text-right bold bottom_border" data-column="tot" style="border-right:2px solid #666!important;">${pData["tot"].toString().toFormat('NUMBER')}</td>
								 </tr>`;
					});
					member_total['goal']['tot'] = 0;
					for(let i=1;i<=12;i++) member_total['goal']['tot'] += member_total['goal'][`${i}`];
					member_total['real']['tot'] = 0;
					for(let i=1;i<=12;i++) member_total['real']['tot'] += member_total['real'][`${i}`];
					html += `<tr role="goal">
									<td class="colorG right_border middle text-center bold">${dept_nm}</td>
									<td class="right_border middle text-center bold">${mber_nm}</td>
									<td class="colorSky right_border middle text-center bold">소계</td>
									<td class="colorSky right_border middle text-left bold" rowspan="2"></td>
									<td class="colorSkyO right_border middle text-center bold">계획</td>
									<td class="colorSkyO right_border middle text-right bold" data-column="1m">${member_total['goal']['1'].toString().toFormat('NUMBER')}</td>
									<td class="colorSkyO right_border middle text-right bold" data-column="2m">${member_total['goal']['2'].toString().toFormat('NUMBER')}</td>
									<td class="colorSkyO right_border middle text-right bold" data-column="3m">${member_total['goal']['3'].toString().toFormat('NUMBER')}</td>
									<td class="colorSkyO right_border middle text-right bold" data-column="4m">${member_total['goal']['4'].toString().toFormat('NUMBER')}</td>
									<td class="colorSkyO right_border middle text-right bold" data-column="5m">${member_total['goal']['5'].toString().toFormat('NUMBER')}</td>
									<td class="colorSkyO right_border middle text-right bold" data-column="6m">${member_total['goal']['6'].toString().toFormat('NUMBER')}</td>
									<td class="colorSkyO right_border middle text-right bold" data-column="7m">${member_total['goal']['7'].toString().toFormat('NUMBER')}</td>
									<td class="colorSkyO right_border middle text-right bold" data-column="8m">${member_total['goal']['8'].toString().toFormat('NUMBER')}</td>
									<td class="colorSkyO right_border middle text-right bold" data-column="9m">${member_total['goal']['9'].toString().toFormat('NUMBER')}</td>
									<td class="colorSkyO right_border middle text-right bold" data-column="10m">${member_total['goal']['10'].toString().toFormat('NUMBER')}</td>
									<td class="colorSkyO right_border middle text-right bold" data-column="11m">${member_total['goal']['11'].toString().toFormat('NUMBER')}</td>
									<td class="colorSkyO right_border middle text-right bold" data-column="12m">${member_total['goal']['12'].toString().toFormat('NUMBER')}</td>
									<td class="colorSkyO right_border middle text-right bold" data-column="tot">${member_total['goal']['tot'].toString().toFormat('NUMBER')}</td>
									<td class="colorSky right_border middle text-center bold" data-column="rt" rowspan="2">${(member_total['real']['tot']*100.0/member_total['goal']['tot']).toFixed(2)+"%"}</td>
								 </tr>
								 <tr>
									<td class="colorG right_border middle text-center bold">${dept_nm}</td>
									<td class="right_border middle text-center bold">${mber_nm}</td>
									<td class="colorSky right_border middle text-center bold">소계</td>
									<td class="colorSky right_border middle text-center bold">달성</td>
									<td class="colorSky right_border middle text-right bold" data-column="1m">${member_total['real']['1'].toString().toFormat('NUMBER')}</td>
									<td class="colorSky right_border middle text-right bold" data-column="2m">${member_total['real']['2'].toString().toFormat('NUMBER')}</td>
									<td class="colorSky right_border middle text-right bold" data-column="3m">${member_total['real']['3'].toString().toFormat('NUMBER')}</td>
									<td class="colorSky right_border middle text-right bold" data-column="4m">${member_total['real']['4'].toString().toFormat('NUMBER')}</td>
									<td class="colorSky right_border middle text-right bold" data-column="5m">${member_total['real']['5'].toString().toFormat('NUMBER')}</td>
									<td class="colorSky right_border middle text-right bold" data-column="6m">${member_total['real']['6'].toString().toFormat('NUMBER')}</td>
									<td class="colorSky right_border middle text-right bold" data-column="7m">${member_total['real']['7'].toString().toFormat('NUMBER')}</td>
									<td class="colorSky right_border middle text-right bold" data-column="8m">${member_total['real']['8'].toString().toFormat('NUMBER')}</td>
									<td class="colorSky right_border middle text-right bold" data-column="9m">${member_total['real']['9'].toString().toFormat('NUMBER')}</td>
									<td class="colorSky right_border middle text-right bold" data-column="10m">${member_total['real']['10'].toString().toFormat('NUMBER')}</td>
									<td class="colorSky right_border middle text-right bold" data-column="11m">${member_total['real']['11'].toString().toFormat('NUMBER')}</td>
									<td class="colorSky right_border middle text-right bold" data-column="12m">${member_total['real']['12'].toString().toFormat('NUMBER')}</td>
									<td class="colorSky right_border middle text-right bold" data-column="tot" style="border-right:2px solid #666!important;">${member_total['real']['tot'].toString().toFormat('NUMBER')}</td>
								 </tr>`;
					$.each(["goal", "real"], function(pI, pP){
						for(let i=1;i<=12;i++){
							if(!dept_total[pP].hasOwnProperty(i)){
								dept_total[pP][i] = 0;
							}
							dept_total[pP][i] += member_total[pP][i];
						}
					});

					dept_total['goal']['tot'] = 0;
					for(let i=1;i<=12;i++) dept_total['goal']['tot'] += dept_total['goal'][`${i}`];
					dept_total['real']['tot'] = 0;
					for(let i=1;i<=12;i++) dept_total['real']['tot'] += dept_total['real'][`${i}`];
							html += `<tr role="goal">
									<td class="colorG right_border middle text-center bold">${dept_nm}</td>
									<td class="colorB right_border middle text-center bold">팀계</td>
									<td class="colorB right_border middle text-center bold"></td>
									<td class="colorB right_border middle text-left bold" rowspan="2"></td>
									<td class="colorBO right_border middle text-center bold">계획</td>
									<td class="colorBO right_border middle text-right bold" data-column="1m">${dept_total['goal']['1'].toString().toFormat('NUMBER')}</td>
									<td class="colorBO right_border middle text-right bold" data-column="2m">${dept_total['goal']['2'].toString().toFormat('NUMBER')}</td>
									<td class="colorBO right_border middle text-right bold" data-column="3m">${dept_total['goal']['3'].toString().toFormat('NUMBER')}</td>
									<td class="colorBO right_border middle text-right bold" data-column="4m">${dept_total['goal']['4'].toString().toFormat('NUMBER')}</td>
									<td class="colorBO right_border middle text-right bold" data-column="5m">${dept_total['goal']['5'].toString().toFormat('NUMBER')}</td>
									<td class="colorBO right_border middle text-right bold" data-column="6m">${dept_total['goal']['6'].toString().toFormat('NUMBER')}</td>
									<td class="colorBO right_border middle text-right bold" data-column="7m">${dept_total['goal']['7'].toString().toFormat('NUMBER')}</td>
									<td class="colorBO right_border middle text-right bold" data-column="8m">${dept_total['goal']['8'].toString().toFormat('NUMBER')}</td>
									<td class="colorBO right_border middle text-right bold" data-column="9m">${dept_total['goal']['9'].toString().toFormat('NUMBER')}</td>
									<td class="colorBO right_border middle text-right bold" data-column="10m">${dept_total['goal']['10'].toString().toFormat('NUMBER')}</td>
									<td class="colorBO right_border middle text-right bold" data-column="11m">${dept_total['goal']['11'].toString().toFormat('NUMBER')}</td>
									<td class="colorBO right_border middle text-right bold" data-column="12m">${dept_total['goal']['12'].toString().toFormat('NUMBER')}</td>
									<td class="colorBO right_border middle text-right bold" data-column="tot">${dept_total['goal']['tot'].toString().toFormat('NUMBER')}</td>
									<td class="colorB right_border middle text-center bold" data-column="rt" rowspan="2">${(dept_total['real']['tot']*100.0/dept_total['goal']['tot']).toFixed(2)+"%"}</td>
								 </tr>
								 <tr>
									<td class="colorG right_border middle text-center bold">${dept_nm}</td>
									<td class="colorB right_border middle text-center bold">팀계</td>
									<td class="colorB right_border middle text-center bold"></td>
									<td class="colorB right_border middle text-center bold">달성</td>
									<td class="colorB right_border middle text-right bold" data-column="1m">${dept_total['real']['1'].toString().toFormat('NUMBER')}</td>
									<td class="colorB right_border middle text-right bold" data-column="2m">${dept_total['real']['2'].toString().toFormat('NUMBER')}</td>
									<td class="colorB right_border middle text-right bold" data-column="3m">${dept_total['real']['3'].toString().toFormat('NUMBER')}</td>
									<td class="colorB right_border middle text-right bold" data-column="4m">${dept_total['real']['4'].toString().toFormat('NUMBER')}</td>
									<td class="colorB right_border middle text-right bold" data-column="5m">${dept_total['real']['5'].toString().toFormat('NUMBER')}</td>
									<td class="colorB right_border middle text-right bold" data-column="6m">${dept_total['real']['6'].toString().toFormat('NUMBER')}</td>
									<td class="colorB right_border middle text-right bold" data-column="7m">${dept_total['real']['7'].toString().toFormat('NUMBER')}</td>
									<td class="colorB right_border middle text-right bold" data-column="8m">${dept_total['real']['8'].toString().toFormat('NUMBER')}</td>
									<td class="colorB right_border middle text-right bold" data-column="9m">${dept_total['real']['9'].toString().toFormat('NUMBER')}</td>
									<td class="colorB right_border middle text-right bold" data-column="10m">${dept_total['real']['10'].toString().toFormat('NUMBER')}</td>
									<td class="colorB right_border middle text-right bold" data-column="11m">${dept_total['real']['11'].toString().toFormat('NUMBER')}</td>
									<td class="colorB right_border middle text-right bold" data-column="12m">${dept_total['real']['12'].toString().toFormat('NUMBER')}</td>
									<td class="colorB right_border middle text-right bold" data-column="tot" style="border-right:2px solid #666!important;">${dept_total['real']['tot'].toString().toFormat('NUMBER')}</td>
								 </tr>`;
					$("#dtList1").find("tbody").html(html);

				}
				$("#dtList1").find("tbody").yRowspan(0);
				$("#dtList1").find("tbody").yRowspan(1);
				$("#dtList1").find("tbody").yRowspan(2);

				$(document).find("#dtList1 tbody[role='body']").yRowClass(0, "bottom_border");
				$(document).find("#dtList1 tbody[role='body']").yRowClass(1, "bottom_border");
				$(document).find("#dtList1 tbody[role='body']").yRowClass(2, "bottom_border");
				$(document).find("#dtList1 tbody[role='body']").yRowClass(3, "bottom_border");
				$(document).find("#dtList1 tbody[role='body']").yRowClass(18, "bottom_border");
				$(document).find("#dtList1 tbody[role='body']").yRowClassNext(3, "bottom_border");
				$(document).find("#dtList1 tbody[role='body']").yRowClassNext(2, "bottom_border");
				$(document).find(".colored").removeClass("colored");
				$.each(pResult.colored, function(pIndex, pValue){
					if(parseInt(pValue.month_class) == 1)
						$(document).find(`tr#${pValue.month_row} td[data-column="${pValue.month_month}"]`).addClass("colored")
				});
			}
		});
	}



</script>

<script>

$(document).on('click', "#s_submit", function(pEvent){

    var year = $("#s_year").val();
	var now_year = (new Date()).toISOString().split("T")[0].split("-")[0];
	if((parseInt(now_year)-5) >= parseInt(year)){
		alert("검색 기간은 최대 5년입니다.");
		return false;
	}
    //resetTable();
	getMonthPlan(year);

});

set_color = function(td){
	var authors = ["*"];
	var loginId = $("#loginID").val();
	if(!authors.includes("*") && !authors.includes(loginId)){
		alert("권한이 없습니다.");
		return false;
	}

	var rowId = $(td).parent().attr("id");
	var column = $(td).data("column");
	var year = $(td).parent().data("year")
	var colored = $(td).hasClass("colored") ? 0 : 1;
	var params = '';
	params += '&month_year='+year;
	params += '&month_row='+rowId;
	params += '&month_month='+column;
	params += '&month_class='+colored;
	$.ajax({
		url: '/api/month/ajax_set_month_data',
		type: 'GET',
		data: params,
		dataType: 'json',
		contentType: false,
		processData: false,
		success: function (pResult) {
			if(pResult.status){
				if(colored == 0){
					$(td).removeClass("colored");
				}
				else{
					$(td).addClass("colored");
				}
			}
		}
	});


}
var timer;
$(document).on("click", ".colorBtn", function(){
	var td = $(this);
	if(timer){
		clearTimeout(timer);
		timer = null;
	}
	else{
		timer = setTimeout(function(){
			set_color(td);
            clearTimeout(timer);
            timer = null;
		}, 250);
	}
});


</script>
<script type="text/javascript">


$(function () {
  $('table.floating-thead').each(function() {
    if( $(this).css('border-collapse') == 'collapse') {
      $(this).css('border-collapse','separate').css('border-spacing',0);
    }
    $(this).prepend( $(this).find('thead:first').clone().hide().css('top',160).css('position','fixed') );
  });

  $(window).scroll(function() {
    var scrollTop = $(window).scrollTop(),
      scrollLeft = $(window).scrollLeft();
    $('table.floating-thead').each(function(i,v) {
      var thead = $(this).find('thead:last'),
        clone = $(this).find('thead:first'),
        top = $(this).offset().top,
        bottom = top + $(this).height() - thead.height();

      if( scrollTop < top-180 || scrollTop > bottom ) {
        clone.hide();
        return true;
      }
      if( clone.is('visible') ) return true;
      var fixP = 0;
      clone.find('th').each(function(i) {
        if(thead.find('th').eq(i).html() == '계'){
            fixP = -1;
        }
        $(this).width( thead.find('th').eq(i).width() +fixP);
      });
      clone.css("margin-left", -scrollLeft ).width( thead.width() ).show();
    });
  });
});

$(function() {
	/**************************************************************************
     *
     */
    //$('#dtList1 tbody').yRowspan(0);
    var year = new Date().getFullYear();
    $("#s_year").val(year);
	getMonthPlan(year);
});
</script>

<div class="modal fade" data-backdrop="static" id="popBoxBiss">
    <style type="text/css">
#popBoxBiss tbody .btnUpdate, #popBox1 tbody .btnPrint{
    line-height: 1.42857143 !important;
    padding: 5px 7px!important;
    margin:  0px !important;
}
#popBoxBiss tbody{
    font-size:12px!important;
}

    </style>
    <div class="modal-dialog modal-w900" style="width:800px!important">
        <div class="modal-content">
			<div class="jarviswidget jarviswidget-color-greenDark">
				<header>
					<ul class="nav nav-tabs" id="popEditTabsBiss">
						<li class="active" data-action="1">
							<a data-toggle="tab" href="#tabBoxBiss1" data-action="tab1"><i class="fa fa-lg fa-edit"></i>&nbsp;<span>BISS 입력</span></a>
						</li>
					</ul>
					<div class="jarviswidget-ctrls" role="menu">
						<a class="button-icon jarviswidget-delete-btn" aria-hidden="true" data-dismiss="modal"><i class="fa fa-times"></i></a>
					</div>

				</header>
				<div role="content" style="min-height:110px;">
					<!-- widget edit box -->
					<div class="jarviswidget-editbox no-padding" style="display:block;">

					</div>
					<!-- end widget edit box -->
					<div class="widget-body no-padding">
						<div class="tab-content">

							<!-- 프로젝트 -->
							<div class="tab-pane fade active in" id="tabBoxBiss1">
							<form id="frmBoxBiss">
								<table class="table table-bordered table-form">
									<colgroup>
										<col width="175">
										<col width="390">
										<col width="60">
									</colgroup>
									<tbody>
										<tr>
											<th class="" style="background:#0070C0;border-color:#0070C0;color:white;border-left:none;padding:0;" colspan="3">
											<span class="widget-toolbar" id="popEditToolbarBiss">
												<button type="button" class="btn btn-primary" id="btnSaveBiss" title="저장합니다."><i class="fa fa-save"> 저장</i></button>

											</span>
											</th>
										</tr>

										<tr class="required">
											<th class="color-contract">현장명</th>
											<td class="hasinput" colspan="2">
												<select class="form-control select2" id="cntrct_sn" name="cntrct_sn">
													<option value="">[계약을 선택해주세요.]</option>
												</select>
											</td>
										</tr>
										<tr class="required">
											<th class="color-contract">추가영업자</th>
											<td class="hasinput" colspan="2">
												<select class="form-control select2" id="mber_sn" name="mber_sn" >
													<option value="">[추가영업자를 선택해주세요.]</option>
													{% for code in member_list %}
													<option value="{{code.value}}">{{code.label}} {{code.etc1}}</option>
													{% endfor %}
												</select>
											</td>
										</tr>
										<tr class="required">
											<th class="color-contract">지분율(%)</th>
											<td class="hasinput" colspan="2">
												<input type="number" step="0.1" class="form-control text-right" id="percent" name="percent"/>
											</td>
										</tr>

									</tbody>
								</table>
							</form>
							</div><!--tab-pane-->
						</div><!--tab-content-->
					</div><!--widget-body-->
				</div><!--content-->
			</div><!--jarviswidget-->
        </div><!--modal-content-->
    </div><!--modal-dialog-->
</div><!--modal-->

<script>
	init = function(){
		$("#popBoxBiss").find("#mber_sn").yVal('');
		$("#popBoxBiss").find("#cntrct_sn").yVal('');
		$("#popBoxBiss").find("#cntrct_sn").yVal('');
		$("#popBoxBiss").find("#percent").val('');

	}
	$(document).on('click', '#btnSaveBiss', function(){
		var authors = ["*"];
		var loginId = $("#loginID").val();
		if(!authors.includes("*") && !authors.includes(loginId)){
			alert("권한이 없습니다.");
			return false;
		}
		var params = $("#frmBoxBiss").formSerialize();
		if($('#popBoxBiss').find("#cntrct_sn").val() == ''){
			alert("계약을 선택해주세요.");
			return false;
		}
		if($('#popBoxBiss').find("#mber_sn").val() == ''){
			alert("추가영업자를 선택해주세요.");
			return false;
		}
		if($('#popBoxBiss').find("#percent").val() == ''){
			alert("지분률을 입력해주세요.");
			return false;
		}
		params += "&year="+$("#s_year").val();
		$.ajax({
			url: '/api/project/ajax_insert_co_st',
			type: 'GET',
			data: params,
			dataType: 'json',
			contentType: false,
			processData: false,
			success: function (pResult) {
				alert("저장되었습니다.");
				location.reload();
			}

		});
	});

	$('#popBoxBiss').on('shown.bs.modal', function(pEvent)
	{
		init();

	});
</script>


{% endblock %}
