{% extends 'common/main_base.html' %}
{% block content %}
<!--########################################################################-->
<!--# contents style start                                                 #-->
<!--########################################################################-->
<style type="text/css">
tbody .btnUpdate, tbody .btnPrint{
    line-height: 0.3!important;
    padding: 3px 7px!important;
}
    tbody{
        font-size:12px!important;
    }
</style>

<style>
    #summery{
        top:63px;
        left:720px;
        width:600px;
    }
    #temp{
        display:none;
    }
@media (min-width: 100px) and (max-width: 1024px) {

    #summery{
        top:150px;
        left:13px;
        width:600px;
    }
    #temp{
        display:block;
    }
}
</style>
<!--########################################################################-->
<!--# contents style end                                                   #-->
<!--########################################################################-->


<!--########################################################################-->
<!--# RIBBON area start                                                    #-->
<!--########################################################################-->
<div id="ribbon" style="background:#B3E5FC!important;">
	<span class="ribbon-button-alignment">
		<span class="btn btn-ribbon"><i class="fa fa-refresh"></i></span>
	</span>
	<ol class="breadcrumb" style="font-size:14px !important;">
<!--		<li>홈</li><li>계약 및 프로젝트</li><li>계약 및 프로젝트 등록</li>-->
        <style>
            .breadcrumb>li+li:before {
                content: ">";
                color : #374850!important;
            }
        </style>
        <li style="font-size:17px !important;color:#1565C0!important;">계약 / 프로젝트 관리 </li><li><span> 계약 / 프로젝트</span></li>
	</ol>
</div>
<!--########################################################################-->
<!--# RIBBON area end                                                      #-->
<!--########################################################################-->


<!--########################################################################-->
<!--# contents area start                                                  #-->
<!--########################################################################-->
<div id="content">

	<!-- 화면 제목 -->
	<div class="row">
		<div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
<!--
			<h1 class="page-title txt-color-blueDark">
				<i class="fa-fw fa fa-list-alt"></i>
					계약 및 프로젝트 등록 <span>> 계약 및 프로젝트</span>
			</h1>
-->
		</div>
		<!-- right side of the page with the sparkline graphs -->
		<div class="col-xs-12 col-sm-5 col-md-5 col-lg-8">
		</div>
	</div>

	<!-- 화면 설명 -->
	<div class="alert alert-block alert-info" style="background:#e6faff!important;">
		<p><i class="fa-fw fa fa-info"></i>
			 계약 / 프로젝트의 기본정보를 관리합니다.
		</p>
		<p><i class="fa-fw fa fa-info"></i>
			프로젝트를 생성하지 않는 1,000만원 이하의 계약건은 오른쪽 플러스 버튼을 클릭하여 예정공사비만 관리합니다.
		</p>
	</div>

    <!-- 집계표 -->
	<table class="table table-bordered table-summery" id="summery">
		<thead>
			<tr><th colspan="6">
					<!-- 집&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;계&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;표 -->
					계&nbsp;약&nbsp;/&nbsp;프&nbsp;로&nbsp;젝&nbsp;트&nbsp;&nbsp;&nbsp;&nbsp;집&nbsp;계&nbsp;표
				</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<th style="background:#fff;width:60px;text-align:center;">건수</th>
				<td style="background:#fff;text-align:center;">0</td>
				<th style="background:#fff;width:80px;text-align:center;">수주금액</th>
				<td style="background:#fff;width:121px;text-align:right;">0</td>
				<th style="background:#fff;width:140px;text-align:center;">총 수주금액 계</th>
				<td style="background:#fff;width:121px;text-align:right;">0</td>
			</tr>
		</tbody>
	</table>

    <div id="temp">
        <br/>
        <br/>
        <br/>
        <br/>
    </div>

	<!-- 화면 내용 -->
	<section id="widget-grid">

		<div class="row">
			<article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

				<!-- Widget ID (each widget will need unique ID)-->
				<div class="jarviswidget jarviswidget-color-darken">
					<header>
						<span class="widget-icon"> <i class="fa fa-list"></i> </span>
						<h2>계약 / 프로젝트 목록</h2>
						<div class="widget-toolbar">
<!--                            <button class="btn btn-info" data-toggle="modal" href="#popReport7"><i class="fa fa-print"> 업무일지</i></button>-->
							<button class="btn btn-success" id="btnExcel"><i class="fa fa-file-excel-o"> 엑셀 다운로드</i></button>
							<button class="btn btn-warning" id="btnBiss" data-toggle="modal" href="#popBoxBiss">BISS 입력</i></button>
						</div>
					</header>
					<!-- widget body div-->
					<div>
						<!-- widget edit box -->
						<div class="jarviswidget-editbox">
						</div>
						<!-- end widget edit box -->

						<!-- widget content -->
						<div class="widget-body no-padding">
							<!-- <table class="table table-bordered" style="">
								<colgroup>
									<col width="667">
									<col width="60">
									<col width="60">
									<col width="60">
									<col width="60">
									<col width="120">
									<col width="*">
								</colgroup>
								<thead>
									<tr>
										<th class="text-center"></th>
										<th class="text-center" style="background:#ccc;">집계표</th>
										<th class="text-center">건수</td>
										<td class="text-center" style="background:#fff;">0</td>
										<th class="text-center">합계</td>
										<td class="text-number" style="background:#fff;">0</td>
										<th class="text-center"></th>
									</tr>
								</thead>
							</table> -->
							<table class="datatable table table-bordered table-hover" id="dtList1">
								<colgroup>
									<col width="50">
									<col width="110">
									<col width="170">
									<col width="*">
									<col width="120">
									<col width="136">
									<col width="130">
									<col width="130">
									<col width="130">
									<col width="202">
									<col width="100">
									<col width="80">
									<col width="1">
								</colgroup>
								<thead>
									<tr>
										<th class="search">검색</th>
										<th class="hasinput">
											<input type="text" class="form-control" placeholder="[전체]" id="s_cntrct_no" name="s_cntrct_no">
										</th>
										<th class="hasinput">
											<select class="form-control select2 w100p" id="s_bcnc_sn" name="s_bcnc_sn">
												<option value="">[전체]</option>
												{% for code in bcnc_list %}
												<option value="{{code.value}}">{{code.value}}.{{code.label}}</option>
												{% endfor %}
											</select>
										</th>
										<th class="hasinput">
											<input type="text" class="form-control" placeholder="[전체]" id="s_cntrct_nm" name="s_cntrct_nm">
										</th>
										<th class="hasinput">
										</th>
                                        <th class="hasinput">
											<select class="form-control select2 w100p" id="s_prjct_ty_code" name="s_prjct_ty_code">
												<option value="">[전체]</option>
												{% for code in prjct_ty_code_list %}
												<option value="{{code.value}}">{{code.label}}</option>
												{% endfor %}
											</select>
										</th>
										<th class="hasinput">
											<select class="form-control select2 w100p" id="s_dept_code" name="s_dept_code">
												<option value="">[전체]</option>
												<option value="TS">공조전체</option>
												{% for code in dept_code_list %}
												<option value="{{code.value}}">{{code.label}}</option>
												{% endfor %}
											</select>
										</th>
										<th class="hasinput">
											<select class="form-control select2 w100p" id="s_bsn_chrg_sn" name="s_bsn_chrg_sn">
												<option value="">[전체]</option>
												{% for code in member_list %}
												<option value="{{code.value}}">{{code.label}} {{code.etc1}}</option>
												{% endfor %}
											</select>
										</th>
										<th class="hasinput">
											<select class="form-control select2 w100p" id="s_spt_chrg_sn" name="s_spt_chrg_sn">
												<option value="">[전체]</option>
												{% for code in member_list %}
												<option value="{{code.value}}">{{code.label}} {{code.etc1}}</option>
												{% endfor %}
											</select>
										</th>
										<th class="hasinput">
											<input type="text" class="form-control datepicker-s" style="display:inline-block;width:89px!important;" readonly data-dateformat="yy-mm-dd" data-mask="9999-99-99" data-mask-placeholder="_" id="s_cntrct_de_start" name="s_cntrct_de_start" placeholder="[시작일자]">
											<span class="input-group-addon" style="display:inline-block;width:10px!important;padding:0;border:0;">~</span>
											<input type="text" class="form-control datepicker-e" style="display:inline-block;width:89px!important;" readonly data-dateformat="yy-mm-dd" data-mask="9999-99-99" data-mask-placeholder="_" id="s_cntrct_de_end" name="s_cntrct_de_end" placeholder="[종료일자]">
											<!-- <div class="input-group">
												<input type="text" class="form-control datepicker" data-dateformat="yy-mm-dd" data-mask="9999-99-99" data-mask-placeholder="_" id="s_cntrct_de_start" name="s_cntrct_de_start" placeholder="[전체]">
												<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
												<span class="input-group-addon">~</span>
												<input type="text" class="form-control datepicker" data-dateformat="yy-mm-dd" data-mask="9999-99-99" data-mask-placeholder="_" id="s_cntrct_de_end" name="s_cntrct_de_end" placeholder="[전체]">
											</div> -->
										</th>
										<th class="hasinput">
											<select class="form-control select2 w100p" id="s_prjct_creat_at" name="s_prjct_creat_at">
												<option value="">[전체]</option>
												<option value="Y">Y.생성</option>
												<option value="N">N.미생성</option>
											</select>
										</th>
										<th class="hasinput">
											<select class="form-control select2 w100p" id="s_progrs_sttus_code" name="s_progrs_sttus_code">
												<option value="">[전체]</option>
												{% for code in progrs_sttus_code_list %}
												<option value="{{code.value}}">{{code.value}}.{{code.label}}</option>
												{% endfor %}
												<option value="BP" selected>BP.사전입찰/진행</option>
												<option value="BPSN">BPSN.마감제외</option>
											</select>
										</th>
										<th class="hasinput text-right">
											<div class="btn-group">
												<button type="button" class="btn btn-table btn-primary" title="검색" id="btnSearch"><i class="fa fa-search"></i></button>
											</div>
										</th>
									</tr>
									<!-- 헤더 -->
									<tr>
										<th>No.</th>
										<th>프로젝트번호</th>
										<th>거래처명</th>
										<th>계약명(현장명)</th>
										<th style="text-align:left!important;">총 수주금액 계</th>
                                        <th style="padding:9px 10px!important">보고서</th>
										<th>영업부서</th>
										<th>영업담당</th>
										<th>현장담당</th>
										<th>계약일자/수주일자</th>
										<th>프로젝트</th>
										<th>진행상태</th>
										<th class="text-right">
											<div class="btn-group">
												<button type="button" class="btn btn-table btn-warning" title="등록" data-toggle="modal" href="#popBox1" data-action="init" data-actioncontract="insert"><i class="fa fa-plus"></i></button>
											</div>
										</th>
									</tr>
								</thead>
							</table>
						</div>
						<!-- end widget content -->
					</div>
					<!-- end widget body div -->
				</div>
				<!-- end widget -->

			</article>
		</div>

	</section>

</div>
<!--########################################################################-->
<!--# contents area end                                                    #-->
<!--########################################################################-->


<!--########################################################################-->
<!--# commom script start                                                  #-->
<!--########################################################################-->
<!--########################################################################-->
<!--# common script end                                                    #-->
<!--########################################################################-->


<!--########################################################################-->
<!--# page script start                                                    #-->
<!--########################################################################-->
<script type="text/javascript">
/******************************************************************************
 * 계약 목록을 조회한다.
 */
getProjectList = function()
{
    $.datatable1 = $('#dtList1').DataTable({
		serverSide: true,
		pageLength: 15,
		buttons: ['excelHtml5'],
        ajax: {
            url: '/api/project/ajax_get_project_datatable',
            type: 'POST',
            data: function(params) {
				return $.extend({}, params, {
					's_cntrct_no': $('#dtList1').find('#s_cntrct_no').val(),
					's_bcnc_sn': $('#dtList1').find('#s_bcnc_sn').val(),
					's_cntrct_nm': $('#dtList1').find('#s_cntrct_nm').val(),
					's_spt_nm': $('#dtList1').find('#s_spt_nm').val(),
					's_prjct_ty_code': $('#dtList1').find('#s_prjct_ty_code').val(),
                    's_dept_code': $('#dtList1').find('#s_dept_code').val(),
					's_bsn_chrg_sn': $('#dtList1').find('#s_bsn_chrg_sn').val(),
					's_spt_chrg_sn': $('#dtList1').find('#s_spt_chrg_sn').val(),
					's_cntrct_de': $('#dtList1').find('#s_cntrct_de').val(),
					's_cntrct_de_start': $('#dtList1').find('#s_cntrct_de_start').val(),
					's_cntrct_de_end': $('#dtList1').find('#s_cntrct_de_end').val(),
					's_progrs_sttus_code': $('#dtList1').find('#s_progrs_sttus_code').val(),
					's_prjct_creat_at': $('#dtList1').find('#s_prjct_creat_at').val(),
				});
            },
            error: function(pJqXHR, pTextStatus, pErrorThrown) {
                toastrError(pJqXHR);
            }
        },
		order: [10, 'asc'],
		// columnDefs: [
        //     { targets: 4, visible: false }
        // ],
        columns: [
            { data: 'ctmmny_sn', className: 'text-center', orderable: false,
                render: function(data, type, row, meta) {
                    return meta.settings._iDisplayStart + meta.row + 1;
                }
            },
            { data: 'cntrct_no' },
            { data: 'bcnc_nm' },
            { data: 'spt_nm' },
            { data: 'cntrct_amount', className: 'text-number', //계약금액
                render: function(data, type, row, meta) {
                    return data.toString().toFormat('NUMBER');
                }
            },
            { data: 'prjct_ty_nm', className: 'hasinput',
				render: function(pData, pType, pRow, pMeta) {
					var html = '';
					// html += '<button class="btn btn-table btn-info text-left w100p btnPrint" title="보고서" data-toggle="modal" href="#popReport'+row.prjct_ty_code+'" data-cntrct_sn="'+row.cntrct_sn+'" data-prjct_sn="'+row.prjct_sn+'">';
                    if(pRow.prjct_ty_code){
                        var dept_code = "";
                        if(pRow.dept_nm == "공조1팀"){
                            dept_code = "TS1";
                        }
                        else if(pRow.dept_nm == "공조2팀"){
                            dept_code = "TS2";
                        }
                        else if(pRow.dept_nm == "공조3팀"){
                            dept_code = "TS3";
                        }
                        else if(pRow.dept_nm == "빌트인팀"){
                            dept_code = "BI";
                        }
                        html += '<button class="btn btn-table btn-info text-left w100p btnPrint" title="보고서" data-dept_code="'+dept_code+'" data-prjct_ty_code="'+pRow.prjct_ty_code+'" data-cntrct_sn="'+pRow.cntrct_sn+'" data-prjct_sn="'+pRow.prjct_sn+'">';
                        html += '	<i class="fa fa-print"></i>'+pData;
                        html += '</button>';

                    }
                    return html;
                }
			},
            { data: 'dept_nm' },
            { data: 'bsn_chrg_nm' },
            { data: 'spt_chrg_nm' },
            { data: 'cntrct_de' },
            { data: 'prjct_creat_at',
				render: function(data, type, row, meta) {
					var result = '';
					if (data == 'Y') { result = '생성'; }
					else if (data == 'N') { result = '미생성'; }
					else { result = data; }
					return result;
				}
			},
            { data: 'progrs_sttus_nm' },
            { data: 'ctmmny_sn', className: 'hasinput text-right', orderable: false,
			    render: function(data, type, row, meta) {
					var html = '';
                    console.log(row.progrs_sttus_code);
                        var dept_code = "";
                        if(row.dept_nm == "공조1팀"){
                            dept_code = "TS1";
                        }
                        else if(row.dept_nm == "공조2팀"){
                            dept_code = "TS2";
                        }
                        else if(row.dept_nm == "공조3팀"){
                            dept_code = "TS3";
                        }
                        else if(row.dept_nm == "빌트인팀"){
                            dept_code = "BI";
                        }


//                    if(row.progrs_sttus_code !== 'C'){
                        html += '<div class="btn-group">';
                        html += '	<button class="btn btn-table btn-info btnUpdate" title="수정" data-dept_code="'+dept_code+'" data-cntrct_sn="'+row.cntrct_sn+'" data-prjct_sn="'+row.prjct_sn+'" data-prjct_ty_code="'+row.prjct_ty_code+'">';
                        html += '		<i class="fa fa-edit"></i>';
                        html += '	</button>';
                        html += '</div>';

//                    }

					return html;
				}
			},
		],
		drawCallback: function(pSettings) { console.log('drawCallback', pSettings.json);
			var contract = pSettings.json.contract;
			var count = pSettings.json.count;
            $('#summery').find('tbody td').eq(0).html(count.total_count.toString().toFormat('NUMBER'));
			$('#summery').find('tbody td').eq(2).html(contract.total_amount.toString().toFormat('NUMBER'));
            $('#summery').find('tbody td').eq(1).html(contract.amount.toString().toFormat('NUMBER'));
        },
		initComplete: function(pSettings, pJson) { //console.log('initComplete', pJson);
			var myList = this;
            var myDeptCode = pJson.member.dept_code;
            var show = true;
            if(myDeptCode == "TS1" || myDeptCode == "TS2" || myDeptCode == "TS3" || myDeptCode == "BI"){
                show = false;
            }

			$(myList).on('click', 'tbody tr', function(pEvent) {
				if ($(this).parent().find('td.dataTables_empty').length > 0) {
					return;
				} else {
					$(this).parent().find('tr.selected').removeClass('selected');
					$(this).addClass('selected');
				}
			});

			$(myList).on('click', '#btnSearch', function(pEvent) {
				$.datatable1.ajax.reload();
			});

			$(myList).on('click', '.btnUpdate', function(pEvent) {
				var dept_code = $(this).data('dept_code');
				var cntrct_sn = $(this).data('cntrct_sn');
				var prjct_sn = $(this).data('prjct_sn');
                if(prjct_sn){
                    $('#popBox1').data('action', 'show');
                    $('#popBox1').data('actioncontract', 'show');
                }
				else{
                    $('#popBox1').data('action', 'show');
                    $('#popBox1').data('actioncontract', 'show');
                }
                if(show || dept_code == myDeptCode){
                    getProject(cntrct_sn, prjct_sn);
                }
                else{
                    alert("해당 부서만 수정 가능합니다.");
                }

			});

            $(myList).on('click', '.btnPrint', function(pEvent) {
				var dept_code = $(this).data('dept_code');
				var prjct_ty_code = $(this).data('prjct_ty_code');
				var cntrct_sn = $(this).data('cntrct_sn');
				var prjct_sn = $(this).data('prjct_sn');
                if(show || dept_code == myDeptCode){
                    if (prjct_ty_code == 'NR') { //일반공무
                        getReportNR(cntrct_sn, prjct_sn);
                    } else if (prjct_ty_code == 'BD') { //빌트인직계약
                        getReportBD(cntrct_sn, prjct_sn);
                    } else if (prjct_ty_code == 'BF') { //빌트인수수료
                        getReportBF(cntrct_sn, prjct_sn);
                    }
                }
                else{
                    alert("해당 부서만 열람 가능합니다.");
                }
			});
			$(myList).on('change', 'thead input.form-control', function(pEvent){
				if ($(this).data('before')) {
					if ($(this).data('before') != $(this).val()) {
						$.datatable1.ajax.reload();
					}
				} else {
					$.datatable1.ajax.reload();
				}
			});

			$(myList).on('change', 'thead select', function(pEvent){
				$.datatable1.ajax.reload();
			});

			$('#btnExcel').on('click', function(pEvent) {
				$('.dt-button.buttons-excel.buttons-html5').trigger('click');
			});
		},
    });
}
</script>
<script type="text/javascript">
$(function(){

	/**************************************************************************
	* 계약일자 캘린더 셋팅
	*/
	var maxYears = 5;
	$('.datepicker-e').datepicker({
		beforeShow: function(dateText) {
			$(this).data('before', $(this).val());
		},
		onSelect: function(dateText) {
			$(this).change();
		},
		onClose: function(dateText) {
			var minDate = new Date($(this).val());
			minDate.setDate(minDate.getDate() - (365*maxYears));
			$(".datepicker-s").datepicker( "option", "minDate", minDate );
		},
	});

	var end = $('.datepicker-e').val();
	if (end == '') {
		$('.datepicker-e').datepicker('setDate', 'today');
	}

	$('.datepicker-s').datepicker({
		beforeShow: function(dateText) {
			$(this).data('before', $(this).val());

			var minDate = new Date($('.datepicker-e').val());
			minDate.setDate(minDate.getDate() - (365*maxYears));
			$(".datepicker-s").datepicker( "option", "minDate", minDate );
		},
		onSelect: function(dateText) {
			$(this).change();
		},
		onClose: function(dateText) {
		},
	});

	var start = $('.datepicker-s').val();
	if (start == '') {
		var end = $('.datepicker-e').val();
		var endDate = new Date(end);
        endDate.setFullYear(endDate.getFullYear()-1);
        endDate.setMonth(0);
        endDate.setDate(1);

//		endDate.setDate(endDate.getDate() - (365*maxYears));
		$('.datepicker-s').datepicker('setDate', endDate);
	}


	$(document).on('click', '#btnBiss', function(pEvent) {
		insert_biss();
	});


	/******************************************************************************
	*
	*/
	// var selected_count = 0;
	// $('.select2-multiple').select2({
    // 	// templateSelection: function(selected, total) {
	// 	templateResult: function(state) {
	// 		return '';
	// 	},
    // 	// templateSelection: function(state) {
	// 	// 	var selected = $('#s_progrs_sttus_code option:selected').length;
	// 	// 	console.log($(this).parent());
    //   	// 	return selected+'개 선택';
    // 	// }
  	// });
	/**************************************************************************
     *
     */
	getProjectList();
});

$(document).keyup(function(e) {
    if (e.keyCode == 27) { // escape key maps to keycode `27`
        $("button[data-dismiss=modal]").trigger('click');
    }
});
</script>
<!--########################################################################-->
<!--# page script end                                                      #-->
<!--########################################################################-->


<script type="text/javascript">
/******************************************************************************
 *
 */
biss2text = function(val)
{
    if(val == '0')
        return 'X';
    else if(val == '1')
        return 'O';
    else
        return '해당사항없음';
}

getReportNR = function(s_cntrct_sn, s_prjct_sn)
{
	var params = '';
	params += '&s_cntrct_sn=' + s_cntrct_sn;
	params += '&s_prjct_sn=' + s_prjct_sn;
	window.open("/project/report/NR?"+params, "_blank");

}
getReportBD = function(s_cntrct_sn, s_prjct_sn)
{
	var params = '';
	params += '&s_cntrct_sn=' + s_cntrct_sn;
	params += '&s_prjct_sn=' + s_prjct_sn;
	window.open("/project/report/BD?"+params, "_blank");

}
getReportBF = function(s_cntrct_sn, s_prjct_sn)
{
	var params = '';
	params += '&s_cntrct_sn=' + s_cntrct_sn;
	params += '&s_prjct_sn=' + s_prjct_sn;
	window.open("/project/report/BF?"+params, "_blank");

}
</script>

<div class="modal fade" data-backdrop="static" id="popBox1">
    <style type="text/css">
#popBox1 tbody .btnUpdate, #popBox1 tbody .btnPrint{
    line-height: 1.42857143 !important;
    padding: 5px 7px!important;
    margin:  0px !important;
}
#popBox1 tbody{
    font-size:12px!important;
}
        #btnDelete{
            display:none;
        }

    </style>
    <div class="modal-dialog modal-w1200" style="width:1720px!important">
        <div class="modal-content">
			<div class="jarviswidget jarviswidget-color-greenDark">
				<header>
					<ul class="nav nav-tabs" id="popEditTabs">
						<li class="active" data-action="1">
							<a data-toggle="tab" href="#tabBox1" data-action="tab1"><i class="fa fa-lg fa-edit"></i>&nbsp;<span>계약 & 프로젝트</span></a>
						</li>
					</ul>
					<div class="jarviswidget-ctrls" role="menu">
						<a class="button-icon jarviswidget-delete-btn" aria-hidden="true" data-dismiss="modal"><i class="fa fa-times"></i></a>
					</div>

				</header>
				<div role="content" style="min-height:620px;">
					<!-- widget edit box -->
					<div class="jarviswidget-editbox no-padding" style="display:block;">
<!--
						<div class="alert alert-block alert-info" style="margin:0px;">
							<p style="margin-bottom:7px;">
								<i class="fa-fw fa fa-info"></i>
								프로젝트(도급사, 예정공사비) 정보 등록을 위한 계약을 선택하세요.
							</p>
							<select class="form-control select2" style="width:100%;" id="s_cntrct_sn" name="s_cntrct_sn">
								<option value="">[계약을 선택하세요]</option>
								{contract_list}
								<option value="{value}" data-project_yn="{prjct_creat_at}" data-project_cnt="{prjct_cnt}">{etc1}.{bcnc_nm} {label}</option>
								{/contract_list}
							</select>
						</div>
-->
                        <div class="tab-pane fade active in" id="tabBoxContract1">
                        <form id="frmBoxContract1">
                            <input type="hidden" id="s_cntrct_sn" name="s_cntrct_sn">
                            <input type="hidden" id="progrs_sttus_code" name="progrs_sttus_code" value="P">
                            <input type="hidden" id="author" value="0">
						<table class="table table-bordered table-form">
							<colgroup>
								<col width="175">
								<col width="150">
								<col width="175">
								<col width="150">
								<col width="175">
								<col width="150">
								<col width="175">
								<col width="150">
							</colgroup>
							<tbody>
								<tr><th class="" style="background:#0070C0;border-color:#0070C0;color:white;border-right:none;" colspan="1">계약</th>
                                    <th class="" style="background:#0070C0;border-color:#0070C0;color:white;border-left:none;padding:0;" colspan="7">
                                    <span class="widget-toolbar" id="popEditToolbarContract">
                                        <button type="button" class="btn btn-primary" id="btnSaveKeepContract" title="저장 후 입력값을 유지합니다."><i class="fa fa-save"> 저장</i></button>
                                        <button type="button" class="btn btn-primary" id="btnSaveContract" title="수정 가능하도록 변경합니다."><i class="fa fa-save"> 수정</i></button>
                                        <button type="button" class="btn btn-danger" id="btnDelete"><i class="fa fa-trash-o"> 삭제</i></button>

                                    </span>
                                    </th>
                                </tr>

                                <tr class="required"><th class="color-contract">프로젝트 번호</th>
                                    <td class="hasinput" colspan="3">
                                        <input type="text" class="form-control" placeholder="" id="cntrct_no" name="cntrct_no">
                                    </td>
<!--
                                    <td class="hasinput" colspan="2" style="padding:0 !important;">
                                        <table>
                                        <tbody>
-->
                                    <th class="color-contract">작성일(자동)</th>
                                    <td class="hasinput">
										2023.2.1
                                    </td>
                                    <th class="color-contract">계약일</th>
                                    <td class="hasinput">
                                        <div class="input-group">
                                            <input type="text" class="form-control datepicker" style="z-index:1050!important;" data-dateformat="yy-mm-dd" data-mask="9999-99-99" data-mask-placeholder="_" id="cntrct_de" name="cntrct_de">
                                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                        </div>
                                    </td>
<!--
                                        </tbody>
                                        </table>
                                    </td>
-->
                                </tr>
                                <tr class="required"><th class="color-contract">거래처명</th>
                                    <td class="hasinput" colspan="3">
                                        <select class="form-control select2" id="bcnc_sn" name="bcnc_sn">
                                            <option value=""></option>
                                            {% for code in bcnc_list %}
                                            <option value="{{code.value}}">{{code.value}}.{{code.label}}</option>
                                            {% endfor %}
                                        </select>
                                    </td>
                                    <th class="color-contract">공사기간</th>
                                    <td class="hasinput" colspan="3">
                                        <div class="input-group">
                                            <input class="form-control datepicker" type="text" style="z-index:1050!important;" data-dateformat="yy-mm-dd" data-mask="9999-99-99" data-mask-placeholder="_" id="cntrwk_bgnde" name="cntrwk_bgnde">
                                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                            <input class="form-control datepicker" type="text" style="z-index:1050!important;" data-dateformat="yy-mm-dd" data-mask="9999-99-99" data-mask-placeholder="_" id="cntrwk_endde" name="cntrwk_endde">
                                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                        </div>
                                    </td>
                                </tr>
                                <tr class="required"><th class="color-contract">현장명</th>
                                    <td class="hasinput" colspan="3">
                                        <input type="text" class="form-control" id="cntrct_nm" name="cntrct_nm">
                                    </td>
                                    <th class="color-contract">현장주소</th>
                                    <td class="hasinput" colspan="3">
                                        <input type="text" class="form-control" id="spt_adres" name="spt_adres">
                                    </td>
                                </tr>
                                <tr class="required">
									<th class="color-contract">세대수</th>
                                    <td class="hasinput" colspan="1">
                                        <input type="text" class="form-control" id="home_count" name="home_count">
                                    </td>
                                    <th class="color-contract">지역</th>
                                    <td class="hasinput" colspan="1">
                                        <input type="text" class="form-control" id="home_region" name="home_region">
                                    </td>
                                    <th class="color-contract">넥셀 현장담당</th>
                                    <td class="hasinput" colspan="3">
                                        <select class="form-control select2" id="spt_chrg_sn" name="spt_chrg_sn">
                                            <option value=""></option>
                                            {% for code in member_list %}
                                            <option value="{{code.value}}">{{code.label}} {{code.etc1}}</option>
                                            {% endfor %}
                                        </select>
                                    </td>
                                </tr>
                                <tr class="required">
									<th class="color-contract">프로젝트 유형</th>
                                    <td class="hasinput" colspan="3">
                                        <div class="btn-group btn-group-justified" data-toggle="buttons">
											{% for code in prjct_ty_code_list %}
                                            <label class="btn btn-default">
                                                <input type="radio" name="prjct_ty_code" value="{{code.value}}">{{code.label}}
                                            </label>
											{% endfor %}
                                        </div>
                                    </td>
									<th class="color-contract">넥셀 영업담당</th>
                                    <td class="hasinput" colspan="3">
                                        <select class="form-control select2" id="bsn_chrg_sn" name="bsn_chrg_sn">
                                            <option value=""></option>
                                            {% for code in member_list %}
                                            <option value="{{code.value}}">{{code.label}} {{code.etc1}}</option>
                                            {% endfor %}
                                        </select>
                                    </td>
                                </tr>

                                <tr class="required">
									<th class="color-contract">프로젝트 생성여부</th>
                                    <td class="hasinput" colspan="3">
                                        <div class="btn-group btn-group-justified" data-toggle="buttons">
                                            <label class="btn btn-default">
                                                <input type="radio" name="prjct_creat_at" value="Y">생성
                                            </label>
                                            <label class="btn btn-default">
                                                <input type="radio" name="prjct_creat_at" value="N">단납건
                                            </label>
                                        </div>
                                    </td>
									<th class="color-contract">진행상태</th>
                                    <td class="hasinput" colspan="3">
                                        <div class="btn-group btn-group-justified" data-toggle="buttons">
                                            {% for code in progrs_sttus_code_list %}
                                            <label class="btn btn-default">
                                                <input type="radio" name="progrs_sttus_code" value="{{code.value}}">{{code.label}}
                                            </label>
                                            {% endfor %}
                                        </div>
                                    </td>
                                </tr>


                                <!-- -->
<!--
								<tr>
									<th class="color-project">거래처명</th>
									<td class="hasinput" colspan="1">
										<input type="text" class="form-control" readonly id="bcnc_nm" name="bcnc_nm">
									</td>
									<th class="color-project">공사기간</th>
									<td class="hasinput" colspan="1">
										<input type="text" class="form-control" readonly id="cntrwk_period" name="cntrwk_period">
									</td>
								</tr>
								<tr><th class="color-project">계약명(현장명)</th>
									<td class="hasinput" colspan="1">
										<input type="text" class="form-control" readonly id="spt_nm" name="spt_nm">
									</td>
									<th class="color-project">현장주소</th>
									<td class="hasinput" colspan="1">
										<input type="text" class="form-control" readonly id="spt_adres" name="spt_adres">
									</td>
								</tr>
								<tr><th class="color-project">영업담당</th>
									<td class="hasinput" colspan="1">
										<input type="text" class="form-control" readonly id="bsn_chrg_nm" name="bsn_chrg_nm">
									</td>
									<th class="color-project">현장담당</th>
									<td class="hasinput" colspan="1">
										<input type="text" class="form-control" readonly id="spt_chrg_nm" name="spt_chrg_nm">
									</td>
								</tr>
								<tr><th class="color-project">프로젝트 유형</th>
									<td class="hasinput" colspan="1">
										<div class="btn-group btn-group-justified" data-toggle="buttons">
											{prjct_ty_code_list}
											<label class="btn btn-default">
												<input type="radio" name="prjct_ty_code" value="{value}">{label}
											</label>
											{/prjct_ty_code_list}
										</div>
									</td>
									<th class="color-project">프로젝트 생성여부</th>
									<td class="hasinput" colspan="1">
										<input type="text" class="form-control" readonly id="prjct_creat_nm" name="prjct_creat_nm">
										<input type="hidden" id="prjct_creat_at" value="Y">
									</td>
								</tr>
-->
							</tbody>
						</table>
                        </form>
                        </div>
					</div>
					<!-- end widget edit box -->
					<div class="widget-body no-padding">
						<div class="tab-content">

							<!-- 프로젝트 -->
							<div class="tab-pane fade active in" id="tabBox1">
							<form id="frmBox1">
								<table class="table table-bordered table-form">
									<colgroup>
										<col width="175">
										<col width="150">
										<col width="175">
										<col width="150">
										<col width="175">
										<col width="150">
										<col width="175">
										<col width="150">
									</colgroup>
									<tbody>

                                        <tr><th rowspan="2">본사담당</th>
											<th>담당자명</th>
											<th colspan="2">휴대폰</th>
											<th rowspan="2">거래처담당</th>
											<th>담당자명</th>
											<th>휴대폰</th>
										</tr>
										<tr>
											<td class="hasinput" colspan="1">
												<input type="text" class="form-control" id="charger_nm1" name="charger_nm1">
												<input type="hidden" id="charger_sn1" name="charger_sn1">
											</td>
											<td class="hasinput" colspan="1">
												<input type="text" class="form-control" id="charger_moblphon1" name="charger_moblphon1">
											</td>
											<td class="hasinput" colspan="1">
												<input type="text" class="form-control" id="charger_nm2" name="charger_nm2">
												<input type="hidden" id="charger_sn2" name="charger_sn2">
											</td>
											<td class="hasinput" colspan="1">
												<input type="text" class="form-control" id="charger_moblphon2" name="charger_moblphon2">
											</td>
										</tr>


										<tr>
											<th>장비/공사내역</th>
											<td class="hasinput" colspan="3">
                                                <input type="hidden" class="form-control" id="eqpmn_dtls" name="eqpmn_dtls">
												<input type="text" class="form-control" id="cntrwk_dtls" name="cntrwk_dtls">
											</td>
											<th>계약DC(%)</th>
											<td class="hasinput" colspan="1">
												<input type="number" class="form-control" id="cntrct_dscnt_rt" name="cntrct_dscnt_rt">
											</td>
											<th>품의DC(%)</th>
											<td class="hasinput" colspan="1">
												<input type="number" class="form-control" id="cnsul_dscnt_rt" name="cnsul_dscnt_rt">
											</td>
										</tr>
                                        <tr name="charger2">
											<th>도면작업자</th>
											<td class="hasinput" colspan="3">
												<select class="form-control select2 w100p" id="drw_opertor_sn" name="drw_opertor_sn">
													<option value=""></option>
													{% for code in member_list %}
													<option value="{{code.value}}">{{code.label}} {{code.etc1}}</option>
													{% endfor %}
												</select>
											</td>
											<th>실적신고</th>
											<td class="hasinput" colspan="1">
												<input type="text" class="form-control" id="acmslt_sttemnt_at" name="acmslt_sttemnt_at">
											</td>
											<th>건설공사대장</th>
											<td class="hasinput" colspan="1">
												<input type="text" class="form-control" id="cntwrk_regstr_ennc" name="cntwrk_regstr_ennc">
											</td>
										</tr>
										<tr>
											<th>결제방법(1)</th>
											<td class="hasinput" colspan="7">
												<input type="text" class="form-control" id="setle_mth" name="setle_mth">
											</td>
										</tr>
										<tr>
											<th>결제방법(2)</th>
											<th colspan="2">금액</th>
											<th colspan="1">일자</th>
											<th colspan="4">비고(특이사항)</th>
										</tr>
										<tr>
											<th>계약금</th>
											<td class="hasinput" colspan="2">
												<input type="number" class="form-control" id="enty" name="enty">
											</td>
											<td class="hasinput" colspan="1">
												<div class="input-group">
													<input class="form-control datepicker" type="text" style="z-index:1050!important;" data-dateformat="yy-mm-dd" data-mask="9999-99-99" data-mask-placeholder="_" id="enty_de" name="enty_de">
													<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
												</div>
											</td>
											<td class="hasinput" colspan="4">
												<input type="text" class="form-control" id="enty_rm" name="enty_rm">
											</td>
										</tr>
										<tr>
											<th>중도금</th>
											<td class="hasinput" colspan="2">
												<input type="number" class="form-control" id="prtpay" name="prtpay">
											</td>
											<td class="hasinput" colspan="1">
												<div class="input-group">
													<input class="form-control datepicker" type="text" style="z-index:1050!important;" data-dateformat="yy-mm-dd" data-mask="9999-99-99" data-mask-placeholder="_" id="prtpay_de" name="prtpay_de">
													<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
												</div>
											</td>
											<td class="hasinput" colspan="4">
												<input type="text" class="form-control" id="prtpay_rm" name="prtpay_rm">
											</td>
										</tr>
										<tr>
											<th>잔금</th>
											<td class="hasinput" colspan="2">
												<input type="number" class="form-control" id="surlus" name="surlus">
											</td>
											<td class="hasinput" colspan="1">
												<div class="input-group">
													<input class="form-control datepicker" type="text" style="z-index:1050!important;" data-dateformat="yy-mm-dd" data-mask="9999-99-99" data-mask-placeholder="_" id="surlus_de" name="surlus_de">
													<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
												</div>
											</td>
											<td class="hasinput" colspan="4">
												<input type="text" class="form-control" id="surlus_rm" name="surlus_rm">
											</td>
										</tr>
									</tbody>
								</table>
							</form>
							</div><!--tab-pane-->
						</div><!--tab-content-->
					</div><!--widget-body-->
				</div><!--content-->
			</div><!--jarviswidget-->
        </div><!--modal-content-->
    </div><!--modal-dialog-->
</div><!--modal-->
<div class="modal fade" data-backdrop="static" id="popBoxBiss">
    <style type="text/css">
#popBoxBiss tbody .btnUpdate, #popBox1 tbody .btnPrint{
    line-height: 1.42857143 !important;
    padding: 5px 7px!important;
    margin:  0px !important;
}
#popBoxBiss tbody{
    font-size:12px!important;
}

    </style>
    <div class="modal-dialog modal-w900" style="width:800px!important">
        <div class="modal-content">
			<div class="jarviswidget jarviswidget-color-greenDark">
				<header>
					<ul class="nav nav-tabs" id="popEditTabsBiss">
						<li class="active" data-action="1">
							<a data-toggle="tab" href="#tabBoxBiss1" data-action="tab1"><i class="fa fa-lg fa-edit"></i>&nbsp;<span>BISS 입력</span></a>
						</li>
					</ul>
					<div class="jarviswidget-ctrls" role="menu">
						<a class="button-icon jarviswidget-delete-btn" aria-hidden="true" data-dismiss="modal"><i class="fa fa-times"></i></a>
					</div>

				</header>
				<div role="content" style="min-height:110px;">
					<!-- widget edit box -->
					<div class="jarviswidget-editbox no-padding" style="display:block;">

					</div>
					<!-- end widget edit box -->
					<div class="widget-body no-padding">
						<div class="tab-content">

							<!-- 프로젝트 -->
							<div class="tab-pane fade active in" id="tabBoxBiss1">
							<form id="frmBoxBiss">
								<table class="table table-bordered table-form">
									<colgroup>
										<col width="175">
										<col width="390">
										<col width="60">
									</colgroup>
									<tbody>
										<tr>
											<th class="" style="background:#0070C0;border-color:#0070C0;color:white;border-left:none;padding:0;" colspan="3">
											<span class="widget-toolbar" id="popEditToolbarBiss">
												<button type="button" class="btn btn-primary" id="btnSaveBiss" title="저장합니다."><i class="fa fa-save"> 저장</i></button>

											</span>
											</th>
										</tr>

										<tr class="required">
											<th class="color-contract">현장명</th>
											<td class="hasinput" colspan="2">
												<select class="form-control select2" id="cntrct_sn" name="cntrct_sn">
													<option value="">[계약을 선택해주세요.]</option>
													{% for code in contract_list %}
													<option value="{{code.value}}">{{code.label}}</option>
													{% endfor %}
												</select>
											</td>
										</tr>
										<tr class="required">
											<th class="color-contract">BISS건수</th>
											<td class="hasinput" colspan="2">
												<input type="number" step="1" name="biss" id="biss" class="form-control text-right"/>
											</td>
										</tr>
									</tbody>
								</table>
							</form>
							</div><!--tab-pane-->
						</div><!--tab-content-->
					</div><!--widget-body-->
				</div><!--content-->
			</div><!--jarviswidget-->
        </div><!--modal-content-->
    </div><!--modal-dialog-->
</div><!--modal-->

<script>
	init = function(){
		$("#popBoxBiss").find("#s_bsn_chrg_sn").yVal('');
		$("#popBoxBiss").find("#cntrct_sn").yVal('');
		$("#popBoxBiss").find("#biss").val('');

	}
	$(document).on('click', '#btnSaveBiss', function(){
		var authors = ["*"];
		var loginId = $("#loginID").val();
		if(!authors.includes("*") && !authors.includes(loginId)){
			alert("권한이 없습니다.");
			return false;
		}
		var params = $("#frmBoxBiss").formSerialize();
		if($('#popBoxBiss').find("#cntrct_sn").val() == ''){
			alert("계약을 선택해주세요.");
			return false;
		}
		$.ajax({
			url: '/api/project/ajax_update_flaw_co',
			type: 'GET',
			data: params,
			dataType: 'json',
			contentType: false,
			processData: false,
			success: function (pResult) {
				alert("저장되었습니다.");
				init();
			}

		});
	});

	$('#popBoxBiss').on('shown.bs.modal', function(pEvent)
	{
		init();
	});
</script>

{% endblock %}