{% extends 'common/report_base.html' %}
{% block content %}
<link rel="stylesheet" type="text/css" href="/static/nexell/css/smartadmin-nexell-report.css">

<!--########################################################################-->
<!--# page layer start                                                     #-->
<!--########################################################################-->
<!-- 레포트1 레이어 팝업 시작 -->
<div id="popReport">
    <div>
        <div class="modal-content">
			<div class="modal-header">
				<div class="pull-right" style="margin-right:10px;">
					<button type="button" class="btn btn-primary" id="btnLoad">&nbsp;조회</i></button>
					<button type="button" class="btn btn-primary" id="btnMyExcel"><i class="fa fa-print">&nbsp;Excel</i></button>
					<button class="btn btn-primary" id="btnPrint2"><i class="fa fa-print">&nbsp;출력</i></button>
					<button class="btn btn-default" id="btnClose" aria-hidden="true" data-dismiss="modal"><i class="fa fa-times">&nbsp;취소</i></button>
				</div>
				<div class="pull-right" style="margin-right:10px;width:150px;">
					<div class="input-group">
						<input class="form-control datepicker" type="text" style="z-index:1050!important;" data-dateformat="yy-mm-dd" data-mask="9999-99-99" data-mask-placeholder="_" id="r3_s_ddt_man" name="r3_s_ddt_man">
						<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
					</div>
				</div>
			</div>
			<div class="modal-body report">

                <style>
                @media only screen and (min-width:320px) and (max-width:800px)  {
                    #popReport{
                        font-size: 9px !important;
                        line-height: 1.0 !important;
                    }
                }

                @media (min-width:1281px) { /* hi-res laptops and desktops */

                    #popReport{
                        font-size: 11px !important;
                        line-height: 0.5 !important;
                    }

                }
                .sData td, .sData th{
                    text-overflow: ellipsis!important;
                    overflow: hidden;
                    white-space: nowrap;
                }
                .pData td, .pData th{
                    text-overflow: ellipsis!important;
                    overflow: hidden;
                    white-space: nowrap;
                }

                </style>
                <div class="title"><h2 class="colorLS">외상 채권 현황</h2></div>
                <div id="myContentPre">
                    조회가 필요합니다.
                </div>

                <div id="myContent" style="display:none;overflow-x: auto;">
                </div>
                <div id="myContentSummary" style="display:none;overflow-x: auto;">
                    <h5 class="sub-title">장기미수금</h5>
                    <table id="rcppay_status_summary" style="width: 68%!important;">
                        <tbody role="body">
                            <tr>
                                <th style="width:62%;padding:0px!important;vertical-align: top!important;">
                                    <table class="sData" style="border:0px!important;">
                                        <colgroup>
                                            <col width="60">
                                            <col width="120">
                                            <col width="220">
                                            <col width="80">
                                            <col width="100">
                                            <col width="100">
                                            <col width="100">
                                            <col width="100">
                                            <col width="120">
                                            <col width="80">
                                            <col width="60">
                                            <col width="80">
                                            <col width="100">
                                            <col width="100">
                                        </colgroup>
                                        <tbody style="border:0px!important;">
                                            <tr>
                                                <th class="colorG" colspan="14">입금</th>
                                            </tr>
                                        </tbody>
                                        <tbody style="border:0px!important;">
                                            <tr>
                                                <td class="colorG">출고월</td>
                                                <td class="colorG">거래처명</td>
                                                <td class="colorG">현장명</td>
                                                <td class="colorG">부서</td>
                                                <td class="colorG">장비대</td>
                                                <td class="colorG">자재</td>
                                                <td class="colorG">설치비</td>
                                                <td class="colorG">합계</td>
                                                <td class="colorG">세금계산서금액</td>
                                                <td class="colorG">거래구분</td>
                                                <td class="colorG">예정일</td>
                                                <td class="colorButton">입금일</td>
                                                <td class="colorButton">입금액</td>
                                                <td class="colorP">미입금액</td>
                                            </tr>
                                        </tbody>
                                        <tbody role="body" style="border:0px!important;">
                                            <tr class="colorW">

                                            </tr>
                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <th class="colorG" style="" colspan="4">합계</th>
                                                <th class="colorG text-number"></th>
                                                <th class="colorG text-number"></th>
                                                <th class="colorG text-number"></th>
                                                <th class="colorG text-number"></th>
                                                <th class="colorG text-number"></th>
                                                <th class="colorP text-number" colspan="2"></th>
                                                <th class="colorButton"></th>
                                                <th class="colorButton text-number"></th>
                                                <th class="colorP text-number"></th>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </th>
                            </tr>
                        </tbody>
                    </table>
                </div>


			</div><!--modal-body-->
        </div><!--modal-content-->
    </div><!--modal-dialog-->
</div>
<!-- 레포트1 레이어 팝업 끝 -->

<script>
insertDirect = function(taxbil_sn, rcppay_de, amount)
{
	var params = '';
	params += '&taxbil_sn='+taxbil_sn;
	params += '&rcppay_de='+rcppay_de;
	params += '&amount='+amount;
	$.ajax({
		url: '/api/sales/ajax_insert_direct',
		type: 'GET',
		data: params,
		dataType: 'json',
		contentType: false,
		processData: false,
		validate: function() {
			return true;
		},
		success: function(pResult) {
            getSalesExpectReport($("#r3_s_ddt_man").val());
		}
	});
}

updateDirect = function(taxbil_sn, rcppay_de, amount)
{
	var params = '';
	params += '&taxbil_sn='+taxbil_sn;
	params += '&rcppay_de='+rcppay_de;
	params += '&amount='+amount;
	$.ajax({
		url: '/api/sales/ajax_update_direct',
		type: 'GET',
		data: params,
		dataType: 'json',
		contentType: false,
		processData: false,
		validate: function() {
			return true;
		},
		success: function(pResult) {
            getSalesExpectReport($("#r3_s_ddt_man").val());
		}
	});
}

updateAccount = function(cntrct_sn, bcnc_sn, before, expect_de)
{
	var params = '';
	params += '&cntrct_sn='+cntrct_sn;
	params += '&bcnc_sn='+bcnc_sn;
	params += '&before='+before;
	params += '&expect_de='+expect_de;
	$.ajax({
		url: '/api/sales/ajax_update_account_expect_de',
		type: 'GET',
		data: params,
		dataType: 'json',
		contentType: false,
		processData: false,
		validate: function() {
			return true;
		},
		success: function(pResult) {
            getSalesExpectReport($("#r3_s_ddt_man").val());
		}
	});
}


    $(document).on('dblclick', "td[name=am], td[name=de]", function(pEvent){
        if($(this).attr('name') == "de"){
            var td_de = $(this);
            var td_am = $(this).next();
        }else{
            var td_de = $(this).prev();
            var td_am = $(this);
        }

        var before = td_de.html();
        var de = prompt('날짜를 입력하세요 (YYYY-MM-DD)');
        if(de==null){
            return;
        }
        else if(de.length == 8){
            de = "20" + de;
        }

        if(before.length == 8){
            before = "20" + before;
        }
        var amount = prompt('금액을 입력하세요');
        if(amount==null){
            return;
        }
        td_de.html(de);
        td_am.html(amount.toFormat('NUMBER'));

        if(before !== de){
            insertDirect(td_am.data("sn"), de, amount);
        }
        else{
            updateDirect(td_am.data("sn"), de, amount);
        }
    });
    $(document).on('dblclick', "td[name=update_de]", function(pEvent){
        var cntrct_sn = $(this).data("cntrct");
        var bcnc_sn = $(this).data("bcnc");
        var before = $(this).data("de");
        var expect_de = prompt("날짜를 입력하세요");

        if(expect_de==null){
            return;
        }
        updateAccount(cntrct_sn, bcnc_sn, before, expect_de);
    });

    getSalesExpectReport = function(expect_de){
        var params = '';
        params += '&expect_de='+expect_de;
        $.ajax({
            url: '/api/sales/ajax_get_sales_expect_report',
            type: 'GET',
            data: params,
            timeout: 7200000,
            async: false,
            dataType: 'json',
            success: function (pTable) {
				console.log(pTable.longTermData);
                var pData = pTable.termData;
                $("#myContent").html('');
                var keys = [-1, 0, 1, 2];
                var pkeys = [-1, 0];
				/* summary start */
				var html = '';
				var _class = "colorW";
				$.each(pTable.longTermData, function(pIndex, pValue){
					var color3 = $.dateDiff(pValue.rcppay_de) <= 3.0 ? ' colorButton' : ' ';
                    var name = '';
                    var am = '';
                    if(pValue.taxbil_yn == 'N'){
                        name = ' name="de" data-sn="'+pValue.taxbil_sn+'" ';
                        am = ' name="am" data-sn="'+pValue.taxbil_sn+'" ';
                    }
                    var update = pValue.price_4 == '' ? ' name="update_de" data-cntrct="'+pValue.cntrct_sn+'" data-bcnc="'+pValue.bcnc_sn+'" data-de="'+pValue.sales_expect_de+'" ' : '';
					html += `<tr class="${_class}">`;
					html += '    <td class=""><span data-cntrct="'+pValue.cntrct_sn+'" data-sn="'+pValue.taxbil_sn+'"></span>'+pValue.dlivy_de+'</td>';
					html += '    <td class=""><span data-cntrct="'+pValue.cntrct_sn+'" data-sn="'+pValue.taxbil_sn+'"></span>'+pValue.bcnc_nm+'</td>';
					html += '    <td class=""><span data-cntrct="'+pValue.cntrct_sn+'" data-sn="'+pValue.taxbil_sn+'"></span>'+pValue.cntrct_nm+'</td>';
					html += '    <td class=""><span data-cntrct="'+pValue.cntrct_sn+'" data-sn="'+pValue.taxbil_sn+'"></span>'+pValue.dept_nm+'</td>';
					html += '    <td class="text-number">'+pValue.price_1.toString().toFormat('NUMBER')+'</td>';
					html += '    <td class="text-number">'+pValue.price_2.toString().toFormat('NUMBER')+'</td>';
					html += '    <td class="text-number"><span data-cntrct="'+pValue.cntrct_sn+'" data-sn="'+pValue.taxbil_sn+'"></span>'+pValue.price_3.toString().toFormat('NUMBER')+'</td>';
					html += '    <td class="text-number"><span data-cntrct="'+pValue.cntrct_sn+'" data-sn="'+pValue.taxbil_sn+'"></span>'+pValue.price_sum.toString().toFormat('NUMBER')+'</td>';
					html += '    <td class="text-number"><span data-cntrct="'+pValue.cntrct_sn+'" data-sn="'+pValue.taxbil_sn+'"></span>'+pValue.price_4.toString().toFormat('NUMBER')+'</td>';
					html += '    <td class=""><span data-cntrct="'+pValue.cntrct_sn+'" data-sn="'+pValue.taxbil_sn+'"></span>'+ ((pValue.taxbil_sn == '') ? '' : (pValue.delng_se_nm.match(/\(([^)]+)\)/g) == null ? '매출' : pValue.delng_se_nm.match(/\(([^)]+)\)/g)[0].replaceAll("(", "").replaceAll(")", "")))+'</td>';
					html += '    <td class="" '+update+'><span data-cntrct="'+pValue.cntrct_sn+'" data-sn="'+pValue.taxbil_sn+'"></span>'+pValue.expect_de.substr(2,5)+'</td>';
					html += '    <td class="'+color3+'" '+name+'>'+pValue.rcppay_de.substr(2,8)+'</td>';
					html += '    <td class="text-number '+color3+'" '+am+'>'+pValue.rcppay_amount.toString().toFormat('NUMBER')+'</td>';
					html += '    <td class="text-number"><span data-cntrct="'+pValue.cntrct_sn+'" data-sn="'+pValue.taxbil_sn+'">'+pValue.diff.toString().toFormat('NUMBER')+'</td>';
					html += '</tr>';
				});
				$(document).find(`#rcppay_status_summary .sData`).find("tbody[role='body']").html(html);
				$(document).find(`#rcppay_status_summary .sData`).find("tbody[role='body']").yRowspan(0);
				$(document).find(`#rcppay_status_summary .sData`).find("tbody[role='body']").yRowspan(1);
				$(document).find(`#rcppay_status_summary .sData`).find("tbody[role='body']").yRowspan(2);
				$(document).find(`#rcppay_status_summary .sData`).find("tbody[role='body']").yRowspan(3);
				$(document).find(`#rcppay_status_summary .sData`).find("tbody[role='body']").yRowspan(6);
				$(document).find(`#rcppay_status_summary .sData`).find("tbody[role='body']").yRowspan(7);
				$(document).find(`#rcppay_status_summary .sData`).find("tbody[role='body']").yRowspan(8);
				$(document).find(`#rcppay_status_summary .sData`).find("tbody[role='body']").yRowspan(9);
				$(document).find(`#rcppay_status_summary .sData`).find("tbody[role='body']").yRowspan(10);
				$(document).find(`#rcppay_status_summary .sData`).find("tbody[role='body']").yRowspan(13);
				var prices = $(document).find(`#rcppay_status_summary .sData`).find("tbody[role='body']").find("tr").calculation(4, 8);
				var rPrices = $(document).find(`#rcppay_status_summary .sData`).find("tbody[role='body']").find("tr").calculation(12, 13);
				$(document).find(`#rcppay_status_summary .sData`).find("tfoot").find("th").eq(1).html(prices[0].toFormat('NUMBER'));
				$(document).find(`#rcppay_status_summary .sData`).find("tfoot").find("th").eq(2).html(prices[1].toFormat('NUMBER'));
				$(document).find(`#rcppay_status_summary .sData`).find("tfoot").find("th").eq(3).html(prices[2].toFormat('NUMBER'));
				$(document).find(`#rcppay_status_summary .sData`).find("tfoot").find("th").eq(4).html(prices[3].toFormat('NUMBER'));
				$(document).find(`#rcppay_status_summary .sData`).find("tfoot").find("th").eq(5).html(prices[4].toFormat('NUMBER'));
				$(document).find(`#rcppay_status_summary .sData`).find("tfoot").find("th").eq(8).html(rPrices[0].toFormat('NUMBER'));
				$(document).find(`#rcppay_status_summary .sData`).find("tfoot").find("th").eq(9).html(rPrices[1].toFormat('NUMBER'));
				$(document).find(`#rcppay_status_summary .sData`).find("tfoot").find("th").eq(6).html((prices[3]-rPrices[0]).toFormat('NUMBER'));
				$("#myContentSummary").show();
				
				/* summary end */
				
                $.each(pData, function(_, pRow){
                    var pResult = pRow.data;
					var ppResult = pRow.pData;
                    var table_html = '';
                    table_html += `
                    <h5 class="sub-title" id="rptDate${_}"></h5>
                    <table id="rcppay_status${_}">
                        <tbody role="body">
                            <tr>
                                <th style="width:62%;padding:0px!important;vertical-align: top!important;">
                                    <table class="sData" style="border:0px!important;">

                                        <colgroup>
                                            <col width="60">
                                            <col width="120">
                                            <col width="220">
                                            <col width="80">
                                            <col width="100">
                                            <col width="100">
                                            <col width="100">
                                            <col width="100">
                                            <col width="120">
                                            <col width="80">
                                            <col width="60">
                                            <col width="80">
                                            <col width="100">
                                            <col width="100">
                                        </colgroup>
                                        <tbody style="border:0px!important;">
                                            <tr>
                                                <th class="colorG" colspan="14">입금</th>
                                            </tr>
                                        </tbody>


                                        <tbody style="border:0px!important;">
                                            <tr>
                                                <td class="colorG">출고월</td>
                                                <td class="colorG">거래처명</td>
                                                <td class="colorG">현장명</td>
                                                <td class="colorG">부서</td>
                                                <td class="colorG">장비대</td>
                                                <td class="colorG">자재</td>
                                                <td class="colorG">설치비</td>
                                                <td class="colorG">합계</td>
                                                <td class="colorG">세금계산서금액</td>
                                                <td class="colorG">거래구분</td>
                                                <td class="colorG">예정일</td>
                                                <td class="colorButton">입금일</td>
                                                <td class="colorButton">입금액</td>
                                                <td class="colorP">미입금액</td>
                                            </tr>
                                        </tbody>
                                        <tbody role="body" style="border:0px!important;">
                                            <tr class="colorW">

                                            </tr>
                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <th class="colorG" style="" colspan="4">합계</th>
                                                <th class="colorG text-number"></th>
                                                <th class="colorG text-number"></th>
                                                <th class="colorG text-number"></th>
                                                <th class="colorG text-number"></th>
                                                <th class="colorG text-number"></th>
                                                <th class="colorP text-number" colspan="2"></th>
                                                <th class="colorButton"></th>
                                                <th class="colorButton text-number"></th>
                                                <th class="colorP text-number"></th>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </th>
                                <th style="width:38%;padding:0px!important;vertical-align: top!important;">
                                    <table class="pData" style="border:0px!important;">
                                        <colgroup>
                                            <col width="120">
                                            <col width="270">

                                            <col width="110">
                                            <col width="100">
                                            <col width="100">
                                            <col width="100">
                                        </colgroup>
                                        <tbody style="border:0px!important;">
                                            <tr>
                                                <th class="colorO" colspan="6">출금</th>
                                            </tr>
                                        </tbody>
                                        <tbody style="border:0px!important;">
                                            <tr>
                                                <th class="colorO">거래처명</th>
                                                <th class="colorO">현장명</th>
                                                <th class="colorO">세금계산서금액</th>
                                                <th class="colorO">예정일</th>
                                                <th class="colorButton">지급일</th>
                                                <th class="colorButton">지급액</th>
                                            </tr>
                                        </tbody>
                                        <tbody role="body" style="border:0px!important;">
                                            <tr class="colorW">
                                            </tr>

                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <th class="colorO" style="" colspan="2">합계</th>
                                                <th class="colorO text-number"></th>
                                                <th class="colorO text-number"></th>
                                                <th class="colorButton"></th>
                                                <th class="colorButton text-number"></th>
                                            </tr>
                                        </tfoot>

                                    </table>
                                </th>
                            </tr>
                        </tbody>
                    </table>`;    
                    $("#myContent").append(table_html);
                    var html = '';
                    $.each(keys, function(pIndex, pStatus){
                        if(pResult.hasOwnProperty(pStatus)){
                            var _class = (pStatus == -1) ? "colorRY" : "colorW";
                            $.each(pResult[pStatus], function(pI, pValue){
                                var color3 = $.dateDiff(pValue.rcppay_de) <= 3.0 ? ' colorButton' : ' ';
                                var name = '';
                                var am = '';
                                if(pValue.taxbil_yn == 'N'){
                                    name = ' name="de" data-sn="'+pValue.taxbil_sn+'" ';
                                    am = ' name="am" data-sn="'+pValue.taxbil_sn+'" ';
                                }
                                var update = pValue.price_4 == '' ? ' name="update_de" data-cntrct="'+pValue.cntrct_sn+'" data-bcnc="'+pValue.bcnc_sn+'" data-de="'+pValue.sales_expect_de+'" ' : '';

                                html += `<tr class="${_class}">`;
                                html += '    <td class=""><span data-cntrct="'+pValue.cntrct_sn+'" data-sn="'+pValue.taxbil_sn+'"></span>'+pValue.dlivy_de+'</td>';
                                html += '    <td class=""><span data-cntrct="'+pValue.cntrct_sn+'" data-sn="'+pValue.taxbil_sn+'"></span>'+pValue.bcnc_nm+'</td>';
                                html += '    <td class=""><span data-cntrct="'+pValue.cntrct_sn+'" data-sn="'+pValue.taxbil_sn+'"></span>'+pValue.cntrct_nm+'</td>';
                                html += '    <td class=""><span data-cntrct="'+pValue.cntrct_sn+'" data-sn="'+pValue.taxbil_sn+'"></span>'+pValue.dept_nm+'</td>';
                                html += '    <td class="text-number">'+pValue.price_1.toString().toFormat('NUMBER')+'</td>';
                                html += '    <td class="text-number">'+pValue.price_2.toString().toFormat('NUMBER')+'</td>';
                                html += '    <td class="text-number"><span data-cntrct="'+pValue.cntrct_sn+'" data-sn="'+pValue.taxbil_sn+'"></span>'+pValue.price_3.toString().toFormat('NUMBER')+'</td>';
                                html += '    <td class="text-number"><span data-cntrct="'+pValue.cntrct_sn+'" data-sn="'+pValue.taxbil_sn+'"></span>'+pValue.price_sum.toString().toFormat('NUMBER')+'</td>';
                                html += '    <td class="text-number"><span data-cntrct="'+pValue.cntrct_sn+'" data-sn="'+pValue.taxbil_sn+'"></span>'+pValue.price_4.toString().toFormat('NUMBER')+'</td>';
                                html += '    <td class=""><span data-cntrct="'+pValue.cntrct_sn+'" data-sn="'+pValue.taxbil_sn+'"></span>'+ ((pValue.taxbil_sn == '') ? '' : (pValue.delng_se_nm.match(/\(([^)]+)\)/g) == null ? '매출' : pValue.delng_se_nm.match(/\(([^)]+)\)/g)[0].replaceAll("(", "").replaceAll(")", "")))+'</td>';
                                html += '    <td class="" '+update+'><span data-cntrct="'+pValue.cntrct_sn+'" data-sn="'+pValue.taxbil_sn+'"></span>'+pValue.expect_de.substr(2,5)+'</td>';
                                html += '    <td class="'+color3+'" '+name+'>'+pValue.rcppay_de.substr(2,8)+'</td>';
                                html += '    <td class="text-number '+color3+'" '+am+'>'+pValue.rcppay_amount.toString().toFormat('NUMBER')+'</td>';
                                html += '    <td class="text-number"><span data-cntrct="'+pValue.cntrct_sn+'" data-sn="'+pValue.taxbil_sn+'"></span>'+pValue.diff.toString().toFormat('NUMBER')+'</td>';
                                html += '</tr>';
                            });
                        }
                    });
                    $(document).find(`#rptDate${_}`).html(pRow.expect_de);
                    $(document).find(`#rcppay_status${_} .sData`).find("tbody[role='body']").html(html);
                    $(document).find(`#rcppay_status${_} .sData`).find("tbody[role='body']").yRowspan(0);
                    $(document).find(`#rcppay_status${_} .sData`).find("tbody[role='body']").yRowspan(1);
                    $(document).find(`#rcppay_status${_} .sData`).find("tbody[role='body']").yRowspan(2);
                    $(document).find(`#rcppay_status${_} .sData`).find("tbody[role='body']").yRowspan(3);
                    $(document).find(`#rcppay_status${_} .sData`).find("tbody[role='body']").yRowspan(6);
                    $(document).find(`#rcppay_status${_} .sData`).find("tbody[role='body']").yRowspan(7);
                    $(document).find(`#rcppay_status${_} .sData`).find("tbody[role='body']").yRowspan(8);
                    $(document).find(`#rcppay_status${_} .sData`).find("tbody[role='body']").yRowspan(9);
                    $(document).find(`#rcppay_status${_} .sData`).find("tbody[role='body']").yRowspan(10);
                    $(document).find(`#rcppay_status${_} .sData`).find("tbody[role='body']").yRowspan(13);
                    // $(document).find(`#rcppay_status${_} .sData`).find("tbody[role='body']").yRowspanConditional(2, 8);
                    // $(document).find(`#rcppay_status${_} .sData`).find("tbody[role='body']").yRowspanConditional(2, 9);

					var prices = $(document).find(`#rcppay_status${_} .sData`).find("tbody[role='body']").find("tr").calculation(4, 8);
					var rPrices = $(document).find(`#rcppay_status${_} .sData`).find("tbody[role='body']").find("tr").calculation(12, 13);
					$(document).find(`#rcppay_status${_} .sData`).find("tfoot").find("th").eq(1).html(prices[0].toFormat('NUMBER'));
					$(document).find(`#rcppay_status${_} .sData`).find("tfoot").find("th").eq(2).html(prices[1].toFormat('NUMBER'));
					$(document).find(`#rcppay_status${_} .sData`).find("tfoot").find("th").eq(3).html(prices[2].toFormat('NUMBER'));
					$(document).find(`#rcppay_status${_} .sData`).find("tfoot").find("th").eq(4).html(prices[3].toFormat('NUMBER'));
					$(document).find(`#rcppay_status${_} .sData`).find("tfoot").find("th").eq(5).html(prices[4].toFormat('NUMBER'));
					$(document).find(`#rcppay_status${_} .sData`).find("tfoot").find("th").eq(8).html(rPrices[0].toFormat('NUMBER'));
					$(document).find(`#rcppay_status${_} .sData`).find("tfoot").find("th").eq(9).html(rPrices[1].toFormat('NUMBER'));
					$(document).find(`#rcppay_status${_} .sData`).find("tfoot").find("th").eq(6).html((prices[3]-rPrices[0]).toFormat('NUMBER'));

                    var html = '';
                    $.each(pkeys, function(pIndex, pStatus){
                        if(ppResult.hasOwnProperty(pStatus)){
                            var _class = (pStatus == -1) ? "colorRY" : "colorW";
                            $.each(ppResult[pStatus], function(pI, pValue){
                                var color3 = $.dateDiff(pValue.rcppay_de) <= 3.0 ? ' colorButton' : ' ';
                                html += `<tr class="${_class}">`;
                                html += '    <td class=""><span data-cntrct="'+pValue.cntrct_sn+'" data-sn="'+pValue.taxbil_sn+'"></span>'+pValue.bcnc_nm+'</td>';
                                html += '    <td class=""><span data-cntrct="'+pValue.cntrct_sn+'" data-sn="'+pValue.taxbil_sn+'"></span>'+pValue.cntrct_nm+'</td>';
                                html += '    <td class="text-number">'+pValue.price.toString().toFormat('NUMBER')+'</td>';
                                html += '    <td class="">'+pValue.expect_de.substr(2,5)+'</td>';
                                html += '    <td class="'+color3+'">'+pValue.rcppay_de.substr(2,8)+'</td>';
                                html += '    <td class="text-number '+color3+'">'+pValue.rcppay_amount.toString().toFormat('NUMBER')+'</td>';
                                html += '</tr>';
                            });
                        }
                    });
                    $(document).find(`#rcppay_status${_} .pData`).find("tbody[role='body']").html(html);
                    $(document).find(`#rcppay_status${_} .pData`).find("tbody[role='body']").yRowspan(0);
                    $(document).find(`#rcppay_status${_} .pData`).find("tbody[role='body']").yRowspan(1);
                    $(document).find(`#rcppay_status${_} .pData`).find("tbody[role='body']").yRowspan(2);
                    $(document).find(`#rcppay_status${_} .pData`).find("tbody[role='body']").yRowspanConditional(1, 3);
					var prices = $(document).find(`#rcppay_status${_} .pData`).find("tbody[role='body']").find("tr").calculation(2, 2);
					var rPrices = $(document).find(`#rcppay_status${_} .pData`).find("tbody[role='body']").find("tr").calculation(5, 5);
					$(document).find(`#rcppay_status${_} .pData`).find("tfoot").find("th").eq(1).html(prices[0].toFormat('NUMBER'));
					$(document).find(`#rcppay_status${_} .pData`).find("tfoot").find("th").eq(4).html(rPrices[0].toFormat('NUMBER'));

					var sLength = $(document).find(`#rcppay_status${_} .sData`).find("tbody[role='body']").find("tr").length;
					var pLength = $(document).find(`#rcppay_status${_} .pData`).find("tbody[role='body']").find("tr").length;
					var totLength = Math.max(sLength, pLength);
					for(let len=0;len < (totLength-sLength);len++){
						var html = ''; for(let __ = 0; __ < 12; __++) html += '<td>&nbsp;</td>';
						$(document).find(`#rcppay_status${_} .sData`).find("tbody[role='body']").append(`<tr class='colorW'>${html}<tr>`);
					}
					for(let len=0;len < (totLength-pLength);len++){
						var html = ''; for(let __ = 0; __ < 6; __++) html += '<td>&nbsp;</td>';
						$(document).find(`#rcppay_status${_} .pData`).find("tbody[role='body']").append(`<tr class='colorW'>${html}<tr>`);
					}
                });


                $("#myContent").show();
                $(document).find(".sData").widthMatch();
                $(document).find(".pData").widthMatch();
                $("#myContentPre").hide();

            }
        });

    }

    $(document).ready(function(){
		if ($(document).find('#r3_s_ddt_man').val() == '') {
			$(document).find('#r3_s_ddt_man').datepicker('setDate', 'today');
		}
    });

	$(document).on('click', '#btnLoad', function(pEvent) {
        if(confirm(`데이터를 로딩하는데에 시간이 오래 걸립니다. ${$("#r3_s_ddt_man").val()} 날짜로 데이터를 로딩할까요?`)){
            getSalesExpectReport($("#r3_s_ddt_man").val());

        }
        else{
            return false;
        }
	});

	$(function() {
		/**************************************************************************
		 * 인쇄 버튼 클릭 처리
		 */
		$('#btnPrint2').on('click', function(pEvent) {
			var html = $('#popReport').find('.modal-body').html();
			$('#_print').contents().find('body>div.report').html('');
			$('#_print').contents().find('body>div.report').html(html);
			parent.frames['_print'].focus();
			parent.frames['_print'].print();
		});
	});

</script>
{% endblock %}