{% extends 'common/main_base.html' %}
{% block content %}

<style type="text/css">
tbody .btnUpdate, tbody .btn{
    line-height: 0.3!important;
}
    tbody{
        font-size:12px!important;
    }
    .table-bordered, .table-bordered>tbody>tr>td, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>td, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>thead>tr>th {
        border: 1px solid #ddd;
    }

    .table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
        line-height: 0.85!important;
    }
	.middle{
		vertical-align: middle!important;
	}
	.colorY{
		background:rgb(255,204,153)!important;
	}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    line-height: 0.95 !important;
}
table th, table td {
    padding: 4px!important;
    text-align: center!important;
}
</style>
<!--########################################################################-->
<!--# RIBBON area start                                                    #-->
<!--########################################################################-->
<div id="ribbon" style="background:#B3E5FC!important;">
	<span class="ribbon-button-alignment">
		<span class="btn btn-ribbon"><i class="fa fa-refresh"></i></span>
	</span>
    <ol class="breadcrumb" style="font-size:14px !important;">
<!--		<li>홈</li><li>계약 및 프로젝트</li><li>계약 및 프로젝트 등록</li>-->
        <style>
            .breadcrumb>li+li:before {
                content: ">";
                color : #374850!important;
            }
        </style>
        <li style="font-size:17px !important;color:#1565C0!important;">근태종합현황 </li><li><span> 근태관리</span></li>
	</ol>
</div>
<!--########################################################################-->
<!--# RIBBON area end                                                      #-->
<!--########################################################################-->


<!--########################################################################-->
<!--# contents area start                                                  #-->
<!--########################################################################-->
<div id="content">

	<!-- 화면 제목 -->
	<div class="row">
		<div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
<!--
			<h1 class="page-title txt-color-blueDark">
				<i class="fa-fw fa fa-list-alt"></i>
					목표 관리 <span>> 기성</span>
			</h1>
-->
		</div>
		<!-- right side of the page with the sparkline graphs -->
		<div class="col-xs-12 col-sm-5 col-md-5 col-lg-8">
		</div>
	</div>

	<!-- 화면 설명 -->
<!--
	<div class="alert alert-block alert-info" style="background:#e6faff!important;">
		<p><i class="fa-fw fa fa-info"></i>
			재무상태현황을 관리합니다.
		</p>
	</div>
-->

	<!-- 화면 내용 -->
	<section id="widget-grid">

		<div class="row">
			<article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

				<!-- Widget ID (each widget will need unique ID)-->
				<div class="jarviswidget jarviswidget-color-darken">
					<header>
						<span class="widget-icon"> <i class="fa fa-list"></i> </span>
                        <h2><span id="year">2020</span>년 근태종합관리</h2>
						<div class="widget-toolbar">
							<input type="text" class="form-control datepicker-s" style="display:inline;width:96px!important;" data-dateformat="yy-mm-dd" data-mask="9999-99-99" data-mask-placeholder="_" id="s_year" name="s_year" placeholder="[기준일자]">
							<button type="button" class="btn btn-success" id="btnExcel"><i class="fa fa-file-excel-o"> 엑셀 다운로드</i></button>
							<button type="button" class="btn btn-table btn-warning" title="등록" data-toggle="modal" href="#popBox1" data-action="insert"><i class="fa fa-plus"></i></button>
						</div>
						<div class="widget-toolbar">
						</div>
					</header>
					<!-- widget body div-->
					<div>
						<!-- widget edit box -->
						<div class="jarviswidget-editbox">
						</div>
						<!-- end widget edit box -->
						<style>
                            .colorSkyB{
                                background:rgb(146, 205, 220);
                                font-weight: bold;
                            }
                            .tot{
                                background:rgb(255,153,204);
                                font-weight: bold;
                            }
                            .sub_tot{
                                background:#e6faff!important;
                                font-size:12px!important;
                                font-weight: 600!important;
                            }
                            .bold{
                                font-size:12px!important;
                                font-weight: 600!important;
                            }
                            .colorG {
                                background: rgb(204,255,204)!important;
                            }
                            .table>thead+tbody, .table>tbody+tbody {
                                border-top: 2px solid #000;
                            }
                            #dtList1{
								border: 2px solid #666!important;
							}
                            .bottom_border{

                                border-bottom: 2px solid #666!important;
                            }
                            .right_border{
                                border-right: 2px solid #666!important;
                            }
                            .no-padding>table tr:last-child th:last-child {
                                border-right: 2px solid #666!important;
                            }
                            .colored{
                                background:rgb(255,204,153)!important;
                            }
							.bottom_border_double{
								border-bottom-color:#666!important;
							}

                        </style>
                        <script>

                        </script>
						<!-- widget content -->
						<div class="widget-body no-padding">
							<table class="table table-bordered w100p floating-thead" id="dtList1">
								<colgroup>
									<col width="60">
									<col width="60">
									<col width="60">
									<col width="80">
									<col width="80">
									<col width="60">
									<col width="60">
									<col width="60">
									<col width="60">
									<col width="60">
									<col width="60">
									<col width="60">
									<col width="60">
									<col width="300">
									<col width="180">
									<col width="180">
<!--									<col width="130">-->

								</colgroup>
								<thead>
									<!-- 헤더 -->
									<tr>
										<th class="colorSkyB bottom_border" style="text-align:center;vertical-align:middle;" rowspan="2">부서</th>
										<th class="colorSkyB bottom_border" style="text-align:center;vertical-align:middle;" rowspan="2">직위</th>
										<th class="colorSkyB right_border bottom_border" style="text-align:center!important;vertical-align:middle;" rowspan="2">성명</th>
										<th class="colorSkyB right_border bottom_border" style="text-align:center!important;vertical-align:middle;" rowspan="2">입사일자</th>
										<th class="colorSkyB right_border bottom_border" style="text-align:center!important;vertical-align:middle;" rowspan="2">년차</th>
										<th class="colorSkyB bottom_border right_border" style="text-align:center;vertical-align:middle;" rowspan="2">발생일수</th>
										<th class="colorSkyB bottom_border" style="text-align:center;vertical-align:middle;" rowspan="2">조정일수</th>
										<th class="colorSkyB right_border bottom_border" style="text-align:center;vertical-align:middle;" rowspan="2">총휴가일</th>
										<th class="colorSkyB right_border" style="text-align:center!important;vertical-align:middle;" colspan="2">사용일수</th>
										<th class="tot right_border bottom_border" style="text-align:center!important;vertical-align:middle;" rowspan="2">지&nbsp;&nbsp;&nbsp;각<br>(연간누계)</th>
										<th class="color-contract right_border bottom_border"  rowspan="2" style="text-align:center;vertical-align:middle;">잔여<br>휴가일</th>
										<th class="colorSkyB right_border bottom_border"  rowspan="2" style="text-align:center;vertical-align:middle;">출장일수</th>
										<th class="colorG bottom_border right_border" style="text-align:center!important;vertical-align:middle;" rowspan="2">연차 사용일</th>
										<th class="colorG bottom_border right_border" style="text-align:center!important;vertical-align:middle;" rowspan="2">반차 사용일</th>
										<th class="colorG bottom_border" style="text-align:center!important;vertical-align:middle;" rowspan="2">기타</th>
									</tr>
									<tr>
										<th class="colorSkyB bottom_border" style="text-align:center;">연차</th>
										<th class="colorSkyB bottom_border" style="text-align:center;">반차</th>
									</tr>
                                </thead>
                                <tbody role='exec'>
                                </tbody>
                            </table>
						</div>
						<!-- end widget content -->
					</div>
					<!-- end widget body div -->
				</div>
				<!-- end widget -->

			</article>
		</div>

	</section>

</div>
<!--########################################################################-->
<!--# contents area end                                                    #-->
<!--########################################################################-->


<!--########################################################################-->
<!--# commom script start                                                  #-->
<!--########################################################################-->
<script type="text/javascript">
/******************************************************************************
 *
 */
getWork = function(work_date)
{
	var work_year = work_date.split("-")[0];
	let offset = (new Date()).getTimezoneOffset() * 60000;
	var today = (new Date((new Date()).getTime()-offset)).toISOString().split("T")[0];
	var params = '';
	params += '&work_date='+work_date;
	$.ajax({
		url: '/api/work/ajax_get_work',
		type: 'GET',
		data: params,
		dataType: 'json',
		contentType: false,
		processData: false,
		success: function(pResult) {
			var html = '';
			$.each(pResult.data, function(pIndex, pValue){
				var _class = (pValue.today_rate == 1) ? "colorY" : "";
				var _class_today1 = "";
				var _class_today2 = "";
				$.each(pValue.use_dates.split(","), function(pIndex, pValue){
					if(pValue != ''){
						var tm = work_date.split("-")[1];
						var td = work_date.split("-")[2];
						var m = pValue.split('/')[0];
						var d = pValue.split("/")[1];
						if((parseInt(tm) == parseInt(m)) && (parseInt(td) == parseInt(d))){
							_class_today1 = " colorY";
						}
					}
				});
				$.each(pValue.half_dates.split(","), function(pIndex, pValue){
					if(pValue != ''){
						var tm = work_date.split("-")[1];
						var td = work_date.split("-")[2];
						var m = pValue.split('/')[0];
						var d = pValue.split("/")[1];
						if((parseInt(tm) == parseInt(m)) && (parseInt(td) == parseInt(d))){
							_class_today2 = " colorY";
						}
					}
				});
				let std = new Date(today);
				let now = new Date(pValue.enter_de);
				let diff = std.getTime() - now.getTime();
				let days = diff/1000/60/60/24;
				let y = Math.floor(days/365);
				days -= y*365;
				let m = Math.floor(days/30);
				days -= m*30;

				var period = `${y}년 ${m}월`;
				var period_title = `${y}년 ${m}월 ${days}일`;
				var enter_de_str = pValue.enter_de.split("-")[0]+"-"+pValue.enter_de.split("-")[1];

				html += `<tr id="${pValue.mber_sn}" data-year="${work_year}">
							<td class="colorG middle text-center">${pValue.dept_nm}</td>
							<td class="colorG middle text-center">${pValue.ofcps_nm}</td>
							<td class=" ${_class_today1} ${_class_today2} text-center right_border">${pValue.mber_nm}</td>
							<td class="text-center right_border" title="${pValue.enter_de}">${enter_de_str}</td>
							<td class="text-center right_border" title="${period_title}">${period}</td>
							<td class="text-center right_border">15</td>
							<td class="input-available text-center" data-column="tot2">${pValue.tot}</td>
							<td class="text-center right_border" data-column="tot3">${parseInt(pValue.tot) + 15}</td>
							<td class=" text-center ${_class_today1}" data-column="use">${pValue.use}</td>
							<td class=" text-center ${_class_today2} right_border" data-column="half">${(parseFloat(pValue.half)/2).toFixed(1)}</td>
							<td class="${_class} text-center right_border">${pValue.rate_count}</td>
							<td class=" text-center right_border color-contract" data-column="remain">${(parseFloat(pValue.tot) + 15 - parseFloat(pValue.use) - (parseFloat(pValue.half)/2)).toFixed(1)}</td>
							<td class=" text-center right_border">${pValue.out}</td>
							<td class="text-left right_border">${pValue.use_dates}</td>
							<td class="text-left right_border">${pValue.half_dates}</td>
							<td class="text-left colorBtn input-available" data-column="rm2">${pValue.rm}</td>
						 </tr>`;
			});
			$(document).find("#dtList1 tbody").html(html);
			$(document).find("#dtList1 tbody").yRowspan(0);
			$(document).find("#dtList1 tbody").yRowClass(0, "bottom_border_double");
			$(document).find("#dtList1 tbody").yRowClassNext(0, "bottom_border_double");

			$.each(pResult.work_data, function(pIndex, pValue){
				var rowId = pValue.work_row;
				var column = pValue.work_month;
				$(document).find(`#${rowId}`).find(`td[data-column="${column}"]`).removeClass("colored");
				if(parseInt(pValue.work_class) == 1)
					$(document).find(`#${rowId}`).find(`td[data-column="${column}"]`).addClass("colored");
			});
			
            $("#year").html(work_year);
		}
	});
}




set_color = function(td){
	var authors = ["*"];
	var loginId = $("#loginID").val();
	if(!authors.includes("*") && !authors.includes(loginId)){
		alert("권한이 없습니다.");
		return false;
	}

	var rowId = $(td).parent().attr("id");
	var column = $(td).data("column");
	var year = $(td).parent().data("year")
	var colored = $(td).hasClass("colored") ? 0 : 1;
	var params = '';
	params += '&work_year='+year;
	params += '&work_row='+rowId;
	params += '&work_month='+column;
	params += '&work_class='+colored;
	$.ajax({
		url: '/api/work/ajax_set_work_data',
		type: 'GET',
		data: params,
		dataType: 'json',
		contentType: false,
		processData: false,
		success: function (pResult) {
			if(pResult.status){
				if(colored == 0){
					$(td).removeClass("colored");
				}
				else{
					$(td).addClass("colored");
				}
			}
		}
	});


}
var timer;
$(document).on("click", ".colorBtn", function(){
	var td = $(this);
	if(timer){
		clearTimeout(timer);
		timer = null;
	}
	else{
		timer = setTimeout(function(){
			set_color(td);
            clearTimeout(timer);
            timer = null;
		}, 250);
	}
});

$(document).on("dblclick", ".input-available", function(){
	var before = $(this).html();
	var column = $(this).data("column");
	var colored = $(this).hasClass("colored");
	if(colored)
		return false;

	var authors = ["*"];
	var loginId = $("#loginID").val();
	if(!authors.includes("*") && !authors.includes(loginId)){
		alert("권한이 없습니다.");
		return false;
	}

	if(!['rm2'].includes(column)){
		var data = prompt("값을 입력하세요.", before.replaceAll(",", ""));
		try{
			if(/^(?:[+-])?\d+(?:\.\d)?$/.test(data)){
				data = parseFloat(data);
			}
			else{
				throw new Error(`Parameter is not a number : ${data}`);
			}
		}catch(e){
			alert("숫자 형식이 아닙니다. 올바른 형식으로 입력해주세요.");
			return false;
		}
	}
	else{
		var data = prompt("값을 입력하세요.", before);
		if(data == null){
			return false;
		}

	}
	var td = $(this);
	var rowId = $(this).parent().attr("id");
	var s_year = $(this).parent().data("year");
	var params = '';
	params += '&work_year='+s_year;
	params += '&work_row='+rowId;
	params += '&work_month='+column;
	params += '&work_data='+data;
	params += '&work_class=0';
	$.ajax({
		url: '/api/work/ajax_set_work_data',
		type: 'GET',
		data: params,
		dataType: 'json',
		contentType: false,
		processData: false,
		success: function (pResult) {
			if(pResult.status){
				if(column == 'rm2'){
					$(td).text(data.toString());
				}
				else{
					$(td).text(data.toFixed(1));
					let tot = 15;
					$(td).parent().find(`td[data-column="tot3"]`).html((15+data).toFixed(1));
					let use = parseFloat($(td).parent().find(`td[data-column="use"]`).html().replace(",", "")); if(isNaN(use)) use=0.0;
					let half = parseFloat($(td).parent().find(`td[data-column="half"]`).html().replace(",", "")); if(isNaN(half)) half=0.0;
					$(td).parent().find(`td[data-column="remain"]`).html((15 + data-use-half).toFixed(1))
				}
			}
		}
	});

});

$(document).on('click', '#btnExcel', function(e) {
    var postfix = $("#s_year").val();
    var fileName = "근태관리현황_"+postfix+".xls";
    var a = document.createElement('a');
    var data_type = 'data:application/vnd.ms-excel';
    var table_html = '';
    var tbl = 'dtList1';
//    $.each(tbls, function(tblIdx, tbl){


//        $trs = $(tbl).find('tr');
//        $.each($trs, function(pI, tr){
//            $tds = $(tr).find('td');
//            $.each($tds, function(i, td){
//                var idx = i;
//                if($(td).attr('rowspan') > 0){
//                    $(td).attr('rowspan', 1);
//                }
//                else if($(td).css('display') == 'none'){
//                    console.log("else : ", idx);
//                    if(idx == 6 || idx == 7 || idx==11){
//                        $(td).show();
//                        $(td).html('0');
//                    }
//                    else{
//                        $(td).show();
//
//                    }
//                }
//            });
//        });


        var table_div = document.getElementById(tbl);

        table_html += table_div.outerHTML.replace(/ /g, '%20');
//    });
    a.href = data_type + ',%EF%BB%BF' + table_html;
    a.download = fileName;
    a.click();
	getWork(postfix);

    e.preventDefault();



});

</script>
<script type="text/javascript">
$(function () {
  $('table.floating-thead').each(function() {
    if( $(this).css('border-collapse') == 'collapse') {
      $(this).css('border-collapse','separate').css('border-spacing',0);
    }
    $(this).prepend( $(this).find('thead:first').clone().hide().css('top',160).css('position','fixed') );
  });

  $(window).scroll(function() {
    var scrollTop = $(window).scrollTop(),
      scrollLeft = $(window).scrollLeft();
    $('table.floating-thead').each(function(i,v) {
      var thead = $(this).find('thead:last'),
        clone = $(this).find('thead:first'),
        top = $(this).offset().top,
        bottom = top + $(this).height() - thead.height();

      if( scrollTop < top-180 || scrollTop > bottom ) {
        clone.hide();
        return true;
      }
      if( clone.is('visible') ) return true;
      var fixP = 0;
      clone.find('th').each(function(i) {
        if(thead.find('th').eq(i).html() == '계'){
            fixP = -1;
        }
        $(this).width( thead.find('th').eq(i).width() +fixP);
      });
      clone.css("margin-left", -scrollLeft ).width( thead.width() ).show();
    });
  });
});

$(function() {
	/**************************************************************************
     *
     */
    //$('#dtList1 tbody').yRowspan(0);
	$('.datepicker-s').datepicker({
		onSelect: function(dateText) {
			$(this).change();
		},
	});
	var date = $('.datepicker-s').val();
	if (date == '') {
		$('.datepicker-s').datepicker('setDate', 'today');
		var date = $('.datepicker-s').val();
	}
	$(document).on('change', '.datepicker-s', function(pEvent){
		var date = $(this).val();
		if ($(this).data('before')) {
			if ($(this).data('before') != $(this).val()) {
				getWork(date);
			}
		} else {
			getWork(date);
		}
	});

	getWork(date);
});
</script>


<div class="modal fade" data-backdrop="static" id="popBox1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
			<div class="jarviswidget jarviswidget-color-greenDark">
				<header>
					<ul class="nav nav-tabs" id="popEditTabs">
						<li class="active" data-action="1">
							<a data-toggle="tab" href="#tabBox1"><i class="fa fa-lg fa-edit"></i>&nbsp;<span>근태관리</span></a>
						</li>
						<!-- <li class="" data-action="2">
							<a data-toggle="tab" href="#popEdit1"><i class="fa fa-lg fa-edit"></i>&nbsp;<span>매출</span></a>
						</li> -->
					</ul>
					<div class="jarviswidget-ctrls" role="menu">
						<a class="button-icon jarviswidget-delete-btn" aria-hidden="true" data-dismiss="modal"><i class="fa fa-times"></i></a>
					</div>
					<div class="widget-toolbar" id="popEditToolbar">
						<button type="button" class="btn btn-primary" id="btnSave" title="저장 후 입력값을 초기화합니다."><i class="fa fa-save"> 저장</i></button>
					</div>
				</header>
				<div role="content">
					<div class="widget-body no-padding">
						<div class="tab-content">

							<div class="tab-pane active in" id="tabBox1">

								<table class="table table-bordered">
									<colgroup>
										<col width="120">
										<col width="210">
									</colgroup>
									<tbody id="delng_se">
									</tbody>
									<tbody id="return">
									<form id="frmBoxR">
										<tr>
											<th class="color-contract text-center">이름</th>
											<td class="hasinput">
												<select class="select2 form-control w50p" id="mber_sn" name="mber_sn" style="padding-top:0px!important;padding-bottom:0px!important;">
													<option value="">[전체]</option>
													{% for code in member_list %}
								                    <option value="{{code.value}}">{{code.label}}</option>
													{% endfor %}
												</select>
											</td>
										</tr>
										<tr>
											<th class="color-contract text-center">휴가중연락처</th>
											<td class="hasinput">
												<input type="text" class="form-control text-left" name="tel_no"/>
											</td>
										</tr>
										<tr>
											<th class="color-contract text-center">기타연락처</th>
											<td class="hasinput">
												<input type="text" class="form-control text-left" name="etc_tel_no"/>
											</td>
										</tr>
										<tr>
											<th class="color-contract text-center">행선지</th>
											<td class="hasinput">
												<input type="text" class="form-control text-left" name="to_go"/>
											</td>
										</tr>
										<tr>
											<th class="color-contract text-center">사유</th>
											<td class="hasinput">
												<input type="text" class="form-control text-left" name="rm"/>
											</td>
										</tr>
										<tr>
											<th class="color-contract text-center">휴가구분</th>
											<td class="hasinput">
												<select class="select2 form-control w50p" id="vacation_type" name="vacation_type" style="padding-top:0px!important;padding-bottom:0px!important;">
													<option value="">[전체]</option>
													<option value="y">연차</option>
													<option value="b">병가</option>
													<option value="t">특별휴가</option>
												</select>
											</td>
										</tr>
										<tr id="vacation_type_detail_tr" style="display:none;">
											<th class="color-contract text-center">-</th>
											<td class="hasinput">
												<select class="form-control w50p" id="vacation_type_detail" name="vacation_type_detail" style="padding-top:0px!important;padding-bottom:0px!important;">
													<option value="t"></option>
													<option value="h1">오전반차</option>
													<option value="h2">오후반차</option>
												</select>
											</td>
										</tr>
										<tr>
											<th class="color-contract text-center">일자</th>
											<td class="hasinput">
												<input type="text" class="form-control datepicker-s" style="display:inline-block;width:40%!important;" data-dateformat="yy-mm-dd" data-mask="9999-99-99" data-mask-placeholder="_" id="s_de_start" name="s_de_start" placeholder="[시작일자]">
												<span class="input-group-addon" style="display:inline-block;width:10px!important;padding:0;border:0;">~</span>
												<input type="text" class="form-control datepicker-e" style="display:inline-block;width:40%!important;" data-dateformat="yy-mm-dd" data-mask="9999-99-99" data-mask-placeholder="_" id="s_de_end" name="s_de_end" placeholder="[종료일자]">
											</td>
										</tr>
                                        <tr>
											<th class="color-contract text-center">목록</th>
											<td class="hasinput" colspan="1" style="max-height:500px;overflow-y:scroll;">
												<table class="table table-bordered" id="dtList2">
													<thead>
														<tr>
															<td class="hasinput" style="width:1px;">
															</td>
															<td>휴가구분</td>
															<td>일자</td>
															<td>사유</td>
														</tr>
													</thead>
													<tbody>
													</tbody>
												</table>
											</td>
										</tr>

									</form>
									</tbody>
								</table>
							</div><!--tab-pane-->

						</div><!--tab-content-->
					</div><!--widget-body-->
				</div><!--content-->
			</div><!--jarviswidget-->
        </div><!--modal-content-->
    </div><!--modal-dialog-->
</div><!--modal-->
<script>

	$(document).on("change", "#vacation_type", function(){
    	var value = $("#vacation_type option:selected").val();
		if(['y', 'b'].includes(value)){
			$("#vacation_type_detail_tr").show();
		}
		else{
			$("#vacation_type_detail_tr").hide();
		}
	});
	$(document).on("change", "#mber_sn", function() {
		get_vacation_list();
	});
	$(document).on("click", "#btnSave", function(){
		var formData = getFormData($("#frmBoxR")[0]);
		$.ajax({
			url: '/api/member/insert_vacation',
			type: 'POST',
			data: formData,
			dataType: 'json',
			contentType: false,
			processData: false,
			validate: function() {
				return fnValidate('insert');
			},
			success: function(pResult) {
				if (pResult.status) {
					isDataChange = true;
					fnAlert(pResult.message);
					$("#popBox1").modal("hide");
					var date = $('.datepicker-s').val();
					if (date == '') {
						$('.datepicker-s').datepicker('setDate', 'today');
						var date = $('.datepicker-s').val();
					}
					getWork(date);
				}
			}
		});
	})
	fnValidate = function(status){
		return true;
	}
	var VACATION = {1 : "연차", 2 : "연차-오전반차", 3:"연차-오후반차", 4: "병가", 5: "병가-오전반차", 6: "병가-오후반차", 7 : "특별휴가"}

	get_vacation_list = function(){
		var mber_sn = $("#popBox1").find("#mber_sn").val();
		$.ajax({
			url : '/api/member/vacation_list',
			method : 'GET',
			data : {"mber_sn" : mber_sn},
			success: function(pResult){
				var html = '';
				$.each(pResult, function(pIndex, pValue){
					var vacation_type_nm = (VACATION.hasOwnProperty(pValue.vacation_type)) ? VACATION[pValue.vacation_type] : "기타";
					html += '<tr>';
					html += '    <td class="hasinput" style="width:1px;">';
					html += '        <button type="button" class="btn btn-danger btnSelect" data-sn="'+pValue.vacation_sn+'">삭제</button>';
					html += '    </td>';
					html += '    <td>'+vacation_type_nm+'</td>';
					html += '    <td>'+pValue.vacation_de+'</td>';
					html += '    <td>'+pValue.rm+'</td>';
					html += '</tr>';
				});
				$('#dtList2 tbody').html(html);


			}
		});
	}
	$('#dtList2').on('click', 'tbody tr', function(pEvent) {
		if ($(this).parent().find('td.dataTables_empty').length > 0) {
			return;
		} else {
			$(this).parent().find('tr.selected').removeClass('selected');
			$(this).addClass('selected');
		}
	});

	$('#dtList2').on('click', '.btnSelect', function(pEvent) {
		let sn = $(this).data("sn");
		var raw = $(this).closest("tr");
		if(confirm("정말 삭제하시겠습니까?")){
			$.ajax({
				url : '/api/member/delete_vacation',
				method:'GET',
				data: {"vacation_sn" : sn},
				success: function(){
					$(raw).remove();
					alert("성공적으로 삭제되었습니다.");
				}
			})

		}
	});

	$('#popBox1').on('hidden.bs.modal', function(pEvent)
	{
		$("#popBox1").find("input").val('');
		$("#popBox1").find("select").yVal('');
		$("#popBox1").find("#dtList2 tbody").html('');
	});
</script>

{% endblock %}
