{% include "approvals/common_style.html" %}
<style>
    .input-available{
        height:36px!important;
    }
    table.table-bordered td:last-child, table.table-bordered th:last-child {
        border-right-width: 1px!important;
    }
    .jarviswidget td:last-child, .jarviswidget th:last-child {
        border-right:1px solid #ddd;
    }
</style>
<table class="table table-bordered table-form sub-table" style="width:35%!important;">
    <colgroup>
        <col width="25%">
        <col width="25%">
        <col width="25%">
        <col width="25%">
    </colgroup>
    <thead>
        <tr>
            <th colspan="4" class="sub-title colorN text-center"><span>현 장 현 황</span></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="colorSky text-center">계약번호</td>
            <td class="hasinput" colspan="3"><input type="text" class="form-control text-center" name="cntrct_no" id="cntrct_no" readonly></td>
        </tr>
        <tr>
            <td class="colorSky text-center">현장명</td>
            <td class="text-center hasinput" colspan="3">
                <select class="form-control select2 w100p" id="cntrct_sn" name="cntrct_sn" style="padding-top:0px!important;padding-bottom:0px!important;">
                    {% if not init %}
                        <option value=""></option>
                        {% for code in contract_list %}
                        <option value="{{code.value}}">{{code.label}}</option>
                        {% endfor %}
                    {% endif %}
                </select>

            </td>
        </tr>
        <tr>
            <td class="colorSky text-center">세대수</td>
            <td class="hasinput"><input type="text" class="form-control text-center" name="home_count" id="home_count" readonly></td>
            <td class="colorSky text-center">지역</td>
            <td class="hasinput"><input type="text" class="form-control text-center" name="home_region" id="home_region" readonly></td>
        </tr>
        <tr>
            <td class="colorSky text-center">공사기간</td>
            <td class="hasinput" colspan="3"><input type="text" class="form-control text-center" name="cntrwk_period" id="cntrwk_period" readonly></td>
        </tr>

    </tbody>
</table>
<table class="table table-bordered table-form main-table">
    <colgroup>
        <col width="100"/>
        <col width="100"/>
        <col width="100"/>
        <col width="100"/>
        <col width="100"/>
        <col width="100"/>
        <col width="100"/>
        <col width="100"/>
        <col width="100"/>
        <col width="100"/>
    </colgroup>
    <thead>
        <tr>
			<th class="sub-title colorN text-center" style="" colspan="10"><span>직납 품목 세부 내역 - VAT포함</span>
                <div class="btn-group" style="position:absolute;top:50%;transform:translateY(-50%);right:0;">
                    <button type="button" class="btn btn-table btn-warning" title="추가" id="addRow"><i class="fa fa-plus"></i></button>
                </div>
            </th>
        </tr>
        <tr>
            <th class="color-contract text-center">구분</th>
            <th class="color-contract text-center">모델명</th>
            <th class="color-contract text-center">수량</th>
            <th class="color-contract text-center">출고가</th>
            <th class="color-contract text-center">매입DC율(%)</th>
            <th class="color-contract text-center">매입단가</th>
            <th class="color-contract text-center">장비매입금</th>
            <th class="color-contract text-center">계약단가</th>
            <th class="color-contract text-center">계약총액</th>
            <th class="color-contract text-center">이익금(VA)</th>
        </tr>
    </thead>
    <tbody role="construct_row">
        <tr data-row="construct_tr">
            <td class="colorSky text-center">예정</td>
            <td class="hasinput">
                <input type="text" class="form-control text-left" name="model_no[]">
            </td>
            <td class="hasinput">
                <input type="text" class="form-control text-right" data-type="number" name="qy[]">
            </td>
            <td class="hasinput">
                <input type="text" class="form-control text-right" data-type="number" name="dlivy_amt[]">
            </td>
            <td class="hasinput">
                <input type="text" class="form-control text-right" data-type="rate" name="dc_rate[]" readonly>
            </td>
            <td class="hasinput">
                <input type="text" class="form-control text-right" data-type="number" name="dlamt[]">
            </td>
            <td class="hasinput">
                <input type="text" class="form-control text-right" data-type="number" name="amount[]" readonly>
            </td>
            <td class="hasinput">
                <input type="text" class="form-control text-right" data-type="rate" name="cntrct_dlamt[]">
            </td>
            <td class="hasinput">
                <input type="text" class="form-control text-right" data-type="number" name="cntrct_amount[]" readonly>
            </td>
            <td class="hasinput">
                <input type="text" class="form-control text-right" data-type="number" name="va[]" readonly>
            </td>
        </tr>
    </tbody>
</table>
<table class="table table-bordered table-form main-table">
    <colgroup>
        <col width="100"/>
        <col width="100"/>
        <col width="100"/>
        <col width="100"/>
        <col width="100"/>
        <col width="100"/>
        <col width="100"/>
        <col width="100"/>
        <col width="100"/>
        <col width="100"/>
        <col width="100"/>
    </colgroup>
    <thead>
        <tr>
			<th class="sub-title colorN text-center" colspan="11"><span>직납 보고서</span><span class="text-right">VAT포함</span> </th>
        </tr>
        <tr>
            <th class="colorB text-center">구분</th>
            <th class="color-contract text-center">내역</th>
            <th class="color-contract text-center">계약총액</th>
            <th class="color-contract text-center">장비매입금</th>
            <th class="color-contract text-center">M,S/H 매입금액</th>
            <th class="color-contract text-center">M,S/H 추가DC금액</th>
            <th class="color-contract text-center">M,S/H 판매금액</th>
            <th class="color-contract text-center">옵션행사비(기준표)</th>
            <th class="color-contract text-center">기타(총액 0.5%)</th>
            <th class="colorLP text-center">이익금(VA)</th>
            <th class="colorLP text-center">VA율</th>
        </tr>
    </thead>
    <tbody role="ct_se_code">
        <tr data-row="B">
            <th class="colorB text-center middle" rowspan="2">사전입찰</th>
            <th class="colorSky text-center">예정가</th>
            <td class="hasinput">
                <input type="text" class="form-control text-right" data-type="number" name="total_cntrct_amount" readonly>
            </td>
            <td class="hasinput">
                <input type="text" class="form-control text-right" data-type="number" name="total_amount" readonly>
            </td>
            <td class="hasinput">
                <input type="text" class="form-control text-right" data-type="number" name="D_61">
            </td>
            <td class="hasinput">
                <input type="text" class="form-control text-right" data-type="number" name="D_61_DC">
            </td>
            <td class="hasinput">
                <input type="text" class="form-control text-right" data-type="number" name="D_63">
            </td>
            <td class="hasinput">
                <input type="text" class="form-control text-right" data-type="number" name="D_7" readonly>
            </td>
            <td class="hasinput">
                <input type="text" class="form-control text-right" data-type="number" name="D_10" readonly>
            </td>
            <td class="text-center" data-column="va"></td>
            <td class="text-center" data-column="va_rate"></td>
        </tr>
    </tbody>
</table>

<table class="table table-bordered table-form small-table">
    <colgroup>
        <col width="120"/>
        <col width="120"/>
        <col width="120"/>
        <col width="120"/>
        <col width="120"/>
        <col width="120"/>
        <col width="100"/>
        <col width="100"/>
        <col width="100"/>
        <col width="100"/>
        <col width="100"/>
        <col width="100"/>
        <col width="100"/>
        <col width="100"/>
        <col width="100"/>
        <col width="100"/>
    </colgroup>
    <thead>
        <tr>
			<th class="sub-title colorN text-center border_right" colspan="6" style="border-right:1px solid #666!important;"><span>옵 션 현 황</span></th>
			<th class="sub-title color-contract text-center border_right" colspan="10"><span>옵션행사 실행 기준표(4일기준)</span></th>
        </tr>
    </thead>
    <tbody role="option">
        <tr data-row="option_header">
            <td class="colorSky text-center">부스</td>
            <td class="hasinput">
                <select class="form-control select2 w100p" id="option_1" name="option_1" style="width:100%;padding-top:0px!important;padding-bottom:0px!important;">
                    <option value="0">X</option>
                    <option value="1">O</option>
                </select>
            </td>
            <td class="colorSky text-center">인력</td>
            <td class="hasinput">
                <select class="form-control select2 w100p" id="option_2" name="option_2" style="width:100%;padding-top:0px!important;padding-bottom:0px!important;">
                    <option value="0">X</option>
                    <option value="1">O</option>
                </select>
            </td>
            <td class="colorSky text-center">제작물</td>
            <td class="hasinput">
                <select class="form-control select2 w100p" id="option_3" name="option_3" style="width:100%;padding-top:0px!important;padding-bottom:0px!important;">
                    <option value="0">X</option>
                    <option value="1">O</option>
                </select>
            </td>
            <td class="text-center" rowspan="2">구분</td>
            <td class="text-center" data-limit="500" colspan="3">500세대 미만</td>
            <td class="text-center" data-limit="1000" colspan="3">1,000세대 미만</td>
            <td class="text-center" data-limit="1500" colspan="3">1,500세대 미만</td>
        </tr>
        <tr>
            <td class="sub-title colorN text-center border_right" colspan="6" style="font-weight:bold;border-right:1px solid #666!important;">특 이 사 항</td>
            <td class="text-center">부스</td>
            <td class="text-center">인력</td>
            <td class="text-center">제작물</td>
            <td class="text-center">부스</td>
            <td class="text-center">인력</td>
            <td class="text-center">제작물</td>
            <td class="text-center">부스</td>
            <td class="text-center">인력</td>
            <td class="text-center">제작물</td>
        </tr>
        <tr role="option_row">
            <th class="hasinput colorW" colspan="6" rowspan="3" style="border-right:1px solid #666!important;">
                <textarea style="height:92px;width:100%;resize:none;border:none;" name="option_bigo">
                </textarea>
            </th>
            <td class="text-center">서울권</td>
            <td class="text-center">150</td>
            <td class="text-center">130</td>
            <td class="text-center">100</td>
            <td class="text-center">150</td>
            <td class="text-center">170</td>
            <td class="text-center">130</td>
            <td class="text-center">150</td>
            <td class="text-center">220</td>
            <td class="text-center">150</td>
        </tr>
        <tr role="option_row">
            <td class="text-center">수도권</td>
            <td class="text-center">170</td>
            <td class="text-center">145</td>
            <td class="text-center">100</td>
            <td class="text-center">170</td>
            <td class="text-center">190</td>
            <td class="text-center">130</td>
            <td class="text-center">170</td>
            <td class="text-center">240</td>
            <td class="text-center">150</td>
        </tr>
        <tr role="option_row">
            <td class="text-center">지방권</td>
            <td class="text-center">200</td>
            <td class="text-center">150</td>
            <td class="text-center">100</td>
            <td class="text-center">200</td>
            <td class="text-center">200</td>
            <td class="text-center">130</td>
            <td class="text-center">200</td>
            <td class="text-center">250</td>
            <td class="text-center">150</td>
        </tr>

    </tbody>
</table>

<script>
    fnValidate = function(){
                    var result = true;
                    return result;
               }
    cloneRow = function(selector, count){
        if(selector == "construct_tr"){
            for(let i=0;i<count;i++){
                var trs = $(document).find("tbody[role='construct_row'] tr");
                var origin = trs.eq(0).clone(true);
                $(origin).find("td.hasinput input").val("");
                $(document).find("tbody[role='construct_row']").append($(origin));
            }
            $(document).find("tbody[role='construct_row']").trigger("change");
            $(document).find("tbody[role='construct_row']").yRowspan(0);

        }
    }
    $(document).on("change", "tbody[role='construct_row']", function(){
        var total_amount = 0;
        var total_cntrct_amount = 0;
        $(this).find("tr").each(function(pIndex, pRow){
            var qy = parseInt($(pRow).find("input[name='qy[]']").eq(0).val().replaceAll(",", "")); if(isNaN(qy)) qy = 0;
            var dlivy_amt = parseInt($(pRow).find("input[name='dlivy_amt[]']").eq(0).val().replaceAll(",", "")); if(isNaN(dlivy_amt)) dlivy_amt = 0;
            var dlamt = parseInt($(pRow).find("input[name='dlamt[]']").eq(0).val().replaceAll(",", "")); if(isNaN(dlamt)) dlamt = 0;
            var cntrct_dlamt = parseInt($(pRow).find("input[name='cntrct_dlamt[]']").eq(0).val().replaceAll(",", "")); if(isNaN(cntrct_dlamt)) cntrct_dlamt = 0;
            $(pRow).find("input[name='dc_rate[]']").eq(0).val((100 - dlamt*100.0/dlivy_amt).toFixed(2)+"%");
            $(pRow).find("input[name='amount[]']").eq(0).val((qy*dlamt).toFormat('NUMBER'));
            $(pRow).find("input[name='cntrct_amount[]']").eq(0).val((qy*cntrct_dlamt).toFormat('NUMBER'));
            $(pRow).find("input[name='va[]']").eq(0).val((qy*(cntrct_dlamt-dlamt)).toFormat('NUMBER'));
            total_amount += qy*dlamt;
            total_cntrct_amount += qy*cntrct_dlamt;
        });
        $(document).find("[name='total_cntrct_amount']").val(total_cntrct_amount.toFormat('NUMBER'));
        $(document).find("[name='total_amount']").val(total_amount.toFormat('NUMBER'));
        $(document).find("[name='D_10']").val(Math.round(total_cntrct_amount*0.005).toFormat('NUMBER'));
        $(`tbody[role="ct_se_code"]`).trigger("change");
    });
    $(document).on("change", "tbody[role='ct_se_code']", function(){
        var total_cntrct_amount = parseInt($(document).find("[name='total_cntrct_amount']").val().replaceAll(",", "")); if(isNaN(total_cntrct_amount)) total_cntrct_amount = 0;
        var total_amount = parseInt($(document).find("[name='total_amount']").val().replaceAll(",", "")); if(isNaN(total_amount)) total_amount = 0;
        var D_61_DC = parseInt($(document).find("[name='D_61_DC']").val().replaceAll(",", "")); if(isNaN(D_61_DC)) D_61_DC = 0;
        var D_63 = parseInt($(document).find("[name='D_63']").val().replaceAll(",", "")); if(isNaN(D_63)) D_63 = 0;
        var D_61 = parseInt($(document).find("[name='D_61']").val().replaceAll(",", "")); if(isNaN(D_61)) D_61 = 0;
        var D_7 = parseInt($(document).find("[name='D_7']").val().replaceAll(",", "")); if(isNaN(D_7)) D_7 = 0;
        var D_10 = parseInt($(document).find("[name='D_10']").val().replaceAll(",", "")); if(isNaN(D_10)) D_10 = 0;

        var va = total_cntrct_amount + D_61_DC + D_63 - D_61 - D_7 - D_10 - total_amount;


        $(this).find("[data-column='va']").html(va.toFormat('NUMBER'));
        $(this).find("[data-column='va_rate']").html((va*100.0/total_cntrct_amount).toFixed(1)+"%");
    });

    {% if init %}
    $(document).on("click", "#addRow", function(){
        cloneRow("construct_tr", 1);
    });

    		if(window.projects == undefined){
			window.projects = {};
		}

    $(document).ready(function(){
        $(document).find("tbody[role='construct_row'] input").attr("disabled", true);
        $(document).find("tbody[role='ct_se_code'] input").attr("disabled", true);
        $(document).find("tbody[role='option'] input, tbody[role='option'] select").attr("disabled", true);
        $.ajax({
            url : '/api/project/get_b_projects',
            method: 'GET',
            success: function(pResult){
                var html = `<option value="">[전체]</option>`;
                $.each(pResult, function(pIndex, pValue){
                    html += `<option value="${pValue.cntrct_sn}">${pValue.spt_nm}</option>`;
                    window.projects[pValue.cntrct_sn] = pValue;
                });
                $(document).find("#cntrct_sn").html(html);


            }
        });
        var input = document.querySelector('input[data-type="number"]');
        input.addEventListener('input', function() {
          this.value = this.value.replace(/[^0-9 \,]/, '');
        });
    });
    $(document).on("focusout", "input[data-type='number']", function(){
        var value = $(this).val().replaceAll(",", "").toFormat('NUMBER');
        $(this).val(value);
    });
    $(document).on("focusout", "input", function(){
        $(this).closest("tbody").trigger("change");
    });
    $(document).on("keyup", "input", function(e){
        if(e.keyCode == 13){
            $(this).focusout();
        }
    });
    $(document).on("change", "#cntrct_sn", function(){
        var cntrct_sn = $("#cntrct_sn").find(":selected").val();
        $(document).find(".colorY").removeClass("colorY");
        if(cntrct_sn != ''){
            var pValue = window.projects[cntrct_sn];
            $("#cntrct_no").val(pValue.cntrct_no);
            $("#home_count").val(pValue.home_count);
            $("#home_region").val(pValue.home_region);
            $("#cntrwk_period").val(pValue.cntrwk_period);
            if(pValue.home_region == "서울권" || pValue.home_region == "수도권" || pValue.home_region == "지방권"){
                $(document).find("tbody[role='option'] td").each(function(pIndex, pTag){
                    if($(pTag).html()==pValue.home_region){
                        $(pTag).addClass("colorY");
                        $(pTag).attr("data-home", "home");
                    }
                    else{
                        $(pTag).removeClass("colorY");
                        $(pTag).attr("data-home", "");
                    }
                });
            }
            $(document).find("tbody[role='construct_row'] input").attr("disabled", false);
            $(document).find("tbody[role='ct_se_code'] input").attr("disabled", false);
            $(document).find("tbody[role='option'] input, tbody[role='option'] select").attr("disabled", false);
            if(!isNaN(parseInt(pValue.home_count))){
                if(parseInt(pValue.home_count) < 500){
                    window.home_count = 1;
                }
                else if(parseInt(pValue.home_count) < 1000){
                    window.home_count = 2;
                }
                else{
                    window.home_count = 3;
                }
                $(document).find(`tr[data-row='option_header'] td[data-limit]`).removeClass("colorY");
                $(document).find(`tr[data-row='option_header'] td[data-limit='${window.home_count*500}']`).addClass("colorY");
            }
        }
    });
    $(document).on("change", "#option_1, #option_2, #option_3", function(){
        var on1 = $("#option_1").find(":selected").val() == "1";
        var on2 = $("#option_2").find(":selected").val() == "1";
        var on3 = $("#option_3").find(":selected").val() == "1";
        $.each($(document).find("tbody[role='option'] tr[role='option_row']"), function(pIndex, pRow){
            $(pRow).find("td").each(function(pI, pT){
                if(pI > 0){
                    $(pT).removeClass("colorY");
                }
            });
        });
        var tr = $(document).find("tbody[role='option'] td[data-home='home']").parent();
        if(tr.length > 0){
            var total = 0;
            if(on1){

                $(tr).find("td").eq(1 + (window.home_count-1)*3).addClass("colorY");
                var value = parseInt($(tr).find("td").eq(1 + (window.home_count-1)*3).html().replaceAll(",", "")); if(isNaN(value)) value = 0;
                total += value;
            }
            if(on2){
                $(tr).find("td").eq(2 + (window.home_count-1)*3).addClass("colorY");
                var value = parseInt($(tr).find("td").eq(2 + (window.home_count-1)*3).html().replaceAll(",", "")); if(isNaN(value)) value = 0;
                total += value;
            }
            if(on3){
                $(tr).find("td").eq(3 + (window.home_count-1)*3).addClass("colorY");
                var value = parseInt($(tr).find("td").eq(3 + (window.home_count-1)*3).html().replaceAll(",", "")); if(isNaN(value)) value = 0;
                total += value;
            }
            $("input[name='D_7']").val((total*10000).toFormat('NUMBER'));
            $("input[name='D_7']").focus();
            $("input[name='D_7']").focusout();
        }
        else{
            $("input[name='D_7']").val("0");
            $("input[name='D_7']").focus();
            $("input[name='D_7']").focusout();
        }
        $("input[name='D_7']").attr("readonly", true);



    });
    {% else %}
    $.fn.afterLoadApproval = function(){
        var home_region = $("#home_region").val();
        var home_count = $("#home_count").val().replaceAll(",", "");
        var home_count_col = 1;
        if(home_region == "서울권" || home_region == "수도권" || home_region == "지방권"){
            $(document).find("tbody[role='option'] td").each(function(pIndex, pTag){
                if($(pTag).html()==home_region){
                    $(pTag).addClass("colorY");
                    $(pTag).attr("data-home", "home");
                }
                else{
                    $(pTag).removeClass("colorY");
                    $(pTag).attr("data-home", "");
                }
            });
        }

        if(parseInt(home_count) < 500){
            home_count_col = 1;
        }
        else if(parseInt(home_count) < 1000){
            home_count_col = 2;
        }
        else{
            home_count_col = 3;
        }
        $(document).find(`tr[data-row='option_header'] td[data-limit]`).removeClass("colorY");
        $(document).find(`tr[data-row='option_header'] td[data-limit='${home_count_col*500}']`).addClass("colorY");
        var on1 = $("#option_1").find(":selected").val() == "1";
        var on2 = $("#option_2").find(":selected").val() == "1";
        var on3 = $("#option_3").find(":selected").val() == "1";
        $.each($(document).find("tbody[role='option'] tr[role='option_row']"), function(pIndex, pRow){
            $(pRow).find("td").each(function(pI, pT){
                if(pI > 0){
                    $(pT).removeClass("colorY");
                }
            });
        });
        var tr = $(document).find("tbody[role='option'] td[data-home='home']").parent();
        if(tr.length > 0){
            if(on1){

                $(tr).find("td").eq(1 + (home_count_col-1)*3).addClass("colorY");
            }
            if(on2){
                $(tr).find("td").eq(2 + (home_count_col-1)*3).addClass("colorY");
            }
            if(on3){
                $(tr).find("td").eq(3 + (home_count_col-1)*3).addClass("colorY");
            }
        }


    }
    {% endif %}
</script>