{% include "approvals/common_style.html" %}
<style>
    .input-available{
        height:36px!important;
    }
    table.table-bordered td:last-child, table.table-bordered th:last-child {
        border-right-width: 1px!important;
    }
    .jarviswidget td:last-child, .jarviswidget th:last-child {
        border-right:1px solid #ddd;
    }
</style>
<table class="table table-bordered table-form sub-table" style="width:35%!important;">
    <colgroup>
        <col width="25%">
        <col width="25%">
        <col width="25%">
        <col width="25%">
    </colgroup>
    <thead>
        <tr>
            <th colspan="4" class="sub-title colorN text-center"><span>현 장 현 황</span></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="colorSky text-center">계약번호</td>
            <td class="hasinput" colspan="3"><input type="text" class="form-control text-center" name="cntrct_no" id="cntrct_no" readonly></td>
        </tr>
        <tr>
            <td class="colorSky text-center">현장명</td>
            <td class="text-center hasinput" colspan="3">
                <select class="form-control select2 w100p" id="cntrct_sn" name="cntrct_sn" style="padding-top:0px!important;padding-bottom:0px!important;">
                    {% if not init %}
                        <option value=""></option>
                        {% for code in contract_list %}
                        <option value="{{code.value}}">{{code.etc1}} {{code.label}}</option>
                        {% endfor %}
                    {% endif %}
                </select>

            </td>
        </tr>
        <tr>
            <td class="colorSky text-center">세대수</td>
            <td class="hasinput"><input type="text" class="form-control text-center" name="home_count" id="home_count" readonly></td>
            <td class="colorSky text-center">지역</td>
            <td class="hasinput"><input type="text" class="form-control text-center" name="home_region" id="home_region" readonly></td>
        </tr>
        <tr>
            <td class="colorSky text-center">공사기간</td>
            <td class="hasinput" colspan="3"><input type="text" class="form-control text-center" name="cntrwk_period" id="cntrwk_period" readonly></td>
        </tr>
    </tbody>
    <tbody role="equip">
        <tr>
            <td class="colorSky text-center">납품일정</td>
            <td class="hasinput" colspan="3">
                <input type="text" class="form-control text-left" name="pay_period" id="pay_period"/>
            </td>
        </tr>
        <tr>
            <td class="colorSky text-center">결제방법</td>
            <td class="hasinput" colspan="3">
                <input type="text" class="form-control text-left" name="pay_method" id="pay_method"/>
            </td>
        </tr>
  </tbody>
</table>
<table class="table table-bordered table-form main-table">
    <colgroup>
        <col width="100"/>
        <col width="100"/>
        <col width="100"/>
        <col width="100"/>
        <col width="100"/>
        <col width="100"/>
        <col width="100"/>
        <col width="100"/>
        <col width="100"/>
        <col width="100"/>
        <col width="100"/>
    </colgroup>
    <thead>
        <tr>
			<th class="sub-title colorN text-center" colspan="11"><span style="position:absolute;left:50%;top:50%;transform:translate(-50%, -50%);">① 장비 매입/출고 현황 - VAT포함</span>
                <div class="btn-group" style="position:absolute;top:50%;transform:translateY(-50%);right:0;">
                    <button type="button" class="btn btn-table btn-warning" title="추가" id="addRow"><i class="fa fa-plus"></i></button>
                </div>
            </th>

        </tr>
    </thead>
    <tbody role="header">
        <tr>
            <th class="color-contract text-center">상품명</th>
            <th class="color-contract text-center">모델명</th>
            <th class="color-contract text-center">수량</th>
            <th class="color-contract text-center">출고가</th>
            <th class="color-contract text-center">매입DC율(%)</th>
            <th class="color-contract text-center">매입단가</th>
            <th class="color-contract text-center">장비매입금액</th>
            <th class="color-contract text-center">매입처</th>
            <th class="color-contract text-center">계약단가</th>
            <th class="color-contract text-center">계약총액</th>
            <th class="color-contract text-center">이익금(VA)</th>
        </tr>
    </tbody>
    <tbody role="equip_row">
        <tr data-row="equip_tr">
            <td class="hasinput">
                <select class="form-control select2" name="prdlst_se_code[]" style="width:100%!important;">
                    <option value="">[전체]</option>
                    {% for code in prdlst_se_code_list %}
                    <option value="{{code.value}}">{{code.label}}</option>
                    {% endfor %}
                </select>
            </td>
            <td class="hasinput">
                <input type="text" class="form-control text-left" name="model_no[]"/>
            </td>
            <td class="hasinput">
                <input type="text" class="form-control text-right" data-type="number" name="dlnt[]"/>
            </td>
            <td class="hasinput">
                <input type="text" class="form-control text-right" data-type="number" name="dlivy_amt[]"/>
            </td>
            <td class="hasinput">
                <input type="text" class="form-control text-right" data-type="rate" name="rate[]"/>
            </td>
            <td class="hasinput">
                <input type="text" class="form-control text-right" data-type="number" name="pamount[]"/>
            </td>
            <td class="hasinput">
                <input type="text" class="form-control text-right" data-type="number" name="samsung_amount[]" readonly/>
            </td>
            <td class="hasinput">
                <select class="form-control select2" name="bcnc_sn[]" style="width:100%!important;">
                    <option value=""></option>
                    {% for code in bcnc_list %}
                    <option value="{{code.value}}">{{code.value}}.{{code.label}}</option>
                    {% endfor %}
                </select>
            </td>

            <td class="hasinput">
                <input type="text" class="form-control text-right" data-type="number" name="cntrct_amount[]"/>
            </td>
            <td class="hasinput">
                <input type="text" class="form-control text-right" data-type="number" name="amount[]"/>
            </td>
            <td class="hasinput">
                <input type="text" class="form-control text-right" data-type="number" name="va[]"/>
            </td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <td class="colorG text-center" colspan="2">합계</td>
            <td class="colorG text-right" data-column="total_dlnt"></td>
            <td class="colorG"></td>
            <td class="colorG"></td>
            <td class="colorG text-right" data-column="total_pamount"></td>
            <td class="colorP text-right" data-column="total_samsung_amount"></td>
            <td class="colorG"></td>
            <td class="colorG"></td>
            <td class="colorG text-right" data-column="total_amount"></td>
            <td class="colorG text-right" data-column="total_va"></td>
        </tr>
    </tfoot>
</table>
<style>
    .table td.hasinput{
        padding:2px!important;
    }
    .hasinput .table td.hasinput{
        padding:2px!important;
    }
</style>
<table class="table table-bordered table-form small-table" style="width:100%!important;">
    <colgroup>
        <col width="100"/>
        <col width="100"/>
        <col width="100"/>
        <col width="100"/>
    </colgroup>
    <thead>
        <tr>
            <th class="sub-title colorN text-center" colspan="4"><span>특이사항</span></th>
        </tr>

    </thead>
  <tbody>
    <tr>
        <td class="text-center" colspan="4"><textarea style="width:100%;height:100%;resize:none;border:none;" name="option_bigo"></textarea></td>
    </tr>
  </tbody>
</table>

<script>
    function dateDiff(_date1, _date2) {
        console.log(_date1, _date2);
        var diffDate_1 = new Date(_date1);
        var diffDate_2 = new Date(_date2);

        var diff = Math.abs(diffDate_2.getTime() - diffDate_1.getTime());
        console.log(diff);
        diff = Math.round(diff / (1000 * 3600 * 24));
        console.log(diff);

        return diff;
    }

    function isValidDate(dateString) {
      var regEx = /^\d{4}-\d{2}-\d{2}$/;
      if(!dateString.match(regEx)) return false;  // Invalid format
      var d = new Date(dateString);

      var dNum = d.getTime();
      if(!dNum && dNum !== 0) return false; // NaN value, Invalid date
      return (new Date(d.getTime()-(new Date()).getTimezoneOffset())).toISOString().slice(0,10) === dateString;
    }
    get_cost_bf_bd = function(cntrct_sn){
        $.ajax({
            url : '/api/project/get_cost_bf_bd',
            method: 'GET',
            data : {"s_cntrct_sn" : cntrct_sn},
            success: function(pResult){
                console.log(pResult);
                $(document).find("tbody[role='equip_row'] input, tbody[role='equip_row'] select").attr("disabled", false);

{#                {% if init %}#}
{#                cloneRow("equip_tr", pResult.samsungList.length-$(document).find(`tr[data-row="equip_tr"]`).length);#}
{#                {% endif %}#}


                $("tbody[role='equip_row']").trigger("change");


            }

        })
    }
    fnValidate = function(){
                    var result = true;
                    return result;
               }
    cloneRow = function(selector, count){
        if(selector == "equip_tr"){
            for(let i=0;i<count;i++) {
                var trs = $(document).find("tbody[role='equip_row'] tr");
                var origin = trs.eq(0).clone(true);
                $(origin).find("td:not(.hasinput)").html("");
                $(origin).find("td.hasinput input").val("");
                $(origin).find("td.hasinput select").each(function (pIndex, pTag) {

                    $(pTag).parent().html(`<select class="form-control select2 cloned" name="bcnc_sn[]" style="width:100%!important;">
                                            <option value="">[전체]</option>
                                            {% for code in bcnc_list %}
                                            <option value="{{code.value}}">{{code.value}}.{{code.label}}</option>
                                            {% endfor %}
                                        </select>`);
                });
                $(document).find("tbody[role='equip_row']").append($(origin));
            }
            {% if init %}
                $(document).find(".cloned").select2();
                $(document).find(".cloned").removeClass("cloned");
            {% endif %}
            $(document).find("tbody[role='equip_row']").trigger("change");
        }
    }
    $(document).on("change", "tbody[role='equip_row']", function(){

        var total_pamount = 0;
        var total_samsung_amount = 0;
        var total_dlnt = 0;
        var total_amount = 0;
        var total_va = 0;
        $(this).find("tr").each(function(pIndex, pRow){
            var pamount = parseInt($(pRow).find("[name='pamount[]']").val().replaceAll(",", "")); if(isNaN(pamount)) pamount = 0;
            var dlnt = parseInt($(pRow).find("[name='dlnt[]']").val().replaceAll(",", "")); if(isNaN(dlnt)) dlnt = 0;
            var cntrct_amount = parseInt($(pRow).find("[name='cntrct_amount[]']").val().replaceAll(",", "")); if(isNaN(cntrct_amount)) cntrct_amount = 0;
            var samsung_amount = pamount * dlnt;
            var amount = dlnt*cntrct_amount;
            var va = amount-samsung_amount;
            total_pamount += pamount;
            total_samsung_amount += samsung_amount;
            total_dlnt += dlnt;
            total_amount += amount;
            total_va += va;
            $(pRow).find("[name='va[]']").val(va.toFormat('NUMBER'));
            $(pRow).find("[name='amount[]']").val(amount.toFormat('NUMBER'));
            $(pRow).find("[name='samsung_amount[]']").val(samsung_amount.toFormat('NUMBER'))
        });
        $(this).parent().find("[data-column='total_pamount']").html(total_pamount.toFormat('NUMBER'));
        $(this).parent().find("[data-column='total_samsung_amount']").html(total_samsung_amount.toFormat('NUMBER'));
        $(this).parent().find("[data-column='total_dlnt']").html(total_dlnt.toFormat('NUMBER'));
        $(this).parent().find("[data-column='total_amount']").html(total_amount.toFormat('NUMBER'));
        $(this).parent().find("[data-column='total_va']").html(total_va.toFormat('NUMBER'));

    });



    {% if init %}
    $(document).on("click", "#addRow", function(){
        cloneRow("equip_tr", 1);
    });
    		if(window.projects == undefined){
			window.projects = {};
		}

    $(document).ready(function(){
        //$(document).find("tbody[role='equip_row'] input").attr("disabled", true);
        //$(document).find("tbody[role='equip_row'] select").attr("disabled", true);
        $.ajax({
            url : '/api/project/get_p_projects',
            method: 'GET',
            success: function(pResult){
                var cntrct_sn = $(document).find("#cntrct_sn").val();
                var html = `<option value="">[전체]</option>`;
                $.each(pResult, function(pIndex, pValue){
                    if(cntrct_sn != '' && (parseInt(pValue.cntrct_sn) == parseInt(cntrct_sn))){
                        html += `<option value="${pValue.cntrct_sn}" selected>${pValue.cntrct_no} ${pValue.spt_nm}</option>`;
                    }
                    else{
                        html += `<option value="${pValue.cntrct_sn}">${pValue.cntrct_no} ${pValue.spt_nm}</option>`;
                    }
                    window.projects[pValue.cntrct_sn] = pValue;
                });
                $(document).find("#cntrct_sn").html(html);

            }
        });
        var input = document.querySelector('input[data-type="number"]');
        input.addEventListener('input', function() {
          this.value = this.value.replace(/[^0-9 \,]/, '');
        });
    });
    $(document).on("focusout", "input[data-type='number']", function(){
        var value = $(this).val().replaceAll(",", "").toFormat('NUMBER');
        $(this).val(value);
    });
    $(document).on("focusout", "input[data-type='rate']", function(){
        var value = parseFloat($(this).val().replaceAll(",", "").replaceAll("%", ""));
        $(this).val(isNaN(value) ? '' : (value+"%"));
    });
    $(document).on("focusout", "input", function(){
        $(this).closest("tbody").trigger("change");
    });
    $(document).on("focusout", "input[data-type='date']", function(){
        if(!isValidDate($(this).val()) && $(this).val() != ''){
            alert("날짜 형식이 올바르지 않습니다. (yyyy-mm-dd)");
            $(this).val("");
        }
    });

    $(document).on("keyup", "input", function(e){
        if(e.keyCode == 13){
            $(this).focusout();
        }
    });
    $(document).on('select2:open', '.select2', function (e) {
        const evt = "scroll.select2";
        $(e.target).parents().off(evt);
        $(window).off(evt);
    });
    $(document).on("change", "#cntrct_sn", function(){
        var cntrct_sn = $("#cntrct_sn").find(":selected").val();
        if(cntrct_sn != ''){
            var pValue = window.projects[cntrct_sn];
            $("#cntrct_no").val(pValue.cntrct_no);
            $("#home_count").val(pValue.home_count);
            $("#home_region").val(pValue.home_region);
            $("#cntrwk_period").val(pValue.cntrwk_period);
            get_cost_bf_bd(cntrct_sn);
        }
    });
    {% else %}
    $.fn.afterLoadApproval = function() {

    }
    {% endif %}
</script>