<style>
    .main-table>thead>tr>th.sub-title{
        border-right:0px!important;position:relative;height:30px;
    }
    .sub-table>thead>tr>th.sub-title{
        border-right:0px!important;position:relative;height:26px;
    }
    .small-table>thead>tr>.sub-title{
        border-right:0px!important;position:relative;height:24px;
    }
    .main-table>thead>tr>th:not(.sub-title), .main-table>thead>tr>td:not(.sub-title), .sub-table>thead>tr>th:not(.sub-title), .sub-table>thead>tr>td:not(.sub-title), .small-table>thead>tr>th:not(.sub-title), .small-table>thead>tr>td:not(.sub-title){
        height:26px;
        padding:0px 10px 0px 10px!important;
        vertical-align:middle;
    }
    .table thead tr, .table tr{
        font-size:11px;
    }

    .main-table>thead>tr>.sub-title{
        font-size:16px;
    }
    .sub-table>thead>tr>.sub-title{
        font-size:16px;
    }
    .sub-table .btn, .main-table .btn{
        line-height:1!important;
    }
    .small-table>thead>tr>.sub-title>span,.small-table>tbody>tr>.sub-title{
        font-size:16px;
    }
    .small-table tbody td{
        height:26px;
    }
    th.sub-title>span{
        position:absolute;left:50%;top:50%;transform:translate(-50%, -50%);
    }
    th.sub-title>span.text-left{
        position:absolute;left:10px;top:50%;transform:translateY(-50%);
    }
    th.sub-title>span.text-right{
        position:absolute;right:10px;top:50%;transform:translateY(-50%);
    }
    .form-control{
        height: 27px!important;
    }

    .input-group-addon .fa {
        font-size: 11px;
    }
    .input-group-addon {
        font-size:10px!important;
    }
    .main-table>tbody>tr>td, .main-table>tbody>tr>th, .main-table>tfoot>tr>td, .main-table>tfoot>tr>th, .main-table>thead>tr>td, .main-table>thead>tr>th{
        line-height:1!important;
    }
    .sub-table>tbody>tr>td, .sub-table>tbody>tr>th, .sub-table>tfoot>tr>td, .sub-table>tfoot>tr>th, .sub-table>thead>tr>td, .sub-table>thead>tr>th{
        line-height:1!important;
    }
    body.smart-style-6 .modal .table>tbody>tr>td.hasinput, body.smart-style-6 .modal .table>tbody>tr>th.hasinput, body.smart-style-6 .modal .table>tfoot>tr>td.hasinput, body.smart-style-6 .modal .table>tfoot>tr>th.hasinput, body.smart-style-6 .modal .table>thead>tr>td.hasinput, body.smart-style-6 .modal .table>thead>tr>th.hasinput{
        padding:0px!important;
    }
    body.smart-style-6 .modal .table>tbody>tr>td, body.smart-style-6 .modal .table>tfoot>tr>th, body.smart-style-6 .modal .table>tfoot>tr>td, body.smart-style-6 .modal .table>thead>tr>td{
        padding:3px!important;
        padding-left:10px!important;
        padding-right:10px!important;
    }
    .select2-container .select2-choice, .select2-selection{
        height: 25px!important;
    }
</style>
