{% include "approvals/common_style.html" %}
<style>
    .input-available{
        height:36px!important;
    }
    table.table-bordered td:last-child, table.table-bordered th:last-child {
        border-right-width: 1px!important;
    }
    .jarviswidget td:last-child, .jarviswidget th:last-child {
        border-right:1px solid #ddd;
    }
</style>
<table class="table table-bordered table-form sub-table" style="width:35%!important;">
    <colgroup>
        <col width="25%">
        <col width="25%">
        <col width="25%">
        <col width="25%">
    </colgroup>
    <thead>
        <tr>
            <th colspan="4" class="sub-title colorN text-center"><span>현 장 현 황</span></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="colorSky text-center">계약번호</td>
            <td class="hasinput" colspan="3"><input type="text" class="form-control text-center" name="cntrct_no" id="cntrct_no" readonly></td>
        </tr>
        <tr>
            <td class="colorSky text-center">현장명</td>
            <td class="text-center hasinput" colspan="3">
                <select class="form-control select2 w100p" id="cntrct_sn" name="cntrct_sn" style="padding-top:0px!important;padding-bottom:0px!important;">
                    {% if not init %}
                        <option value=""></option>
                        {% for code in contract_list %}
                        <option value="{{code.value}}">{{code.label}}</option>
                        {% endfor %}
                    {% endif %}
                </select>

            </td>
        </tr>
        <tr>
            <td class="colorSky text-center">세대수</td>
            <td class="hasinput"><input type="text" class="form-control text-center" name="home_count" id="home_count" readonly></td>
            <td class="colorSky text-center">지역</td>
            <td class="hasinput"><input type="text" class="form-control text-center" name="home_region" id="home_region" readonly></td>
        </tr>
        <tr>
            <td class="colorSky text-center">공사기간</td>
            <td class="hasinput" colspan="3"><input type="text" class="form-control text-center" name="cntrwk_period" id="cntrwk_period" readonly></td>
        </tr>
        <tr>
            <th class="color-contract text-center">도급사</th>
            <td class="text-center hasinput" colspan="3">
                <select class="form-control select2 w100p" id="outsrc_fo_sn" name="outsrc_fo_sn" style="padding-top:0px!important;padding-bottom:0px!important;">
                    {% if not init %}
                        <option value=""></option>
                        {% for code in bcnc_list %}
                        <option value="{{code.value}}">{{code.label}}</option>
                        {% endfor %}
                    {% endif %}
                </select>
            </td>
        </tr>
    </tbody>
</table>
<table class="table table-bordered table-form main-table">
    <colgroup>
        <col width="100"/>
        <col width="100"/>
        <col width="100"/>
        <col width="100"/>
        <col width="100"/>
        <col width="100"/>
        <col width="100"/>
        <col width="100"/>
        <col width="100"/>
        <col width="100"/>
        <col width="100"/>
        <col width="100"/>
        <col width="100"/>
        <col width="100"/>
        <col width="100"/>
    </colgroup>
    <thead>
        <tr>
			<th class="sub-title colorN text-center" colspan="15"><span>공사비 현황</span></th>
        </tr>
    </thead>
    <tbody role="header">
        <tr>
            <th class="color-contract text-center" colspan="4">계약현황</th>
            <th class="color-contract text-center" colspan="9">실행현황</th>
            <th class="color-contract text-center" colspan="2">VA</th>
        </tr>
        <tr>
            <th class="color-contract text-center">장비비</th>
            <th class="color-contract text-center">설치비</th>
            <th class="color-contract text-center">간접비</th>
            <th class="color-contract text-center">계</th>
            <th class="color-contract text-center">장비비(삼성)</th>
            <th class="color-contract text-center">장비비(타사)</th>
            <th class="color-contract text-center">설치비</th>
            <th class="color-contract text-center">간접비</th>
            <th class="color-contract text-center">로지텍자재</th>
            <th class="color-contract text-center">기타자재</th>
            <th class="color-contract text-center">기타비용</th>
            <th class="color-contract text-center">설계변경</th>
            <th class="color-contract text-center">계</th>
            <th class="color-contract text-center">이익금</th>
            <th class="color-contract text-center">VA율</th>
        </tr>
    </tbody>
    <tbody role="ct_se_code">
        <tr>
            <td class="text-right" data-type='number' name="C_1"></td>
            <td class="text-right" data-type='number' name="C_5"></td>
            <td class="text-right" data-type='number' name="C_8"></td>
            <td class="text-right" data-type='number' data-column="C_total"></td>
            <td class="text-right" data-type='number' name="E_1"></td>
            <td class="text-right" data-type='number' name="E_2"></td>
            <td class="text-right" data-type='number' name="E_5"></td>
            <td class="text-right" data-type='number' name="E_8"></td>
            <td class="text-right" data-type='number' name="E_3"></td>
            <td class="text-right" data-type='number' name="E_4"></td>
            <td class="text-right" data-type='number' name="E_10"></td>
            <td class="text-right" data-type='number' name="E_99"></td>
            <td class="text-right" data-type='number' data-column="E_total"></td>
            <td class="text-right" data-type='number' data-column="va"></td>
            <td class="text-center" data-column="va_rate"></td>
        </tr>
    </tbody>
</table>
<table class="table table-bordered table-form main-table" id="establish">
    <colgroup>
        <col width="100"/>
        <col width="100"/>
        <col width="100"/>
        <col width="100"/>
        <col width="100"/>
        <col width="100"/>
        <col width="100"/>
        <col width="100"/>
        <col width="100"/>
        <col width="100"/>
        <col width="100"/>
        <col width="100"/>
        <col width="100"/>
        <col width="100"/>
    </colgroup>
    <thead>
        <tr>
			<th class="sub-title colorN text-center" colspan="14"><span>설치비 기성산출</span></th>
        </tr>
    </thead>
    <tbody role="body1" style="display:none;">
        <tr>
            <th class="color-contract text-center" rowspan="6">시스템에어컨</th>
            <th class="color-contract text-center">공정</th>
            <th class="color-contract text-center">스리브 및 골조</th>
            <th class="color-contract text-center">배관(냉매,드레인)</th>
            <th class="color-contract text-center">기밀,통수</th>
            <th class="color-contract text-center">전원,통신</th>
            <th class="color-contract text-center">실내기</th>
            <th class="color-contract text-center">실외기</th>
            <th class="color-contract text-center">시운전</th>
            <th class="color-contract text-center">계</th>
            <th class="color-contract text-center" rowspan="3">발주처<br>계약금액</th>
            <th class="hasinput" rowspan="3">
                <input type="text" class="form-control text-right" data-type="number" name="body_1_a" readonly/>
            </th>
            <th class="color-contract text-center" rowspan="3">도급팀<br>계약금액</th>
            <th class="hasinput" rowspan="3">
                <input type="text" class="form-control text-right" data-type="number" name="body_1_b" readonly/>
            </th>
        </tr>
        <tr>
            <th class="color-contract text-center">보할율</th>
            <td class="text-center">5%</td>
            <td class="text-center">45%</td>
            <td class="text-center">10%</td>
            <td class="text-center">3%</td>
            <td class="text-center">12%</td>
            <td class="text-center">15%</td>
            <td class="text-center">10%</td>
            <td class="text-center">100%</td>
        </tr>
        <tr>
            <th class="color-contract text-center">실내기수량</th>
            <td class="text-center"></td>
            <td class="text-center"></td>
            <td class="text-center"></td>
            <td class="text-center"></td>
            <td class="text-center"></td>
            <td class="text-center"></td>
            <td class="text-center"></td>
            <td></td>
        </tr>
        <tr>
            <th class="color-contract text-center">공사수량</th>
            <td class="hasinput">
                <input type="text" class="form-control text-center" name="qy_1_1" data-type="number"/>
            </td>
            <td class="hasinput">
                <input type="text" class="form-control text-center" name="qy_1_2" data-type="number"/>
            </td>
            <td class="hasinput">
                <input type="text" class="form-control text-center" name="qy_1_3" data-type="number"/>
            </td>
            <td class="hasinput">
                <input type="text" class="form-control text-center" name="qy_1_4" data-type="number"/>
            </td>
            <td class="hasinput">
                <input type="text" class="form-control text-center" name="qy_1_5" data-type="number"/>
            </td>
            <td class="hasinput">
                <input type="text" class="form-control text-center" name="qy_1_6" data-type="number"/>
            </td>
            <td class="hasinput">
                <input type="text" class="form-control text-center" name="qy_1_7" data-type="number"/>
            </td>
            <td></td>
            <th class="color-contract text-center" rowspan="3">발주처<br>기성금액</th>
            <th class="hasinput" rowspan="3">
                <input type="text" class="form-control text-right" data-type="number" name="body_1_a_now" readonly/>
            </th>
            <th class="color-contract text-center" rowspan="3">도급팀<br>기성금액</th>
            <th class="hasinput" rowspan="3">
                <input type="text" class="form-control text-right" data-type="number" name="body_1_b_now" readonly/>
            </th>
        </tr>
        <tr>
            <th class="color-contract text-center">공정율</th>
            <td class="text-center" name="rate_1_1"></td>
            <td class="text-center" name="rate_1_2"></td>
            <td class="text-center" name="rate_1_3"></td>
            <td class="text-center" name="rate_1_4"></td>
            <td class="text-center" name="rate_1_5"></td>
            <td class="text-center" name="rate_1_6"></td>
            <td class="text-center" name="rate_1_7"></td>
            <td></td>
        </tr>
        <tr>
            <th class="color-contract text-center">보할 적용율</th>
            <td class="text-center" name="apply_rate_1_1"></td>
            <td class="text-center" name="apply_rate_1_2"></td>
            <td class="text-center" name="apply_rate_1_3"></td>
            <td class="text-center" name="apply_rate_1_4"></td>
            <td class="text-center" name="apply_rate_1_5"></td>
            <td class="text-center" name="apply_rate_1_6"></td>
            <td class="text-center" name="apply_rate_1_7"></td>
            <td class="colorG text-center" name="apply_rate_1_total"></td>
        </tr>
    </tbody>
    <tbody role="body2" style="display:none;">
        <tr>
            <th class="color-contract text-center" rowspan="6">전열교환기</th>
            <th class="color-contract text-center">공정</th>
            <th class="color-contract text-center">스리브 및 골조</th>
            <th class="color-contract text-center">크린호스&amp;스파이럴덕트</th>
            <th class="color-contract text-center">플랫덕트&amp;후레시블덕트</th>
            <th class="color-contract text-center">장비설치</th>
            <th class="color-contract text-center">시운전</th>
            <th class="color-contract text-center"></th>
            <th class="color-contract text-center"></th>
            <th class="color-contract text-center">계</th>
            <th class="color-contract text-center" rowspan="3">발주처<br>계약금액</th>
            <th class="hasinput" rowspan="3">
                <input type="text" class="form-control text-right" data-type="number" name="body_2_a" readonly/>
            </th>
            <th class="color-contract text-center" rowspan="3">도급팀<br>계약금액</th>
            <th class="hasinput" rowspan="3">
                <input type="text" class="form-control text-right" data-type="number" name="body_2_b" readonly/>
            </th>
        </tr>
        <tr>
            <th class="color-contract text-center">보할율</th>
            <td class="text-center">5%</td>
            <td class="text-center">45%</td>
            <td class="text-center">15%</td>
            <td class="text-center">20%</td>
            <td class="text-center">15%</td>
            <td></td>
            <td></td>
            <td class="text-center">100%</td>
        </tr>
        <tr>
            <th class="color-contract text-center">실내기수량</th>
            <td class="text-center"></td>
            <td class="text-center"></td>
            <td class="text-center"></td>
            <td class="text-center"></td>
            <td class="text-center"></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th class="color-contract text-center">공사수량</th>
            <td class="hasinput">
                <input type="text" class="form-control text-center" name="qy_2_1" data-type="number"/>
            </td>
            <td class="hasinput">
                <input type="text" class="form-control text-center" name="qy_2_2" data-type="number"/>
            </td>
            <td class="hasinput">
                <input type="text" class="form-control text-center" name="qy_2_3" data-type="number"/>
            </td>
            <td class="hasinput">
                <input type="text" class="form-control text-center" name="qy_2_4" data-type="number"/>
            </td>
            <td class="hasinput">
                <input type="text" class="form-control text-center" name="qy_2_5" data-type="number"/>
            </td>
            <td></td>
            <td></td>
            <td></td>
            <th class="color-contract text-center" rowspan="3">발주처<br>기성금액</th>
            <th class="hasinput" rowspan="3">
                <input type="text" class="form-control text-right" data-type="number" name="body_2_a_now" readonly/>
            </th>
            <th class="color-contract text-center" rowspan="3">도급팀<br>기성금액</th>
            <th class="hasinput" rowspan="3">
                <input type="text" class="form-control text-right" data-type="number" name="body_2_b_now" readonly/>
            </th>
        </tr>
        <tr>
            <th class="color-contract text-center">공정율</th>
            <td class="text-center" name="rate_2_1"></td>
            <td class="text-center" name="rate_2_2"></td>
            <td class="text-center" name="rate_2_3"></td>
            <td class="text-center" name="rate_2_4"></td>
            <td class="text-center" name="rate_2_5"></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th class="color-contract text-center">보할 적용율</th>
            <td class="text-center" name="apply_rate_2_1"></td>
            <td class="text-center" name="apply_rate_2_2"></td>
            <td class="text-center" name="apply_rate_2_3"></td>
            <td class="text-center" name="apply_rate_2_4"></td>
            <td class="text-center" name="apply_rate_2_5"></td>
            <td></td>
            <td></td>
            <td class="colorG text-center" name="apply_rate_2_total"></td>
        </tr>
    </tbody>
    <tbody role="body3" style="display:none;">
        <tr>
            <th class="color-contract text-center" rowspan="6">매립배관</th>
            <th class="color-contract text-center">공정</th>
            <th class="color-contract text-center">매립배관(냉매,드레인)</th>
            <th class="color-contract text-center">매립박스</th>
            <th class="color-contract text-center">기밀,통수</th>
            <th class="color-contract text-center">커버,단열</th>
            <th class="color-contract text-center">마감</th>
            <th class="color-contract text-center"></th>
            <th class="color-contract text-center"></th>
            <th class="color-contract text-center">계</th>
            <th class="color-contract text-center" rowspan="3">발주처<br>계약금액</th>
            <th class="hasinput" rowspan="3">
                <input type="text" class="form-control text-right" data-type="number" name="body_3_a" readonly/>
            </th>
            <th class="color-contract text-center" rowspan="3">도급팀<br>계약금액</th>
            <th class="hasinput" rowspan="3">
                <input type="text" class="form-control text-right" data-type="number" name="body_3_b" readonly/>
            </th>
        </tr>
        <tr>
            <th class="color-contract text-center">보할율</th>
            <td class="text-center">50%</td>
            <td class="text-center">15%</td>
            <td class="text-center">10%</td>
            <td class="text-center">10%</td>
            <td class="text-center">15%</td>
            <td></td>
            <td></td>
            <td class="text-center">100%</td>
        </tr>
        <tr>
            <th class="color-contract text-center">실내기수량</th>
            <td class="text-center"></td>
            <td class="text-center"></td>
            <td class="text-center"></td>
            <td class="text-center"></td>
            <td class="text-center"></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th class="color-contract text-center">공사수량</th>
            <td class="hasinput">
                <input type="text" class="form-control text-center" name="qy_3_1" data-type="number"/>
            </td>
            <td class="hasinput">
                <input type="text" class="form-control text-center" name="qy_3_2" data-type="number"/>
            </td>
            <td class="hasinput">
                <input type="text" class="form-control text-center" name="qy_3_3" data-type="number"/>
            </td>
            <td class="hasinput">
                <input type="text" class="form-control text-center" name="qy_3_4" data-type="number"/>
            </td>
            <td class="hasinput">
                <input type="text" class="form-control text-center" name="qy_3_5" data-type="number"/>
            </td>
            <td></td>
            <td></td>
            <td></td>
            <th class="color-contract text-center" rowspan="3">발주처<br>기성금액</th>
            <th class="hasinput" rowspan="3">
                <input type="text" class="form-control text-right" data-type="number" name="body_3_a_now" readonly/>
            </th>
            <th class="color-contract text-center" rowspan="3">도급팀<br>기성금액</th>
            <th class="hasinput" rowspan="3">
                <input type="text" class="form-control text-right" data-type="number" name="body_3_b_now" readonly/>
            </th>
        </tr>
        <tr>
            <th class="color-contract text-center">공정율</th>
            <td class="text-center" name="rate_3_1"></td>
            <td class="text-center" name="rate_3_2"></td>
            <td class="text-center" name="rate_3_3"></td>
            <td class="text-center" name="rate_3_4"></td>
            <td class="text-center" name="rate_3_5"></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th class="color-contract text-center">보할 적용율</th>
            <td class="text-center" name="apply_rate_3_1"></td>
            <td class="text-center" name="apply_rate_3_2"></td>
            <td class="text-center" name="apply_rate_3_3"></td>
            <td class="text-center" name="apply_rate_3_4"></td>
            <td class="text-center" name="apply_rate_3_5"></td>
            <td></td>
            <td></td>
            <td class="colorG text-center" name="apply_rate_3_total"></td>
        </tr>
    </tbody>
    <tbody role="body4" style="display:none;">
        <tr>
            <th class="color-contract text-center" rowspan="6">기타공종</th>
            <th class="color-contract text-center">공정</th>
            <th class="color-contract text-center"></th>
            <th class="color-contract text-center"></th>
            <th class="color-contract text-center"></th>
            <th class="color-contract text-center"></th>
            <th class="color-contract text-center"></th>
            <th class="color-contract text-center"></th>
            <th class="color-contract text-center"></th>
            <th class="color-contract text-center">계</th>
            <th class="color-contract text-center" rowspan="3">발주처<br>계약금액</th>
            <th class="hasinput" rowspan="3">
                <input type="text" class="form-control text-right" data-type="number" name="body_4_a" readonly/>
            </th>
            <th class="color-contract text-center" rowspan="3">도급팀<br>계약금액</th>
            <th class="hasinput" rowspan="3">
                <input type="text" class="form-control text-right" data-type="number" name="body_4_b" readonly/>
            </th>
        </tr>
        <tr>
            <th class="color-contract text-center">보할율</th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th class="color-contract text-center">실내기수량</th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th class="color-contract text-center">공사수량</th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <th class="color-contract text-center" rowspan="3">발주처<br>기성금액</th>
            <th class="hasinput" rowspan="3">
                <input type="text" class="form-control text-right" data-type="number" name="body_4_a_now" readonly/>
            </th>
            <th class="color-contract text-center" rowspan="3">도급팀<br>기성금액</th>
            <th class="hasinput" rowspan="3">
                <input type="text" class="form-control text-right" data-type="number" name="body_4_b_now" readonly/>
            </th>
        </tr>
        <tr>
            <th class="color-contract text-center">공정율</th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th class="color-contract text-center">보할 적용율</th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td class="colorG"></td>
        </tr>
    </tbody>
</table>
<table class="table table-bordered table-form">
    <colgroup>
        <col width="100"/>
        <col width="100"/>
        <col width="50"/>
        <col width="100"/>
        <col width="100"/>
        <col width="100"/>
        <col width="100"/>
        <col width="50"/>
        <col width="100"/>
        <col width="100"/>
    </colgroup>
    <thead>
        <tr>
            <th class="colorSky text-center" colspan="5">발주처 기성</th>
            <th class="colorLP text-center" colspan="5">도급팀 기성</th>
        </tr>
        <tr>
            <th class="colorSky text-center">설치비 계약금액</th>
            <th class="colorSky text-center">보할률 적용금액</th>
            <th class="colorSky text-center">적용률</th>
            <th class="colorSky text-center">전월 누계 청구금액</th>
            <th class="colorSky text-center">금월 청구 금액</th>
            <th class="colorLP text-center">설치비 계약금액</th>
            <th class="colorLP text-center">보할률 적용금액</th>
            <th class="colorLP text-center">적용률</th>
            <th class="colorLP text-center">전월 누계 청구금액</th>
            <th class="colorLP text-center">금월 청구 금액</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="text-right" name="a_total"></td>
            <td class="text-right" name="a_now_total"></td>
            <td class="text-center colorG" name="a_rate"></td>
            <td class="text-right" name="a_before_total"></td>
            <td></td>
            <td class="text-right" name="b_total"></td>
            <td class="text-right" name="b_now_total"></td>
            <td class="text-center colorG" name="b_rate"></td>
            <td class="text-right" name="b_before_total"></td>
            <td></td>
        </tr>
    </tbody>
</table>
<table class="table table-bordered table-form main-table">
    <colgroup>
        <col width="100"/>
        <col width="100"/>
        <col width="100"/>
        <col width="100"/>
        <col width="80"/>
        <col width="100"/>
        <col width="100"/>
        <col width="100"/>
        <col width="100"/>
        <col width="80"/>
        <col width="100"/>
        <col width="100"/>
        <col width="100"/>
        <col width="100"/>
        <col width="80"/>
    </colgroup>
    <thead>
        <tr>
			<th class="sub-title colorN text-center" colspan="15"><span>건설사 청구 금액</span></th>
        </tr>
        <tr>
            <th class="color-contract text-center" colspan="5">전월 누계 청구 금액</th>
            <th class="color-contract text-center" colspan="5">금월 청구 금액</th>
            <th class="color-contract text-center" colspan="5">누계 금액</th>
        </tr>
        <tr>
            <th class="color-contract text-center">장비비</th>
            <th class="color-contract text-center">설치비</th>
            <th class="color-contract text-center">간접비</th>
            <th class="color-contract text-center">계</th>
            <th class="color-contract text-center">기성률</th>
            <th class="color-contract text-center">장비비</th>
            <th class="color-contract text-center">설치비</th>
            <th class="color-contract text-center">간접비</th>
            <th class="color-contract text-center">계</th>
            <th class="color-contract text-center">기성률</th>
            <th class="color-contract text-center">장비비</th>
            <th class="color-contract text-center">설치비</th>
            <th class="color-contract text-center">간접비</th>
            <th class="color-contract text-center">계</th>
            <th class="color-contract text-center">기성률</th>
        </tr>
    </thead>
    <tbody role="bcnc">
        <tr>
            <td class="text-right" name="bcnc_completed_1"></td>
            <td class="text-right" name="bcnc_completed_2"></td>
            <td class="text-right" name="bcnc_completed_3"></td>
            <td class="text-right" name="bcnc_completed_total"></td>
            <td class="colorP text-center" name="bcnc_completed_rate"></td>
            <td class="hasinput">
                <input type="text" class="form-control text-right" name="bcnc_now_1"/>
            </td>
            <td class="hasinput">
                <input type="text" class="form-control text-right" name="bcnc_now_2"/>
            </td>
            <td class="hasinput">
                <input type="text" class="form-control text-right" name="bcnc_now_3"/>
            </td>
            <td class="text-right" name="bcnc_now_total"></td>
            <td class="colorP text-center" name="bcnc_now_rate"></td>
            <td class="text-right" name="bcnc_total_1"></td>
            <td class="text-right" name="bcnc_total_2"></td>
            <td class="text-right" name="bcnc_total_3"></td>
            <td class="colorY text-right" name="bcnc_total_total"></td>
            <td class="colorP text-center" name="bcnc_total_rate"></td>
        </tr>
    </tbody>
</table>
<table class="table table-bordered table-form main-table">
    <colgroup>
        <col width="100"/>
        <col width="100"/>
        <col width="100"/>
        <col width="100"/>
        <col width="100"/>
        <col width="100"/>
        <col width="100"/>
        <col width="100"/>
        <col width="100"/>
        <col width="100"/>
        <col width="80"/>
    </colgroup>
    <thead>
        <tr>
			<th class="sub-title colorN text-center" colspan="11"><span>도급팀 지급 금액</span></th>
        </tr>
        <tr>
            <th class="color-contract text-center" rowspan="2">구분</th>
            <th class="color-contract text-center" rowspan="2">계약금액</th>
            <th class="color-contract text-center" colspan="4">설치비</th>
            <th class="color-contract text-center" colspan="3">자재</th>
            <th class="color-contract text-center" rowspan="2">합계</th>
            <th class="color-contract text-center" rowspan="2">집행률</th>
        </tr>
        <tr>
            <th class="color-contract text-center">직접지급</th>
            <th class="color-contract text-center">직불</th>
            <th class="color-contract text-center">일용직</th>
            <th class="color-contract text-center">계</th>
            <th class="color-contract text-center">로지텍자재</th>
            <th class="color-contract text-center">기타자재</th>
            <th class="color-contract text-center">계</th>
        </tr>
    </thead>
    <tbody role="logi">
        <tr>
            <th class="color-contract text-center">전월 누계 집행 금액</th>
            <td class="text-right" name="outsrc_cntrct_amount" rowspan="3"></td>
            <td class="text-right" name="completed_est_1"></td>
            <td class="text-right" name="completed_est_2"></td>
            <td class="text-right" name="completed_est_3"></td>
            <td class="text-right" name="completed_est_total"></td>
            <td class="text-right" name="completed_logi_1"></td>
            <td class="text-right" name="completed_logi_2"></td>
            <td class="text-right" name="completed_logi_total"></td>
            <td class="text-right" name="completed_total"></td>
            <td class="text-right" name="completed_rate"></td>
        </tr>
        <tr>
            <th class="color-contract text-center">금월 집행 금액</th>
            <td class="hasinput">
                <input type="text" class="form-control text-right" date-type="number" name="now_est_1"/>
            </td>
            <td class="hasinput">
                <input type="text" class="form-control text-right" date-type="number" name="now_est_2"/>
            </td>
            <td class="hasinput">
                <input type="text" class="form-control text-right" date-type="number" name="now_est_3"/>
            </td>
            <td class="text-right" name="now_est_total"></td>
            <td class="hasinput">
                <input type="text" class="form-control text-right" date-type="number" name="now_logi_1"/>
            </td>
            <td class="hasinput">
                <input type="text" class="form-control text-right" date-type="number" name="now_logi_2"/>
            </td>
            <td class="text-right" name="now_logi_total"></td>
            <td class="text-right" name="now_total"></td>
            <td class="text-right" name="now_rate"></td>

        </tr>
        <tr>
            <th class="color-contract text-center">누계 집행 금액</th>
            <td class="text-right" name="total_completed_est_1"></td>
            <td class="text-right" name="total_completed_est_2"></td>
            <td class="text-right" name="total_completed_est_3"></td>
            <td class="text-right" name="total_completed_est_total"></td>
            <td class="text-right" name="total_completed_logi_1"></td>
            <td class="text-right" name="total_completed_logi_2"></td>
            <td class="text-right" name="total_completed_logi_total"></td>
            <td class="text-right" name="total_completed_total"></td>
            <td class="text-right" name="total_completed_rate"></td>
        </tr>
    </tbody>
</table>
<!--
<table class="table table-bordered table-form main-table">
    <colgroup>
        <col width="100"/>
        <col width="80"/>
        <col width="100"/>
        <col width="80"/>
        <col width="100"/>
        <col width="80"/>
        <col width="100"/>
        <col width="80"/>
        <col width="100"/>
        <col width="80"/>
        <col width="100"/>
        <col width="80"/>
        <col width="100"/>
        <col width="80"/>
        <col width="150"/>
        <col width="80"/>
    </colgroup>
    <thead>
        <tr>
			<th class="sub-title colorN text-center" colspan="16"><span>누계 집행 현황</span></th>
        </tr>
        <tr>
            <th class="color-contract" colspan="2">장비비(삼성)</th>
            <th class="color-contract" colspan="2">장비비(타사)</th>
            <th class="color-contract" colspan="2">설치비</th>
            <th class="color-contract" colspan="2">간접비</th>
            <th class="color-contract" colspan="2">자재비</th>
            <th class="color-contract" colspan="2">기타비용</th>
            <th class="color-contract" colspan="2">설계변경</th>
            <th class="color-contract" rowspan="2">계</th>
            <th class="color-contract" rowspan="2">집행율</th>
        </tr>
        <tr>
            <th class="color-contract">금액</th>
            <th class="color-contract">집행율</th>
            <th class="color-contract">금액</th>
            <th class="color-contract">집행율</th>
            <th class="color-contract">금액</th>
            <th class="color-contract">집행율</th>
            <th class="color-contract">금액</th>
            <th class="color-contract">집행율</th>
            <th class="color-contract">금액</th>
            <th class="color-contract">집행율</th>
            <th class="color-contract">금액</th>
            <th class="color-contract">집행율</th>
            <th class="color-contract">금액</th>
            <th class="color-contract">집행율</th>
        </tr>
    </thead>
    <tbody>

    </tbody>
</table>
-->
<script>
    function isValidDate(dateString) {
      var regEx = /^\d{4}-\d{2}-\d{2}$/;
      if(!dateString.match(regEx)) return false;  // Invalid format
      var d = new Date(dateString);

      var dNum = d.getTime();
      if(!dNum && dNum !== 0) return false; // NaN value, Invalid date
      return (new Date(d.getTime()-(new Date()).getTimezoneOffset())).toISOString().slice(0,10) === dateString;
    }
    get_completed = function(cntrct_sn){
        $.ajax({
                url : '/api/project/get_costs_bd',
                method : 'GET',
                data : {"s_cntrct_sn" : cntrct_sn},
                success: function(pResult){
                    console.log("get_costs_bd", pResult);
                    var c_12 = 0;
                    $.each(pResult.aCostList, function(pIndex, pValue){
                        if(["C_1", "C_2"].includes(`${pValue.cntrct_execut_code}_${pValue.ct_se_code}`)){
                            c_12 += pValue.amount;
                        }
                        $(document).find(`[name="${pValue.cntrct_execut_code}_${pValue.ct_se_code}"]`).html(pValue.amount.toFormat('NUMBER'));
                    });
                    $(document).find(`[name="C_1"]`).html(c_12.toFormat('NUMBER'));

                    $(document).find("tbody[role='ct_se_code']").trigger("change");
                    {% if init %}
                    var html = `<option value="">[전체]</option>`;
                    $.each(pResult.outsrcList, function(pIndex, pValue){
                        html += `<option value="${pValue.outsrc_fo_sn}">${pValue.outsrc_fo_nm}</option>`;
                    });
                    $(document).find("#outsrc_fo_sn").html(html);
                    {% endif %}
                    window.outsrcItems = pResult.outsrcItem;
                    {% if not init %}
                        $(document).find("#outsrc_fo_sn").trigger("change");
                        // var cntrct_sn = $("#cntrct_sn").find(":selected").val();
                        // var outsrc_fo_sn = $("#outsrc_fo_sn").find(":selected").val();
                        // get_completed_info(cntrct_sn, outsrc_fo_sn);
                    {% endif %}
                }
        });
    }
    get_completed_info = function(cntrct_sn, outsrc_fo_sn){
        var items = window.outsrcItems[parseInt(outsrc_fo_sn)].e5CostList;
        var has_home_dvm = false;
        $.each(items, function(pIndex, pValue){
            if(pValue.model_no == "홈DVM"){
                has_home_dvm = true;
            }
        });
        var map = {"DVM" : 1, "전열교환기" : 2, "매립배관" : 3};
        if(has_home_dvm){
            map = {"홈DVM" : 1, "전열교환기" : 2, "매립배관" : 3};
        }
        var outsrc_cntrct_amount = 0;
        $.each(items, function(pIndex, pValue){
            var idx = 4;
            if(map.hasOwnProperty(pValue.model_no)){
                idx = map[pValue.model_no];
            }
            if(idx != 4){
                $(document).find(`tbody[role="body${idx}"]`).show();
                $(document).find(`tbody[role="body${idx}"]`).find("tr").eq(2).find("td.text-center").html(pValue.qy.toFormat('NUMBER'));
                $(document).find(`[name="body_${idx}_b"]`).val((pValue.qy*pValue.amount).toFormat('NUMBER'));
            }
            outsrc_cntrct_amount += (pValue.qy*pValue.amount);
            $(document).find(`[name="outsrc_cntrct_amount"]`).html(outsrc_cntrct_amount.toFormat('NUMBER'));
        });
        $.ajax({
            url : '/api/completed/get_completed_info',
            method : 'GET',
            data : {"s_cntrct_sn" : cntrct_sn, "s_outsrc_fo_sn" : outsrc_fo_sn},
            success: function(pResult){
                console.log(pResult);
                $(document).find(`[name="bcnc_completed_1"]`).html((pResult.bcnc.completed_1 + pResult.data.bcnc_1).toFormat('NUMBER'));
                $(document).find(`[name="bcnc_completed_2"]`).html((pResult.bcnc.completed_2 + pResult.data.bcnc_2).toFormat('NUMBER'));
                $(document).find(`[name="a_before_total"]`).html((pResult.bcnc.completed_2 + pResult.data.bcnc_2).toFormat('NUMBER'));
                $(document).find(`[name="b_before_total"]`).html((pResult.data.est_1 + pResult.data.est_2 + pResult.data.est_3 + pResult.data.logi_1 + pResult.data.logi_2).toFormat('NUMBER'));
                $(document).find(`[name="bcnc_completed_3"]`).html((pResult.bcnc.completed_3 + pResult.data.bcnc_3).toFormat('NUMBER'));
                var bcnc_total = (pResult.bcnc.completed_1+pResult.bcnc.completed_2+pResult.bcnc.completed_3) + (pResult.data.bcnc_1 + pResult.data.bcnc_2 + pResult.data.bcnc_3);
                $(document).find(`[name="bcnc_completed_total"]`).html(bcnc_total.toFormat('NUMBER'));
                $(document).find(`[name="bcnc_completed_rate"]`).html((bcnc_total * 100.0 / getValue($(document).find("td[data-column='C_total']"))).toFixed(1)+"%");
                $(document).find(`[name="completed_est_1"]`).html(pResult.data.est_1.toFormat('NUMBER'));
                $(document).find(`[name="completed_est_2"]`).html(pResult.data.est_2.toFormat('NUMBER'));
                $(document).find(`[name="completed_est_3"]`).html(pResult.data.est_3.toFormat('NUMBER'));
                $(document).find(`[name="completed_logi_1"]`).html(pResult.data.logi_1.toFormat('NUMBER'));
                $(document).find(`[name="completed_logi_2"]`).html(pResult.data.logi_2.toFormat('NUMBER'));
                $(document).find("tbody").trigger("change");
                {% if init %}
                    for(let i=1;i<=4;i++){
                        if(pResult.data[`body${i}`] != ''){
                            $(document).find(`[name="body_${i}_a"]`).val(pResult.data[`body${i}`].toFormat('NUMBER'));
                            $(document).find(`[name="body_${i}_a"]`).attr("readonly", true);
                        }
                        else{
                            $(document).find(`[name="body_${i}_a"]`).attr("readonly", false);
                        }
                    }
                {% endif %}
            }
        });
    }
    getValue = function(tag, isHTML=true){
        if(isHTML){
            var value = parseInt($(tag).html().replaceAll(",", ""));
        }
        else{
                var value = parseInt($(tag).val().replaceAll(",", ""));

        }
        if(isNaN(value)) value = 0;
        return value;
    }
    $(document).on("change", "tbody[role='ct_se_code']", function(){

        var C_1 = getValue($(this).find("td[name='C_1']"));
        var C_5 = getValue($(this).find("td[name='C_5']"));
        var C_8 = getValue($(this).find("td[name='C_8']"));
        var C_total = (C_1+C_5+C_8);
        $(this).find("td[data-column='C_total']").html(C_total.toFormat('NUMBER'));
        var E_1 = getValue($(this).find("td[name='E_1']"));
        var E_2 = getValue($(this).find("td[name='E_2']"));
        var E_5 = getValue($(this).find("td[name='E_5']"));
        var E_8 = getValue($(this).find("td[name='E_8']"));
        var E_3 = getValue($(this).find("td[name='E_3']"));
        var E_4 = getValue($(this).find("td[name='E_4']"));
        var E_10 = getValue($(this).find("td[name='E_10']"));
        var E_99 = getValue($(this).find("td[name='E_99']"));
        var E_total = (E_1+E_2+E_3+E_4+E_5+E_8+E_10+E_99);
        $(this).find("td[data-column='E_total']").html(E_total.toFormat('NUMBER'));
        $(this).find("td[data-column='va']").html((C_total - E_total).toFormat('NUMBER'))
        $(this).find("td[data-column='va_rate']").html(((C_total-E_total)*100.0/C_total).toFixed(1)+"%");

    });
    $(document).on("change", "tbody[role='bcnc']", function(){
        var bcnc_now1 = getValue($(this).find(`[name="bcnc_now_1"]`), false);
        var bcnc_now2 = getValue($(this).find(`[name="bcnc_now_2"]`), false);
        var bcnc_now3 = getValue($(this).find(`[name="bcnc_now_3"]`), false);
        var bcnc_now_total = bcnc_now1 + bcnc_now2 + bcnc_now3;
        $(this).find(`[name="bcnc_now_total"]`).html(bcnc_now_total.toFormat('NUMBER'));
        $(this).find(`[name="bcnc_now_rate"]`).html((bcnc_now_total * 100.0 / getValue($(document).find("td[data-column='C_total']"))).toFixed(1)+"%");
        var bcnc1 = getValue($(this).find(`[name="bcnc_completed_1"]`));
        var bcnc2 = getValue($(this).find(`[name="bcnc_completed_2"]`));
        var bcnc3 = getValue($(this).find(`[name="bcnc_completed_3"]`));
        $(this).find(`[name="bcnc_total_1"]`).html((bcnc_now1 + bcnc1).toFormat('NUMBER'));
        $(this).find(`[name="bcnc_total_2"]`).html((bcnc_now2 + bcnc2).toFormat('NUMBER'));
        $(this).find(`[name="bcnc_total_3"]`).html((bcnc_now3 + bcnc3).toFormat('NUMBER'));
        var bcnc_total_total = bcnc_now_total + bcnc1 + bcnc2 + bcnc3;
        $(this).find(`[name="bcnc_total_total"]`).html(bcnc_total_total.toFormat('NUMBER'));
        $(this).find(`[name="bcnc_total_rate"]`).html((bcnc_total_total * 100.0 / getValue($(document).find("td[data-column='C_total']"))).toFixed(1)+"%");

    });
    $(document).on("change", "tbody[role='logi']", function(){
        var outsrc_cntrct_amount = getValue($(this).find(`[name="outsrc_cntrct_amount"]`));
        var completed_est_1 = getValue($(this).find(`[name="completed_est_1"]`));
        var completed_est_2 = getValue($(this).find(`[name="completed_est_2"]`));
        var completed_est_3 = getValue($(this).find(`[name="completed_est_3"]`));
        var completed_est_total = completed_est_1 + completed_est_2 + completed_est_3;
        $(this).find(`[name="completed_est_total"]`).html(completed_est_total.toFormat('NUMBER'));
        var completed_logi_1 = getValue($(this).find(`[name="completed_logi_1"]`));
        var completed_logi_2 = getValue($(this).find(`[name="completed_logi_2"]`));
        var completed_logi_total = completed_logi_1 + completed_logi_2;
        $(this).find(`[name="completed_logi_total"]`).html(completed_logi_total.toFormat('NUMBER'));
        var completed_total = completed_est_total + completed_logi_total;
        $(this).find(`[name="completed_total"]`).html(completed_total.toFormat('NUMBER'));
        var completed_rate = (completed_total*100.0/outsrc_cntrct_amount);
        $(this).find(`[name="completed_rate"]`).html(completed_rate.toFixed(1));

        var now_est_1 = getValue($(this).find(`[name="now_est_1"]`), false);
        var now_est_2 = getValue($(this).find(`[name="now_est_2"]`), false);
        var now_est_3 = getValue($(this).find(`[name="now_est_3"]`), false);
        var now_est_total = now_est_1 + now_est_2 + now_est_3;
        $(this).find(`[name="now_est_total"]`).html(now_est_total.toFormat('NUMBER'));
        var now_logi_1 = getValue($(this).find(`[name="now_logi_1"]`), false);
        var now_logi_2 = getValue($(this).find(`[name="now_logi_2"]`), false);
        var now_logi_total = now_logi_1 + now_logi_2;
        $(this).find(`[name="now_logi_total"]`).html(now_logi_total.toFormat('NUMBER'));
        var now_total = now_est_total + now_logi_total;
        $(this).find(`[name="now_total"]`).html(now_total.toFormat('NUMBER'));
        var now_rate = (now_total*100.0/outsrc_cntrct_amount);
        $(this).find(`[name="now_rate"]`).html(now_rate.toFixed(1));

        var total_completed_est_1 = completed_est_1 + now_est_1;
        var total_completed_est_2 = completed_est_2 + now_est_2;
        var total_completed_est_3 = completed_est_3 + now_est_3;
        $(this).find(`[name="total_completed_est_1"]`).html(total_completed_est_1.toFormat('NUMBER'));
        $(this).find(`[name="total_completed_est_2"]`).html(total_completed_est_2.toFormat('NUMBER'));
        $(this).find(`[name="total_completed_est_3"]`).html(total_completed_est_3.toFormat('NUMBER'));
        var total_completed_est_total = total_completed_est_1 + total_completed_est_2 + total_completed_est_3;
        $(this).find(`[name="total_completed_est_total"]`).html(total_completed_est_total.toFormat('NUMBER'));
        var total_completed_logi_1 = completed_logi_1 + now_logi_1;
        var total_completed_logi_2 = completed_logi_2 + now_logi_2;
        $(this).find(`[name="total_completed_logi_1"]`).html(total_completed_logi_1.toFormat('NUMBER'));
        $(this).find(`[name="total_completed_logi_2"]`).html(total_completed_logi_2.toFormat('NUMBER'));
        var total_completed_logi_total = total_completed_logi_1 + total_completed_logi_2;
        $(this).find(`[name="total_completed_logi_total"]`).html(total_completed_logi_total.toFormat('NUMBER'));
        var total_completed_total = total_completed_est_total + total_completed_logi_total;
        $(this).find(`[name="total_completed_total"]`).html(total_completed_total.toFormat('NUMBER'));
        var total_completed_rate = (total_completed_total*100.0/outsrc_cntrct_amount);
        $(this).find(`[name="total_completed_rate"]`).html(total_completed_rate.toFixed(1));

    });
    $(document).on("change", "#establish tbody", function(){
        var idx = $(this).attr("role").replaceAll("body", "");
        var target = $(this);
        var tot = 0;
        $(target).find("tr").eq(3).find("td.hasinput input").each(function(pIndex, pTag){
            var r = parseInt($(target).find("tr").eq(1).find("td.text-center").eq(pIndex).html().replace("%", ""));
            var total = getValue($(target).find("tr").eq(2).find("td.text-center").eq(pIndex));
            var now = parseInt($(pTag).val().replaceAll(",", "")); if(isNaN(now)) now = 0;
            $(target).find(`td[name="rate_${idx}_${pIndex+1}"]`).html((now*100.0/total).toFixed(1)+"%");
            $(target).find(`td[name="apply_rate_${idx}_${pIndex+1}"]`).html((r*now/total).toFixed(1)+"%");
            tot += (r*now/total);
        })
        $(target).find(`[name="apply_rate_${idx}_total"]`).html(tot.toFixed(1)+"%");
        $(target).find(`[name="body_${idx}_a_now"]`).val(Math.round(getValue($(target).find(`[name="body_${idx}_a"]`), false) * tot / 100.0).toFormat('NUMBER'));
        $(target).find(`[name="body_${idx}_b_now"]`).val(Math.round(getValue($(target).find(`[name="body_${idx}_b"]`), false) * tot / 100.0).toFormat('NUMBER'));
        var a_sum = 0, a_now_sum = 0, b_sum = 0, b_now_sum = 0;
        for(let i=1;i<=4;i++){
            a_sum += getValue($(document).find(`[name="body_${i}_a"]`), false);
            a_now_sum += getValue($(document).find(`[name="body_${i}_a_now"]`), false);
            b_sum += getValue($(document).find(`[name="body_${i}_b"]`), false);
            b_now_sum += getValue($(document).find(`[name="body_${i}_b_now"]`), false);
        }
        $(document).find("[name='a_total']").html(a_sum.toFormat('NUMBER'));
        $(document).find("[name='a_now_total']").html(a_now_sum.toFormat('NUMBER'));
        $(document).find("[name='a_rate']").html((a_now_sum*100.0/a_sum).toFixed(1) + "%");
        $(document).find("[name='b_total']").html(b_sum.toFormat('NUMBER'));
        $(document).find("[name='b_now_total']").html(b_now_sum.toFormat('NUMBER'));
        $(document).find("[name='b_rate']").html((b_now_sum*100.0/b_sum).toFixed(1) + "%");

    });
    fnValidate = function(){
                    var result = true;
                    return result;
               }
    {% if init %}
    window.projects = {};
    $(document).ready(function(){
        $.ajax({
            url : '/api/project/get_p_projects',
            method: 'GET',
            success: function(pResult){
                var html = `<option value="">[전체]</option>`;
                $.each(pResult, function(pIndex, pValue){
                    html += `<option value="${pValue.cntrct_sn}">${pValue.spt_nm}</option>`;
                    window.projects[pValue.cntrct_sn] = pValue;
                });
                $(document).find("#cntrct_sn").html(html);
            }
        });
        var input = document.querySelector('input[data-type="number"]');
        if(input){
            input.addEventListener('input', function() {
              this.value = this.value.replace(/[^0-9 \,]/, '');
            });

        }

    });
    $(document).on("focusout", "input[data-type='number']", function(){
        var value = $(this).val().replaceAll(",", "").toFormat('NUMBER');
        $(this).val(value);
    });
    $(document).on("focusout", "input", function(){
        $(this).closest("tbody").trigger("change");
    });
    $(document).on("focusout", "input[data-type='date']", function(){
        if(!isValidDate($(this).val()) && $(this).val() != ''){
            alert("날짜 형식이 올바르지 않습니다. (yyyy-mm-dd)");
            $(this).val("");
        }
    });

    $(document).on("keyup", "input", function(e){
        if(e.keyCode == 13){
            $(this).focusout();
        }
    });

    $(document).on("change", "#cntrct_sn", function(){
        var cntrct_sn = $("#cntrct_sn").find(":selected").val();
        if(cntrct_sn != ''){
            var pValue = window.projects[cntrct_sn];
            $("#cntrct_no").val(pValue.cntrct_no);
            $("#home_count").val(pValue.home_count);
            $("#home_region").val(pValue.home_region);
            $("#cntrwk_period").val(pValue.cntrwk_period);
            get_completed(cntrct_sn);
        }
    });

    {% else %}
    $.fn.afterLoadApproval = function() {
        var cntrct_sn = $("#cntrct_sn").find(":selected").val();
        get_completed(cntrct_sn);
        var outsrc_fo_sn = $("#outsrc_fo_sn").find(":selected").val();

    }

    {% endif %}
    $(document).on("change", "#outsrc_fo_sn", function(){
        var cntrct_sn = $("#cntrct_sn").find(":selected").val();
        var outsrc_fo_sn = $("#outsrc_fo_sn").find(":selected").val();
        if(cntrct_sn != '' && outsrc_fo_sn != ''){

            get_completed_info(cntrct_sn, outsrc_fo_sn);
        }
    });

</script>