{% include "approvals/common_style.html" %}
<style>
    .input-available{
        height:36px!important;
    }
    table.table-bordered td:last-child, table.table-bordered th:last-child {
        border-right-width: 1px!important;
    }
    .jarviswidget td:last-child, .jarviswidget th:last-child {
        border-right:1px solid #ddd;
    }
</style>
<table class="table table-bordered table-form sub-table" style="width:35%!important;">
    <colgroup>
        <col width="25%">
        <col width="25%">
        <col width="25%">
        <col width="25%">
    </colgroup>
    <thead>
        <tr>
            <th colspan="4" class="sub-title colorN text-center"><span>현 장 현 황</span></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="colorSky">계약번호</td>
            <td class="hasinput" colspan="3"><input type="text" class="form-control text-center" name="cntrct_no" id="cntrct_no" readonly></td>
        </tr>
        <tr>
            <td class="colorSky">현장명</td>
            <td class="text-center hasinput" colspan="3">
                <select class="form-control select2 w100p" id="cntrct_sn" name="cntrct_sn" style="padding-top:0px!important;padding-bottom:0px!important;">
                    {% if not init %}
                        <option value=""></option>
                        {% for code in contract_list %}
                        <option value="{{code.value}}">{{code.label}}</option>
                        {% endfor %}
                    {% endif %}
                </select>

            </td>
        </tr>
        <tr>
            <td class="colorSky">세대수</td>
            <td class="hasinput"><input type="text" class="form-control text-center" name="home_count" id="home_count" readonly></td>
            <td class="colorSky">지역</td>
            <td class="hasinput"><input type="text" class="form-control text-center" name="home_region" id="home_region" readonly></td>
        </tr>
        <tr>
            <td class="colorSky">공사기간</td>
            <td class="hasinput" colspan="3"><input type="text" class="form-control text-center" name="cntrwk_period" id="cntrwk_period" readonly></td>
        </tr>
    </tbody>
</table>
<table class="table table-bordered table-form main-table">
    <colgroup>
        <col width="100"/>
        <col width="100"/>
        <col width="100"/>
        <col width="100"/>
        <col width="100"/>
        <col width="100"/>
        <col width="100"/>
        <col width="100"/>
        <col width="100"/>
        <col width="100"/>
        <col width="100"/>
        <col width="100"/>
        <col width="100"/>
        <col width="100"/>
        <col width="100"/>
    </colgroup>
    <thead>
        <tr>
			<th class="sub-title colorN text-center" colspan="15"><span>공사비 현황</span></th>
        </tr>
    </thead>
    <tbody role="header">
        <tr>
            <th class="color-contract text-center" colspan="4">계약현황</th>
            <th class="color-contract text-center" colspan="9">실행현황</th>
            <th class="color-contract text-center" colspan="2">VA</th>
        </tr>
        <tr>
            <th class="color-contract text-center">장비비</th>
            <th class="color-contract text-center">설치비</th>
            <th class="color-contract text-center">간접비</th>
            <th class="color-contract text-center">계</th>
            <th class="color-contract text-center">장비비(삼성)</th>
            <th class="color-contract text-center">장비비(타사)</th>
            <th class="color-contract text-center">설치비</th>
            <th class="color-contract text-center">간접비</th>
            <th class="color-contract text-center">로지텍자재</th>
            <th class="color-contract text-center">기타자재</th>
            <th class="color-contract text-center">기타비용</th>
            <th class="color-contract text-center">영업비</th>
            <th class="color-contract text-center">계</th>
            <th class="color-contract text-center">이익금</th>
            <th class="color-contract text-center">VA율</th>
        </tr>
    </tbody>
    <tbody>
        <tr>
            <td class="text-right" data-type='number' name="C_1"></td>
            <td class="text-right" data-type='number' name="C_5"></td>
            <td class="text-right" data-type='number' name="C_8"></td>
            <td class="text-right" data-type='number' data-column="C_total"></td>
            <td class="text-right" data-type='number' name="E_1"></td>
            <td class="text-right" data-type='number' name="E_2"></td>
            <td class="text-right" data-type='number' name="E_5"></td>
            <td class="text-right" data-type='number' name="E_8"></td>
            <td class="text-right" data-type='number' name="E_3"></td>
            <td class="text-right" data-type='number' name="E_4"></td>
            <td class="text-right" data-type='number' name="E_10"></td>
            <td class="text-right" data-type='number' name="E_99"></td>
            <td class="text-right" data-type='number' data-column="E_total"></td>
            <td class="text-right" data-type='number' data-column="va"></td>
            <td class="text-center" data-column="va_rate"></td>
        </tr>
    </tbody>
</table>
<table class="table table-bordered table-form main-table">
    <colgroup>
        <col width="100"/>
        <col width="100"/>
        <col width="100"/>
        <col width="100"/>
        <col width="100"/>
        <col width="100"/>
        <col width="100"/>
        <col width="100"/>
        <col width="100"/>
        <col width="100"/>
        <col width="100"/>
        <col width="100"/>
        <col width="100"/>
        <col width="100"/>
    </colgroup>
    <thead>
        <tr>
			<th class="sub-title colorN text-center" colspan="14"><span>설치비 기성산출</span></th>
        </tr>
    </thead>
    <tbody role="body1">
        <tr>
            <th class="color-contract text-center" rowspan="6">시스템에어컨</th>
            <th class="color-contract text-center">공정</th>
            <th class="color-contract text-center">스리브 및 골조</th>
            <th class="color-contract text-center">배관(냉매,드레인)</th>
            <th class="color-contract text-center">기밀,통수</th>
            <th class="color-contract text-center">전원,통신</th>
            <th class="color-contract text-center">실내기</th>
            <th class="color-contract text-center">실외기</th>
            <th class="color-contract text-center">시운전</th>
            <th class="color-contract text-center">계</th>
            <th class="color-contract text-center" rowspan="3">발주처<br>계약금액</th>
            <th class="text-center" rowspan="3"></th>
            <th class="color-contract text-center" rowspan="3">도급팀<br>계약금액</th>
            <th class="text-center" rowspan="3"></th>
        </tr>
        <tr>
            <th class="color-contract text-center">보할율</th>
            <td class="text-center">5%</td>
            <td class="text-center">45%</td>
            <td class="text-center">10%</td>
            <td class="text-center">3%</td>
            <td class="text-center">12%</td>
            <td class="text-center">15%</td>
            <td class="text-center">10%</td>
            <td class="text-center">100%</td>
        </tr>
        <tr>
            <th class="color-contract text-center">실내기수량</th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th class="color-contract text-center">공사수량</th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <th class="color-contract text-center" rowspan="3">발주처<br>기성금액</th>
            <th class="text-center" rowspan="3"></th>
            <th class="color-contract text-center" rowspan="3">도급팀<br>기성금액</th>
            <th class="text-center" rowspan="3"></th>
        </tr>
        <tr>
            <th class="color-contract text-center">공정율</th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th class="color-contract text-center">보할 적용율</th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td class="colorG"></td>
        </tr>
    </tbody>
    <tbody role="body2">
        <tr>
            <th class="color-contract text-center" rowspan="6">시스템에어컨</th>
            <th class="color-contract text-center">공정</th>
            <th class="color-contract text-center">스리브 및 골조</th>
            <th class="color-contract text-center">크린호스&amp;스파이럴덕트</th>
            <th class="color-contract text-center">플랫덕트&amp;후레시블덕트</th>
            <th class="color-contract text-center">장비설치</th>
            <th class="color-contract text-center">시운전</th>
            <th class="color-contract text-center"></th>
            <th class="color-contract text-center"></th>
            <th class="color-contract text-center">계</th>
            <th class="color-contract text-center" rowspan="3">발주처<br>계약금액</th>
            <th class="text-center" rowspan="3"></th>
            <th class="color-contract text-center" rowspan="3">도급팀<br>계약금액</th>
            <th class="text-center" rowspan="3"></th>
        </tr>
        <tr>
            <th class="color-contract text-center">보할율</th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th class="color-contract text-center">실내기수량</th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th class="color-contract text-center">공사수량</th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <th class="color-contract text-center" rowspan="3">발주처<br>기성금액</th>
            <th class="text-center" rowspan="3"></th>
            <th class="color-contract text-center" rowspan="3">도급팀<br>기성금액</th>
            <th class="text-center" rowspan="3"></th>
        </tr>
        <tr>
            <th class="color-contract text-center">공정율</th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th class="color-contract text-center">보할 적용율</th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td class="colorG"></td>
        </tr>
    </tbody>
    <tbody role="body3">
        <tr>
            <th class="color-contract text-center" rowspan="6">시스템에어컨</th>
            <th class="color-contract text-center">공정</th>
            <th class="color-contract text-center">매립배관(냉매,드레인)</th>
            <th class="color-contract text-center">매립박스</th>
            <th class="color-contract text-center">기밀,통수</th>
            <th class="color-contract text-center">커버,단열</th>
            <th class="color-contract text-center">마감</th>
            <th class="color-contract text-center"></th>
            <th class="color-contract text-center"></th>
            <th class="color-contract text-center">계</th>
            <th class="color-contract text-center" rowspan="3">발주처<br>계약금액</th>
            <th class="text-center" rowspan="3"></th>
            <th class="color-contract text-center" rowspan="3">도급팀<br>계약금액</th>
            <th class="text-center" rowspan="3"></th>
        </tr>
        <tr>
            <th class="color-contract text-center">보할율</th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th class="color-contract text-center">실내기수량</th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th class="color-contract text-center">공사수량</th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <th class="color-contract text-center" rowspan="3">발주처<br>기성금액</th>
            <th class="text-center" rowspan="3"></th>
            <th class="color-contract text-center" rowspan="3">도급팀<br>기성금액</th>
            <th class="text-center" rowspan="3"></th>
        </tr>
        <tr>
            <th class="color-contract text-center">공정율</th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th class="color-contract text-center">보할 적용율</th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td class="colorG"></td>
        </tr>
    </tbody>
    <tbody role="body4">
        <tr>
            <th class="color-contract text-center" rowspan="6">기타공종</th>
            <th class="color-contract text-center">공정</th>
            <th class="color-contract text-center"></th>
            <th class="color-contract text-center"></th>
            <th class="color-contract text-center"></th>
            <th class="color-contract text-center"></th>
            <th class="color-contract text-center"></th>
            <th class="color-contract text-center"></th>
            <th class="color-contract text-center"></th>
            <th class="color-contract text-center">계</th>
            <th class="color-contract text-center" rowspan="3">발주처<br>계약금액</th>
            <th class="text-center" rowspan="3"></th>
            <th class="color-contract text-center" rowspan="3">도급팀<br>계약금액</th>
            <th class="text-center" rowspan="3"></th>
        </tr>
        <tr>
            <th class="color-contract text-center">보할율</th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th class="color-contract text-center">실내기수량</th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th class="color-contract text-center">공사수량</th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <th class="color-contract text-center" rowspan="3">발주처<br>기성금액</th>
            <th class="text-center" rowspan="3"></th>
            <th class="color-contract text-center" rowspan="3">도급팀<br>기성금액</th>
            <th class="text-center" rowspan="3"></th>
        </tr>
        <tr>
            <th class="color-contract text-center">공정율</th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th class="color-contract text-center">보할 적용율</th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td class="colorG"></td>
        </tr>
    </tbody>
</table>

<script>
    fnValidate = function(){
                    var result = true;
                    return result;
               }
    {% if init %}
    window.projects = {};
    $(document).ready(function(){
        $.ajax({
            url : '/api/project/get_b_projects',
            method: 'GET',
            success: function(pResult){
                var html = `<option value="">[전체]</option>`;
                $.each(pResult, function(pIndex, pValue){
                    html += `<option value="${pValue.cntrct_sn}">${pValue.spt_nm}</option>`;
                    window.projects[pValue.cntrct_sn] = pValue;
                });
                $(document).find("#cntrct_sn").html(html);


            }
        });
    });
    $(document).on("change", "#cntrct_sn", function(){
        var cntrct_sn = $("#cntrct_sn").find(":selected").val();
        if(cntrct_sn != ''){
            var pValue = window.projects[cntrct_sn];
            $("#cntrct_no").val(pValue.cntrct_no);
            $("#home_count").val(pValue.home_count);
            $("#home_region").val(pValue.home_region);
            $("#cntrwk_period").val(pValue.cntrwk_period);
        }
    });
    {% endif %}
</script>