<style>
    .input-available{
        height:36px!important;
    }
    table.table-bordered td:last-child, table.table-bordered th:last-child {
        border-right-width: 1px!important;
    }
    .jarviswidget td:last-child, .jarviswidget th:last-child {
        border-right:1px solid #ddd;
    }
</style>
<table class="table table-bordered table-form" style="width:35%!important;">
    <colgroup>
        <col width="25%">
        <col width="75%">
    </colgroup>
    <tbody>
        <tr>
            <th colspan="2" style="background:#0070C0;border-color:#0070C0;color:white;">현장현황</th>
        </tr>
        <tr>
            <td class="colorSky">계약번호</td>
            <td class="hasinput"><input type="text" class="form-control text-center" name="cntrct_no" id="cntrct_no" readonly></td>
        </tr>
        <tr>
            <td class="colorSky">현장명</td>
            <td class="text-center hasinput">
                <select class="form-control select2 w100p" id="cntrct_sn" name="cntrct_sn" style="padding-top:0px!important;padding-bottom:0px!important;">
                    {% if not init %}
                        <option value=""></option>
                        {% for code in contract_list %}
                        <option value="{{code.value}}">{{code.label}}</option>
                        {% endfor %}
                    {% endif %}
                </select>

            </td>
        </tr>
        <tr>
            <td class="colorSky">세대수</td>
            <td class="hasinput"><input type="text" class="form-control text-center" name="home_count" id="home_count" readonly></td>
        </tr>
        <tr>
            <td class="colorSky">지역</td>
            <td class="hasinput"><input type="text" class="form-control text-center" name="home_region" id="home_region" readonly></td>
        </tr>
        <tr>
            <td class="colorSky">공사기간</td>
            <td class="hasinput"><input type="text" class="form-control text-center" name="cntrwk_period" id="cntrwk_period" readonly></td>
        </tr>

    </tbody>
</table>
<table class="table table-bordered table-form">
    <colgroup>
        <col width="100"/>
        <col width="100"/>
        <col width="100"/>
        <col width="100"/>
        <col width="100"/>
        <col width="100"/>
        <col width="100"/>
        <col width="100"/>
        <col width="100"/>
        <col width="100"/>
        <col width="100"/>
        <col width="100"/>
        <col width="100"/>
        <col width="100"/>
        <col width="100"/>
    </colgroup>
    <thead>
        <tr>
			<th class="sub-title colorN text-center" colspan="15">공사 현황 (영업) - VAT포함</th>
        </tr>
        <tr>
            <th class="colorB text-center">구분</th>
            <th class="color-contract text-center">내역</th>
            <th class="color-contract text-center">삼성장비</th>
            <th class="color-contract text-center">타사장비</th>
            <th class="color-contract text-center">설치비</th>
            <th class="color-contract text-center">간접비</th>
            <th class="color-contract text-center">로지텍자재</th>
            <th class="color-contract text-center">타사자재</th>
            <th class="color-contract text-center">기타(총액 0.5%)</th>
            <th class="color-contract text-center">M,S/H(기준표)</th>
            <th class="color-contract text-center">옵션행사비(기준표)</th>
            <th class="color-contract text-center">설계변경</th>
            <th class="color-contract text-center">총액</th>
            <th class="color-contract text-center">이익금(VA)</th>
            <th class="color-contract text-center">VA율</th>
        </tr>
    </thead>
    <tbody role="ct_se_code_contract">
        <tr data-row="C">
            <th class="colorB text-center middle" rowspan="2">수주계약</th>
            <th class="colorSky text-center">예정가</th>
            <td class="text-right" data-type='number' name="C_1"></td>
            <td class="text-right" data-type='number' name="C_2"></td>
            <td class="text-right" data-type='number' name="C_5"></td>
            <td class="text-right" data-type='number' name="C_8"></td>
            <td class="text-right" data-type='number' name="C_3"></td>
            <td class="text-right" data-type='number' name="C_4"></td>
            <td class="text-right" data-type='number' name="C_10"></td>
            <td class="text-right" data-type='number' name="C_61"></td>
            <td class="text-right" data-type='number' name="C_7"></td>
            <td class="text-right" data-type='number' name="C_99"></td>
            <td class="text-center" data-column="row_total"></td>
            <td class="text-center" data-column="va" rowspan="2"></td>
            <td class="text-center" data-column="va_rate" rowspan="2"></td>
        </tr>
        <tr data-row="E">
            <th class="colorSky text-center">실행가</th>
            <td class="hasinput">
                <input type="text" class="form-control text-right" data-type="number" name="E_1" readonly>
            </td>
            <td class="hasinput">
                <input type="text" class="form-control text-right" data-type="number" name="E_2" readonly>
            </td>
            <td class="hasinput">
                <input type="text" class="form-control text-right" data-type="number" name="E_5" readonly>
            </td>
            <td class="text-right" data-type='number' name="E_8"></td>
            <td class="hasinput">
                <input type="text" class="form-control text-right" data-type="number" name="E_3" readonly>
            </td>
            <td class="hasinput">
                <input type="text" class="form-control text-right" data-type="number" name="E_4" readonly>
            </td>
            <td class="text-right" data-type='number' name="E_10"></td>
            <td class="text-right" data-type='number' name="E_61"></td>
            <td class="text-right" data-type='number' name="E_7"></td>
            <td class="hasinput">
                <input type="text" class="form-control text-right" data-type="number" name="E_99">
            </td>
            <td class="text-center" data-column="row_total"></td>
        </tr>
    </tbody>
</table>

<table class="table table-bordered table-form">
    <colgroup>
        <col width="100"/>
        <col width="100"/>
        <col width="100"/>
        <col width="100"/>
        <col width="100"/>
        <col width="100"/>
        <col width="100"/>
        <col width="100"/>
        <col width="100"/>
        <col width="100"/>
    </colgroup>
    <thead>
        <tr>
			<th class="sub-title colorN text-center" style="border-right:0px!important;position:relative;height:40px;" colspan="11"><span style="position:absolute;left:50%;top:50%;transform:translate(-50%, -50%);">① 삼성장비매입금액 (관리/자동) - VAT포함</span>
                <div class="btn-group" style="position:absolute;top:50%;transform:translateY(-50%);right:0;">
                    <button type="button" class="btn btn-table btn-warning" title="추가" id="addRow"><i class="fa fa-plus"></i></button>
                </div>
            </th>

        </tr>
        <tr>
            <th class="color-contract text-center">출고일</th>
            <th class="color-contract text-center">상품명</th>
            <th class="color-contract text-center">모델명</th>
            <th class="color-contract text-center">계약수량</th>
            <th class="color-contract text-center">매입단가</th>
            <th class="color-contract text-center">출고수량</th>
            <th class="color-contract text-center">매입금액</th>
            <th class="color-contract text-center">매출금액</th>
            <th class="color-contract text-center">VA</th>
            <th class="color-contract text-center">매입처</th>
            <th class="color-contract text-center">비고</th>
        </tr>
    </thead>
    <tbody role="equip_row">
        <tr data-row="equip_tr">
            <td class="text-center" name="dlivy_de[]"></td>
            <td class="hasinput">
                <select class="form-control select2" name="prdlst_se_code[]" style="width:100%!important;">
                    <option value="">[전체]</option>
                    {% for code in prdlst_se_code_list %}
                    <option value="{{code.value}}">{{code.label}}</option>
                    {% endfor %}
                </select>
            </td>
            <td class="hasinput">
                <input type="text" class="form-control text-left" name="model_no[]"/>
                <input type="hidden" name="delng_ty_code[]" value="1"/>
            </td>
            <td class="hasinput">
                <input type="text" class="form-control text-right" data-type="number" name="cnt_dlnt[]"/>
            </td>
            <td class="hasinput">
                <input type="text" class="form-control text-right" data-type="number" name="dlamt[]"/>
            </td>
            <td class="text-right" name="dlnt[]"></td>
            <td class="text-right" name="amount[]"></td>
            <td class="hasinput">
                <input type="text" class="form-control text-right" data-type="number" name="samount[]"/>
            </td>
            <td class="text-right" name="va[]"></td>
            <td class="hasinput">
                <select class="form-control select2" name="bcnc_sn[]" style="width:100%!important;">
                    <option value=""></option>
`                    {% for code in bcnc_list %}
                    <option value="{{code.value}}">{{code.value}}.{{code.label}}</option>
                    {% endfor %}
`                </select>
            </td>
            <td class="hasinput">
                <input type="text" class="form-control text-left" name="rm[]"/>
            </td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <td class="colorG text-center" colspan="3">합계</td>
            <td class="colorG text-right" data-column="total_cnt_dlnt"></td>
            <td class="colorG"></td>
            <td class="colorG"></td>
            <td class="colorP text-right" data-column="total_amount"></td>
            <td class="colorG text-right" data-column="total_samount"></td>
            <td class="colorG text-right" data-column="total_va"></td>
            <td class="colorG"></td>
            <td class="colorG"></td>
        </tr>
    </tfoot>
</table>
<table class="table table-bordered table-form">
    <colgroup>
        <col width="100"/>
        <col width="100"/>
        <col width="100"/>
        <col width="100"/>
        <col width="100"/>
        <col width="100"/>
        <col width="100"/>
        <col width="100"/>
        <col width="100"/>
        <col width="100"/>
    </colgroup>
    <thead>
        <tr>
			<th class="sub-title colorN text-center" style="border-right:0px!important;position:relative;height:40px;" colspan="11"><span style="position:absolute;left:50%;top:50%;transform:translate(-50%, -50%);">② 타사장비매입금액 (관리/자동) - VAT포함</span>
                <div class="btn-group" style="position:absolute;top:50%;transform:translateY(-50%);right:0;">
                    <button type="button" class="btn btn-table btn-warning" title="추가" id="addRowOther"><i class="fa fa-plus"></i></button>
                </div>
            </th>

        </tr>
        <tr>
            <th class="color-contract text-center">출고일</th>
            <th class="color-contract text-center">상품명</th>
            <th class="color-contract text-center">모델명</th>
            <th class="color-contract text-center">계약수량</th>
            <th class="color-contract text-center">매입단가</th>
            <th class="color-contract text-center">출고수량</th>
            <th class="color-contract text-center">매입금액</th>
            <th class="color-contract text-center">매출금액</th>
            <th class="color-contract text-center">VA</th>
            <th class="color-contract text-center">매입처</th>
            <th class="color-contract text-center">비고</th>
        </tr>
    </thead>
    <tbody role="equip_other_row">
        <tr data-row="equip_other_tr">
            <td class="text-center" name="dlivy_de_other[]"></td>
            <td class="hasinput">
                <select class="form-control select2" name="prdlst_se_code_other[]" style="width:100%!important;">
                    <option value="">[전체]</option>
                    {% for code in prdlst_se_code_list %}
                    <option value="{{code.value}}">{{code.label}}</option>
                    {% endfor %}
                </select>
            </td>
            <td class="hasinput">
                <input type="text" class="form-control text-left" name="model_no_other[]"/>
                <input type="hidden" name="delng_ty_code_other[]" value="2"/>
            </td>
            <td class="hasinput">
                <input type="text" class="form-control text-right" data-type="number" name="cnt_dlnt_other[]"/>
            </td>
            <td class="hasinput">
                <input type="text" class="form-control text-right" data-type="number" name="dlamt_other[]"/>
            </td>
            <td class="text-right" name="dlnt_other[]"></td>
            <td class="text-right" name="amount_other[]"></td>
            <td class="hasinput">
                <input type="text" class="form-control text-right" data-type="number" name="samount_other[]"/>
            </td>
            <td class="text-right" name="va_other[]"></td>
            <td class="hasinput">
                <select class="form-control select2" name="bcnc_sn_other[]" style="width:100%!important;">
                    <option value=""></option>
                    {% for code in bcnc_list %}
                    <option value="{{code.value}}">{{code.value}}.{{code.label}}</option>
                    {% endfor %}
                </select>
            </td>
            <td class="hasinput">
                <input type="text" class="form-control text-left" name="rm_other[]"/>
            </td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <td class="colorG text-center" colspan="3">합계</td>
            <td class="colorG text-right" data-column="total_cnt_dlnt_other"></td>
            <td class="colorG"></td>
            <td class="colorG"></td>
            <td class="colorP text-right" data-column="total_amount_other"></td>
            <td class="colorG text-right" data-column="total_samount_other"></td>
            <td class="colorG text-right" data-column="total_va_other"></td>
            <td class="colorG"></td>
            <td class="colorG"></td>
        </tr>
    </tfoot>
</table>
<style>
    .table td.hasinput{
        padding:2px!important;
    }
    .hasinput .table td.hasinput{
        padding:2px!important;
    }
</style>
<table class="table table-bordered table-form" >
	<colgroup>
		<col width="100">
		<col width="200">
		<col width="100">
		<col width="200">
	</colgroup>
	<thead>
		<tr>
			<th class="sub-title colorN text-center" style="border-right:0px!important;position:relative;height:40px;" colspan="4"><span style="position:absolute;left:50%;top:50%;transform:translate(-50%, -50%);">③ 설치비 산출 및 지급내역 (영업,관리/자동) - VAT포함</span>
                <div class="btn-group" style="position:absolute;top:50%;transform:translateY(-50%);right:0;">
                    <button type="button" class="btn btn-table btn-warning" title="추가" id="addRowCompany"><i class="fa fa-plus"></i></button>
                </div>
            </th>
		</tr>
	</thead>
	<tbody role="company1">
        <tr>
            <th class="color-contract text-center">도급계약사-1</th>
            <td class="hasinput">
                <select class="form-control select2" name="company1_name" style="width:100%!important;">
                    <option value=""></option>
                    {% for code in bcnc_list %}
                    <option value="{{code.value}}">{{code.value}}.{{code.label}}</option>
                    {% endfor %}
                </select>
            </td>
            <th class="color-contract text-center">도급계약일</th>
            <td class="hasinput">
                <input type="text" class="form-control text-center" data-type="date" name="company1_date"/>
            </td>
        </tr>
        <tr>
            <th class="color-contract text-center">대표</th>
            <td class="hasinput">
                <input type="text" class="form-control text-left" name="company1_owner"/>
            </td>
            <th class="color-contract text-center">연락처</th>
            <td class="hasinput">
                <input type="text" class="form-control text-left" name="company1_owner_telno"/>
            </td>
        </tr>
        <tr>
            <th class="color-contract text-center">현장관리자</th>
            <td class="hasinput">
                <input type="text" class="form-control text-left" name="company1_dam"/>
            </td>
            <th class="color-contract text-center">연락처</th>
            <td class="hasinput">
                <input type="text" class="form-control text-left" name="company1_dam_telno"/>
            </td>
        </tr>
        <tr>
            <td class="hasinput" colspan="4">
                <table class="table table-bordered table-form" style="width:100%;border:0px!important;">
                    <colgroup>
                        <col width="50"/>
                        <col width="50"/>
                        <col width="100"/>
                        <col width="100"/>
                        <col width="100"/>
                        <col width="100"/>
                        <col width="100"/>
                        <col width="100"/>
                        <col width="50"/>
                    </colgroup>
                    <thead>
                        <tr>
                            <th class="color-contract text-center" colspan="2">내역</th>
                            <th class="color-contract text-center">실내기대수</th>
                            <th class="color-contract text-center">대당단가</th>
                            <th class="color-contract text-center">공급가액</th>
                            <th class="color-contract text-center">세액</th>
                            <th class="color-contract text-center">합계</th>
                            <th class="color-contract text-center" style="border-right:0px!important;">공사비총액</th>
                            <th class="color-contract text-right" style="border-left:0px!important;">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-table btn-warning" title="추가" id="company1_addRowItem"><i class="fa fa-plus"></i></button>
                                </div>
                            </th>
                        </tr>
                    </thead>
                    <tbody role="company1_row">
                        <tr data-row="company1_tr">
                            <td colspan="2" class="hasinput">
                                <input type="text" class="form-control text-left" name="company1_item_name[]"/>
                            </td>
                            <td class="hasinput">
                                <input type="text" class="form-control text-left" data-type="number" name="company1_item_dlnt[]"/>
                            </td>
                            <td class="hasinput">
                                <input type="text" class="form-control text-left" data-type="number" name="company1_item_damt[]"/>
                            </td>
                            <td class="text-right" data-column="company1_item_amount[]"></td>
                            <td class="text-right" data-column="company1_item_tax[]"></td>
                            <td class="text-right" data-column="company1_item_total[]"></td>
                            <td class="colorP text-right" data-column="company1_item_pink[]" colspan="2"></td>
                        </tr>
                    </tbody>
                    <tbody role="company1_detail">
                        <tr>
                            <th class="color-contract text-center middle" rowspan="5">분류</th>
                            <th class="color-contract text-center">내역</th>
                            <th class="color-contract text-center">인건비</th>
                            <th class="color-contract text-center">착불</th>
                            <th class="color-contract text-center">일용직</th>
                            <th class="color-contract text-center">로지텍/타사</th>
                            <th class="color-contract text-center">합계</th>
                            <th class="color-contract text-center" rowspan="5" colspan="2">집행률</th>
                        </tr>
                        <tr>
                            <th class="color-contract text-center">계약내역</th>
                            <td class="hasinput">
                                <input type="text" class="form-control text-left" data-type="number" name="company1_human"/>
                            </td>
                            <td class="hasinput">
                                <input type="text" class="form-control text-left" data-type="number" name="company1_direct"/>
                            </td>
                            <td class="hasinput">
                                <input type="text" class="form-control text-left" data-type="number" name="company1_daily"/>
                            </td>
                            <td class="hasinput">
                                <input type="text" class="form-control text-left" data-type="number" name="company1_sum"/>
                            </td>
                            <th class="colorP text-right" data-column="company1_pink"></th>
                        </tr>
                        <tr>
                            <th class="color-contract text-center">계약변경</th>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <th class="color-contract text-center">집행</th>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <th class="color-contract text-center">잔액</th>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
	<tbody style="display:none;" role="company2">
        <tr>
            <th class="color-contract text-center">도급계약사-2</th>
            <td class="hasinput">
                <select class="form-control select2" name="company2_name" style="width:100%!important;">
                    <option value=""></option>
                    {% for code in bcnc_list %}
                    <option value="{{code.value}}">{{code.value}}.{{code.label}}</option>
                    {% endfor %}
                </select>
            </td>
            <th class="color-contract text-center">도급계약일</th>
            <td class="hasinput">
                <input type="text" class="form-control text-center" data-type="date" name="company2_date"/>
            </td>
        </tr>
        <tr>
            <th class="color-contract text-center">대표</th>
            <td class="hasinput">
                <input type="text" class="form-control text-left" name="company2_owner"/>
            </td>
            <th class="color-contract text-center">연락처</th>
            <td class="hasinput">
                <input type="text" class="form-control text-left" name="company2_owner_telno"/>
            </td>
        </tr>
        <tr>
            <th class="color-contract text-center">현장관리자</th>
            <td class="hasinput">
                <input type="text" class="form-control text-left" name="company2_dam"/>
            </td>
            <th class="color-contract text-center">연락처</th>
            <td class="hasinput">
                <input type="text" class="form-control text-left" name="company2_dam_telno"/>
            </td>
        </tr>
        <tr>
            <td class="hasinput" colspan="4">
                <table class="table table-bordered table-form" style="width:100%;border:0px!important;">
                    <colgroup>
                        <col width="50"/>
                        <col width="50"/>
                        <col width="100"/>
                        <col width="100"/>
                        <col width="100"/>
                        <col width="100"/>
                        <col width="100"/>
                        <col width="100"/>
                        <col width="50"/>
                    </colgroup>
                    <thead>
                        <tr>
                            <th class="color-contract text-center" colspan="2">내역</th>
                            <th class="color-contract text-center">실내기대수</th>
                            <th class="color-contract text-center">대당단가</th>
                            <th class="color-contract text-center">공급가액</th>
                            <th class="color-contract text-center">세액</th>
                            <th class="color-contract text-center">합계</th>
                            <th class="color-contract text-center" style="border-right:0px!important;">공사비총액</th>
                            <th class="color-contract text-right" style="border-left:0px!important;">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-table btn-warning" title="추가" id="company2_addRowItem"><i class="fa fa-plus"></i></button>
                                </div>
                            </th>
                        </tr>
                    </thead>
                    <tbody role="company2_row">
                        <tr data-row="company2_tr">
                            <td colspan="2" class="hasinput">
                                <input type="text" class="form-control text-left" name="company2_item_name[]"/>
                            </td>
                            <td class="hasinput">
                                <input type="text" class="form-control text-left" data-type="number" name="company2_item_dlnt[]"/>
                            </td>
                            <td class="hasinput">
                                <input type="text" class="form-control text-left" data-type="number" name="company2_item_damt[]"/>
                            </td>
                            <td class="text-right" data-column="company2_item_amount[]"></td>
                            <td class="text-right" data-column="company2_item_tax[]"></td>
                            <td class="text-right" data-column="company2_item_total[]"></td>
                            <td class="colorP text-right" data-column="company2_item_pink[]" colspan="2"></td>
                        </tr>
                    </tbody>
                    <tbody role="company2_detail">
                        <tr>
                            <th class="color-contract text-center middle" rowspan="5">분류</th>
                            <th class="color-contract text-center">내역</th>
                            <th class="color-contract text-center">인건비</th>
                            <th class="color-contract text-center">착불</th>
                            <th class="color-contract text-center">일용직</th>
                            <th class="color-contract text-center">로지텍/타사</th>
                            <th class="color-contract text-center">합계</th>
                            <th class="color-contract text-center" rowspan="5" colspan="2">집행률</th>
                        </tr>
                        <tr>
                            <th class="color-contract text-center">계약내역</th>
                            <td class="hasinput">
                                <input type="text" class="form-control text-left" data-type="number" name="company2_human"/>
                            </td>
                            <td class="hasinput">
                                <input type="text" class="form-control text-left" data-type="number" name="company2_direct"/>
                            </td>
                            <td class="hasinput">
                                <input type="text" class="form-control text-left" data-type="number" name="company2_daily"/>
                            </td>
                            <td class="hasinput">
                                <input type="text" class="form-control text-left" data-type="number" name="company2_sum"/>
                            </td>
                            <th class="colorP text-right" data-column="company2_pink"></th>
                        </tr>
                        <tr>
                            <th class="color-contract text-center">계약변경</th>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <th class="color-contract text-center">집행</th>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <th class="color-contract text-center">잔액</th>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
	<tbody style="display:none;" role="company3">
        <tr>
            <th class="color-contract text-center">도급계약사-3</th>
            <td class="hasinput">
                <select class="form-control select2" name="company3_name" style="width:100%!important;">
                    <option value=""></option>
                    {% for code in bcnc_list %}
                    <option value="{{code.value}}">{{code.value}}.{{code.label}}</option>
                    {% endfor %}
                </select>
            </td>
            <th class="color-contract text-center">도급계약일</th>
            <td class="hasinput">
                <input type="text" class="form-control text-center" data-type="date" name="company3_date"/>
            </td>
        </tr>
        <tr>
            <th class="color-contract text-center">대표</th>
            <td class="hasinput">
                <input type="text" class="form-control text-left" name="company3_owner"/>
            </td>
            <th class="color-contract text-center">연락처</th>
            <td class="hasinput">
                <input type="text" class="form-control text-left" name="company3_owner_telno"/>
            </td>
        </tr>
        <tr>
            <th class="color-contract text-center">현장관리자</th>
            <td class="hasinput">
                <input type="text" class="form-control text-left" name="company3_dam"/>
            </td>
            <th class="color-contract text-center">연락처</th>
            <td class="hasinput">
                <input type="text" class="form-control text-left" name="company3_dam_telno"/>
            </td>
        </tr>
        <tr>
            <td class="hasinput" colspan="4">
                <table class="table table-bordered table-form" style="width:100%;border:0px!important;">
                    <colgroup>
                        <col width="50"/>
                        <col width="50"/>
                        <col width="100"/>
                        <col width="100"/>
                        <col width="100"/>
                        <col width="100"/>
                        <col width="100"/>
                        <col width="100"/>
                        <col width="50"/>
                    </colgroup>
                    <thead>
                        <tr>
                            <th class="color-contract text-center" colspan="2">내역</th>
                            <th class="color-contract text-center">실내기대수</th>
                            <th class="color-contract text-center">대당단가</th>
                            <th class="color-contract text-center">공급가액</th>
                            <th class="color-contract text-center">세액</th>
                            <th class="color-contract text-center">합계</th>
                            <th class="color-contract text-center" style="border-right:0px!important;">공사비총액</th>
                            <th class="color-contract text-right" style="border-left:0px!important;">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-table btn-warning" title="추가" id="company3_addRowItem"><i class="fa fa-plus"></i></button>
                                </div>
                            </th>
                        </tr>
                    </thead>
                    <tbody role="company3_row">
                        <tr data-row="company3_tr">
                            <td colspan="2" class="hasinput">
                                <input type="text" class="form-control text-left" name="company3_item_name[]"/>
                            </td>
                            <td class="hasinput">
                                <input type="text" class="form-control text-left" data-type="number" name="company3_item_dlnt[]"/>
                            </td>
                            <td class="hasinput">
                                <input type="text" class="form-control text-left" data-type="number" name="company3_item_damt[]"/>
                            </td>
                            <td class="text-right" data-column="company3_item_amount[]"></td>
                            <td class="text-right" data-column="company3_item_tax[]"></td>
                            <td class="text-right" data-column="company3_item_total[]"></td>
                            <td class="colorP text-right" data-column="company3_item_pink[]" colspan="2"></td>
                        </tr>
                    </tbody>
                    <tbody role="company3_detail">
                        <tr>
                            <th class="color-contract text-center middle" rowspan="5">분류</th>
                            <th class="color-contract text-center">내역</th>
                            <th class="color-contract text-center">인건비</th>
                            <th class="color-contract text-center">착불</th>
                            <th class="color-contract text-center">일용직</th>
                            <th class="color-contract text-center">로지텍/타사</th>
                            <th class="color-contract text-center">합계</th>
                            <th class="color-contract text-center" rowspan="5" colspan="2">집행률</th>
                        </tr>
                        <tr>
                            <th class="color-contract text-center">계약내역</th>
                            <td class="hasinput">
                                <input type="text" class="form-control text-left" data-type="number" name="company3_human"/>
                            </td>
                            <td class="hasinput">
                                <input type="text" class="form-control text-left" data-type="number" name="company3_direct"/>
                            </td>
                            <td class="hasinput">
                                <input type="text" class="form-control text-left" data-type="number" name="company3_daily"/>
                            </td>
                            <td class="hasinput">
                                <input type="text" class="form-control text-left" data-type="number" name="company3_sum"/>
                            </td>
                            <th class="colorP text-right" data-column="company3_pink"></th>
                        </tr>
                        <tr>
                            <th class="color-contract text-center">계약변경</th>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <th class="color-contract text-center">집행</th>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <th class="color-contract text-center">잔액</th>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>

</table>
<table class="table table-bordered table-form">
    <colgroup>
        <col width="100"/>
        <col width="100"/>
        <col width="100"/>
        <col width="100"/>
        <col width="100"/>
        <col width="100"/>
    </colgroup>
    <thead>
        <tr>
			<th class="sub-title colorN text-center" colspan="6">업체선정위원회 선정결과</th>
        </tr>
        <tr>
            <th class="color-contract text-center">선정위원</th>
            <th class="color-contract text-center">이점수</th>
            <th class="color-contract text-center">박사무엘</th>
            <th class="color-contract text-center">황병찬</th>
            <th class="color-contract text-center">최종선정</th>
            <th class="color-contract text-center">비고</th>
        </tr>
    </thead>
    <tbody role="company_row">
        <tr data-row="company_tr">
            <th class="color-contract text-center">선정업체명</th>
            <td class="hasinput">
                <input type="text" class="form-control text-center" name="company_name1"/>
            </td>
            <td class="hasinput">
                <input type="text" class="form-control text-center" name="company_name2"/>
            </td>
            <td class="hasinput">
                <input type="text" class="form-control text-center" name="company_name3"/>
            </td>
            <td class="hasinput">
                <input type="text" class="form-control text-center" name="company_name4"/>
            </td>
            <td class="hasinput">
                <input type="text" class="form-control text-center" name="company_name5"/>
            </td>
        </tr>
    </tbody>
</table>


<table class="table table-bordered table-form" style="width:35%!important;">
    <colgroup>
        <col width="100"/>
        <col width="100"/>
        <col width="100"/>
        <col width="100"/>
    </colgroup>
  <tbody>
    <tr>
        <th class="colorN text-center" colspan="4">특이사항</th>
    </tr>
    <tr>
        <td class="text-center" colspan="4"></td>
    </tr>
  </tbody>
</table>
<script>
    function isValidDate(dateString) {
      var regEx = /^\d{4}-\d{2}-\d{2}$/;
      if(!dateString.match(regEx)) return false;  // Invalid format
      var d = new Date(dateString);

      var dNum = d.getTime();
      if(!dNum && dNum !== 0) return false; // NaN value, Invalid date
      return (new Date(d.getTime()-(new Date()).getTimezoneOffset())).toISOString().slice(0,10) === dateString;
    }
    get_cost = function(cntrct_sn){
        $.ajax({
                url : '/api/project/get_costs_bd',
                method : 'GET',
                data : {"s_cntrct_sn" : cntrct_sn},
                success: function(pResult){
                    $(document).find("tbody[role='ct_se_code_contract'] input").attr("disabled", false);
                    $(document).find("tbody[role='equip_row'] input, tbody[role='equip_row'] select").attr("disabled", false);
                    $(document).find("tbody[role='equip_other_row'] input, tbody[role='equip_other_row'] select").attr("disabled", false);
                    $(document).find("tbody[role='company_row'] input").attr("disabled", false);
                    $(document).find("tbody[role='company1'] input, tbody[role='company1'] select").attr("disabled", false);
                    $(document).find("tbody[role='company2'] input, tbody[role='company2'] select").attr("disabled", false);
                    $(document).find("tbody[role='company3'] input, tbody[role='company3'] select").attr("disabled", false);
                    $.each(pResult.aCostList, function(pIndex, pValue){
                        $(document).find(`[name="${pValue.cntrct_execut_code}_${pValue.ct_se_code}"]`).html(pValue.amount.toFormat('NUMBER'));
                    });
                    $(document).find("tbody[role='ct_se_code_contract']").trigger("change");
                    var totals = [];
                    // $("tbody[role='ct_se_code_contract']").find("tr").each(function(pIndex, pRow){
                    //     var total = 0;
                    //     $(pRow).find("[data-type='number']").each(function(pI, pTag){
                    //         var value = parseInt($(pTag).html().replaceAll(",", "")); if(isNaN(value)) value = 0;
                    //         total += value;
                    //     });
                    //     $(pRow).find("[data-column='row_total']").html(total.toFormat('NUMBER'));
                    //     totals.push(total);
                    // });
                    //
                    // $("tbody[role='ct_se_code_contract']").find("[data-column='va']").html((totals[0] - totals[1]).toFormat('NUMBER'));
                    // $("tbody[role='ct_se_code_contract']").find("[data-column='va_rate']").html(((totals[0] - totals[1])*100.0/totals[0]).toFixed(1)+"%");

                }
            });

    }

    fnValidate = function(){
                    var result = true;
                    return result;
               }
    cloneRow = function(selector, count){
        if(selector == "equip_tr"){
            for(let i=0;i<count;i++) {
                var trs = $(document).find("tbody[role='equip_row'] tr");
                var origin = trs.eq(0).clone(true);
                $(origin).find("td:not(.hasinput)").html("");
                $(origin).find("td.hasinput input").val("");
                $(origin).find("input[type='hidden'][name='delng_sn[]']").remove();
                //재고장비는 62
                $(origin).find("input[type='hidden'][name='delng_ty_code[]']").val('1');
                $(origin).find("td.hasinput select").each(function (pIndex, pTag) {

                    if (pIndex == 0) {
                        $(pTag).parent().html(`<select class="form-control select2 cloned" name="prdlst_se_code[]" style="width:100%!important;">
                                                    <option value="">[전체]</option>
                                                    {% for code in prdlst_se_code_list %}
                                                    <option value="{{code.value}}">{{code.label}}</option>
                                                    {% endfor %}
                                                </select>`);
                    } else if (pIndex == 1) {
                        $(pTag).parent().html(`<select class="form-control select2 cloned" name="bcnc_sn[]" style="width:100%!important;">
                                                <option value="">[전체]</option>
                                                {% for code in bcnc_list %}
                                                <option value="{{code.value}}">{{code.value}}.{{code.label}}</option>
                                                {% endfor %}
                                            </select>`);
                    }
                });
                $(document).find("tbody[role='equip_row']").append($(origin));
            }
            {% if init %}
                $(document).find(".cloned").select2();
                $(document).find(".cloned").removeClass("cloned");
            {% endif %}
            $(document).find("tbody[role='equip_row']").trigger("change");
        }
        else if(selector == "equip_other_tr"){
            for(let i=0;i<count;i++) {
                var trs = $(document).find("tbody[role='equip_other_row'] tr");
                var origin = trs.eq(0).clone(true);
                $(origin).find("td:not(.hasinput)").html("");
                $(origin).find("td.hasinput input").val("");
                $(origin).find("input[type='hidden'][name='delng_sn_other[]']").remove();
                //재고장비는 62
                $(origin).find("input[type='hidden'][name='delng_ty_code_other[]']").val('1');
                $(origin).find("td.hasinput select").each(function (pIndex, pTag) {

                    if (pIndex == 0) {
                        $(pTag).parent().html(`<select class="form-control select2 cloned" name="prdlst_se_code_other[]" style="width:100%!important;">
                                                    <option value="">[전체]</option>
                                                    {% for code in prdlst_se_code_list %}
                                                    <option value="{{code.value}}">{{code.label}}</option>
                                                    {% endfor %}
                                                </select>`);
                    } else if (pIndex == 1) {
                        $(pTag).parent().html(`<select class="form-control select2 cloned" name="bcnc_sn_other[]" style="width:100%!important;">
                                                <option value="">[전체]</option>
                                                {% for code in bcnc_list %}
                                                <option value="{{code.value}}">{{code.value}}.{{code.label}}</option>
                                                {% endfor %}
                                            </select>`);
                    }
                });
                $(document).find("tbody[role='equip_other_row']").append($(origin));
            }
            {% if init %}
                $(document).find(".cloned").select2();
                $(document).find(".cloned").removeClass("cloned");
            {% endif %}
            $(document).find("tbody[role='equip_other_row']").trigger("change");
        }
        else if(["company1_tr", "company2_tr", "company3_tr"].includes(selector)){
            var company = selector.split("_")[0];
            for(let i=0;i<count;i++){
                var trs = $(document).find(`tbody[role='${company}_row'] tr`);
                var origin = trs.eq(0).clone(true);
                $(origin).find("td:not(.hasinput)").html("");
                $(origin).find("td.hasinput input").val("");
                $(document).find(`tbody[role='${company}_row']`).append($(origin));
            }
            $(document).find(`tbody[role='${company}_row']`).trigger("change");
        }
    }
    $(document).on("change", "tbody[role='equip_row']", function(){
        var total_amount = 0;
        var total_samount = 0;
        var total_cnt_dlnt = 0;
        var total_va = 0;
        $(this).find("tr").each(function(pIndex, pRow){
            var cnt_dlnt = parseInt($(pRow).find("input[name='cnt_dlnt[]']").val().replaceAll(",", "")); if(isNaN(cnt_dlnt)) cnt_dlnt = 0;
            var dlamt = parseInt($(pRow).find("input[name='dlamt[]']").val().replaceAll(",", "")); if(isNaN(dlamt)) dlamt = 0;
            var samount = parseInt($(pRow).find("input[name='samount[]']").val().replaceAll(",", "")); if(isNaN(samount)) samount = 0;
            var amount = cnt_dlnt*dlamt;
            var va = samount-amount;
            total_amount += amount;
            total_samount += samount;
            total_cnt_dlnt += cnt_dlnt;
            total_va += va;
            $(pRow).find("[name='va[]']").html(va.toFormat('NUMBER'));
            $(pRow).find("[name='amount[]']").html(amount.toFormat('NUMBER'));
        });

        $(document).find("[name='E_1']").val(total_amount.toFormat('NUMBER'));
        $(this).parent().find("[data-column='total_amount']").html(total_amount.toFormat('NUMBER'));
        $(this).parent().find("[data-column='total_cnt_dlnt']").html(total_cnt_dlnt.toFormat('NUMBER'));
        $(this).parent().find("[data-column='total_va']").html(total_va.toFormat('NUMBER'));
        $(this).parent().find("[data-column='total_samount']").html(total_samount.toFormat('NUMBER'));
    });
    $(document).on("change", "tbody[role='equip_other_row']", function(){
        var total_amount = 0;
        var total_samount = 0;
        var total_cnt_dlnt = 0;
        var total_va = 0;
        $(this).find("tr").each(function(pIndex, pRow){
            var cnt_dlnt = parseInt($(pRow).find("input[name='cnt_dlnt_other[]']").val().replaceAll(",", "")); if(isNaN(cnt_dlnt)) cnt_dlnt = 0;
            var dlamt = parseInt($(pRow).find("input[name='dlamt_other[]']").val().replaceAll(",", "")); if(isNaN(dlamt)) dlamt = 0;
            var samount = parseInt($(pRow).find("input[name='samount_other[]']").val().replaceAll(",", "")); if(isNaN(samount)) samount = 0;
            var amount = cnt_dlnt*dlamt;
            var va = samount-amount;
            total_amount += amount;
            total_samount += samount;
            total_cnt_dlnt += cnt_dlnt;
            total_va += va;
            $(pRow).find("[name='va_other[]']").html(va.toFormat('NUMBER'));
            $(pRow).find("[name='amount_other[]']").html(amount.toFormat('NUMBER'));
        });

        $(document).find("[name='E_2']").val(total_amount.toFormat('NUMBER'));
        $(this).parent().find("[data-column='total_amount_other']").html(total_amount.toFormat('NUMBER'));
        $(this).parent().find("[data-column='total_cnt_dlnt_other']").html(total_cnt_dlnt.toFormat('NUMBER'));
        $(this).parent().find("[data-column='total_va_other']").html(total_va.toFormat('NUMBER'));
        $(this).parent().find("[data-column='total_samount_other']").html(total_samount.toFormat('NUMBER'));
    });
    $(document).on("change", "tbody[role='company1_row'], tbody[role='company2_row'], tbody[role='company3_row']", function(){
        var total_amount = 0;
        var company = $(this).attr("role").split("_")[0];
        $(this).find("tr").each(function(pIndex, pRow){
            var dlnt = parseInt($(pRow).find(`input[name='${company}_item_dlnt[]']`).val().replaceAll(",", "")); if(isNaN(dlnt)) dlnt = 0;
            var damt = parseInt($(pRow).find(`input[name='${company}_item_damt[]']`).val().replaceAll(",", "")); if(isNaN(damt)) damt = 0;
            var amount = dlnt*damt;
            var tax = Math.round(amount*0.1);
            var total = amount + tax;
            $(pRow).find(`[data-column='${company}_item_amount[]']`).html(amount.toFormat('NUMBER'));
            $(pRow).find(`[data-column='${company}_item_tax[]']`).html(tax.toFormat('NUMBER'));
            $(pRow).find(`[data-column='${company}_item_total[]']`).html(total.toFormat('NUMBER'));
            total_amount += total;
        });
        $(this).find(`[data-column='${company}_item_pink[]']`).html(total_amount.toFormat('NUMBER'));
        $(this).yRowspan(6);

    });
    $(document).on("change", "tbody[role='ct_se_code_contract']", function(){
        var totals = [];
        $(this).find("tr").each(function(pIndex, pRow){
            var total = 0;
            if($(pRow).data("row") == 'C'){
                $(pRow).find("[data-type='number']").each(function(pI, pTag){
                    var value = parseInt($(pTag).text().replaceAll(",", "")); if(isNaN(value)) value = 0;
                    total += value;
                });
                $(pRow).find("[data-column='row_total']").html(total.toFormat('NUMBER'));
                $("tbody[role='ct_se_code_contract']").find("[name='E_8']").html($(this).find("[name='C_8']").html());
                $("tbody[role='ct_se_code_contract']").find("[name='E_10']").html(Math.round(total*0.005).toFormat('NUMBER'));
                totals.push(total);
            }
            else if($(pRow).data("row") == "E"){
                $(pRow).find("[data-type='number']").each(function(pI, pTag){
                    if($(pTag).prop("tagName").toUpperCase() == "INPUT"){
                        var value = parseInt($(pTag).val().replaceAll(",", "")); if(isNaN(value)) value = 0;
                    }
                    else{
                        var value = parseInt($(pTag).text().replaceAll(",", "")); if(isNaN(value)) value = 0;
                    }
                    total += value;
                });
                $(pRow).find("[data-column='row_total']").html(total.toFormat('NUMBER'));
                totals.push(total);
            }
        });

        $(this).find("[data-column='va']").html((totals[0] - totals[1]).toFormat('NUMBER'));
        $(this).find("[data-column='va_rate']").html(((totals[0] - totals[1])*100.0/totals[0]).toFixed(1)+"%");
    });
    $(document).on("change", "tbody[role='company1_detail'], tbody[role='company2_detail'], tbody[role='company3_detail']", function(){
        var company = $(this).attr("role").split("_")[0];
        var human = parseInt($(this).find(`input[name='${company}_human']`).val().replaceAll(",", "")); if(isNaN(human)) human = 0;
        var direct = parseInt($(this).find(`input[name='${company}_direct']`).val().replaceAll(",", "")); if(isNaN(direct)) direct = 0;
        var daily = parseInt($(this).find(`input[name='${company}_daily']`).val().replaceAll(",", "")); if(isNaN(daily)) daily = 0;
        var sum = parseInt($(this).find(`input[name='${company}_sum']`).val().replaceAll(",", "")); if(isNaN(sum)) sum = 0;
        var pink = human + direct + daily + sum;
        $(this).find(`[data-column='${company}_pink']`).html(pink.toFormat('NUMBER'));
        var hdd = 0;
        var s = 0;
        for(let i=1;i<=3;i++){
            var company = `company${i}`;
            var row = $(document).find(`tbody[role='${company}_detail']`);
            var human = parseInt($(row).find(`input[name='${company}_human']`).val().replaceAll(",", "")); if(isNaN(human)) human = 0;
            var direct = parseInt($(row).find(`input[name='${company}_direct']`).val().replaceAll(",", "")); if(isNaN(direct)) direct = 0;
            var daily = parseInt($(row).find(`input[name='${company}_daily']`).val().replaceAll(",", "")); if(isNaN(daily)) daily = 0;
            var sum = parseInt($(row).find(`input[name='${company}_sum']`).val().replaceAll(",", "")); if(isNaN(sum)) sum = 0;
            hdd += (human+direct+daily);
            s += sum;
        }
        $(document).find("input[name='E_5']").val(hdd.toFormat('NUMBER'));
        $(document).find("input[name='E_3']").val(s.toFormat('NUMBER'));
        $(document).find("input[name='E_4']").val(0);
        $(document).find("tbody[role='ct_se_code_contract']").trigger("change");
    });

    {% if init %}
    $(document).on("click", "#addRow", function(){
        cloneRow("equip_tr", 1);
    });
    $(document).on("click", "#addRowOther", function(){
        cloneRow("equip_other_tr", 1);
    });
    $(document).on("click", "#addRowCompany", function(){
        for(let i=1;i<=3;i++){
            if($(document).find(`tbody[role='company${i}']`).css('display') == 'none'){
                $(document).find(`tbody[role='company${i}']`).show();
                break;
            }
        }
    });
    $(document).on("click", "#company1_addRowItem", function(){
        cloneRow("company1_tr", 1);
    });
    $(document).on("click", "#company2_addRowItem", function(){
        cloneRow("company2_tr", 1);
    });
    $(document).on("click", "#company3_addRowItem", function(){
        cloneRow("company3_tr", 1);
    });
    window.projects = {};
    $(document).ready(function(){
        $(document).find("tbody[role='ct_se_code_contract'] input").attr("disabled", true);
        $(document).find("tbody[role='equip_row'] input").attr("disabled", true);
        $(document).find("tbody[role='equip_row'] select").attr("disabled", true);
        $(document).find("tbody[role='equip_other_row'] input").attr("disabled", true);
        $(document).find("tbody[role='equip_other_row'] select").attr("disabled", true);
        $(document).find("tbody[role='company_row'] input").attr("disabled", true);
        $(document).find("tbody[role='company1'] input, tbody[role='company1'] select").attr("disabled", true);
        $(document).find("tbody[role='company2'] input, tbody[role='company2'] select").attr("disabled", true);
        $(document).find("tbody[role='company3'] input, tbody[role='company3'] select").attr("disabled", true);
        $.ajax({
            url : '/api/project/get_p_projects',
            method: 'GET',
            success: function(pResult){
                var html = `<option value="">[전체]</option>`;
                $.each(pResult, function(pIndex, pValue){
                    html += `<option value="${pValue.cntrct_sn}">${pValue.spt_nm}</option>`;
                    window.projects[pValue.cntrct_sn] = pValue;
                });
                $(document).find("#cntrct_sn").html(html);


            }
        });
        var input = document.querySelector('input[data-type="number"]');
        input.addEventListener('input', function() {
          this.value = this.value.replace(/[^0-9 \,]/, '');
        });
    });
    $(document).on("focusout", "input[data-type='number']", function(){
        var value = $(this).val().replaceAll(",", "").toFormat('NUMBER');
        $(this).val(value);
    });
    $(document).on("focusout", "input", function(){
        $(this).closest("tbody").trigger("change");
    });
    $(document).on("focusout", "input[data-type='date']", function(){
        if(!isValidDate($(this).val()) && $(this).val() != ''){
            alert("날짜 형식이 올바르지 않습니다. (yyyy-mm-dd)");
            $(this).val("");
        }
    });

    $(document).on("keyup", "input", function(e){
        if(e.keyCode == 13){
            $(this).focusout();
        }
    });
    $(document).on('select2:open', '.select2', function (e) {
        const evt = "scroll.select2";
        $(e.target).parents().off(evt);
        $(window).off(evt);
    });
    $(document).on("change", "#cntrct_sn", function(){
        var cntrct_sn = $("#cntrct_sn").find(":selected").val();
        if(cntrct_sn != ''){
            var pValue = window.projects[cntrct_sn];
            $("#cntrct_no").val(pValue.cntrct_no);
            $("#home_count").val(pValue.home_count);
            $("#home_region").val(pValue.home_region);
            $("#cntrwk_period").val(pValue.cntrwk_period);
            get_cost(cntrct_sn);
        }
    });
    {% else %}
    $.fn.afterLoadApproval = function() {
        var cntrct_sn = $("#cntrct_sn").find(":selected").val();
        get_cost(cntrct_sn);
        for(let i=1;i<=3;i++){

            if($(document).find(`tbody[role='company${i}']`).find(`[name='company${i}_name']`).val() != ''){
                $(document).find(`tbody[role='company${i}']`).show();
            }
        }


    }
    {% endif %}
</script>