{% include "approvals/common_style.html" %}
<style>
    .input-available{
        height:36px!important;
    }
    table.table-bordered td:last-child, table.table-bordered th:last-child {
        border-right-width: 1px!important;
    }
    .jarviswidget td:last-child, .jarviswidget th:last-child {
        border-right:1px solid #ddd;
    }
</style>
<table class="table table-bordered table-form sub-table" style="width:35%!important;">
    <colgroup>
        <col width="25%">
        <col width="25%">
        <col width="25%">
        <col width="25%">
    </colgroup>
    <thead>
        <tr>
            <th colspan="4" class="sub-title colorN text-center"><span>현 장 현 황</span></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="colorSky text-center">계약번호</td>
            <td class="hasinput" colspan="3"><input type="text" class="form-control text-center" name="cntrct_no" id="cntrct_no" readonly></td>
        </tr>
        <tr>
            <td class="colorSky text-center">현장명</td>
            <td class="text-center hasinput" colspan="3">
                <select class="form-control select2 w100p" id="cntrct_sn" name="cntrct_sn" style="padding-top:0px!important;padding-bottom:0px!important;">
                    {% if not init %}
                        <option value=""></option>
                        {% for code in contract_list %}
                        <option value="{{code.value}}">{{code.label}}</option>
                        {% endfor %}
                    {% endif %}
                </select>

            </td>
        </tr>
        <tr>
            <td class="colorSky text-center">세대수</td>
            <td class="hasinput"><input type="text" class="form-control text-center" name="home_count" id="home_count" readonly></td>
            <td class="colorSky text-center">지역</td>
            <td class="hasinput"><input type="text" class="form-control text-center" name="home_region" id="home_region" readonly></td>
        </tr>
        <tr>
            <td class="colorSky text-center">공사기간</td>
            <td class="hasinput" colspan="3"><input type="text" class="form-control text-center" name="cntrwk_period" id="cntrwk_period" readonly></td>
        </tr>

    </tbody>
    <tbody role="option_approval">
        <tr>
            <td class="hasinput" colspan="4">
                <div class="btn-group btn-group-justified" data-toggle="buttons">
                    <label class="btn btn-default">
                        <input type="radio" name="opt_approval_type" value="S">예상
                    </label>
                    <label class="btn btn-default">
                        <input type="radio" name="opt_approval_type" value="H">정산
                    </label>
                </div>
            </td>
        </tr>
    </tbody>
    <tbody role="option_house">
        <tr>
            <td class="colorSky text-center">옵션 행사장소</td>
            <td class="hasinput" colspan="3">
                <input type="text" class="form-control text-left" name="option_place" id="option_place"/>
            </td>
        </tr>
        <tr>
            <td class="colorSky text-center">행사 진행업체</td>
            <td class="hasinput" colspan="3">
                <input type="text" class="form-control text-left" name="option_company" id="option_company"/>
            </td>
        </tr>
    </tbody>
</table>
<table class="table table-bordered table-form main-table">
    <colgroup>
        <col width="100"/>
        <col width="100"/>
        <col width="100"/>
        <col width="100"/>
        <col width="100"/>
        <col width="100"/>
        <col width="100"/>
        <col width="100"/>
        <col width="100"/>
        <col width="100"/>
        <col width="100"/>
        <col width="100"/>
        <col width="100"/>
        <col width="100"/>
        <col width="100"/>
    </colgroup>
    <thead>
        <tr>
			<th class="sub-title colorN text-center" colspan="15"><span>공사 현황</span><span class="text-right">VAT포함</span></th>
        </tr>
    </thead>
    <tbody role="header">
        <tr>
            <th class="colorB text-center">구분</th>
            <th class="color-contract text-center">내역</th>
            <th class="color-contract text-center">삼성장비</th>
            <th class="color-contract text-center">타사장비</th>
            <th class="color-contract text-center">설치비</th>
            <th class="color-contract text-center">간접비</th>
            <th class="color-contract text-center">로지텍자재</th>
            <th class="color-contract text-center">타사자재</th>
            <th class="color-contract text-center">기타(총액 0.5%)</th>
            <th class="color-contract text-center">M,S/H(기준표)</th>
            <th class="color-contract text-center">옵션행사비(기준표)</th>
            <th class="color-contract text-center">설계변경</th>
            <th class="color-contract text-center">총액</th>
            <th class="color-contract text-center">이익금(VA)</th>
            <th class="color-contract text-center">VA율</th>
        </tr>
    </tbody>
    <tbody role="ct_se_code">
        <tr data-row="B">
            <th class="colorB text-center middle" rowspan="2">사전입찰</th>
            <th class="colorSky text-center">예정가</th>
            <td class="text-right" data-type='number' name="B_1"></td>
            <td class="text-right" data-type='number' name="B_2"></td>
            <td class="text-right" data-type='number' name="B_5"></td>
            <td class="text-right" data-type='number' name="B_8"></td>
            <td class="text-right" data-type='number' name="B_3"></td>
            <td class="text-right" data-type='number' name="B_4"></td>
            <td class="text-right" data-type='number' name="B_10"></td>
            <td class="text-right" data-type='number' name="B_61"></td>
            <td class="text-right" data-type='number' name="B_7"></td>
            <td class="text-right" data-type='number' name="B_99"></td>
            <td class="text-center" data-column="row_total"></td>
            <td class="text-center" data-column="va" rowspan="2"></td>
            <td class="text-center" data-column="va_rate" rowspan="2"></td>
        </tr>
        <tr data-row="D">
            <th class="colorSky text-center">실행가</th>
            <td class="text-right" data-type='number' name="D_1"></td>
            <td class="text-right" data-type='number' name="D_2"></td>
            <td class="text-right" data-type='number' name="D_5"></td>
            <td class="text-right" data-type='number' name="D_8"></td>
            <td class="text-right" data-type='number' name="D_3"></td>
            <td class="text-right" data-type='number' name="D_4"></td>
            <td class="text-right" data-type='number' name="D_10"></td>
            <td class="text-right" data-type='number' name="D_61"></td>
            <td class="text-right" data-type='number' name="D_7"></td>
            <td class="text-right" data-type='number' name="D_99"></td>
            <td class="text-center" data-column="row_total"></td>
        </tr>
    </tbody>
</table>
<table class="table table-bordered table-form main-table">
    <colgroup>
        <col width="100"/>
        <col width="100"/>
        <col width="100"/>
        <col width="100"/>
        <col width="100"/>
        <col width="100"/>
        <col width="100"/>
        <col width="100"/>
    </colgroup>
    <thead>
        <tr>
			<th class="sub-title colorN text-center" colspan="8"><span>⑧ 옵션행사비</span></th>
        </tr>
        <tr>
            <th class="color-contract text-center">구분</th>
            <th class="color-contract text-center">행사기간</th>
            <th class="color-contract text-center">행사일(일)</th>
            <th class="color-contract text-center">도우미(명)</th>
            <th class="color-contract text-center">옵션율(%)</th>
            <th class="color-contract text-center">옵션행사비</th>
            <th class="color-contract text-center">행사비 지급예정일</th>
            <th class="color-contract text-center">비고</th>
        </tr>
    </thead>
    <tbody role="option_row">
        <tr row="E">
            <th class="colorSky text-center">예상</th>
            <td class="hasinput">
                <input type="text" class="form-control datepicker" style="display:inline-block;width:89px!important;" data-type="date" data-dateformat="yy-mm-dd" data-mask="9999-99-99" data-mask-placeholder="_" id="e_opt_period_start" name="e_opt_period_start" placeholder="[시작일자]">
                <span class="input-group-addon" style="display:inline-block;width:10px!important;padding:0;border:0;">~</span>
                <input type="text" class="form-control datepicker" style="display:inline-block;width:89px!important;" data-type="date" data-dateformat="yy-mm-dd" data-mask="9999-99-99" data-mask-placeholder="_" id="e_opt_period_end" name="e_opt_period_end" placeholder="[종료일자]">
            </td>
            <td class="hasinput"><input type="text" class="form-control text-center" data-type="number" name="e_opt_dtm" id="e_opt_dtm" readonly></td>
            <td class="hasinput"><input type="text" class="form-control text-center" data-type="number" name="e_opt_helper" id="e_opt_helper"></td>
            <td class="hasinput"><input type="text" class="form-control text-center" name="e_opt_rate" id="e_opt_rate"></td>
            <td class="hasinput"><input type="text" class="form-control text-right" data-type="number" name="e_opt_amount" id="e_opt_amount"></td>
            <td class="hasinput">
                <div class="input-group">
                    <input class="form-control datepicker text-center" type="text" style="z-index:1040!important;" data-dateformat="yy-mm-dd" data-mask="9999-99-99" data-mask-placeholder="_" id="e_opt_pay_dtm" name="e_opt_pay_dtm">
                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                </div>
            </td>
            <td class="hasinput"><input type="text" class="form-control text-left" name="e_opt_rm" id="e_opt_rm"></td>
        </tr>
        <tr row="C">
            <th class="colorSky text-center">정산</th>
            <td class="hasinput">
                <input type="text" class="form-control datepicker" style="display:inline-block;width:89px!important;" data-type="date" data-dateformat="yy-mm-dd" data-mask="9999-99-99" data-mask-placeholder="_" id="c_opt_period_start" name="c_opt_period_start" placeholder="[시작일자]">
                <span class="input-group-addon" style="display:inline-block;width:10px!important;padding:0;border:0;">~</span>
                <input type="text" class="form-control datepicker" style="display:inline-block;width:89px!important;" data-type="date" data-dateformat="yy-mm-dd" data-mask="9999-99-99" data-mask-placeholder="_" id="c_opt_period_end" name="c_opt_period_end" placeholder="[종료일자]">
            </td>
            <td class="hasinput"><input type="text" class="form-control text-center" data-type="number" name="c_opt_dtm" id="c_opt_dtm" readonly></td>
            <td class="hasinput"><input type="text" class="form-control text-center" data-type="number" name="c_opt_helper" id="c_opt_helper"></td>
            <td class="hasinput"><input type="text" class="form-control text-center" name="c_opt_rate" id="c_opt_rate"></td>
            <td class="hasinput"><input type="text" class="form-control text-right" data-type="number" name="c_opt_amount" id="c_opt_amount"></td>
            <td class="hasinput">
                <div class="input-group">
                    <input class="form-control datepicker text-center" type="text" style="z-index:1040!important;" data-type="date" data-dateformat="yy-mm-dd" data-mask="9999-99-99" data-mask-placeholder="_" id="c_opt_pay_dtm" name="c_opt_pay_dtm">
                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                </div>
            </td>
            <td class="hasinput"><input type="text" class="form-control text-left" name="c_opt_rm" id="c_opt_rm"></td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <th class="colorG text-center">차이</th>
            <th class="colorG"></th>
            <th class="colorG"></th>
            <th class="colorG"></th>
            <th class="colorG" data-column="diff_rate"></th>
            <th class="colorG" data-column="diff"></th>
            <th class="colorG"></th>
            <th class="colorG"></th>
        </tr>
    </tfoot>
</table>
<table class="table table-bordered table-form small-table">
    <colgroup>
        <col width="900"/>
        <col width="100"/>
        <col width="100"/>
        <col width="100"/>
        <col width="100"/>
        <col width="100"/>
        <col width="100"/>
        <col width="100"/>
        <col width="100"/>
        <col width="100"/>
        <col width="100"/>
    </colgroup>
  <thead>
    <tr>
        <th class="sub-title colorN text-center"><span>특이사항</span></th>
        <th class="sub-title color-contract text-center" colspan="10"><span>옵션행사비 기준표(4일기준)</span></th>
    </tr>
  </thead>
  <tbody>
    <tr>
        <td rowspan="11">
            <textarea style="width:100%;height:100%;resize:none;border:none;" name="option_bigo"></textarea>
        </td>
        <td class="text-center">구분</td>
        <td class="text-center">분양(%)</td>
        <td class="text-center">500세대</td>
        <td class="text-center">750세대</td>
        <td class="text-center">1,000세대</td>
        <td class="text-center">1,250세대</td>
        <td class="text-center">1,500세대</td>
        <td class="text-center">1,750세대</td>
        <td class="text-center">2,000세대</td>
        <td class="text-center">참조</td>
    </tr>
    <tr>
        <td class="text-center" rowspan="2">서울권</td>
        <td class="text-center">90</td>
        <td class="text-center">400</td>
        <td class="text-center">600</td>
        <td class="text-center">800</td>
        <td class="text-center">1100</td>
        <td class="text-center">1400</td>
        <td class="text-center">1850</td>
        <td class="text-center" rowspan="2">2000</td>
        <td class="text-center" rowspan="2">서울지역</td>
    </tr>
    <tr>
            <td class="text-center">100</td>
            <td class="text-center">500</td>
            <td class="text-center">725</td>
            <td class="text-center">950</td>
            <td class="text-center">1225</td>
            <td class="text-center">1500</td>
            <td class="text-center">1750</td>
    </tr>
    <tr>
            <td class="text-center" rowspan="4">수도권</td>
            <td class="text-center">70</td>
            <td class="text-center">300</td>
            <td class="text-center">390</td>
            <td class="text-center">480</td>
            <td class="text-center">540</td>
            <td class="text-center">600</td>
            <td class="text-center">800</td>
            <td class="text-center">1000</td>
            <td class="text-center" rowspan="4">경기지역, <br/>광역시</td>
    </tr>
        <tr>
            <td class="text-center">80</td>
            <td class="text-center">300</td>
            <td class="text-center">405</td>
            <td class="text-center">510</td>
            <td class="text-center">555</td>
            <td class="text-center">600</td>
            <td class="text-center">1150</td>
            <td class="text-center" rowspan="3">1500</td>
        </tr>
        <tr>
            <td class="text-center">90</td>
            <td class="text-center">350</td>
            <td class="text-center">450</td>
            <td class="text-center">550</td>
            <td class="text-center">600</td>
            <td class="text-center">650</td>
            <td class="text-center">1075</td>
        </tr>
        <tr>
            <td class="text-center">100</td>
            <td class="text-center">450</td>
            <td class="text-center">525</td>
            <td class="text-center">600</td>
            <td class="text-center">650</td>
            <td class="text-center">700</td>
            <td class="text-center">1100</td>
        </tr>
  <tr>
            <td class="text-center" rowspan="4">지방권</td>
            <td class="text-center">70</td>
            <td class="text-center">240</td>
            <td class="text-center">445</td>
            <td class="text-center">650</td>
            <td class="text-center">675</td>
            <td class="text-center">700</td>
            <td class="text-center">1000</td>
            <td class="text-center" rowspan="2">1300</td>
            <td class="text-center" rowspan="4">제주포함</td>

  </tr>
        <tr>
            <td class="text-center">80</td>
            <td class="text-center">260</td>
            <td class="text-center">455</td>
            <td class="text-center">650</td>
            <td class="text-center">675</td>
            <td class="text-center">700</td>
            <td class="text-center">1000</td>
        </tr>
        <tr>
            <td class="text-center">90</td>
            <td class="text-center">280</td>
            <td class="text-center">515</td>
            <td class="text-center">750</td>
            <td class="text-center">750</td>
            <td class="text-center">750</td>
            <td class="text-center">1125</td>
            <td class="text-center" rowspan="2">1500</td>
        </tr>
        <tr>
            <td class="text-center">100</td>
            <td class="text-center">300</td>
            <td class="text-center">550</td>
            <td class="text-center">800</td>
            <td class="text-center">800</td>
            <td class="text-center">800</td>
            <td class="text-center">1150</td>
        </tr>
  </tbody>
</table>
<script>
function dateDiff(_date1, _date2) {
    var diffDate_1 = new Date(_date1);
    var diffDate_2 = new Date(_date2);

    var diff = Math.abs(diffDate_2.getTime() - diffDate_1.getTime());
    diff = Math.round(diff / (1000 * 3600 * 24));

    return diff;
}


    get_cost = function(cntrct_sn){
        $.ajax({
            url : '/api/project/get_costs_bd',
            method : 'GET',
            data : {"s_cntrct_sn" : cntrct_sn},
            success: function(pResult){
                $(document).find("input[name=opt_approval_type]").yReadonly(false);
                $(document).find("tbody[role='option_house'] input").attr("disabled", false);
                $.each(pResult.bCostList, function(pIndex, pValue){
                    $(document).find(`[name="${pValue.cntrct_execut_code}_${pValue.ct_se_code}"]`).html(pValue.amount.toFormat('NUMBER'));
                });
                var totals = [];
                $("tbody[role='ct_se_code']").find("tr").each(function(pIndex, pRow){
                    var total = 0;
                    $(pRow).find("[data-type='number']").each(function(pI, pTag){
                        var value = parseInt($(pTag).html().replaceAll(",", "")); if(isNaN(value)) value = 0;
                        total += value;
                    });
                    $(pRow).find("[data-column='row_total']").html(total.toFormat('NUMBER'));
                    totals.push(total);
                    if(pIndex == 0){
                        $(document).find("[name='D_10']").html(Math.round(total*0.005).toFormat('NUMBER'));
                    }
                });

                $("tbody[role='ct_se_code']").find("[data-column='va']").html((totals[0] - totals[1]).toFormat('NUMBER'));
                $("tbody[role='ct_se_code']").find("[data-column='va_rate']").html(((totals[0] - totals[1])*100.0/totals[0]).toFixed(1)+"%");

            }
        });

    }
    function isValidDate(dateString) {
      var regEx = /^\d{4}-\d{2}-\d{2}$/;
      if(!dateString.match(regEx)) return false;  // Invalid format
      var d = new Date(dateString);

      var dNum = d.getTime();
      if(!dNum && dNum !== 0) return false; // NaN value, Invalid date
      return (new Date(d.getTime()-(new Date()).getTimezoneOffset())).toISOString().slice(0,10) === dateString;
    }

    fnValidate = function(){
                    var result = true;
                    return result;
               }
    $(document).on("change", "tbody[role='option_row']", function(){
        var e_opt_period_start = $(this).find("input[name='e_opt_period_start']").val();
        var e_opt_period_end = $(this).find("input[name='e_opt_period_end']").val();
        var c_opt_period_start = $(this).find("input[name='c_opt_period_start']").val();
        var c_opt_period_end = $(this).find("input[name='c_opt_period_end']").val();
        if(e_opt_period_start != '' && e_opt_period_end != ''){
            $(this).find("input[name='e_opt_dtm']").val(dateDiff(e_opt_period_start, e_opt_period_end)+1);
        }
        if(c_opt_period_start != '' && c_opt_period_end != ''){
            $(this).find("input[name='c_opt_dtm']").val(dateDiff(c_opt_period_start, c_opt_period_end)+1);
        }
        var e_amount = parseInt($(this).find("input[name='e_opt_amount']").val().replaceAll(",", "")); if(isNaN(e_amount)) e_amount = 0;
        var c_amount = parseInt($(this).find("input[name='c_opt_amount']").val().replaceAll(",", "")); if(isNaN(c_amount)) c_amount = 0;
        $(this).parent().find("[data-column='diff']").html((c_amount - e_amount).toFormat('NUMBER'));

        var e_rate = parseFloat($(this).find("input[name='e_opt_rate']").val().replaceAll("%", "").replaceAll(",", "")); if(isNaN(e_rate)) e_rate = 0.0;
        var c_rate = parseFloat($(this).find("input[name='c_opt_rate']").val().replaceAll("%", "").replaceAll(",", "")); if(isNaN(c_rate)) c_rate = 0.0;
        $(this).parent().find("[data-column='diff_rate']").html((c_rate - e_rate).toFixed(1)+"%");

    });
    $(document).find("input[name=opt_approval_type]").on("change", function(){
        var checked = $(document).find("input[name=opt_approval_type]:checked").val();
        if(checked == 'S'){
            $(document).find("tbody[role='option_row'] tr[row='E'] input").attr("disabled", false);
            $(document).find("tbody[role='option_row'] tr[row='C'] input").attr("disabled", true);
        }
        else{
            var params = {"s_cntrct_sn" : $("#cntrct_sn").find(":selected").val()};
            $.ajax({
                url : '/api/project/get_option_cost',
                method: 'GET',
                data : params,
                success: function(pResult){
                    if(pResult != null){
                        $.each(pResult, function(pKey, pValue){
                            if(pKey.startsWith("e_")){
                                var target = $(document).find(`tbody[role='option_row'] tr[row='E'] input[name='${pKey}']`);
                                if($(target).data("type") == "number"){
                                    $(target).val(pValue.toFormat('NUMBER'));
                                }
                                else{
                                    $(target).val(pValue);
                                }

                            }
                        });
                    }
                    $(document).find("tbody[role='option_row'] tr[row='E'] input").attr("disabled", true);
                    $(document).find("tbody[role='option_row'] tr[row='C'] input").attr("disabled", false);
                    $(document).find("tbody[role='option_row']").trigger("change");

                }
            })
        }
    });
    {% if init %}
    		if(window.projects == undefined){
			window.projects = {};
		}

    $(document).ready(function(){
        $(document).find("input[name=opt_approval_type]").yReadonly(true);
        $(document).find("tbody[role='option_house'] input").attr("disabled", true);
        $(document).find("tbody[role='option_row'] input").attr("disabled", true);
        $.ajax({
            url : '/api/project/get_b_projects',
            method: 'GET',
            success: function(pResult){
                var cntrct_sn = $(document).find("#cntrct_sn").val();
                var html = `<option value="">[전체]</option>`;
                $.each(pResult, function(pIndex, pValue){
                    if(cntrct_sn != '' && (parseInt(pValue.cntrct_sn) == parseInt(cntrct_sn))){
                        html += `<option value="${pValue.cntrct_sn}" selected>${pValue.spt_nm}</option>`;
                    }
                    else{
                        html += `<option value="${pValue.cntrct_sn}">${pValue.spt_nm}</option>`;
                    }
                    window.projects[pValue.cntrct_sn] = pValue;
                });
                $(document).find("#cntrct_sn").html(html);

            }
        });
        $(document).find(".datepicker").datepicker({
            beforeShow: function(dateText) {
                $(this).data('before', $(this).val());
            },
            onSelect: function(dateText) {
                $(this).change();
            },
            onClose: function(dateText) {
                var minDate = new Date($(this).val());
                minDate.setDate(minDate.getDate() - (365*5));
                $(".datepicker-s").datepicker( "option", "minDate", minDate );
            },
        });
        var input = document.querySelector('input[data-type="number"]');
        input.addEventListener('input', function() {
          this.value = this.value.replace(/[^0-9 \,]/, '');
        });
    });
    $(document).on("focusout", "input[data-type='number']", function(){
        var value = $(this).val().replaceAll(",", "").toFormat('NUMBER');
        $(this).val(value);
    });
    $(document).on("focusout", "input[data-type='date']", function(){
        if(!isValidDate($(this).val()) && $(this).val() != ''){
            alert("날짜 형식이 올바르지 않습니다. (yyyy-mm-dd)");
            $(this).val("");
        }
    });
    $(document).on("focusout", "input", function(){
        $(this).closest("tbody").trigger("change");
    });
    $(document).on("keyup", "input", function(e){
        if(e.keyCode == 13){
            $(this).focusout();
        }
    });

    $(document).on("change", "#cntrct_sn", function(){
        var cntrct_sn = $("#cntrct_sn").find(":selected").val();
        if(cntrct_sn != ''){
            var pValue = window.projects[cntrct_sn];
            $("#cntrct_no").val(pValue.cntrct_no);
            $("#home_count").val(pValue.home_count);
            $("#home_region").val(pValue.home_region);
            $("#cntrwk_period").val(pValue.cntrwk_period);
            get_cost(cntrct_sn);
        }
    });
    {% else %}
    $.fn.afterLoadApproval = function() {
        var cntrct_sn = $("#cntrct_sn").find(":selected").val();
        get_cost(cntrct_sn);

    }
    {% endif %}
</script>