{% include "approvals/common_style.html" %}
<style>
    .input-available{
        height:36px!important;
    }
    table.table-bordered td:last-child, table.table-bordered th:last-child {
        border-right-width: 1px!important;
    }
    .jarviswidget td:last-child, .jarviswidget th:last-child {
        border-right:1px solid #ddd;
    }
</style>
<table class="table table-bordered table-form sub-table" style="width:35%!important;">
    <colgroup>
        <col width="25%">
        <col width="25%">
        <col width="25%">
        <col width="25%">
    </colgroup>
    <thead>
        <tr>
            <th colspan="4" class="sub-title colorN text-center"><span>현 장 현 황</span></th>
        </tr>
    </thead>
    <tbody>

        <tr>
            <td class="colorSky text-center">계약번호</td>
            <td class="hasinput" colspan="3"><input type="text" class="form-control text-center" name="cntrct_no" id="cntrct_no" readonly></td>
        </tr>
        <tr>
            <td class="colorSky text-center">현장명</td>
            <td class="text-center hasinput" colspan="3">
                <select class="form-control select2 w100p" id="cntrct_sn" name="cntrct_sn" style="padding-top:0px!important;padding-bottom:0px!important;">
                    {% if not init %}
                        <option value=""></option>
                        {% for code in contract_list %}
                        <option value="{{code.value}}">{{code.label}}</option>
                        {% endfor %}
                    {% endif %}
                </select>

            </td>
        </tr>
        <tr>
            <td class="colorSky text-center">세대수</td>
            <td class="hasinput"><input type="text" class="form-control text-center" name="home_count" id="home_count" readonly></td>
            <td class="colorSky text-center">지역</td>
            <td class="hasinput"><input type="text" class="form-control text-center" name="home_region" id="home_region" readonly></td>
        </tr>
        <tr>
            <td class="colorSky text-center">공사기간</td>
            <td class="hasinput" colspan="3"><input type="text" class="form-control text-center" name="cntrwk_period" id="cntrwk_period" readonly></td>
        </tr>
        <tr>
            <td class="colorSky text-center">도급사</td>
            <td class="text-center hasinput" colspan="3">
                <select class="form-control select2 w100p" id="outsrc_sn" name="outsrc_sn" style="padding-top:0px!important;padding-bottom:0px!important;">
                    {% if not init %}
                        <option value=""></option>
                        {% for code in bcnc_list %}
                        <option value="{{code.value}}">{{code.label}}</option>
                        {% endfor %}
                    {% endif %}
                </select>

            </td>
        </tr>
    </tbody>
</table>
<table class="table table-bordered table-form main-table">
    <colgroup>
        <col width="100"/>
        <col width="100"/>
        <col width="100"/>
        <col width="100"/>
        <col width="100"/>
        <col width="100"/>
        <col width="100"/>
        <col width="100"/>
        <col width="100"/>
        <col width="100"/>
        <col width="100"/>
        <col width="100"/>
        <col width="100"/>
        <col width="100"/>
        <col width="100"/>
    </colgroup>
    <thead>
        <tr>
			<th class="sub-title colorN text-center" colspan="15"><span>공사비 현황</span></th>
        </tr>
    </thead>
    <tbody role="header">
        <tr>
            <th class="color-contract text-center" colspan="4">계약현황</th>
            <th class="color-contract text-center" colspan="9">실행현황</th>
            <th class="color-contract text-center" colspan="2">VA</th>
        </tr>
        <tr>
            <th class="color-contract text-center">장비비</th>
            <th class="color-contract text-center">도급비</th>
            <th class="color-contract text-center">간접비</th>
            <th class="color-contract text-center">계</th>
            <th class="color-contract text-center">장비비(삼성)</th>
            <th class="color-contract text-center">장비비(타사)</th>
            <th class="color-contract text-center">도급비</th>
            <th class="color-contract text-center">간접비</th>
            <th class="color-contract text-center">로지텍자재</th>
            <th class="color-contract text-center">기타자재</th>
            <th class="color-contract text-center">기타비용</th>
            <th class="color-contract text-center">영업비</th>
            <th class="color-contract text-center">계</th>
            <th class="color-contract text-center">이익금</th>
            <th class="color-contract text-center">VA율</th>
        </tr>
    </tbody>
    <tbody role="ct_se_code_contract">
        <tr>
            <td class="text-right" data-type='number' name="C_1"></td>
            <td class="text-right" data-type='number' name="C_5"></td>
            <td class="text-right" data-type='number' name="C_8"></td>
            <td class="text-right" data-type='number' data-column="C_total"></td>
            <td class="text-right" data-type='number' name="E_1"></td>
            <td class="text-right" data-type='number' name="E_2"></td>
            <td class="text-right" data-type='number' name="E_5"></td>
            <td class="text-right" data-type='number' name="E_8"></td>
            <td class="text-right" data-type='number' name="E_3"></td>
            <td class="text-right" data-type='number' name="E_4"></td>
            <td class="text-right" data-type='number' name="E_10"></td>
            <td class="text-right" data-type='number' name="E_99"></td>
            <td class="text-right" data-type='number' data-column="E_total"></td>
            <td class="text-right" data-type='number' data-column="va"></td>
            <td class="text-center" data-column="va_rate"></td>
        </tr>
    </tbody>
</table>
<table class="table table-bordered table-form main-table" id="report_exec">
	<colgroup>
		<col width="100">
		<col width="100">
		<col width="100">
		<col width="100">
		<col width="100">
		<col width="100">
		<col width="100">
		<col width="100">
		<col width="100">
		<col width="100">
		<col width="100">
		<col width="100">
		<col width="120">
		<col width="120">
	</colgroup>
	<thead>
		<tr>
			<th class="sub-title colorN text-center" colspan="14"><span>결산내역</span><span class="text-right">VAT포함</span></th>
		</tr>
	</thead>
	<tbody role="body">
		<tr>
			<th class="colorN text-center" style="vertical-align: middle;" rowspan="2">결산내역</th>
			<th class="colorP text-center">공사비(계약)총액</th>
			<th class="colorP text-center">입금합계</th>
			<th class="colorP text-center">①삼성장비</th>
			<th class="colorP text-center">②타사장비</th>
			<th class="colorP text-center">③설치비</th>
			<th class="colorP text-center">④간접비</th>
			<th class="colorP text-center">⑤로지텍자재</th>
			<th class="colorP text-center">⑥타사자재</th>
			<th class="colorP text-center">⑦M,S/H</th>
			<th class="colorP text-center">⑧옵션행사비</th>
			<th class="colorP text-center">⑨기타(총액 0.5%)</th>
			<th class="colorLP text-center">이익금(VA)</th>
			<th class="colorLP text-center">VA율</th>
		</tr>
		<tr data-row="result">
			<td class="text-number colorP"></td>
			<th class="text-number colorP"></th>
			<td class="text-number"></td>
			<td class="text-number"></td>
			<td class="text-number"></td>
			<td class="text-number"></td>
			<td class="text-number"></td>
			<td class="text-number"></td>
			<td class="text-number"></td>
			<td class="text-number"></td>
			<td class="text-number"></td>
			<td class="text-number"></td>
			<td class="text-center"></td>
		</tr>
	</tbody>
</table>
<!-- ---------------------------------------------------------------------- -->
<table class="table table-bordered table-form sub-table" id="rptTable9">
    <colgroup>
		<col width="85">
		<col width="100">
		<col width="214">
		<col width="214">
		<col width="214">
		<col width="185">
		<col width="*">
		<col width="*">
	</colgroup>
	<thead>
		<tr>
			<th class="sub-title colorN text-center" colspan="8"><span>③ 설치비 산출 및 지급내역</span><span class="text-right">VAT포함</span></th>
		</tr>
	</thead>
	<tbody role="body"></tbody>
	<thead>
		<tr>
			<th class="sub-title colorN text-center" colspan="8"><span>일용직</span></th>
		</tr>
	</tbody>
</table>
<!-- ---------------------------------------------------------------------- -->
<table class="table table-bordered table-form sub-table" id="rptTable9_indirect">
	<colgroup>
		<col width="85">
		<col width="100">
		<col width="214">
		<col width="214">
		<col width="214">
		<col width="185">
		<col width="*">
		<col width="*">
	</colgroup>
	<thead>
		<tr>
			<th class="sub-title colorN text-center" colspan="8"><span>④간접비</span></th>
		</tr>
	</thead>
	<tbody role="body"></tbody>
</table>
<table class="table table-bordered table-form main-table">
    <colgroup>
        <col width="100">
        <col width="120">
        <col width="120">
        <col width="120">
        <col width="120">
        <col width="120">
        <col width="120">
        <col width="120">
    </colgroup>
    <thead>
        <th class="sub-title colorN text-center" colspan="8"><span style="position:absolute;left:50%;top:50%;transform:translate(-50%, -50%);">협력업체 집행현황</span>
            <div class="btn-group" style="position:absolute;top:50%;transform:translateY(-50%);right:0;">
                <button type="button" class="btn btn-table btn-warning" title="추가" id="addRow"><i class="fa fa-plus"></i></button>
            </div>
        </th>
    </thead>
    <tbody role="header">
       <tr>
            <th class="color-contract text-center">업체명</th>
            <th class="color-contract text-center">구분</th>
            <th class="color-contract text-center">계약금액</th>
            <th class="color-contract text-center">전회기성</th>
            <th class="color-contract text-center">선기성</th>
            <th class="color-contract text-center">금회기성</th>
            <th class="color-contract text-center">누계기성</th>
            <th class="color-contract text-center">비고</th>
        </tr>
    </tbody>
    <tbody role="much_row">
        <tr data-row="much_tr">
            <td class="hasinput">
                <input type="text" class="form-control text-center" name="name[]"/>
            </td>
            <td class="hasinput">
                <input type="text" class="form-control text-center" name="type[]"/>
            </td>
            <td class="hasinput">
                <input type="text" class="form-control text-center" data-type="number" name="cntrct_amount[]"/>
            </td>
            <td class="hasinput">
                <input type="text" class="form-control text-center" data-type="number" name="before[]"/>
            </td>
            <td class="hasinput">
                <input type="text" class="form-control text-center" data-type="number" name="pre[]"/>
            </td>
            <td class="hasinput">
                <input type="text" class="form-control text-center" data-type="number" name="now[]"/>
            </td>
            <td class="hasinput">
                <input type="text" class="form-control text-center" data-type="number" name="total[]"/>
            </td>
            <td class="hasinput">
                <input type="text" class="form-control text-center" name="rm[]"/>
            </td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <td class="colorG text-center" colspan="2">합계</td>
            <td class="colorG text-right" data-column="total_cntrct_amount"></td>
            <td class="colorG text-right" data-column="total_before"></td>
            <td class="colorG text-right" data-column="total_pre"></td>
            <td class="colorG text-right" data-column="total_now"></td>
            <td class="colorG text-right" data-column="total_total"></td>
            <td class="colorG"></td>
        </tr>
    </tfoot>
</table>

<table class="table table-bordered table-form small-table" style="width:100%!important;">
    <colgroup>
        <col width="120"/>
        <col width="120"/>
        <col width="120"/>
        <col width="120"/>
    </colgroup>
    <thead>
        <tr>
			<th class="sub-title colorN text-center border_right" colspan="4"><span>특이사항</span></th>
        </tr>
    </thead>
    <tbody>
        <tr data-row="option_row">
            <td class="hasinput" colspan="4">
                <textarea style="width:100%;height:100%;resize:none;border:none;" name="option_bigo"></textarea>
            </td>
        </tr>
    </tbody>

</table>

<script>
    function isValidDate(dateString) {
      var regEx = /^\d{4}-\d{2}-\d{2}$/;
      if(!dateString.match(regEx)) return false;  // Invalid format
      var d = new Date(dateString);

      var dNum = d.getTime();
      if(!dNum && dNum !== 0) return false; // NaN value, Invalid date
      return (new Date(d.getTime()-(new Date()).getTimezoneOffset())).toISOString().slice(0,10) === dateString;
    }

    get_outsrc_detail = function(cntrct_sn, outsrc_fo_sn){
        $.ajax({
            url : '/api/project/get_outsrc_detail',
            method : 'GET',
            data : {"s_outsrc_fo_sn" : outsrc_fo_sn, "s_cntrct_sn" : cntrct_sn},
            success : function(pResult){
                $(document).find("tbody[role='much_row'] input").attr("disabled", false);
                console.log(pResult);
                var pValue = pResult.outsrc;
                var html = '';
                html += '<tr>';
                html += '    <th class="color-contract" colspan="2">도급계약사</th>';
                html += '    <td colspan="3">'+pValue.outsrc_fo_nm+'</td>';
                html += '    <th class="color-contract">도급계약일</th>';
                html += '    <td colspan="2">'+pValue.cntrct_de+'</td>';
                html += '</tr>';
                html += '<tr>';
                html += '    <th class="color-contract" colspan="2">대표</th>';
                html += '    <td colspan="3">'+pValue.rspnber_nm+'</td>';
                html += '    <th class="color-contract">연락처</th>';
                html += '    <td colspan="2">'+pValue.rspnber_telno+'</td>';
                html += '</tr>';
                html += '<tr>';
                html += '    <th class="color-contract" colspan="2">현장관리자</th>';
                html += '    <td colspan="3">'+pValue.charger_nm+'</td>';
                html += '    <th class="color-contract">연락처</th>';
                html += '    <td colspan="2">'+pValue.charger_telno+'</td>';
                html += '</tr>';
                html += '<tr> ';
                html += '	<th class="color-contract" colspan="2">내역</th> ';
                html += '	<th class="color-contract">실내기대수</th> ';
                html += '	<th class="color-contract">대당단가</th> ';
                html += '	<th class="color-contract">공급가액</th> ';
                html += '	<th class="color-contract">세액</th> ';
                html += '	<th class="color-contract">합계</th> ';
                html += '	<th class="color-contract">공사비총액</th> ';
                html += '</tr> ';

                var eCost5 = pResult.e5CostList[0];
                var eCost5Total = 0;
                $.each(pResult.e5CostList, function(pIndex, pV){
                    eCost5Total += Math.round(pV.amount*pV.qy);
                });
                if (eCost5) {
						var eCost5_amt = eCost5.amount / 1.1;
						var eCost5_amt_total = eCost5_amt * eCost5.qy;
						var eCost5_vat_total = Math.round(eCost5.amount / 11);
						var eCost5_sum = eCost5.amount;
						console.log('eCost5', eCost5, eCost5_amt);
						html += '<tr> ';
						html += '	<td class="text-center" id="eCost5_qy" colspan="2">'+eCost5.model_no+'</td> ';
						html += '	<td class="text-number" id="eCost5_qy">'+eCost5.qy.toString().toFormat('NUMBER')+'</td> ';
						html += '	<td class="text-number" id="eCost5_amt">'+Math.round(eCost5_amt).toString().toFormat('NUMBER')+'</td> ';
						html += '	<td class="text-number" id="eCost5_amt_total">'+eCost5_amt_total.toString().toFormat('NUMBER')+'</td> ';
						html += '	<td class="text-number" id="eCost5_vat_total">'+eCost5_vat_total.toString().toFormat('NUMBER')+'</td> ';
						html += '	<td class="text-number" id="eCost5_sum">'+eCost5_sum.toString().toFormat('NUMBER')+'</td> ';
						html += '	<td class="text-number" rowspan="'+pResult.e5CostList.length+'">'+eCost5Total.toString().toFormat('NUMBER')+'</td> ';
						html += '</tr> ';
                    $.each(pResult.e5CostList, function(pIndex, pValue){
                        if (pIndex != 0) {
								var eCost5_amt = pValue.amount / 1.1;
								var eCost5_amt_total = eCost5_amt * pValue.qy;
								var eCost5_vat_total = Math.round(eCost5_amt_total / 11);
								var eCost5_sum = eCost5_amt_total + eCost5_vat_total;
								html += '<tr> ';
								html += '	<td class="text-center" colspan="2">'+pValue.model_no+'</td> ';
								html += '	<td class="text-number">'+pValue.qy.toString().toFormat('NUMBER')+'</td> ';
								html += '	<td class="text-number">'+Math.round(eCost5_amt).toString().toFormat('NUMBER')+'</td> ';
								html += '	<td class="text-number">'+eCost5_amt_total.toString().toFormat('NUMBER')+'</td> ';
								html += '	<td class="text-number">'+eCost5_vat_total.toString().toFormat('NUMBER')+'</td> ';
								html += '	<td class="text-number">'+eCost5_sum.toString().toFormat('NUMBER')+'</td> ';
								html += '</tr> ';
                        }
                    });
                    html += `<tr>
                                <th class="color-contract" rowspan="5">분류</th>
                                <th class="color-contract">내역</th>
                                <th class="color-contract">인건비</th>
                                <th class="color-contract">직불</th>
                                <th class="color-contract">일용직</th>
                                <th class="color-contract">로지텍/타사</th>
                                <th class="color-contract">합계</th>
                                <th class="color-contract">집행률</th>
                            </tr>`;
                    html += `<tr>
                                <th class="color-contract">계약내역</th>
                                <td class="text-right">${pValue.pymnt_mth.split("-")[0].toFormat('NUMBER')}</td>
                                <td class="text-right">${pValue.pymnt_mth.split("-")[1].toFormat('NUMBER')}</td>
                                <td class="text-right">${pValue.pymnt_mth.split("-")[2].toFormat('NUMBER')}</td>
                                <td class="text-right">${pValue.pymnt_mth.split("-")[3].toFormat('NUMBER')}</td>
                                <td class="colorP text-right">${(pValue.pymnt_mth.split("-").reduce((partialSum, a) => partialSum + parseInt(a), 0)).toFormat('NUMBER')}</td>
                                <td class="text-center" rowspan="4"></td>
                            </tr>`;
                    if(pValue.outsrc_dtls && pValue.outsrc_dtls.split("-").length == 4) {
                        html += '<tr>';
                        html += '    <th class="color-contract">계약변경</th>';
                        html += '    <td class="text-right">'+pValue.outsrc_dtls.split("-")[0].toFormat('NUMBER')+'</td>';
                        html += '    <td class="text-right">'+pValue.outsrc_dtls.split("-")[1].toFormat('NUMBER')+'</td>';
                        html += '    <td class="text-right">'+pValue.outsrc_dtls.split("-")[2].toFormat('NUMBER')+'</td>';
                        html += '    <td class="text-right">'+pValue.outsrc_dtls.split("-")[3].toFormat('NUMBER')+'</td>';
                        html += '    <td class="text-right">'+pValue.outsrc_dtls.split("-").reduce((partialSum, a) => partialSum + parseInt(a), 0).toFormat('NUMBER')+'</td>';
                        html += '</tr>';

                    }
                    else{
                        html += '<tr>';
                        html += '    <th class="color-contract">계약변경</th>';
                        html += '    <td class="text-right"></td>';
                        html += '    <td class="text-right"></td>';
                        html += '    <td class="text-right"></td>';
                        html += '    <td class="text-right"></td>';
                        html += '    <td class="text-right"></td>';
                        html += '</tr>';

                    }

                    html += `<tr>
                                <th class="color-contract">집행</th>
                                <td class="text-right"></td>
                                <td class="text-right"></td>
                                <td class="text-right"></td>
                                <td class="text-right"></td>
                                <td class="text-right"></td>
ㅂ                          </tr>`;
                    html += `<tr>
                                <th class="color-contract">잔액</th>
                                <td class="text-right"></td>
                                <td class="text-right"></td>
                                <td class="text-right"></td>
                                <td class="text-right"></td>
                                <td class="text-right"></td>
                            </tr>`;

                }

                html += '<tr><td colspan="5" style="padding:0px!important;vertical-align:top!important;">';
                //매입계산서
                var pTaxbilList = pResult.taxbilList;
                var splpc_am_total = 0, vat_total = 0, sum_total = 0;
                html += '<table class="table table-bordered" style="width:100%;border:0px!important;">';
                html += '<colgroup>';
					html += '	<col width="129">';
					html += '	<col width="160">';
					html += '	<col width="160">';
					html += '	<col width="160">';
					html += '	<col width="*">';
                html += '</colgroup>';
                html += '<thead>';
                html += '	<tr>';
					html += '		<th class="color-contract">세금계산서일자</th>';
					html += '		<th class="color-contract">공급가액</th>';
					html += '		<th class="color-contract">부가세</th>';
					html += '		<th class="color-contract">합계</th>';
					html += '		<th class="color-contract">발행업체</th>';
                html += '	</tr>';
                html += '</thead>';
                html += '<tbody>';
                $.each(pTaxbilList, function(pIndex, pValue) {
						html += '<tr>';
						html += '    <td>'+pValue.pblicte_de+'</td>';
						html += '    <td class="text-number">'+pValue.splpc_am.toString().toFormat('NUMBER')+'</td>';
						html += '    <td class="text-number">'+pValue.vat.toString().toFormat('NUMBER')+'</td>';
						html += '    <td class="text-number">'+(pValue.total == '' ? parseInt(pValue.splpc_am)+(pValue.vat == '' ? 0 : parseInt(pValue.vat)) : parseInt(pValue.total)).toString().toFormat('NUMBER')+'</td>';
						html += '    <td>'+pValue.pblicte_trget_nm+'</td>';
						html += '</tr>';
						splpc_am_total += parseInt(pValue.splpc_am);
						vat_total += pValue.vat == '' ? 0 : parseInt(pValue.vat);
						sum_total += pValue.total == '' ? parseInt(pValue.splpc_am)+(pValue.vat == '' ? 0 : parseInt(pValue.vat)) : parseInt(pValue.total);
                });
                if (pResult.taxbilList.length < pResult.rcppayList.length) {
                    var max = pResult.rcppayList.length - pResult.taxbilList.length
                    for (let i=0; i<max; i++) {
                        html += '<tr>';
                        html += '    <td>-</td>';
                        html += '    <td></td>';
                        html += '    <td></td>';
                        html += '    <td></td>';
                        html += '    <td></td>';
                        html += '</tr>';
                    }
                }
                html += '</tbody>';
                html += '<tfoot>';
                html += '	<tr>';
					html += '		<th class="colorG">합계</th>';
					html += '		<th class="colorG text-number">'+splpc_am_total.toString().toFormat('NUMBER')+'</th>';
					html += '		<th class="colorG text-number">'+vat_total.toString().toFormat('NUMBER')+'</th>';
					html += '		<th class="colorP text-number">'+sum_total.toString().toFormat('NUMBER')+'</th>';
					html += '		<th class="colorG text-number"></th>';
                html += '	</tr>';
                html += '</tfoot>';
                html += '</table>';
                html += '</td>';
                //지급내역
                html += '<td colspan="3" style="padding:0px!important;vertical-align:top!important;">';
                var oRcppayList = pResult.rcppayList;
                var eCostTotal = 0, iRcppay_sub = 0, iRcppay_rate = 0.0;
                if (eCost5 != undefined) {
                    eCostTotal = eCost5.total;
                    iRcppay_sub = eCost5.total;
                }
                var amount_total = 0, sub_total = 0, rate_total = 0.0;
                html += '<table class="table table-bordered" style="width:100%;border:0px!important;">';
                html += '<colgroup>';
					html += '	<col width="129">';
					html += '	<col width="160">';
					html += '	<col width="160">';
					html += '	<col width="100">';
					html += '	<col width="*">';
                html += '</colgroup>';
                html += '<thead>';
                html += '	<tr>';
					html += '		<th class="colorLP">지급일자</th>';
					html += '		<th class="colorLP">금액</th>';
					html += '		<th class="colorLP">잔액</th>';
					html += '		<th class="colorLP">지급율</th>';
					html += '		<th class="colorLP">지급내역</th>';
                html += '	</tr>';
                html += '</thead>';
                html += '<tbody>';
                iRcppay_sub = sum_total;
                $.each(oRcppayList, function(pIndex, pValue) {
						iRcppay_sub -= parseInt(pValue.amount);
						iRcppay_rate = ((sum_total-iRcppay_sub)/sum_total)*100;
						html += '<tr>';
						html += '    <td>'+pValue.rcppay_de+'</td>';
						html += '    <td class="text-number">'+pValue.amount.toString().toFormat('NUMBER')+'</td>';
						html += '    <td class="text-number">'+iRcppay_sub.toString().toFormat('NUMBER')+'</td>';
						html += '    <td class="text-number">'+iRcppay_rate.toFixed(1)+'%</td>';
						html += '    <td>'+pValue.rcppay_dtls+'</td>';
						html += '</tr>';
						amount_total += parseInt(pValue.amount);
						sub_total = iRcppay_sub;
						rate_total = iRcppay_rate;
                });
                if (pResult.rcppayList.length < pResult.taxbilList.length) {
                    var max = pResult.taxbilList.length - pResult.rcppayList.length
                    for (let i=0; i<max; i++) {
                        html += '<tr>';
                        html += '    <td>-</td>';
                        html += '    <td></td>';
                        html += '    <td></td>';
                        html += '    <td></td>';
                        html += '    <td></td>';
                        html += '</tr>';
                    }
                }
                html += '</tbody>';
                html += '<tfoot>';
                html += '	<tr>';
					html += '		<th class="colorG">합계</th>';
					html += '		<th class="colorG text-number">'+amount_total.toString().toFormat('NUMBER')+'</th>';
					html += '		<th class="colorG text-number">'+sub_total.toString().toFormat('NUMBER')+'</th>';
					html += '		<th class="colorG text-number">'+rate_total.toFixed(1)+'%'+'</th>';
					html += '		<th class="colorG text-number"></th>';
                html += '	</tr>';
                html += '</tfoot>';
                html += '</table>';
                html += '</td></tr>';

                $(document).find('#rptTable9 tbody[role=body]').html(html);
            }
        })
    }
    get_cost = function(cntrct_sn){
        $.ajax({
                url : '/api/project/get_costs_bd',
                method : 'GET',
                data : {"s_cntrct_sn" : cntrct_sn},
                success: function(pResult){
                    console.log(pResult);
                    $(document).find("#outsrc_sn").attr("disabled", false);
                    var C_total = 0;
                    var E_total = 0;
                    if(Object.keys(pResult.extraCostList).length > 0){
                        var max_sn = 0;
                        $.each(pResult.extraCostList, function(pIndex, pValue){
                            if(max_sn < parseInt(pIndex))
                                max_sn = parseInt(pIndex);
                        });
                        $.each(pResult.extraCostList[max_sn], function(pIndex, pValue){
                            if(pValue.cntrct_execut_code == 'C'){
                                C_total += pValue.amount;
                            }
                            else{
                                E_total += pValue.amount;
                            }
                            $(document).find(`[name="${pValue.cntrct_execut_code}_${pValue.ct_se_code}"]`).html(pValue.amount.toFormat('NUMBER'));
                        });
                    }
                    else{
                        $.each(pResult.aCostList, function(pIndex, pValue){
                            if(pValue.cntrct_execut_code == 'C'){
                                C_total += pValue.amount;
                            }
                            else{
                                E_total += pValue.amount;
                            }
                            $(document).find(`[name="${pValue.cntrct_execut_code}_${pValue.ct_se_code}"]`).html(pValue.amount.toFormat('NUMBER'));
                        });
                    }
                    var totals = [];
                    $("tbody[role='ct_se_code_contract']").find("tr").each(function(pIndex, pRow){
                        var total = 0;
                        $(pRow).find("[data-type='number']").each(function(pI, pTag){
                            var value = parseInt($(pTag).html().replaceAll(",", "")); if(isNaN(value)) value = 0;
                            total += value;
                        });
                        $(pRow).find("[data-column='row_total']").html(total.toFormat('NUMBER'));
                        totals.push(total);
                    });
                    console.log(totals);
                    $("tbody[role='ct_se_code_contract']").find("[data-column='C_total']").html((C_total).toFormat('NUMBER'));
                    $("tbody[role='ct_se_code_contract']").find("[data-column='E_total']").html((E_total).toFormat('NUMBER'));
                    $("tbody[role='ct_se_code_contract']").find("[data-column='va']").html((C_total - E_total).toFormat('NUMBER'));
                    $("tbody[role='ct_se_code_contract']").find("[data-column='va_rate']").html(((C_total - E_total)*100.0/C_total).toFixed(1)+"%");

                    var prjct_sn = pResult.prjct.prjct_sn;
                    $.ajax({
                        url: '/api/project/ajax_get_reportNR',
                        type: 'GET',
                        data: {"s_cntrct_sn" : cntrct_sn, "s_prjct_sn" : prjct_sn},
                        success: function(pData) {
                            console.log(pData);
                            var cCostTotal = 0;
                            $.each(pData.aCostList, function(pI, pV){
                                var amount = 0;
                                if (pV.amount != '') { amount = parseInt(pV.amount); }
                                if (pV.cntrct_execut_code == 'C') // 계약
                                {
                                    cCostTotal += amount;
                                }
                            });
                            var extraCostList = pData.extraCostList;
                            if(extraCostList){
                                cCostTotal = 0;
                                var extraCosts = {};
                                $.each(extraCostList, function(pIndex, pCost){
                                    var extra_sn = pCost.extra_sn;
                                    if(!extraCosts.hasOwnProperty(extra_sn)){
                                        extraCosts[extra_sn] = [];
                                    }
                                    extraCosts[extra_sn].push(pCost);
                                });
                                console.log(extraCostList);
                                var extra_sns = Object.keys(extraCosts);
                                extra_sns.sort();
                                for(let i=1;i<=extra_sns.length;i++){
                                    var extra_sn = extra_sns[i-1];
                                    var costs = extraCosts[extra_sn];
                                    var costTotal = {"C" : 0, "E" : 0};
                                    $.each(costs, function(pIndex, pCost){
                                        costTotal[pCost.cntrct_execut_code] += (pCost.amount != '') ? parseInt(pCost.amount) : 0;
                                    });
                                    console.log(cCostTotal);
                                    cCostTotal = costTotal["C"];
                                }

                            }

                            var amt_tot = 0;
                            $.each(pData.rcppayList, function(pI, pV) {
                                var amount_total = 0;
            					var iRcppayList = pV.iRcppayList;
                                $.each(iRcppayList, function(pIndex, pValue) {
                                    amount_total += parseInt(pValue.amount);
                                });
                                amt_tot += amount_total;
                            });
                            var p_sum_total = 0;
                            $.each(pData.s1AccountList, function(pI, pV){
                                p_sum_total += parseInt(pV.p_total);
                            });
                            var p_sum_total_other = 0;
                            $.each(pData.s2AccountList, function(pI, pV){
                                p_sum_total_other += parseInt(pV.p_total);
                            });
                            var all_sum_total = 0;
                            $.each(pData.outsrcList, function(pI, pV) {
                                var sum_total = 0;
                                $.each(pV.taxbilList, function(pIndex, pValue){
                                    sum_total += pValue.total == '' ? parseInt(pValue.splpc_am)+(pValue.vat == '' ? 0 : parseInt(pValue.vat)) : parseInt(pValue.total);
                                });
                                all_sum_total += sum_total;
                            });
                            var sum_total = 0;
                            $.each(pData.s3AccountList, function(pI, pV){
                                var sum = parseInt(pV.s_total);
                                sum_total += parseInt(sum);
                            });
                            var sum_total_other = 0;
                            $.each(pData.s4AccountList, function(pI, pV){
                                var sum = parseInt(pV.p_total);
                                sum_total_other += parseInt(sum);
                            });
                            var msh_total_amount = 0;
                            $.each(pData.sModelCostList, function(pI, pV){
                                var dlamt = parseInt(pV.dlamt); if(isNaN(dlamt)) dlamt = 0;
                                var dlnt = parseInt(pV.dlnt); if(isNaN(dlnt)) dlnt = 0;
                                var amount = dlamt*dlnt;
                                msh_total_amount += amount;
                            });
                            var c_opt_amount = 0;
                            if(pData.sOptionCostList != null){
                                c_opt_amount = parseInt(pData.sOptionCostList.c_opt_amount); if(isNaN(c_opt_amount)) c_opt_amount = 0;
                            }
                            var rcppay_amt_total = 0;
                            $.each(pData.etcRcppayList, function(pI, pV){
                                var amt = parseInt(pV.amount);
                                rcppay_amt_total += parseInt(amt);
                            });

                            $(document).find('#report_exec tbody[role=body] tr[data-row=result] td:eq(0)').html(cCostTotal.toString().toFormat('NUMBER'));
                            $(document).find('#report_exec tbody[role=body] tr[data-row=result] th:eq(0)').html(amt_tot.toString().toFormat('NUMBER'));
            				$(document).find('#report_exec tbody[role=body] tr[data-row=result] td:eq(1)').html(p_sum_total.toString().toFormat('NUMBER'));
            				$(document).find('#report_exec tbody[role=body] tr[data-row=result] td:eq(2)').html(p_sum_total_other.toString().toFormat('NUMBER'));
            				$(document).find('#report_exec tbody[role=body] tr[data-row=result] td:eq(3)').html(all_sum_total.toString().toFormat('NUMBER'));
            				$(document).find('#report_exec tbody[role=body] tr[data-row=result] td:eq(5)').html(sum_total.toString().toFormat('NUMBER'));
	            			$(document).find('#report_exec tbody[role=body] tr[data-row=result] td:eq(6)').html(sum_total_other.toString().toFormat('NUMBER'));
            				$(document).find('#report_exec tbody[role=body] tr[data-row=result] td:eq(7)').html(msh_total_amount.toFormat('NUMBER'));
        					$(document).find('#report_exec tbody[role=body] tr[data-row=result] td:eq(8)').html(c_opt_amount.toFormat('NUMBER'));
            				$(document).find('#report_exec tbody[role=body] tr[data-row=result] td:eq(9)').html(rcppay_amt_total.toString().toFormat('NUMBER'));
                            var execData = $(document).find('#report_exec tbody[role=body] tr[data-row=result] td');
                            var execAmt0 = $(execData[0]).html().replaceAll(',', '');
                            if (execAmt0 != '') {
                                execAmt0 = parseInt(execAmt0);
                            } else {
                                execAmt0 = 0;
                            }
                            var execAmt1 = $(execData[1]).html().replaceAll(',', '');
                            if (execAmt1 != '') {
                                execAmt1 = parseInt(execAmt1);
                            } else {
                                execAmt1 = 0;
                            }
                            var execAmt2 = $(execData[2]).html().replaceAll(',', '');
                            if (execAmt2 != '') {
                                execAmt2 = parseInt(execAmt2);
                            } else {
                                execAmt2 = 0;
                            }
                            var execAmt3 = $(execData[3]).html().replaceAll(',', '');
                            if (execAmt3 != '') {
                                execAmt3 = parseInt(execAmt3);
                            } else {
                                execAmt3 = 0;
                            }
                            var execAmt4 = $(execData[4]).html().replaceAll(',', '');
                            if (execAmt4 != '') {
                                execAmt4 = parseInt(execAmt4);
                            } else {
                                execAmt4 = 0;
                            }
                            var execAmt5 = $(execData[5]).html().replaceAll(',', '');
                            if (execAmt5 != '') {
                                execAmt5 = parseInt(execAmt5);
                            } else {
                                execAmt5 = 0;
                            }
                            var execAmt6 = $(execData[6]).html().replaceAll(',', '');
                            if (execAmt6 != '') {
                                execAmt6 = parseInt(execAmt6);
                            } else {
                                execAmt6 = 0;
                            }
                            var execAmt7 = $(execData[7]).html().replaceAll(',', '');
                            if (execAmt7 != '') {
                                execAmt7 = parseInt(execAmt7);
                            } else {
                                execAmt7 = 0;
                            }
                            var execAmt8 = $(execData[8]).html().replaceAll(',', '');
                            if (execAmt8 != '') {
                                execAmt8 = parseInt(execAmt8);
                            } else {
                                execAmt8 = 0;
                            }
                            var execAmt9 = $(execData[9]).html().replaceAll(',', '');
                            if (execAmt9 != '') {
                                execAmt9 = parseInt(execAmt9);
                            } else {
                                execAmt9 = 0;
                            }
                            var vaTotal = execAmt0 - execAmt1 - execAmt2 - execAmt3 - execAmt4 - execAmt5 - execAmt6 - execAmt7 - execAmt8 - execAmt9;
                            var vaRate = (vaTotal/execAmt0)*100;
                            $(document).find('#report_exec tbody[role=body] tr[data-row=result] td:eq(10)').html(vaTotal.toString().toFormat('NUMBER'));
                            $(document).find('#report_exec tbody[role=body] tr[data-row=result] td:eq(11)').html(vaRate.toFixed(1)+'%');
                        }
                    });



                    {% if init %}
                    var html = `<option value="">[도급사를 선택하세요]</option>`;
                    $.each(pResult.outsrcList, function(pIndex, pValue){
                        html += `<option value="${pValue.outsrc_fo_sn}">${pValue.outsrc_fo_nm}</option>`;
                    });
                    $(document).find("#outsrc_sn").html(html);
                    {% endif %}


                    // $(document).find('#report_exec tbody[role=body] tr[data-row=result] td:eq(3)').html(all_sum_total.toString().toFormat('NUMBER'));
                    /* ********************************************************* */


                }
            });

    }
    fnValidate = function(){
                    var result = true;
                    return result;
               }
    cloneRow = function(selector, count){
        if(selector == "much_tr"){
            for(let i=0;i<count;i++) {
                var trs = $(document).find("tbody[role='much_row'] tr");
                var origin = trs.eq(0).clone(true);
                $(origin).find("td:not(.hasinput)").html("");
                $(origin).find("td.hasinput input").val("");
                $(document).find("tbody[role='much_row']").append($(origin));
            }
            $(document).find("tbody[role='much_row']").trigger("change");
        }
    }
    $(document).on("change", "tbody[role='much_row']", function(){
        var total_cntrct_amount = 0;
        var total_before = 0;
        var total_pre = 0;
        var total_now = 0;
        var total_total = 0;
        $(this).find("tr").each(function(pIndex, pRow){
            var cntrct_amount = parseInt($(pRow).find("input[name='cntrct_amount[]']").val().replaceAll(",", "")); if(isNaN(cntrct_amount)) cntrct_amount = 0;
            var before = parseInt($(pRow).find("input[name='before[]']").val().replaceAll(",", "")); if(isNaN(before)) before = 0;
            var pre = parseInt($(pRow).find("input[name='pre[]']").val().replaceAll(",", "")); if(isNaN(pre)) pre = 0;
            var now = parseInt($(pRow).find("input[name='now[]']").val().replaceAll(",", "")); if(isNaN(now)) now = 0;
            var total = parseInt($(pRow).find("input[name='total[]']").val().replaceAll(",", "")); if(isNaN(total)) total = 0;
            total_cntrct_amount += cntrct_amount;
            total_before += before;
            total_pre += pre;
            total_now += now;
            total_total += total;
        });
        $(this).parent().find("[data-column='total_cntrct_amount']").html(total_cntrct_amount.toFormat('NUMBER'));
        $(this).parent().find("[data-column='total_before']").html(total_before.toFormat('NUMBER'));
        $(this).parent().find("[data-column='total_pre']").html(total_pre.toFormat('NUMBER'));
        $(this).parent().find("[data-column='total_now']").html(total_now.toFormat('NUMBER'));
        $(this).parent().find("[data-column='total_total']").html(total_total.toFormat('NUMBER'));
    });

    {% if init %}
    $(document).on("click", "#addRow", function(){
        cloneRow("much_tr", 1);
    });

    		if(window.projects == undefined){
			window.projects = {};
		}

    $(document).ready(function(){
        $(document).find("#outsrc_sn").attr("disabled", true);
        $(document).find("tbody[role='much_row'] input").attr("disabled", true);
        $.ajax({
            url : '/api/project/get_p_projects',
            method: 'GET',
            success: function(pResult){
                var cntrct_sn = $(document).find("#cntrct_sn").val();
                var html = `<option value="">[전체]</option>`;
                $.each(pResult, function(pIndex, pValue){
                    if(cntrct_sn != '' && (parseInt(pValue.cntrct_sn) == parseInt(cntrct_sn))){
                        html += `<option value="${pValue.cntrct_sn}" selected>${pValue.spt_nm}</option>`;
                    }
                    else{
                        html += `<option value="${pValue.cntrct_sn}">${pValue.spt_nm}</option>`;
                    }
                    window.projects[pValue.cntrct_sn] = pValue;
                });
                $(document).find("#cntrct_sn").html(html);

            }
        });
        var input = document.querySelector('input[data-type="number"]');
        if(input){
            input.addEventListener('input', function() {
              this.value = this.value.replace(/[^0-9 \,]/, '');
            });
        }
    });
    $(document).on("focusout", "input[data-type='number']", function(){
        var value = $(this).val().replaceAll(",", "").toFormat('NUMBER');
        $(this).val(value);
    });
    $(document).on("focusout", "input", function(){
        $(this).closest("tbody").trigger("change");
    });
    $(document).on("focusout", "input[data-type='date']", function(){
        if(!isValidDate($(this).val()) && $(this).val() != ''){
            alert("날짜 형식이 올바르지 않습니다. (yyyy-mm-dd)");
            $(this).val("");
        }
    });

    $(document).on("keyup", "input", function(e){
        if(e.keyCode == 13){
            $(this).focusout();
        }
    });
    $(document).on('select2:open', '.select2', function (e) {
        const evt = "scroll.select2";
        $(e.target).parents().off(evt);
        $(window).off(evt);
    });
    $(document).on("change", "#cntrct_sn", function(){
        var cntrct_sn = $("#cntrct_sn").find(":selected").val();
        if(cntrct_sn != ''){
            var pValue = window.projects[cntrct_sn];
            $("#cntrct_no").val(pValue.cntrct_no);
            $("#home_count").val(pValue.home_count);
            $("#home_region").val(pValue.home_region);
            $("#cntrwk_period").val(pValue.cntrwk_period);
            get_cost(cntrct_sn);
        }
    });
    $(document).on("change", "#outsrc_sn", function(){
        var cntrct_sn = $("#cntrct_sn").find(":selected").val();
        var outsrc_sn = $("#outsrc_sn").find(":selected").val();
        if(outsrc_sn != ''){
            get_outsrc_detail(cntrct_sn, outsrc_sn);
        }
    });
    {% else %}
    $.fn.afterLoadApproval = function() {
        var cntrct_sn = $("#cntrct_sn").find(":selected").val();
        var outsrc_sn = $("#outsrc_sn").find(":selected").val();
        get_cost(cntrct_sn);
        get_outsrc_detail(cntrct_sn, outsrc_sn);
    }
    {% endif %}

</script>