{% include "approvals/common_style.html" %}
<style>
    .input-available{
        height:36px!important;
    }
    table.table-bordered td:last-child, table.table-bordered th:last-child {
        border-right-width: 1px!important;
    }
    .jarviswidget td:last-child, .jarviswidget th:last-child {
        border-right:1px solid #ddd;
    }
  #my-spinner { width: 100%; height: 100%; top: 0; left: 0; display: none; opacity: .6; background: silver; position: absolute; z-index: 2; }
  #my-spinner div { width: 100%; height: 100%; display: table; }
  #my-spinner span { display: table-cell; text-align: center; vertical-align: middle; }
  #my-spinner img { background: white; padding: 1em; border-radius: .7em; }

.drop-zone {
  max-width: 100%;
  height: 100%;
  padding: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
  font-size: 20px;
  cursor: pointer;
  color: #cccccc;
  border: 4px dashed #cecece;
  border-radius: 10px;
}

.drop-zone--over {
  border-style: solid;
}

.drop-zone__input {
  display: none!important;
}

.drop-zone__thumb {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  overflow: hidden;
  background-color: #cccccc;
  background-size: cover;
  position: relative;
}

.drop-zone__thumb::after {
  content: attr(data-label);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 5px 0;
  color: #ffffff;
  background: rgba(0, 0, 0, 0.75);
  font-size: 14px;
  text-align: center;
}

</style>
<script>
document.querySelectorAll(".drop-zone__input").forEach((inputElement) => {
  const dropZoneElement = inputElement.closest(".drop-zone");

  dropZoneElement.addEventListener("click", (e) => {
    inputElement.click();
  });

  inputElement.addEventListener("change", (e) => {
    if (inputElement.files.length) {
      updateThumbnail(dropZoneElement, inputElement.files[0]);
    }
  });

  dropZoneElement.addEventListener("dragover", (e) => {
    e.preventDefault();
    dropZoneElement.classList.add("drop-zone--over");
  });

  ["dragleave", "dragend"].forEach((type) => {
    dropZoneElement.addEventListener(type, (e) => {
      dropZoneElement.classList.remove("drop-zone--over");
    });
  });

  dropZoneElement.addEventListener("drop", (e) => {
    e.preventDefault();

    if (e.dataTransfer.files.length) {
      inputElement.files = e.dataTransfer.files;
      updateThumbnail(dropZoneElement, e.dataTransfer.files[0]);
    }

    dropZoneElement.classList.remove("drop-zone--over");
  });
});

    function create_chunk(order, file_sn, name, file, chunk_size, start, idx){
        let chunk_end = Math.min(start + chunk_size , file.size );
        const chunk = file.slice(start, chunk_end);
        const form = new FormData();
        let filename = name.split(".")[0];
        let ext = name.split(".")[1];
        form.append('file', chunk, filename+"."+ext+"."+idx);
        let oReq = new XMLHttpRequest();
        oReq.open("POST", "/api/common/chunk_upload", true);
        let blob_end = chunk_end-1;
        let contentRange = "bytes "+ start+"-"+ blob_end+"/"+file.size;
        oReq.setRequestHeader("Content-Range",contentRange);
        oReq.onload = function(e){
            let pResult = JSON.parse(oReq.response);
            if(!pResult.status){
                alert(pResult.msg);
                return;
            }
            if(start + chunk_size < file.size){
                create_chunk(order, file_sn, name, file, chunk_size, start+chunk_size, idx+1);
            }
            else{
                $(document).find(`[name='pdf_sn${parseInt(order)+1}']`).val(file_sn);
                $("#my-spinner").hide();
            }
        }
        oReq.send(form);
    }


/**
 * Updates the thumbnail on a drop zone element.
 *
 * @param {HTMLElement} dropZoneElement
 * @param {File} file
 */
function updateThumbnail(dropZoneElement, file) {
    $("#my-spinner").show();
  if (dropZoneElement.querySelector(".drop-zone__prompt")) {
    dropZoneElement.querySelector(".drop-zone__prompt").remove();
  }

    let id = dropZoneElement.querySelector(".drop-zone__input").getAttribute("name");
    var ordr = (id == "pdf1") ? 0 : 1;
    const filesize = file.size;
    var params = {"filesize" : filesize, "ext" : file.name.split(".")[file.name.split(".").length-1], "order" : ordr};
    $.ajax({
        url : '/api/common/get_upload_file_id',
        method : 'POST',
        data : params,
        success: function(pResult){
            let name = pResult.filename;
            let chunk_size = pResult.filesize;
            let file_sn = pResult.file_sn;
            let ord = pResult.order;
            let start = 0;
            create_chunk(ord, file_sn, name, file, chunk_size, start, 0);
        },
        error: function(){
            alert("오류가 발생했습니다.");
            location.reload();
        },
        beforeSend: function(){


        }
    });

  //
  // // First time - remove the prompt
  // if (dropZoneElement.querySelector(".drop-zone__prompt")) {
  //   dropZoneElement.querySelector(".drop-zone__prompt").remove();
  // }
  //
  // // First time - there is no thumbnail element, so lets create it
  // if (!thumbnailElement) {
  //   thumbnailElement = document.createElement("div");
  //   thumbnailElement.classList.add("drop-zone__thumb");
  //   dropZoneElement.appendChild(thumbnailElement);
  // }
  //
  // thumbnailElement.dataset.label = file.name;
  //
  // // Show thumbnail for image files
  // if (file.type.startsWith("image/")) {
  //   const reader = new FileReader();
  //
  //   reader.readAsDataURL(file);
  //   reader.onload = () => {
  //     thumbnailElement.style.backgroundImage = `url('${reader.result}')`;
  //   };
  // } else {
  //   thumbnailElement.style.backgroundImage = null;
  // }
}

</script>
<div id='my-spinner'>
  <div>
    <span>
    	<img src='//cdnjs.cloudflare.com/ajax/libs/galleriffic/2.0.1/css/loader.gif'>
    </span>
  </div>
</div>

<table class="table table-bordered table-form sub-table" style="width:35%!important;">
    <colgroup>
        <col width="25%">
        <col width="25%">
        <col width="25%">
        <col width="25%">
    </colgroup>
    <thead>
        <tr>
            <th colspan="4" class="sub-title colorN text-center"><span>현 장 현 황</span></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="colorSky text-center">계약번호</td>
            <td class="hasinput" colspan="3"><input type="text" class="form-control text-center" name="cntrct_no" id="cntrct_no" readonly></td>
        </tr>
        <tr>
            <td class="colorSky text-center">현장명</td>
            <td class="text-center hasinput" colspan="3">
                <select class="form-control select2 w100p" id="cntrct_sn" name="cntrct_sn" style="padding-top:0px!important;padding-bottom:0px!important;">
                    {% if not init %}
                        <option value=""></option>
                        {% for code in contract_list %}
                        <option value="{{code.value}}">{{code.label}}</option>
                        {% endfor %}
                    {% endif %}
                </select>

            </td>
        </tr>
        <tr>
            <td class="colorSky text-center">세대수</td>
            <td class="hasinput"><input type="text" class="form-control text-center" name="home_count" id="home_count" readonly></td>
            <td class="colorSky text-center">지역</td>
            <td class="hasinput"><input type="text" class="form-control text-center" name="home_region" id="home_region" readonly></td>
        </tr>
        <tr>
            <td class="colorSky text-center">공사기간</td>
            <td class="hasinput" colspan="3"><input type="text" class="form-control text-center" name="cntrwk_period" id="cntrwk_period" readonly></td>
        </tr>
    </tbody>
</table>
<table class="table table-bordered table-form main-table">
    <colgroup>
        <col width="50"/>
        <col width="50"/>
    </colgroup>
    <thead>
        <tr>
			<th class="sub-title colorN text-center" colspan="1"><span>도급계약서</span></th>
			<th class="sub-title colorN text-center" colspan="1"><span>계약이행증권</span></th>
        </tr>
    </thead>
    <tbody>
        <tr role="files_tr_first">
            <td class="text-center" style="height:200px!important;">
              <div class="drop-zone">
                <span class="drop-zone__prompt">Drop file here or click to upload</span>
                <input type="file" id="pdf1" name="pdf1" class="drop-zone__input" accept="application/pdf">
              </div>
            </td>
            <td class="text-center" style="height:200px!important;">
              <div class="drop-zone">
                <span class="drop-zone__prompt">Drop file here or click to upload</span>
                <input type="file" id="pdf2" name="pdf2" class="drop-zone__input" accept="application/pdf">
              </div>
            </td>
        </tr>
    </tbody>
    <tbody role="files_row" style="display:none;">
      <tr data-row="files_tr">
        <td colspan="1">
          <input type="hidden" name="pdf_sn1" value=""/>
        </td>
        <td colspan="1">
          <input type="hidden" name="pdf_sn2" value=""/>
        </td>
      </tr>
    </tbody>

</table>
<table class="table table-bordered table-form main-table" id="report_biss">
	<colgroup>
		<col width="100">
		<col width="100">
		<col width="100">
		<col width="100">
	</colgroup>
	<tbody>
		<tr>
            <th class="color-contract text-center" rowspan="2" style="vertical-align: middle;">업체 및 BISS 확인사항</th>
			<th class="color-contract text-center">계약이행증권</th>
			<th class="color-contract text-center">국세,지방세</th>
			<th class="color-contract text-center">직불적용(2억이상)</th>
		</tr>
		<tr>
			<td class="hasinput">
                <select class="form-control select2 w100p" id="biss_a" name="biss_a" style="width:100%;padding-top:0px!important;padding-bottom:0px!important;">
                    <option value="-1">해당사항없음</option>
                    <option value="1">O</option>
                    <option value="0">X</option>
                </select>
            </td>
			<td class="hasinput">
                <select class="form-control select2 w100p" id="biss_b" name="biss_b" style="width:100%;padding-top:0px!important;padding-bottom:0px!important;">
                    <option value="-1">해당사항없음</option>
                    <option value="1">O</option>
                    <option value="0">X</option>
                </select>
            </td>
			<td class="hasinput">
                <select class="form-control select2 w100p" id="biss_c" name="biss_c" style="width:100%;padding-top:0px!important;padding-bottom:0px!important;">
                    <option value="-1">해당사항없음</option>
                    <option value="1">O</option>
                    <option value="0">X</option>
                </select>
            </td>

		</tr>
	</tbody>
</table>
<script>
    fnValidate = function(){
                    var result = true;
                    return result;
               }
    {% if init %}
    window.projects = {};
    $(document).ready(function(){
        $.ajax({
            url : '/api/project/get_all_projects',
            method: 'GET',
            success: function(pResult){


                var html = `<option value="">[전체]</option>`;
                $.each(pResult, function(pIndex, pValue){
                    html += `<option value="${pValue.cntrct_sn}">${pValue.spt_nm}</option>`;
                    window.projects[pValue.cntrct_sn] = pValue;
                });
                $.ajax({
                    url : '/api/project/get_p_projects',
                    method: 'GET',
                    success: function(pResult){
                        $.each(pResult, function(pIndex, pValue){
                            html += `<option value="${pValue.cntrct_sn}">${pValue.spt_nm}</option>`;
                            window.projects[pValue.cntrct_sn] = pValue;
                        });
                        $(document).find("#cntrct_sn").html(html);


                    }
                });


            }
        });
    });
    $(document).on("change", "#cntrct_sn", function(){
        var cntrct_sn = $("#cntrct_sn").find(":selected").val();
        if(cntrct_sn != ''){
            var pValue = window.projects[cntrct_sn];
            $("#cntrct_no").val(pValue.cntrct_no);
            $("#home_count").val(pValue.home_count);
            $("#home_region").val(pValue.home_region);
            $("#cntrwk_period").val(pValue.cntrwk_period);
        }
    });
    {% else %}
    $.fn.afterLoadApproval = function() {
      var params = {"f_sns" : []}
      var target = [];
      $(document).find("[name='pdf_sn1'], [name='pdf_sn2']").each(function(pIndex, pTag){
        var f_sn = $(pTag).val();
        if(f_sn != '' && f_sn != undefined){

            params.f_sns.push(f_sn);
            target.push($(pTag).attr("name"));
        }
      });
      console.log(params);
      $.ajax({
        url : '/api/common/get_files_name',
        method : 'POST',
        data: JSON.stringify(params),
        dataType: 'json',
        contentType: "application/json; charset=utf-8",
        processData: false,
        success: function(pResult){
          var html = '<tr>';
          $.each(pResult, function(pIndex, path){
              if(target.length == 2){
                  if(target[pIndex] == "pdf_sn1"){
                      html += `<td colspan="1"><a target="_blank" href="/static/files/${path}">계약서</a></td>`;
                  }
                  else{
                      html += `<td colspan="1"><a target="_blank" href="/static/files/${path}">계약이행증권</a></td>`;
                  }
              }
              else if(target.length == 1){
                  if(target[pIndex] == "pdf_sn1"){
                      html += `<td colspan="2"><a target="_blank" href="/static/files/${path}">계약서</a></td>`;
                  }
                  else{
                      html += `<td colspan="2"><a target="_blank" href="/static/files/${path}">계약이행증권</a></td>`;
                  }
              }
          });
          html += "</tr>"
          if(target.length > 0){
              $(html).insertAfter($(document).find(`tr[role="files_tr_first"]`));

          }

        },
        error: function(pResult){

        }
      });


    }
    {% endif %}
</script>