{% include "approvals/common_style.html" %}
<style>
    .input-available{
        height:36px!important;
    }
    table.table-bordered td:last-child, table.table-bordered th:last-child {
        border-right-width: 1px!important;
    }
    .jarviswidget td:last-child, .jarviswidget th:last-child {
        border-right:1px solid #ddd;
    }
</style>
<table class="table table-bordered table-form sub-table" style="width:35%!important;">
    <colgroup>
        <col width="25%">
        <col width="25%">
        <col width="25%">
        <col width="25%">
    </colgroup>
    <thead>
        <tr>
            <th colspan="4" class="sub-title colorN text-center"><span>현 장 현 황</span></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="colorSky text-center">계약번호</td>
            <td class="hasinput" colspan="3"><input type="text" class="form-control text-center" name="cntrct_no" id="cntrct_no" readonly></td>
        </tr>
        <tr>
            <td class="colorSky text-center">현장명</td>
            <td class="text-center hasinput" colspan="3">
                <select class="form-control select2 w100p" id="cntrct_sn" name="cntrct_sn" style="padding-top:0px!important;padding-bottom:0px!important;">
                    {% if not init %}
                        <option value=""></option>
                        {% for code in contract_list %}
                        <option value="{{code.value}}">{{code.etc1}} {{code.label}}</option>
                        {% endfor %}
                    {% endif %}
                </select>

            </td>
        </tr>
        <tr>
            <td class="colorSky text-center">세대수</td>
            <td class="hasinput"><input type="text" class="form-control text-center" name="home_count" id="home_count" readonly></td>
            <td class="colorSky text-center">지역</td>
            <td class="hasinput"><input type="text" class="form-control text-center" name="home_region" id="home_region" readonly></td>
        </tr>
        <tr>
            <td class="colorSky text-center">공사기간</td>
            <td class="hasinput" colspan="3"><input type="text" class="form-control text-center" name="cntrwk_period" id="cntrwk_period" readonly></td>
        </tr>
    </tbody>
</table>
<table class="table table-bordered table-form main-table">
    <colgroup>
        <col width="100"/>
        <col width="100"/>
        <col width="100"/>
        <col width="100"/>
        <col width="100"/>
        <col width="100"/>
        <col width="100"/>
        <col width="100"/>
        <col width="100"/>
        <col width="100"/>
        <col width="100"/>
        <col width="100"/>
        <col width="100"/>
        <col width="100"/>
    </colgroup>
    <thead>
        <tr>
			<th class="sub-title colorN text-center" colspan="14"><span>공사 현황</span><span class="text-right">VAT포함</span></th>
        </tr>
    </thead>
    <tbody role="header">
        <tr>
            <th class="colorB text-center">구분</th>
            <th class="color-contract text-center">내역</th>
            <th class="color-contract text-center">도급비</th>
            <th class="color-contract text-center">지급자재</th>
            <th class="color-contract text-center">금융 및 보험</th>
            <th class="color-contract text-center">한전인입비/기타</th>
            <th class="color-contract text-center">임대료</th>
            <th class="color-contract text-center">영업수수료</th>
            <th class="color-contract text-center">유지보수비</th>
            <th class="color-contract text-center">기타(총액 0.5%)</th>
            <th class="color-contract text-center">총액</th>
            <th class="color-contract text-center">매출이익</th>
            <th class="color-contract text-center">매출이익률</th>
            <th class="color-contract text-center">결재완료일</th>
        </tr>
    </tbody>
    <tbody role="ct_se_code_contract">
        <tr data-row="C">
            <th class="colorB text-center middle" rowspan="2">수주계약</th>
            <th class="colorSky text-center">예정가</th>
            <td class="text-right" data-type='number' name="C_5"></td>
            <td class="text-right" data-type='number' name="C_11"></td>
            <td class="text-right" data-type='number' name="C_12"></td>
            <td class="text-right" data-type='number' name="C_13"></td>
            <td class="text-right" data-type='number' name="C_14"></td>
            <td class="text-right" data-type='number' name="C_15"></td>
            <td class="text-right" data-type='number' name="C_16"></td>
            <td class="text-right" data-type='number' name="C_10"></td>
            <td class="text-center" data-column="row_total"></td>
            <td class="text-center" data-column="va" rowspan="2"></td>
            <td class="text-center" data-column="va_rate" rowspan="2"></td>
            <td class="text-center" data-column="dtm" rowspan="2"></td>
        </tr>
        <tr data-row="E">
            <th class="colorSky text-center">실행가</th>
            <td class="hasinput">
              <input type="text" class="form-control text-right" data-type="number" name="E_5" readonly/>
            </td>
            <td class="text-right" data-type='number' name="E_11"></td>
            <td class="text-right" data-type='number' name="E_12"></td>
            <td class="text-right" data-type='number' name="E_13"></td>
            <td class="text-right" data-type='number' name="E_14"></td>
            <td class="text-right" data-type='number' name="E_15"></td>
            <td class="text-right" data-type='number' name="E_16"></td>
            <td class="text-right" data-type='number' name="E_10"></td>
            <td class="text-center" data-column="row_total"></td>
        </tr>
    </tbody>
</table>


<style>
    .table td.hasinput{
        padding:2px!important;
    }
    .hasinput .table td.hasinput{
        padding:2px!important;
    }
</style>
<table class="table table-bordered table-form main-table" >
	<colgroup>
		<col width="100">
		<col width="200">
		<col width="100">
		<col width="200">
	</colgroup>
	<thead>
		<tr>
			<th class="sub-title colorN text-center" colspan="4"><span style="position:absolute;left:50%;top:50%;transform:translate(-50%, -50%);">① 도급비 지급내역 (영업,관리/자동) - VAT포함</span>
                <div class="btn-group" style="position:absolute;top:50%;transform:translateY(-50%);right:0;">
                    <button type="button" class="btn btn-table btn-warning" title="추가" id="addRowCompany"><i class="fa fa-plus"></i></button>
                </div>
            </th>
		</tr>
	</thead>
	<tbody role="company1">
        <tr>
            <th class="color-contract text-center">도급계약사-1</th>
            <td class="hasinput">
                <select class="form-control select2" name="company1_name" style="width:100%!important;">
                    <option value=""></option>
                    {% for code in bcnc_list %}
                    <option value="{{code.value}}">{{code.value}}.{{code.label}}</option>
                    {% endfor %}
                </select>
            </td>
            <th class="color-contract text-center">도급계약일</th>
            <td class="hasinput">
                <div class="input-group">
                    <input class="form-control datepicker" type="text" style="z-index:1040!important;" data-dateformat="yy-mm-dd" data-mask="9999-99-99" data-mask-placeholder="_" id="company1_date" name="company1_date">
                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                </div>
            </td>
        </tr>
        <tr>
            <th class="color-contract text-center">업무총책임자</th>
            <td class="hasinput">
                <input type="text" class="form-control text-left" name="company1_owner"/>
            </td>
            <th class="color-contract text-center">연락처</th>
            <td class="hasinput">
                <input type="text" class="form-control text-left" name="company1_owner_telno"/>
            </td>
        </tr>
        <tr>
            <th class="color-contract text-center">담당자</th>
            <td class="hasinput">
                <input type="text" class="form-control text-left" name="company1_dam"/>
            </td>
            <th class="color-contract text-center">연락처</th>
            <td class="hasinput">
                <input type="text" class="form-control text-left" name="company1_dam_telno"/>
            </td>
        </tr>
        <tr>
            <td class="hasinput" colspan="4">
                <table class="table table-bordered table-form" style="width:100%;border:0px!important;">
                    <colgroup>
                        <col width="50"/>
                        <col width="100"/>
                        <col width="100"/>
                        <col width="100"/>
                        <col width="100"/>
                        <col width="100"/>
                        <col width="100"/>
                        <col width="50"/>
                    </colgroup>
                    
                    <tbody role="company1_detail">
                        <tr>
                            <th class="color-contract text-center">내역</th>
                            <th class="color-contract text-center">계약금</th>
                            <th class="color-contract text-center">중도금</th>
                            <th class="color-contract text-center">잔금</th>
                            <th class="color-contract text-center">세액</th>
                            <th class="color-contract text-center">합계</th>
                            <th class="color-contract text-center">공사비총액</th>
                            <th class="color-contract text-center">집행률</th>
                        </tr>
                        <tr>
                            <th class="color-contract text-center">계약내역</th>
                            <td class="hasinput">
                                <input type="text" class="form-control text-left" data-type="number" name="company1_human"/>
                            </td>
                            <td class="hasinput">
                                <input type="text" class="form-control text-left" data-type="number" name="company1_direct"/>
                            </td>
                            <td class="hasinput">
                                <input type="text" class="form-control text-left" data-type="number" name="company1_daily"/>
                            </td>
                            <td class="hasinput">
                                <input type="text" class="form-control text-left" data-type="number" name="company1_tax" readonly/>
                            </td>
                            <td class="hasinput">
                                <input type="text" class="form-control text-left" data-type="number" name="company1_sum" readonly/>
                            </td>
                            <th class="colorP text-right" data-column="company1_pink"></th>
                            <th class="text-center" data-column="company1_rate"></th>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
	<tbody style="display:none;" role="company2">
        <tr>
            <th class="color-contract text-center">도급계약사-2</th>
            <td class="hasinput">
                <select class="form-control select2" name="company2_name" style="width:100%!important;">
                    <option value=""></option>
                    {% for code in bcnc_list %}
                    <option value="{{code.value}}">{{code.value}}.{{code.label}}</option>
                    {% endfor %}
                </select>
            </td>
            <th class="color-contract text-center">도급계약일</th>
            <td class="hasinput">
                <div class="input-group">
                    <input class="form-control datepicker" type="text" style="z-index:1040!important;" data-dateformat="yy-mm-dd" data-mask="9999-99-99" data-mask-placeholder="_" id="company2_date" name="company2_date">
                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                </div>
            </td>
        </tr>
        <tr>
            <th class="color-contract text-center">업무총책임자</th>
            <td class="hasinput">
                <input type="text" class="form-control text-left" name="company2_owner"/>
            </td>
            <th class="color-contract text-center">연락처</th>
            <td class="hasinput">
                <input type="text" class="form-control text-left" name="company2_owner_telno"/>
            </td>
        </tr>
        <tr>
            <th class="color-contract text-center">담당자</th>
            <td class="hasinput">
                <input type="text" class="form-control text-left" name="company2_dam"/>
            </td>
            <th class="color-contract text-center">연락처</th>
            <td class="hasinput">
                <input type="text" class="form-control text-left" name="company2_dam_telno"/>
            </td>
        </tr>
        <tr>
            <td class="hasinput" colspan="4">
                <table class="table table-bordered table-form" style="width:100%;border:0px!important;">
                    <colgroup>
                        <col width="50"/>
                        <col width="100"/>
                        <col width="100"/>
                        <col width="100"/>
                        <col width="100"/>
                        <col width="100"/>
                        <col width="100"/>
                        <col width="50"/>
                    </colgroup>
                    
                    <tbody role="company2_detail">
                        <tr>
                            <th class="color-contract text-center">내역</th>
                            <th class="color-contract text-center">계약금</th>
                            <th class="color-contract text-center">중도금</th>
                            <th class="color-contract text-center">잔금</th>
                            <th class="color-contract text-center">세액</th>
                            <th class="color-contract text-center">합계</th>
                            <th class="color-contract text-center">공사비총액</th>
                            <th class="color-contract text-center">집행률</th>
                        </tr>
                        <tr>
                            <th class="color-contract text-center">계약내역</th>
                            <td class="hasinput">
                                <input type="text" class="form-control text-left" data-type="number" name="company2_human"/>
                            </td>
                            <td class="hasinput">
                                <input type="text" class="form-control text-left" data-type="number" name="company2_direct"/>
                            </td>
                            <td class="hasinput">
                                <input type="text" class="form-control text-left" data-type="number" name="company2_daily"/>
                            </td>
                            <td class="hasinput">
                                <input type="text" class="form-control text-left" data-type="number" name="company2_tax" readonly/>
                            </td>
                            <td class="hasinput">
                                <input type="text" class="form-control text-left" data-type="number" name="company2_sum" readonly/>
                            </td>
                            <th class="colorP text-right" data-column="company2_pink"></th>
                            <th class="text-center" data-column="company2_rate"></th>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
	<tbody style="display:none;" role="company3">
        <tr>
            <th class="color-contract text-center">도급계약사-3</th>
            <td class="hasinput">
                <select class="form-control select2" name="company3_name" style="width:100%!important;">
                    <option value=""></option>
                    {% for code in bcnc_list %}
                    <option value="{{code.value}}">{{code.value}}.{{code.label}}</option>
                    {% endfor %}
                </select>
            </td>
            <th class="color-contract text-center">도급계약일</th>
            <td class="hasinput">
                <div class="input-group">
                    <input class="form-control datepicker" type="text" style="z-index:1040!important;" data-dateformat="yy-mm-dd" data-mask="9999-99-99" data-mask-placeholder="_" id="company3_date" name="company3_date">
                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                </div>
            </td>
        </tr>
        <tr>
            <th class="color-contract text-center">업무총책임자</th>
            <td class="hasinput">
                <input type="text" class="form-control text-left" name="company3_owner"/>
            </td>
            <th class="color-contract text-center">연락처</th>
            <td class="hasinput">
                <input type="text" class="form-control text-left" name="company3_owner_telno"/>
            </td>
        </tr>
        <tr>
            <th class="color-contract text-center">담당자</th>
            <td class="hasinput">
                <input type="text" class="form-control text-left" name="company3_dam"/>
            </td>
            <th class="color-contract text-center">연락처</th>
            <td class="hasinput">
                <input type="text" class="form-control text-left" name="company3_dam_telno"/>
            </td>
        </tr>
        <tr>
            <td class="hasinput" colspan="4">
                <table class="table table-bordered table-form" style="width:100%;border:0px!important;">
                    <colgroup>
                        <col width="50"/>
                        <col width="100"/>
                        <col width="100"/>
                        <col width="100"/>
                        <col width="100"/>
                        <col width="100"/>
                        <col width="100"/>
                        <col width="50"/>
                    </colgroup>
                    
                    <tbody role="company3_detail">
                        <tr>
                            <th class="color-contract text-center">내역</th>
                            <th class="color-contract text-center">계약금</th>
                            <th class="color-contract text-center">중도금</th>
                            <th class="color-contract text-center">잔금</th>
                            <th class="color-contract text-center">세액</th>
                            <th class="color-contract text-center">합계</th>
                            <th class="color-contract text-center">공사비총액</th>
                            <th class="color-contract text-center">집행률</th>
                        </tr>
                        <tr>
                            <th class="color-contract text-center">계약내역</th>
                            <td class="hasinput">
                                <input type="text" class="form-control text-left" data-type="number" name="company3_human"/>
                            </td>
                            <td class="hasinput">
                                <input type="text" class="form-control text-left" data-type="number" name="company3_direct"/>
                            </td>
                            <td class="hasinput">
                                <input type="text" class="form-control text-left" data-type="number" name="company3_daily"/>
                            </td>
                            <td class="hasinput">
                                <input type="text" class="form-control text-left" data-type="number" name="company3_tax" readonly/>
                            </td>
                            <td class="hasinput">
                                <input type="text" class="form-control text-left" data-type="number" name="company3_sum" readonly/>
                            </td>
                            <th class="colorP text-right" data-column="company3_pink"></th>
                            <th class="text-center" data-column="company3_rate"></th>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>

</table>

<table class="table table-bordered table-form small-table" style="width:100%!important;">
    <colgroup>
        <col width="100"/>
        <col width="100"/>
        <col width="100"/>
        <col width="100"/>
    </colgroup>
  <thead>
    <tr>
        <th class="sub-title colorN text-center" colspan="4"><span>특이사항</span></th>
    </tr>

  </thead>
  <tbody>
    <tr>
        <td class="text-center" colspan="4"><textarea style="width:100%;height:100%;resize:none;border:none;" name="option_bigo"></textarea></td>
    </tr>
  </tbody>
</table>
<script>
    function isValidDate(dateString) {
      var regEx = /^\d{4}-\d{2}-\d{2}$/;
      if(!dateString.match(regEx)) return false;  // Invalid format
      var d = new Date(dateString);

      var dNum = d.getTime();
      if(!dNum && dNum !== 0) return false; // NaN value, Invalid date
      return (new Date(d.getTime()-(new Date()).getTimezoneOffset())).toISOString().slice(0,10) === dateString;
    }
    get_cost = function(cntrct_sn){
        $.ajax({
                url : '/api/project/get_costs_bd',
                method : 'GET',
                data : {"s_cntrct_sn" : cntrct_sn},
                success: function(pResult){
                    console.log(pResult);
                    $(document).find("tbody[role='ct_se_code_contract'] input").attr("disabled", false);
                    $(document).find("tbody[role='company_row'] input").attr("disabled", false);
                    $(document).find("tbody[role='company1'] input, tbody[role='company1'] select").attr("disabled", false);
                    $(document).find("tbody[role='company2'] input, tbody[role='company2'] select").attr("disabled", false);
                    $(document).find("tbody[role='company3'] input, tbody[role='company3'] select").attr("disabled", false);
            				var cCostDTM = '9999-99-99';
                    $.each(pResult.aCostList, function(pIndex, pValue){
                      var amount = 0;
                      if (pValue.amount != '') {
                        amount = parseInt(pValue.amount);
                        if(cCostDTM > pValue.dtm){
                          cCostDTM = pValue.dtm;
                        }
                      }
                      
                      let tagName = $(document).find(`[name="${pValue.cntrct_execut_code}_${pValue.ct_se_code}"]`).prop("tagName")?.toUpperCase();
                      if(tagName == "INPUT"){
                        $(document).find(`[name="${pValue.cntrct_execut_code}_${pValue.ct_se_code}"]`).val(amount.toFormat('NUMBER'));
                      }
                      else{
                        $(document).find(`[name="${pValue.cntrct_execut_code}_${pValue.ct_se_code}"]`).html(amount.toFormat('NUMBER'));

                      }
                    });
                    $(document).find("tbody[role='ct_se_code_contract']").trigger("change");
                    var totals = [];
                    $("tbody[role='ct_se_code_contract']").find("tr").each(function(pIndex, pRow){
                        var total = 0;
                        $(pRow).find("[data-type='number']").each(function(pI, pTag){
                            if($(pTag).prop("tagName").toUpperCase() == "INPUT"){
                                var value = parseInt($(pTag).val().replaceAll(",", "")); if(isNaN(value)) value = 0;
                            }
                            else{
                                var value = parseInt($(pTag).text().replaceAll(",", "")); if(isNaN(value)) value = 0;
                            }
                            var value = parseInt($(pTag).html().replaceAll(",", "")); if(isNaN(value)) value = 0;
                            total += value;
                        });
                        $(pRow).find("[data-column='row_total']").html(total.toFormat('NUMBER'));
                        totals.push(total);
                    });
            				$(document).find("[data-column='dtm']").html((cCostDTM == '9999-99-99') ? '' : cCostDTM);
                    
                    $("tbody[role='ct_se_code_contract']").find("[data-column='va']").html((totals[0] - totals[1]).toFormat('NUMBER'));
                    $("tbody[role='ct_se_code_contract']").find("[data-column='va_rate']").html(((totals[0] - totals[1])*100.0/totals[0]).toFixed(1)+"%");

                }
            });

    }

    fnValidate = function(){
                    var result = true;
                    return result;
               }
    cloneRow = function(selector, count){
      
    }
    
    $(document).on("change", "tbody[role='company1_detail'], tbody[role='company2_detail'], tbody[role='company3_detail']", function(){
        var company = $(this).attr("role").split("_")[0];
        var human = parseInt($(this).find(`input[name='${company}_human']`).val().replaceAll(",", "")); if(isNaN(human)) human = 0;
        var direct = parseInt($(this).find(`input[name='${company}_direct']`).val().replaceAll(",", "")); if(isNaN(direct)) direct = 0;
        var daily = parseInt($(this).find(`input[name='${company}_daily']`).val().replaceAll(",", "")); if(isNaN(daily)) daily = 0;
        let tax = parseInt((human+direct+daily)*0.1);
        var sum = direct+daily+tax+human;
        $(this).find(`input[name='${company}_tax']`).val(tax.toFormat('NUMBER'));
        $(this).find(`input[name='${company}_sum']`).val(sum.toFormat('NUMBER'));
        $(this).find(`[data-column='${company}_pink']`).html(sum.toFormat('NUMBER'));
        let sumTotal = 0;
        for(let i=1;i<=3;i++){
            var company = `company${i}`;
            var row = $(document).find(`tbody[role='${company}_detail']`);
            var human = parseInt($(row).find(`input[name='${company}_human']`).val().replaceAll(",", "")); if(isNaN(human)) human = 0;
            var direct = parseInt($(row).find(`input[name='${company}_direct']`).val().replaceAll(",", "")); if(isNaN(direct)) direct = 0;
            var daily = parseInt($(row).find(`input[name='${company}_daily']`).val().replaceAll(",", "")); if(isNaN(daily)) daily = 0;
            let tax = parseInt((human+direct+daily)*0.1);
            sumTotal += direct+daily+tax+human;
        }
        $(document).find("input[name='E_5']").val(sumTotal.toFormat('NUMBER'));

    });

    {% if init %}
    $(document).on("click", "#addRowCompany", function(){
        for(let i=1;i<=3;i++){
            if($(document).find(`tbody[role='company${i}']`).css('display') == 'none'){
                $(document).find(`tbody[role='company${i}']`).show();
                break;
            }
        }
    });
    console.log(window.projects);
        if(window.projects == undefined){
			window.projects = {};
		}

    $(document).ready(function(){
        $(document).find("tbody[role='ct_se_code_contract'] input").attr("disabled", true);
        $(document).find("tbody[role='company1'] input, tbody[role='company1'] select").attr("disabled", true);
        $(document).find("tbody[role='company2'] input, tbody[role='company2'] select").attr("disabled", true);
        $(document).find("tbody[role='company3'] input, tbody[role='company3'] select").attr("disabled", true);
        $.ajax({
            url : '/api/project/get_p_projects',
            method: 'GET',
            success: function(pResult){
                var cntrct_sn = $(document).find("#cntrct_sn").val();
                var html = `<option value="">[전체]</option>`;
                $.each(pResult, function(pIndex, pValue){
                    if(cntrct_sn != '' && (parseInt(pValue.cntrct_sn) == parseInt(cntrct_sn))){
                        html += `<option value="${pValue.cntrct_sn}" selected>${pValue.cntrct_no} ${pValue.spt_nm}</option>`;
                    }
                    else{
                        html += `<option value="${pValue.cntrct_sn}">${pValue.cntrct_no} ${pValue.spt_nm}</option>`;
                    }
                    window.projects[pValue.cntrct_sn] = pValue;
                });
                $(document).find("#cntrct_sn").html(html);

            }
        });
        $(document).find(".datepicker").datepicker({
            beforeShow: function(dateText) {
                $(this).data('before', $(this).val());
            },
            onSelect: function(dateText) {
                $(this).change();
            },
        });
        var input = document.querySelector('input[data-type="number"]');
        input.addEventListener('input', function() {
          this.value = this.value.replace(/[^0-9 \,]/, '');
        });
    });
    $(document).on("focusout", "input[data-type='number']", function(){
        var value = $(this).val().replaceAll(",", "").toFormat('NUMBER');
        $(this).val(value);
    });
    $(document).on("focusout", "input", function(){
        $(this).closest("tbody").trigger("change");
    });
    $(document).on("focusout", "input[data-type='date']", function(){
        if(!isValidDate($(this).val()) && $(this).val() != ''){
            alert("날짜 형식이 올바르지 않습니다. (yyyy-mm-dd)");
            $(this).val("");
        }
    });

    $(document).on("keyup", "input", function(e){
        if(e.keyCode == 13){
            $(this).focusout();
        }
    });
    $(document).on('select2:open', '.select2', function (e) {
        const evt = "scroll.select2";
        $(e.target).parents().off(evt);
        $(window).off(evt);
    });
    $(document).on("change", "#cntrct_sn", function(){
        var cntrct_sn = $("#cntrct_sn").find(":selected").val();
        if(cntrct_sn != ''){
            var pValue = window.projects[cntrct_sn];
            $("#cntrct_no").val(pValue.cntrct_no);
            $("#home_count").val(pValue.home_count);
            $("#home_region").val(pValue.home_region);
            $("#cntrwk_period").val(pValue.cntrwk_period);
            get_cost(cntrct_sn);
        }
    });
    {% else %}
    $.fn.afterLoadApproval = function() {
        var cntrct_sn = $("#cntrct_sn").find(":selected").val();
        get_cost(cntrct_sn);
        for(let i=1;i<=3;i++){

            if($(document).find(`tbody[role='company${i}']`).find(`[name='company${i}_name']`).val() != ''){
                $(document).find(`tbody[role='company${i}']`).show();
            }
        }


    }
    {% endif %}

    $(document).on("click", ".removeRow", function(){
        {% if init %}
            if($(this).closest("tbody").find("tr").length > 1){
                var tbody = $(this).closest("tbody");
                $(this).closest("tr").remove();
                $(tbody).trigger("change");
            }
            else{
                alert("더이상 삭제할 수 없습니다.")
            }
        {% endif %}
        return false;
    });

</script>