<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/static/nexell/css/smartadmin-nexell-report.css">
    <link rel="stylesheet" type="text/css" href="/static/smart-admin/css/smartadmin-skins.min.css">
		<link rel="stylesheet" type="text/css" href="/static/smart-admin/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="/static/smart-admin/css/font-awesome.min.css">
    <style>
      table {
        display: table;
        border-collapse: collapse;
      }

      /* div.report table th,
      div.report table td {
        font-size: 14px!important;
      }

      div.report #rptCompletedArea table th,
      div.report #rptCompletedArea table td {
        font-size: 14px!important;
        padding: 7px 5px!important;
      } */
    </style>
</head>
<body><div class="report"></div></body>
</html>